[2019-01-20 22:18] kiterama commented on #3984
Hey, not sure to put it here.
This is what happened tonight at our vashj try: We had a wipe at p2 with 2 generators left and I feign death with my hunter. Anyone else was already death and the adds were running away. One strider reaches me (still feign death) and I got feared. After this, I could easily stand up and could attack Lady Vashj (even in p2 with 2 generators left). Also the raid was abl

[2019-01-20 22:48] RealSlyGuy opened #4192 "Engineering Recipe Discombobulator Ray Unavailable"
Description: You should be able learn "Discombobulator Ray" from the Dataport: 3005-D in the Tinkerer section just past the backdoor in Gnomer. It should give you the recipe directly to your engineering book as long as you have the "DELTA Access Card" in your backpack, which I do. (low drop rate off mobs in that section.)

How it works: It looks clickable, but no notification pops-up nor anything

[2019-01-20 22:49] RealSlyGuy commented on #3983
Second this issue. I just basically murder myself every time I use it, which is sucky, cuz it is an awesome trinket!

[2019-01-20 23:26] RPAncap commented on #1902
BUMP ?

[2019-01-21 00:04] Ember0090 opened #4193 "[Warlock][Spell]Warlock - Eye of Kilrog - Can't use pet bar or commands after eye desummons"
Description: After using Eye of Kilrog and having it desummoned or timed out, the current pet bar disappears and the control commands can't be used until the user interface is reloaded.

How it works:

How it should work:

Source (you should point out proofs of your report, please give us some source):

[2019-01-21 01:59] Phildo9 commented on #4189
Bump

[2019-01-21 02:00] Bugadin opened #4194 "Advanced target Dummy [Engineering]"
Description: Advanced target dummy doesn't drop anything when it dies and it should drop
https://vanilla-twinhead.twinstar.cz/?npc=2674

How it works: Dummy follows you and doesn't drop anything when it dies.

How it should work: He shouldn't follow you and he should drop the items on the list.

Source (you should point out proofs of your report, please give us some source):
http://wowwiki.wikia.c

[2019-01-21 02:05] twoPlusThree opened #4195 "[Spell] Polymorph + Frost nova"
Description:
Mobs can still attack (and cast) if they are polymorphed and under the nova/frostbite debuff.

How it works:
nova a mob sheep it. Get close and see how it can still attack you.

How it should work:
Mobs shouldn't be able to attack while sheep even if nova.
It is also bugued in pvp. I guess that it is buggued with any rooted status while poly.
Source (you should point out proofs of you

[2019-01-21 04:04] twoPlusThree commented on #4149
Just tested and it works in pvp too.
I guess it's the same with any root effect while poly.

[2019-01-21 04:06] buckferals opened #4196 "Etherium ID tag didn't loot"
Description:

How it works:

How it should work:

Source (you should point out proofs of your report, please give us some source):

[2019-01-21 04:08] buckferals commented on #4196
killed mob for the quest items was there hit need and it never looted to me. I have a screen shot.
![etheridtag](https://user-images.githubusercontent.com/46880515/51452419-d6f30600-1cff-11e9-8659-01acfbb9c997.png)

[2019-01-21 04:55] MiekZer commented on #4081
Some screens:
https://www.noelshack.com/2019-04-1-1548046468-bug1.png
https://www.noelshack.com/2019-04-1-1548046469-bug2.png
https://www.noelshack.com/2019-04-1-1548046471-bug3.png

[2019-01-21 05:19] RealSlyGuy commented on #4194
Yay! Very excited when this is fixed! Actually the most economical way to get Fused Wiring before being able to engineer Fused Wiring for crafting Goblin Jumper Cables! Yay!

[2019-01-21 05:40] ghost opened #4197 "Mob respawn"
Description:
Mob respawn often bugs out.

How it works:
In many places (eg Shadowmoon Valley Wind Elementals, Incendosaurs and many more) mobs don't respawn if a player character is in close proximity to the spawn point.

How it should work:
Mobs respawn at the end of their spawn timer regardless if there's someone close or not.

Source (you should point out proofs of your report, please give us s

[2019-01-21 07:34] akrom23 commented on #4005
@Bugadin Show me your talent tree and char stats - spell and base stats.

[2019-01-21 07:49] akrom23 commented on #4029
@zmthc93 Got some proofs from retail?
It says about DURATION of EFFECT (read: aura duration), not lockout of specific spell.
Silence duration is properly reduced.
Lockouts are done independently by interrupt effect.

[2019-01-21 09:06] akrom23 commented on #1749
Distraction Shot does not deal damage, so that's why it is not considered as an attack that consumes Misdirection charges.
@badmannerkid Got some proof from retail?

[2019-01-21 09:15] akrom23 commented on #1751
@badmannerkid Cannot reproduce it.
Still happens?

[2019-01-21 09:18] #1767 closed

[2019-01-21 09:46] akrom23 commented on #2100
Cannot reproduce it.
![wowscrnshot_012119_104610](https://user-images.githubusercontent.com/1035215/51466153-d0997400-1d69-11e9-8acf-9b3f2d391f8e.jpg)

[2019-01-21 10:19] Aequita opened #4198 "Sending Mails from Trial Accounts to friends"
**Description:**
When trying to send a mail from a character with level<14 to somebody who got you on their friend list, an error message sometimes appears when said character is offline.
Something along the lines of "Trial accounts are permitted from this action" (can't recall it 100% correctly)

**How it works:**
Receiver has to go online for you to be able to send a mail with a level<14 charact

[2019-01-21 10:36] akrom23 commented on #2236
Works fine.

[2019-01-21 10:36] #2236 closed, assigned to nobody

[2019-01-21 10:38] akrom23 commented on #2484
@Darrgoth Cannot reproduce it.

[2019-01-21 10:48] SlizeTBC opened #4199 "[Crafting] Dragonstrike etc."
I wonder why Dargonstrike is already in the Game and Items like "Deathblow X11 Goggles" aren't out yet. Same with all those other Goggles.

Dragonstrike and Goggles were released at the same time. If you go with that timeline, Purified Shadow Pearl shouldnt be out yet aswell.

https://www.wowhead.com/item=32836/purified-shadow-pearl
https://www.wowhead.com/item=28439/dragonstrike
https://de.wowhea

[2019-01-21 11:21] Bugadin commented on #4194
Thank you Afgann

[2019-01-21 11:25] Bugadin commented on #4199
I don't know netiher. Sunwell respects some "blizzlike stuff" and some not. I would like that they were fair with all profs but there is no justice in this world, you know :/

[2019-01-21 11:29] RPAncap commented on #4192
Can confirmm was there aswell and those machines dont work.

[2019-01-21 11:42] akrom23 commented on #2558
@bhe0 Cannot reproduce it.

[2019-01-21 11:48] MadderThenMad opened #4200 "Ingame events dates messed up"
Description:  Event calendar is messed up on the server.

Example: Current Darkmoon Faire (the one in Mulgore ended like a week ago) the next one should in 2 weeks as far as I know).

Lunar Festival npc just appeared in game (should start Feb 1).

How it works:

How it should work:

Source (you should point out proofs of your report, please give us some source):

[2019-01-21 12:06] Afgann commented on #4194
There are still some problems with looting, trying to figure it out, for now dummy won't follow owner.

[2019-01-21 13:36] RPAncap commented on #4191
¨Does the dot stop when he stops clicking the cube ?

[2019-01-21 13:39] #2414 closed, assigned to Afgann

[2019-01-21 15:07] RealSlyGuy opened #4201 "Fall Damage in Zangarmash"
Description: Jumped off the backside of the lift to Telredor in Zangarmash, while it was at it's lowest point. To my surprise it did fall damage, when it should not even if I were not a rouge, and did enough fall damage to KILL me. 6k dmg from full, to death, as if I had fallen a great distance!

How it works: Jumped off the lift about 5ft to the ground (like going down a short set of stairs) and

[2019-01-21 15:29] username-is-not-taken commented on #3913
Can we get an update on the progress of fixing this? PvP is basically unplayable when it's completely random if grounding will take a spell or not.

[2019-01-21 15:48] sunstriderko opened #4202 "[Spell]Gift of the Naaru"
Description:
Spell description doesnt show the correct amount of healing. Its stuck at 50 damage over 15sec. even at level 70.

[2019-01-21 15:53] babno commented on #3727
They spawn up the hill, run towards the landmark, but will despawn if you dont run forward to meet and engage them.

[2019-01-21 16:19] SlizeTBC commented on #4199
I guess it's not intended to be unfair from the Sunwell Team. It is an old game and there are false Informations out their. I mean I could be wrong aswell. But as far as I could figure it out, alot of the Items from JC are banned, but some arent.

Like:
"Necklace of the Deep". Afaik it has been banned, but "Purified Shadow Pearl" or "Purified Jaggal Pearl" are still in the game.

Same with "Mystic

[2019-01-21 16:23] SlizeTBC commented on #4199
Either you ban all those Gems and Items or make it equivalent for everyone. I mean noone will craft Engi goggles after T6 release, since most of the ppl will have T5 or gear with equal or better statsthan those goggles.

It's all about making professions equal.

[2019-01-21 16:42] #2613 closed, assigned to lukaasm

[2019-01-21 16:44] #2672 closed, assigned to nobody

[2019-01-21 17:24] akrom23 commented on #4202
Spell tooltips are not updated.
Clientside problem.

[2019-01-21 17:24] #4202 closed, assigned to nobody

[2019-01-21 17:34] nickycakes commented on #4150
this happened to me with my level 70 ravager i've had since level 11.  this really needs to be fixed considering the ungodly amount of time it takes to level pets, especially at max level

[2019-01-21 18:16] ZaoQ commented on #4090
any update on this issue?

[2019-01-21 18:25] nickycakes commented on #4150
![image](https://user-images.githubusercontent.com/2413942/51492440-7093e380-1de4-11e9-9d72-0c07b1ff4112.png)

![image](https://user-images.githubusercontent.com/2413942/51492448-7984b500-1de4-11e9-936e-a0a3167fd293.png)

here's a conversation with an extremely unhelpful gm who insinuated it was my fault

[2019-01-21 18:30] Bugadin commented on #4194
Did you find anything? @Afgann

[2019-01-21 18:59] babno commented on #4090
Zero progress, it's quite unfortunate and a major class bug.

[2019-01-21 19:50] #4184 closed, assigned to nobody

[2019-01-21 19:55] Dootz commented on #4163
I tried many different things but I was not able to recreate it. Worked fine for me everytime. Are you sure you have empty slot in you bags? Because item is created upon spellcast and you need to have space for it in bags.

[2019-01-21 20:09] akrom23 commented on #2825
@sulowitch Cannot reproduce it.

[2019-01-21 20:16] neheri commented on #4147
Just tested it, not fixed. His WF still procs infinitely. If you survive or not it's just luck. Just received x4 hits for 22k total.

On the second attempt I survived him. On the first attempt I am 100% sure he procced WF from WF (4 hits).

Can confirm that vortexes from priest are now visible. They should be bigger and move faster. Just as here:

https://youtu.be/pub88sW4Jxs

[2019-01-21 20:40] zolano123 opened #4203 "Warlock Succubus quest"
Warlock quest devourer of souls does not work for my character keeps repeating do not meet requirements and will not let me retake the quest.  Spoke to a few gms about it but they could not assist told me to report here.

[2019-01-21 21:33] JuhaLintunen commented on #1452
Still bugged! Please fix, this is crucial for priest healing ::]!

[2019-01-21 22:24] kirkj89 commented on #4150
Yeah they are completely useless. Multiple people have reported and they
just claim they've never heard of it

On Mon, Jan 21, 2019, 11:25 AM nickycakes <notifications@github.com wrote:

[2019-01-21 22:30] twoPlusThree commented on #829
How this is closed ? drop rates are ridiculous to the point I sell some epic BOE at merchant cause they sell for nothing on the auction house

[2019-01-21 22:30] dachdagger commented on #4109
Still costing too much...

[2019-01-21 22:50] username-is-not-taken commented on #3913
@Dootz if you need more combat logs/ examples. Both are from today:

![grounding1](https://user-images.githubusercontent.com/45629295/51502630-340dbb00-1dd7-11e9-95ce-4d80e35129aa.png)

![grounding2](https://user-images.githubusercontent.com/45629295/51502635-3839d880-1dd7-11e9-85c3-873fed8cacaa.png)

![grounding3](https://user-images.githubusercontent.com/45629295/51502642-3b34c900-1dd7-11e9-874f

[2019-01-21 23:44] Azmoddan commented on #4193
Might be a core bug as it is globally bugged - happened for me when used quest item that summon guardian-type mob for you or a mob that you can control and have to use one of its skills.

@akrom23

[2019-01-21 23:45] Azmoddan commented on #4197
Some mobs might have few spawn-points, are you sure those elementals should spawn every time in the same place?

[2019-01-21 23:49] Azmoddan commented on #4190
You should test it more than once - you could have been just unlucky with the RNG.

[2019-01-21 23:51] Azmoddan commented on #4182
@jeppe010 it works now or not?

[2019-01-21 23:57] Bugadin commented on #4199
True, it's unfair to release googles with t6 raids because they become useless... I know it would be pretty much op at the release of the server but it's not that much anymore at this point so please...

Think about it.

[2019-01-21 23:59] Azmoddan commented on #4180
Improved Hamstring shouldn't break through damage taken (we might just get to this conclusion through checking all immobilize-type effects' tooltips) however:

http://wowwiki.wikia.com/wiki/Entangling_Roots
Patch 2.0.1 (05-Dec-2006): All crowd control effects have a chance each second to break earlier, and their duration is capped at 12 seconds in PvP. The chance increases with resistances and the

[2019-01-22 03:56] blackabbath commented on #3727
quest doesn't work **as it should**

[2019-01-22 03:58] blackabbath commented on #3723
are you going to fix it?

[2019-01-22 05:56] OnMyPeak commented on #4182
@dolamor tried it 12h ago. Still didnt work

[2019-01-22 06:41] aeyers commented on #4190
Got 13 procs in our 4 hour raid yesterday. 67 procs with eye of gruul.

[2019-01-22 07:47] lolproxoxo opened #4204 "trinket usage"
Description:
Xi'ri's Gift shares use cooldown (15 sec) with Scryer's Bloodgem how it should, but it already shares full CD (1 min 30 secs). It's not a visual cd, but u cant use Xi'ri's Gift after Scryer's Bloodgem buff fades or vice versa

How it works:
Xi'ri's Gift shares use cooldown (15 sec) with Scryer's Bloodgem how it should, but it already shares full CD (1 min 30 secs). It's not a visual c

[2019-01-22 11:34] akrom23 commented on #2831
Trap detect distance is ~7y + player's size.

[2019-01-22 11:35] #2883 closed, assigned to lukaasm

[2019-01-22 11:42] #1402 closed

[2019-01-22 11:42] #1822 closed

[2019-01-22 11:42] #2331 closed, assigned to akrom23, Afgann

[2019-01-22 11:42] #2341 closed, assigned to akrom23

[2019-01-22 11:42] #2354 closed, assigned to akrom23

[2019-01-22 11:42] #2408 closed, assigned to akrom23

[2019-01-22 11:42] #2439 closed, assigned to akrom23

[2019-01-22 11:42] #2870 closed, assigned to akrom23

[2019-01-22 11:42] #3558 closed, assigned to akrom23

[2019-01-22 11:42] #3979 closed, assigned to akrom23

[2019-01-22 11:42] #4023 closed, assigned to akrom23

[2019-01-22 11:42] #4024 closed, assigned to Afgann

[2019-01-22 11:42] #4171 closed, assigned to akrom23

[2019-01-22 11:42] #4172 closed, assigned to akrom23

[2019-01-22 11:42] #4173 closed, assigned to akrom23

[2019-01-22 11:42] #4178 closed, assigned to akrom23

[2019-01-22 11:42] #4186 closed, assigned to akrom23

[2019-01-22 11:44] #2487 closed, assigned to akrom23

[2019-01-22 11:44] #2558 closed, assigned to nobody

[2019-01-22 11:44] #2564 closed, assigned to akrom23

[2019-01-22 11:44] #2762 closed, assigned to akrom23

[2019-01-22 11:44] #3544 closed, assigned to Dootz

[2019-01-22 11:44] #3999 closed, assigned to akrom23

[2019-01-22 11:44] #4017 closed, assigned to Dootz

[2019-01-22 11:44] #4166 closed, assigned to Dootz

[2019-01-22 11:44] #4182 closed, assigned to akrom23

[2019-01-22 11:44] #4189 closed, assigned to Dootz

[2019-01-22 13:01] BanditOMG commented on #2848
It seems to be a different value of energy given back based on the move used, but I can confirm through tooooons of time now that it is more than 20. If I have 70 energy, use mutilate and it's dodged/parried I then have 110 energy and just do two mutilates/muti and a finisher. It's actually ridiculous and has literally won fights in pvp for me that I should not have won at all (as well as a ton of

[2019-01-22 13:07] akrom23 commented on #2913
Works fine.
![wowscrnshot_012219_140659](https://user-images.githubusercontent.com/1035215/51537491-07958580-1e4f-11e9-8021-d922adca7144.jpg)

[2019-01-22 13:07] #2913 closed, assigned to nobody

[2019-01-22 13:31] RarecandyMage commented on #4163
I'm going to test the quest with an open bag slot maybe that was the issue.
EDIT: WORKS, Maybe the issue was my bags were full.

[2019-01-22 13:56] arkatik opened #4205 "(Delete this, I made the best report)"
How it works:
When you catch intercept use shadowstep, warrior unfolds and continues to intercept

How it should work: https://youtu.be/Ba6Ty72eSH8?t=55

Source (you should point out proofs of your report, please give us some source):

[2019-01-22 14:59] Bugadin commented on #4205
So... what's exactly the bug? I mean, should that happens or not? Does it happen in sunwell?

[2019-01-22 15:08] arkatik commented on #4205
warrior as if running around an obstacle and
he is catching up after shadowstep...try to repeat

[2019-01-22 15:08] Bugadin commented on #4194
Is it really fixed...? Because it's not lootable

[2019-01-22 15:09] Afgann commented on #4194
It isn't, closed because of fixed label, my bad.

[2019-01-22 15:46] darknessangelo commented on #3986
As you can see in this video https://www.youtube.com/watch?v=eZJNTmHA7Cg at 1:52 spawned nagas should swim to their positions and should attack after that. Dunno if they should be attackable or not when they are swimming, but for sure you shouldnt make any threat since they are at possitions.

They just spawn at the platforms now.

[2019-01-22 16:04] #2948 closed, assigned to nobody

[2019-01-22 17:20] babno commented on #3727
I didn't say it did work as it should, but your description is inaccurate. An accurate description
1. Helps them diagnosis and fix the issue
2. Helps other people who are trying to do the quest.

[2019-01-22 17:39] blackabbath commented on #3727
i think you should to read, because my description of this bug is exceptional and there are nothing to add more. comlpete it if i'm wrong

[2019-01-22 18:10] #3150 closed, assigned to nobody

[2019-01-22 18:10] akrom23 commented on #3586
@Jonsbe @Ironjudgment Any news here? Still happens?
In code, there is no threat transfer.

[2019-01-22 18:12] RarecandyMage opened #4206 "Lift at Freewind Post In Thousand Needles bugged."
Description: I waited for the lift to stop.  Ran off the ramp, and died from falling even though I never left the ground. Video Below

How it works:

How it should work:

Source (you should point out proofs of your report, please give us some source):
https://www.youtube.com/watch?v=dUZauDndsxU

[2019-01-22 18:13] GeorgieTragnar commented on #4191
That's the thing it does not

[2019-01-22 18:23] Finvy commented on #581
Issue appears to be persistent on live servers.  See video below demonstrating combat log indicates mana refund but mana bar is not adjusted accordingly.

https://www.youtube.com/watch?v=gtRq-tm7dtw

[2019-01-22 19:47] akrom23 commented on #3002
Default radius is 5y.

[2019-01-22 19:48] #3002 closed

[2019-01-22 20:10] akrom23 commented on #3679
@Fladomir Any news here? Got screenshots?

[2019-01-22 20:21] akrom23 commented on #3692
@Flowerlady @ozzmann Show me your combat log and auras on your pet.
I believe that you mounted under the effect of Bestial Wrath.

[2019-01-22 20:47] akrom23 commented on #3752
And where is the bug? You already quoted that

Only if you raise your pet's loyalty level, you will get this bonus.

If you want max training points, just go to pet trainer and reset talents.

[2019-01-22 21:54] #3865 closed, assigned to Dootz

[2019-01-23 05:44] Killadoza opened #4207 "Rogue Vanish Deaggro Failure"
Description: Multiple times tonight, I have used Vanish to leave combat and deaggro mobs, but on three occasions, the mobs stayed in combat, never even pathing away and back as if i entered stealth and immediately left. As a disclaimer, no DoTs were on me at the time.

How it works: Vanish will intermittently fail to disengage or deaggro mobs

How it should work: Upon Vanishing, enemies should hea

[2019-01-23 07:20] akrom23 commented on #4207
@Killadoza Send some screenshots with combat log.

[2019-01-23 07:57] wombo2u commented on #4205
This is purely a spell batching issue, same with 2 rogues sapping each other or similar. It can't be changed just like that

[2019-01-23 07:58] wombo2u commented on #4204
Some trinkets share cd, perfectly normal

[2019-01-23 08:18] Lichbait opened #4208 "Six Of Blessings"
Description:
Six of Blessings doesn't drop

How it works:
Doesn't drop

How it should work:
Does drop

Source (you should point out proofs of your report, please give us some source): https://www.wowhead.com/item=31887/six-of-blessings

[2019-01-23 08:21] neheri opened #4209 "[NPC] Coilfang Serpentguard"
Description: These mobs in SSC cast spell reflect on them with 4 charges. Charges are meant to be spent by each spell reflect. They are not and reflect is kept until his buff fades, making him effectively being killable only by melee.

How it works: Reflect charges don't decrease on spell reflect.

How it should work: Each spell reflect should reduce charges.

Source (you should point out proofs o

[2019-01-23 09:59] akrom23 commented on #3094
This item is considered as q item, not a weapon.
@babno Got some proofs?

[2019-01-23 10:56] pinkisnotgay commented on #4208
Just because you are struggling to buy it for last couple days on Global, doesnt mean it's not dropping. There are people with Blessing Deck completed already.
Also TBC cards were introducted in 2.1

[2019-01-23 10:57] neheri opened #4210 "[Boss] Lady Vashj"
Description: There are 2 obvious and clearly visible bugs there. One of them is making this fight a lot harder than it should be.

How it works:

- There are too many Enchanted elementals spawned and they move 300% too fast. In addition to that they sometimes move under textures which makes them impossible to kill.

- Lady Vashj is not getting into range and doesn't shoot main target with her bow

[2019-01-23 11:31] arkatik opened #4211 "Vanish / Stealth bug ( high priority) !!!"
Description:

How it works: after using Vanish or Stealth you are still noticeable for a few seconds.
So, a few seconds after using  [vanish] or [ stealth] to other players are you still visible and they make blinding, intercept, sap etc, or or just blow.

How it should work:[Vanish]  Allows the rogue to vanish from sight, entering an improved stealth mode for 10sec. Also breaks movement impairing

[2019-01-23 11:55] akrom23 commented on #4211
Is it something new?

[2019-01-23 12:18] arkatik commented on #4211
and it already was? how long ago ?
pvp is not real on NB :((
bg play 6-12 ppl, there are almost no arenas

[2019-01-23 13:45] Atrecom commented on #4090
Tired of such a sh*t.
![1](https://user-images.githubusercontent.com/44858756/51610558-1b63e900-1f2e-11e9-8e46-f1f0b1f3fdb5.jpg)

[2019-01-23 17:41] Lichbait commented on #4208
abnormal
*Sips Tea*

On Wed, Jan 23, 2019 at 5:56 AM pinkisnotgay <notifications@github.com>
wrote:

[2019-01-23 17:45] Kiszh commented on #4199
Dragonstrike wasn't added in patch 2.1. It was, however, only usuable in mainhand for a good while. Your source is wrong, which is funny considering you talking about false information.

Wowhead also lists some heroic instance loot being 2.1 items.

For instance: https://www.wowhead.com/item=29353/shockwave-truncheon&bonus=4091or https://www.wowhead.com/item=30541/stormsong-kilt&bonus=4109 or http

[2019-01-23 19:14] Rasnia opened #4212 "Blessing of Sanctuary Bug"
Description:  Blessing of Sanctuary has reduced damage

How it works: when i block with an attack, it gives 61 holy damage with over 300 spellpower

How it should work: if usually did over 240-50 dmg with over 300 spellpower, so when i block it should deal 240 holy dmg

Source (you should point out proofs of your report, please give us some source): https://imgur.com/a/8YsCq9X

[2019-01-23 19:29] akrom23 commented on #4211
@arkatik Got some screenshots? I need to know in which situations it's broken.

[2019-01-23 19:41] lordazurescens opened #4213 "Can't Backstab from Behind. Game Breaking."
Description:
very often in pvp and sometimes in pve, with a target standing still not spinning they are completely unhittable by backstab from any spot around them in 360 degrees.

How it works:
The target gets stunned. or just decides he wants to stand completely still. no spinning. and you can't hit him with backstab or ambush. no matter where you stand. This is not a latency issue. It has somet

[2019-01-23 19:57] akrom23 commented on #4212
Nope.
#3558

[2019-01-23 19:57] #4212 closed, assigned to nobody

[2019-01-23 20:01] akrom23 commented on #4213
Just tested and works fine.
Provide the videos.

[2019-01-23 20:10] akrom23 commented on #4213
Okay, probably found the issue.
Just test after the update.

[2019-01-23 20:16] #1637 closed

[2019-01-23 20:40] lordazurescens commented on #4213
There is definetly an issue i can't always replicate it. It is game breaking if someone learns how to abuse it in arena. Pretty much pointless to pvp with daggers at the moment with this issue.

I can't tell if its an issue with the person casting Backstab or if the target.

[2019-01-23 21:01] akrom23 commented on #1902
It works. There is no 100% chance.
![wowscrnshot_012319_220040](https://user-images.githubusercontent.com/1035215/51636812-727fb300-1f5a-11e9-909c-efb0523f5c74.jpg)

[2019-01-23 21:01] #1902 closed

[2019-01-23 21:12] babno commented on #3094
It's both a quest item and a weapon, like the shadowmoon valley goggles or the Monogrammed Sash are quest items that are also gear.

https://classicdb.ch/?item=10515#comments

It takes up both weapon slots as a two handed weapon, you attack with it with it's unique .5 second attack speed which deals damage and raises unarmed skill (since needed to be usable by all classes).

[2019-01-23 22:18] chme3921 commented on #4141
still pulling aggro from every tank in dungeons, makes heroics painful as people are starting to reject holy paladins from groups. this is a 3 second fix, just fix it

[2019-01-23 22:40] babno commented on #3094
Side note I'd greatly prefer the critical issue of #4090 is addressed before this.

[2019-01-23 22:45] babno commented on #4211
You can see through stealth from a limited distance, longer distances with things like engi goggles or perception.

[2019-01-23 23:11] babno commented on #4193
I've noticed this as well. As a temporary work around if you mount and then dismount your pet bar comes back.

[2019-01-23 23:55] blackwife commented on #3868
Twilight Cultist Mantle is a drop in Silithus that is used to summon elemental minibosses, it is not a crafted item.

[2019-01-24 01:15] babno commented on #4151
The windfury proc happens before the SoC proc. Looks like the windfury procced from the normal melee swing. I don't think SoC should proc windfury.

[2019-01-24 05:10] babno commented on #3727
![image](https://user-images.githubusercontent.com/244626/51655864-7fa59d80-1f6c-11e9-8307-33e3e386740b.png)

[2019-01-24 09:24] SlizeTBC commented on #4211
No man, it's just a game mechanic that not working correctly. Like if you Vanish they can still see you for like 1sec and attack you, and get you out of Stealth again.

[2019-01-24 09:25] SlizeTBC commented on #4211
Normally Attacks, which were made at the same time a Rogue uses Vanish, should Evade and fully be dodged by the Rogue so he can stay in Stealth and is out of combat, but somehow this is not working correctly.

[2019-01-24 09:29] SlizeTBC commented on #4199
First of all, I never said my Information is correct, as you can see i already said that I could be wrong aswell.

And why is my Information about Dragonstrike wrong? Can you proof it? If you check this link from WowHead it clearly says Patch 2.1:
https://www.wowhead.com/item=28439/dragonstrike

Everything I said is based on Information from WowHead and that old Link from github about TBC Patch re

[2019-01-24 10:52] arkatik commented on #4211
after CoSh and Vanish priest easy drop my stealth using a shot wand
![wowscrnshot_012419_120029](https://user-images.githubusercontent.com/45844525/51673079-cda2bb80-1fd5-11e9-9ea1-56fbc5b42e74.jpg)

[2019-01-24 11:03] SlizeTBC commented on #4211
Yea thats exactly what I was trying to explain.

[2019-01-24 11:04] arkatik commented on #4211
works correctly vanish ? (sorry for the bad quality)
https://www.youtube.com/watch?v=yX9oOQUI7cg

[2019-01-24 11:22] akrom23 commented on #4211
Thanks for the video.

[2019-01-24 11:25] akrom23 commented on #4213
@lordazurescens Please, test it again.

[2019-01-24 11:26] arkatik commented on #4211
There are many more points to test:
intercept - shadowstep dont work
intercept after use vanish
poly after use vanish etc

[2019-01-24 11:42] michv321 opened #4214 "Mage Arcane Missiles"
Description:
Sometimes Arcanes Missiles don't work properly.

How it works:
It looks like spell is started and just after that cancelled. You lose mana, but there is no spell at all. I waited few seconds and try casting it again - same result. If i casted other spell, or hit, then next Arcane Missile worked properly. For me that issue often appear when AM are combined with Polymorph spell (for ex.

[2019-01-24 12:39] Jonsbe commented on #3586
@akrom23 There is several shits happening with Feign death. First when raiding ex. prince in karazhan. Ill say things that happen that should not happen. Doing MD on tank popping aimed, arcane + multishot. MD goes fine, and if another hunter is doing md also your md wont do shit. You shouldnt be able to MD if MD is on tank already. Second when beign close to tanks threat you feign, threat drops on

[2019-01-24 12:42] Jonsbe commented on #3586
And if you want some material about these matters, please explain to me what you want and what you need and how you want me to show it to you. I will do it if these bugs are getting fixed. But just talk to any raiders.

[2019-01-24 12:44] Ironjudgment commented on #3586
any plans for target dummies being implemented? would allow us to test a massive amount of skills/talents/rotations etc

I made a post asking about target dummies but it was closed without giving a reason or explaining devs position on this

[2019-01-24 12:48] Jonsbe commented on #3586
@Ironjudgment nice points, but in my opinion wrong thread to post about this, keep in on the matter please.

[2019-01-24 12:49] Jonsbe commented on #3586
@akrom23 some screenshots on https://github.com/SunwellWoW/Sunwell-TBC-Bugtracker/issues/4081 about same matter.

[2019-01-24 12:55] akrom23 commented on #4090
@babno Not quite right.
This is our code:
[code]
Damage is the amount of heal.
This code don't allow to gain mana from overheal. And this is the question - only efective heals should count?

EDIT: Okay - I know where is the problem :)

[2019-01-24 13:05] Ironjudgment commented on #4199
First mention of Dragonstrike on wowiki is on May 10, 2007 which on the wow timeline is before patch 2.1 https://wowwiki.fandom.com/wiki/Dragonstrike?oldid=636198

[2019-01-24 13:10] akrom23 commented on #3300
More info:
#4090

[2019-01-24 13:10] #3300 closed, assigned to nobody

[2019-01-24 13:25] akrom23 commented on #4090
Got a question: I know that in TBC combat logs do not show overheals. So what number should be displayed as a heal done/gain - only effective amount of heal?

[2019-01-24 13:33] akrom23 commented on #3586
@Jonsbe Okay, thx

[2019-01-24 13:55] yairomi commented on #4174
I noticed that this is not only sap related. This happens same way with people who get stunned by cheap shot/kidney shot, and probably every other cc ingame. Player's real position and position in which their model is displayed do not overlap often, which is a pain in the ass for melee players.
This should be kicked up in the priority list.

[2019-01-24 13:58] Holeheart commented on #3752
yes. and that quote means that if u tame lvl 25 pet, the max points are not affected by -25 points the pet could have.

[2019-01-24 13:59] Holeheart commented on #3752
if u tame lvl 50 pet, and ur max training point total is 50 less, it is "affected" by lvl

[2019-01-24 14:27] nickycakes opened #4215 "Can't unlearn pet skills at trainer"
Description:
Going to the pet trainer with my pet summoned and clicking "i wish to unlearn my pet's skills" does nothing.

How it works:
Going to the pet trainer with my pet summoned and clicking "i wish to unlearn my pet's skills" does nothing.  Relogging didn't help.  Dismissing and calling my pet again did nothing.

How it should work:
Clicking I wish to unlearn my pet's skills should unlearn m

[2019-01-24 15:26] babno commented on #4090
Yeah I'll bet you anything that GetMaxHealth() is getting the healers max health and not the paladins.

As to the combat log, I think it should remain as is. My main point of reference is recount, a tbc era addon, tracks overheal. If you hide overhealing and only display effective healing in the combat log then it wouldn't work.

[2019-01-24 15:41] Kiszh commented on #4199
What I tried to show you with the ocean of wowhead links was that the patch numbering on wowhead is off. Kara loot didn't release in patch 2.1, nor did heroic instance loot. That unequivocally proves that wowhead is not to be trusted.

Further more, you can go to the comment section of the wowhead link that you yourself provided and read the oldest comments.

I'll spoil it for you:

By Dain (2,026

[2019-01-24 15:57] arkatik commented on #4211
tru story guys...ench killed me when I was in the improved stealth for a few seconds :((
![wowscrnshot_012419_175041](https://user-images.githubusercontent.com/45844525/51690285-0dcb6380-2001-11e9-868a-c98841676d70.jpg)

[2019-01-24 16:28] akrom23 commented on #4211
I found what is the cause of these problems.

[2019-01-24 16:32] arkatik commented on #4211
it's good)
How soon can you apply fixes?

[2019-01-24 16:56] akrom23 commented on #4211
Today I guess :)

[2019-01-24 17:04] akrom23 commented on #4090
Alright. Thanks for the info.

[2019-01-24 18:49] Dootz commented on #2075
https://github.com/SunwellWoW/Sunwell-TBC-Bugtracker/issues/2065

[2019-01-24 18:51] #2351 closed, assigned to Dootz

[2019-01-24 18:58] fakelort commented on #3464
This should be really easy to fix and pretty game breaking...

[2019-01-24 19:10] #2807 closed, assigned to Dootz

[2019-01-24 19:33] #2914 closed, assigned to Dootz

[2019-01-24 19:33] #2931 closed, assigned to Dootz

[2019-01-24 19:41] nickycakes commented on #4215
this was fixed with the help of gm Pub, basically you have to have the pet as close as possible to the trainer for it to be able to respec

[2019-01-24 19:48] #4163 closed, assigned to Dootz

[2019-01-24 20:14] Bugadin commented on #4194
It's not fixed yet. It drops loot but you can't take it.

[2019-01-24 20:20] Bugadin commented on #4199
We were talking about googles guys xD

[2019-01-24 20:23] Phildo9 commented on #2361
Not resolved, issue still occurred with Eternium Lockbox and Mithril Lockbox. I have other lockboxes too but don't really feel like continuing to loose them just for testing. Wasted 2 Arcanite Keys already :(

[2019-01-24 20:39] Phildo9 commented on #3565
The 2nd boss certainly has an issue with his poison. He seems to be doing double damage or more and the CD is non-existent. I can dispel my tank and myself and we will all have it back immediately.

LoS issues still occurring with summoners as well.

[2019-01-24 21:08] Spoohne commented on #1452
Hi, it's been 3 months now? Any word?

[2019-01-24 21:52] babno commented on #4090
And thank you for fixing it. I look forward to it being implemented asap, been a rough few months.

[2019-01-24 22:34] Kgdruid opened #4216 "Unable to swap Violet Eye rep ring more than once"
Description: Unable to swap Violet Eye rep ring more than once

How it works: once exalted, you can not swap your chosen ring more than once.

How it should work: should be allowed to change ring as many times as necessary.

Source (you should point out proofs of your report, please give us some source):

[2019-01-24 22:57] baade123 commented on #4211
I also notice that i can see rogues from 30+ yards away for about 3-6 seconds after they stelath and they can see me too (i went stealth and 3 seconds later i got charged from warrior from far away)

[2019-01-24 23:16] baade123 commented on #4213
I have a video of this very clearly on my feral druid, its actually why i stopped doing pvp... can retest tho.

[2019-01-25 01:46] Xithus commented on #3006
Looks like it's the other way now.

Tooltip hovering over pets spirit says pet should be getting 53 out of combat regen but it's actually getting 76.

[2019-01-25 01:50] NoCandy commented on #4141
I agree the multiplier is not working as intended, I will try to get a screenshot with a threatmeter next time I go to a dungeon.

[2019-01-25 04:46] DmonicDude commented on #4214
I have had the same issues. However I have found that casting AM on high level targets also causes the effect, best I can think of is that it is also related to resist/miss chance. I was able to reproduce effect each time I engaged with mops 4+ lvls higher

[2019-01-25 07:42] akrom23 commented on #4213
@baade123 Please, do it.

[2019-01-25 07:44] akrom23 commented on #4214
More info #4005.
@DmonicDude @michv321 Give me an answer there.

[2019-01-25 07:44] #4214 closed, assigned to nobody

[2019-01-25 08:34] akrom23 commented on #3866
#4005.

[2019-01-25 08:34] #3866 closed, assigned to nobody

[2019-01-25 08:38] neheri commented on #4136
Update after killing him yesterday:

What seems to be fixed:
- after 15% he seems to stay in his elf form, does not transform into demon
- you can do nothing to other people's Inner demons

What seems to be bugged:
- after split at 15% his elf form whirlwind/melee timers are bad. He stayed in whirlwind for approximately 30 seconds, which resulted in killing a lot of people and stacking tanks for 8

[2019-01-25 08:58] aeyers commented on #4190
Another raid with low procs, 17 vs 71 procs, 4 hour raid. Should proc ALOT more with the amount of casts i have as a druid.

[2019-01-25 09:14] AIRewan commented on #3868
Sadly that is blizzlike - can't be DE-ed, after Cata they even become grey.

[2019-01-25 09:15] mchayes commented on #4141
This is also extremely annoying when it comes to CC. Since threat is apparently still produced on mobs in Polymorph/Banish etc, any holy paladin is doomed to die once CC breaks and a taunt fails.

[2019-01-25 09:16] Dorkazera commented on #3724
How is this still an issue?? WAKE UP DEVS, HELLO ?! Tag it as critical..

[2019-01-25 09:16] Hecama12 opened #4217 "Mobs not dropping grey items"
Description:
Artifact seekers and felblade doomguards only drop white / green items

How it works:
The mobs only drop white / green items

How it should work:
They should have their whole loot table being able to drop

Source (you should point out proofs of your report, please give us some source):
http://db.excalibur.ws/?npc=19852

[2019-01-25 09:18] Ghettomagus commented on #1850
Issue opened 24th of November, still not fixed..... are you even trying?

[2019-01-25 09:19] sunsmiles09 commented on #3724
absolutely, 9000HP as well

[2019-01-25 10:30] MiekZer commented on #4190
Have it on my priest.
I confirm that proc rate is too low.
Looks like it has been nerfed to 1% like some other level 60- trinkets but this one trinket proc rate is not supposed to scale down in tbc due to it's 2% statement. I think the text was then changed and nerfed on a later expansion but not tbc.
Should be 2% on every cast, instant casts like non instant casts. even a buff/totem placement/etc

[2019-01-25 10:50] akrom23 commented on #4211
@arkatik @baade123 @SlizeTBC @babno Please, test it again.

[2019-01-25 10:59] arkatik commented on #4211
@akrom23 i que bg...I will test now

[2019-01-25 11:40] akrom23 commented on #1452
Should be fixed.

[2019-01-25 12:08] arkatik commented on #4211
@akrom23
and so let's get started:
https://youtu.be/xBaUKJ_NUjA **death coil-->vanish** nice
https://youtu.be/ii6O7ZaRsTo **cast fear--> stealth** nice
https://youtu.be/-DKah0wcqCY bad test vanish but it works
https://youtu.be/iMHqkuXYHAw attacks not drop stealth now, but need test with hunters.

and last test...I did not understand how I lost stealth. Warlock tells it a secret ^_^
https://youtu.b

[2019-01-25 12:16] akrom23 commented on #4211
Okat, these bugs are not related to these issue - report them (if already not).
What about that?
What about stealth tickrate?

[2019-01-25 12:33] arkatik commented on #4211
need more tests, but i think need fix
1-2 hours and I will say for sure

[2019-01-25 12:36] akrom23 commented on #4211
Please, test it in arena/bg.

[2019-01-25 12:41] arkatik commented on #4211
i test now on bg
the arena will play tomorrow, we'll see

[2019-01-25 12:42] arkatik commented on #4211
yea...need fix
https://youtu.be/qsUbUBip-1c

[2019-01-25 12:50] akrom23 commented on #4211
? What needs fix?

[2019-01-25 12:53] arkatik commented on #4211
@akrom23  on last videos shaman after sap teleported ) look at it

[2019-01-25 12:55] akrom23 commented on #4211
I see - you can report it.
But again - this is not related to the fix and to the issue described here, in the first post.

[2019-01-25 12:57] arkatik commented on #4211
ok, when there is more evidence, I will make a separate report

[2019-01-25 13:21] chocochip95 opened #4218 "Pet names"
Description:

How it works:  Hunters pet can't be named if someone else is using the name

How it should work: Hunters pets should be named whatever, names aren't exclusive for hunters pets

Source (you should point out proofs of your report, please give us some source):  It's always been like this on retail.

[2019-01-25 14:07] Bugadin commented on #4218
I don't know if u are wrong or not but I'm pretty sure I rather prefer not to change it because Gladdy and so many addons get bugged when the hunter's name and the pet's name is the same.

I'm pretty sure that's your goal: same name in arenas so focus, gladdy and so on gets bugged as hell and it turns to an easy win for the hunter.

NO, THANK YOU.

[2019-01-25 14:12] Jeansapin commented on #3781
https://github.com/SunwellWoW/Sunwell-TBC-Bugtracker/issues/3061

[2019-01-25 15:16] chocochip95 commented on #4218
@Bugadin Not at all acutally, i just wanted to call my boar "Mistercochon" and i couldn't lol. Even if you don't like it, it's a bug and should be fixed.

[2019-01-25 15:39] akrom23 commented on #4036
Got screenshots?

[2019-01-25 15:47] nimeral commented on #4210
Could be prenerf thingy, but idk tbh.

[2019-01-25 16:08] neheri commented on #4210
I've linked Method's 2nd world kill. Do you think it was already nerfed?

[2019-01-25 16:15] akrom23 commented on #4081
@MiekZer Everytime you used FD because of overaggro?

[2019-01-25 17:53] notsofamous commented on #4210
Issues reported 2 months ago: https://github.com/SunwellWoW/Sunwell-TBC-Bugtracker/issues/1845

I doubt they'll get fixed anytime soon :)

[2019-01-25 20:21] Bugadin commented on #4183
I think it's working fine now, thank you

[2019-01-25 20:56] neheri commented on #4210
I know that. I just wanted to point out two most important bugs you immediately see when fighting her and that make her much harder than she should be.

[2019-01-25 21:34] ppach commented on #3365
Bump, please review this.

[2019-01-25 23:13] notsofamous commented on #4210
Don't worry, no one has killed Vashj legit yet on this server. Only exploit kills :)

[2019-01-25 23:59] MiekZer commented on #4081
On these screens I used FD when I was below the tank but close to him in threat.
I will try to see what happens when I wait to be above the tank before using FD.

[2019-01-26 09:19] akrom23 commented on #4081
Got a question about resist:
Let's say hunter fight against pack of 4-5 mobs. Hunter uses feign death and one of these mobs resists.
Does it mean that the whole pack should resist and still attacking hunter?
Or maybe only this one should resist and evade?
And what about the message on the screen?

[2019-01-26 09:24] akrom23 commented on #4197
More info, please.

[2019-01-26 09:27] akrom23 commented on #4208
It has very, very low chance, but it does drop.

[2019-01-26 09:27] #4208 closed, assigned to nobody

[2019-01-26 09:38] #648 closed

[2019-01-26 09:38] #1452 closed

[2019-01-26 09:38] #2393 closed, assigned to Dootz

[2019-01-26 09:38] #2548 closed, assigned to Dootz

[2019-01-26 09:38] #2702 closed, assigned to Dootz

[2019-01-26 09:38] #2752 closed, assigned to Dootz

[2019-01-26 09:38] #2906 closed, assigned to Dootz

[2019-01-26 09:38] #2938 closed, assigned to akrom23

[2019-01-26 09:38] #2956 closed, assigned to akrom23

[2019-01-26 09:38] #2974 closed, assigned to Dootz

[2019-01-26 09:38] #3094 closed, assigned to akrom23

[2019-01-26 09:38] #3127 closed, assigned to Dootz

[2019-01-26 09:38] #3146 closed, assigned to Dootz

[2019-01-26 09:38] #3359 closed, assigned to akrom23

[2019-01-26 09:38] #3634 closed, assigned to akrom23

[2019-01-26 09:38] #3837 closed, assigned to Dootz

[2019-01-26 09:38] #3838 closed, assigned to Dootz

[2019-01-26 09:38] #4090 closed, assigned to akrom23

[2019-01-26 09:38] #4183 closed, assigned to akrom23

[2019-01-26 09:38] #4211 closed, assigned to akrom23

[2019-01-26 09:38] #4213 closed, assigned to akrom23

[2019-01-26 10:37] Devrak commented on #4218
Pets cant use player names as it will result in unpredictable client behavior even potentially crash it.

[2019-01-26 12:20] chocochip95 commented on #4218
How is that even possible? It's still a bug, on retail i could call my pet whatever i wanted and it didn't make any difference.

[2019-01-26 12:41] Felynda commented on #3920
BUMP for huge paladin dps nerf not being fixed in almost a month.

[2019-01-26 12:43] Felynda commented on #3919
![seal of blood still bugged](https://user-images.githubusercontent.com/45050227/51787303-5ce3d680-2170-11e9-8853-73dfe01c0882.png)

Seal of Blood still proccing from Crusader Strike as of 2019-01-26.
Either fix it or make Seal of Command also proc from Crusader Strike. Fix massive faction imbalance.

[2019-01-26 12:49] Felynda commented on #2838
BUMP still bugged over a month later

[2019-01-26 13:53] Azmoddan commented on #4218
You didn't point any proofs.

[2019-01-26 14:02] phonkala commented on #3759
Same problem here. Some GM even answered one meta gem should have 20h cd, other one 24h cd so no idea what info is actually correct...

But yeah my cooldowns do the same: you transmute as meta gem, you get the 20h cd but after cd is / should be gone (you can check transmute list to actually see the cd is gone) and get materials for transmute, suddenly there is a 1day 1hour cooldown again - not sur

[2019-01-26 14:07] MiekZer commented on #4081
Against a large pack of (regular) mobs, according to this : "As the level (relative to the hunter) and number of enemies become higher, the likelihood of the spell being resisted becomes higher." I'd say that if one mob resists then the whole pack will still run on you. It's maybe due to mob linked at the beginning of the fight, if you fd and one linked mob resists then his pack will still run and

[2019-01-26 15:08] babno commented on #4075
It is not fixed, still run very fast.

[2019-01-26 15:13] babno opened #4219 "[Instance] H mechanar Nethermancer Sepethrea adds too fast and 1 too few"
Description: There are 3 adds which move at 100% speed

How it should work: There should be 4 adds which move at ~50% speed. Looks like they should move the same as backpeddle speed.

Source (you should point out proofs of your report, please give us some source):
https://youtu.be/uqil91lzNV4?t=262

[2019-01-26 15:37] buckferals commented on #4206
same thing happened to me when I jumped off the stopped lift at the bottom.

[2019-01-26 15:38] arkatik commented on #3724
It greatly affects pvp, fix pls.

[2019-01-26 16:34] chocochip95 commented on #4218
I shouldn't need to point out proof for something so obvious like this. On every server you can call your pet what you want. On retail you can call your pet what you want.

[2019-01-26 18:18] Bravehurt opened #4220 "Scarlet Monastery Cathedral"
Description: Looks like if Whitemane gets out of mana before reaching 50% health to trigger the rez, everything bugs out and she stands there until reset.

How it works: Looks like if Whitemane gets out of mana before reaching 50% health to trigger the rez, everything bugs out and she stands there until reset.

How it should work:
![wowscrnshot_012619_130822](https://user-images.githubusercontent.

[2019-01-26 19:48] nogi1 commented on #1689
Could you fix this?

[2019-01-26 20:28] estenv opened #4221 "Tidal charm works in lvl 70 PvP with no fail chance"
Description:
Tidal charm is being used by multiple people in arenas, it should not work properly against lvl 70 targets

How it works:
Tidal charm works 100% of the time vs lvl 70 targets

How it should work:
It should have a high fail chance

Source (you should point out proofs of your report, please give us some source):
Item tooltip

[2019-01-26 20:29] Swegkingu opened #4222 "Master Looter issue"
Description:  Master Looter has to loot everything.

How it works:  Master Looter has to loot everything, even grays.

How it should work:  Master Looter is not supposed to have to loot anything under the threshold set.

Source (you should point out proofs of your report, please give us some source):

[2019-01-26 22:11] #4204 closed, assigned to nobody

[2019-01-26 22:29] Ibuprofeno commented on #4199
Them problem is they use item release dates but 2.4.3 mechanics/stats.

BS maces were one handed 'til 2.4.2 when: Most Main-Hand weapons are now One-Hand weapons.  (https://wowwiki.fandom.com/wiki/Patch_2.4.2)

Karazhan/(some) heroic loot got buffed in 2.1: The majority of level 70 epic items have been upgraded to reflect their intended power.  (https://wowwiki.fandom.com/wiki/Patch_2.1.0, not a p

[2019-01-26 22:30] Ibuprofeno commented on #4221
Not only Tidal Charm, every lvl cap is bugged: iron grenades/(any other low lvl bomb) should have a fail chance against lvl70s but it doesn't (not such a game breaking bug as they're only cheaper).

[2019-01-26 22:32] Ibuprofeno commented on #4188
All mechanics should be properly tuned to 2.4.3 it being changed in 2.3+ should make no difference to get this fixed.
Otherwise I'll start listing every change pre-2.4.3 to have 2.0 mechanics? This is unrealistic.

[2019-01-26 22:41] Dootz commented on #4162
I think we'll leave him where he is now. But thank you for bringing it up.

[2019-01-26 22:41] #4162 closed, assigned to Dootz

[2019-01-26 22:42] worstwarrioronserver commented on #4098
zzz

[2019-01-26 23:10] #3228 closed, assigned to Dootz

[2019-01-27 01:02] MiekZer commented on #4222
and the lowest treshold is Uncommon means a masterlooter is not supposed to be able to ninja soul essences in Karazhan.

[2019-01-27 01:12] MiekZer commented on #3586
I just want to react on "boss going on 3rd/4th instead of 2nd on threat. (after killing the hunter)

If things are well scripted this is something that can happens.
When the boss is moving on the hunter if the tank is not moving from his position then he's considered in range. That means he must have 130%+ threat (and be first) to take aggro back when the hunter will dead. If someone closer to the

[2019-01-27 02:38] MiekZer commented on #4095
Second boss also.
Looks like normal and heroic drops are in the loot table (in heroic).
So sometimes you drop heroic sometimes normal loots

[2019-01-27 02:39] MiekZer commented on #4064
Maybe related to boss being neutral?? (Even if he's not really since he aggroes when you enter his range)

[2019-01-27 04:55] sodix90 commented on #4203
yes quest giver dosnt give me the quests iam now level 70 cant get my succubus/felhunter

[2019-01-27 05:40] Cherryxo commented on #4216
You provide 0 info on what is actually happening when you try to switch ring.
This quest should not even be in the game [until patch 2.1](https://wowwiki.fandom.com/wiki/Violet_Eye) (at the bottom, patch notes), but, possible workaround until this is resolved. Have not tried it

https://www.wowhead.com/quest=11034/restorer-no-more#comments

[2019-01-27 06:37] ppach opened #4223 "Item Disappearance"
Description:
My Epic ground mount disappeared upon relogging. The same issue happened on a different character, in a different account, where my shoulders also disappeared.

How it works:
No fucking clue.

Character: Cancer
Class: Warlock
Faction: Alliance

[2019-01-27 07:40] #2831 closed, assigned to nobody

[2019-01-27 07:44] Cherryxo commented on #4190
At least post a print screen to show that what you are saying is actually accurate. This whole thing where people don't care to provide any info that what they are saying is actually true is getting really annoying.

[2019-01-27 07:48] Cherryxo commented on #4160
After you've completed the quest you can talk to him and train it.

[2019-01-27 10:11] pinkisnotgay commented on #4222
https://github.com/SunwellWoW/Sunwell-TBC-Bugtracker/issues/4129
Another bug related to master looter

[2019-01-27 11:26] Jonsbe commented on #3586
@MiekZer I know, but im talking about "obviously" when he goes after 3rd and 4rd when they are 50-90% threat compared to tank, so not the cases you're talking about.

[2019-01-27 11:39] Aftershokx commented on #3367
UP

[2019-01-27 11:39] Aftershokx commented on #3781
UP

[2019-01-27 12:01] firngrod commented on #4188
Indeed.  I just wanted to point to the more definitive proof to make it easier for the devs to verify, rather than them looking into how it was at 2.3.0 as OP suggested and possibly deciding that the expertise should only apply to defensive stance because that's how it was at that point.

[2019-01-27 12:09] flapse32 commented on #4081
so hyped for this to be fixed 💃

[2019-01-27 13:09] arkatik commented on #4205
@akrom23 yesterday this bug was repeated in the arena, fix pls

ps **druid charge-->shadowstep** work fine

[2019-01-27 13:23] Ibuprofeno commented on #4168
This happens with more skills:
Warrior: Charge/intervene/intercept
Mage: Blink/Ice Block while jumping (this only happened once to me: i got ice block mass dispelled and i stood in the air while every attack showed immune as if I was still in block)
Druid: prolly feral charge as it happens with warrior's charges

[2019-01-27 13:29] akrom23 commented on #4168
@Ibuprofeno

[2019-01-27 14:32] Azmoddan commented on #4218
https://us.battle.net/forums/en/wow/topic/5575477044
Your pet name might be disallowed by naming policy?

[2019-01-27 14:39] Ibuprofeno commented on #4168
will check through vids to see if I got to record any of these

[2019-01-27 15:41] Azathothh commented on #3364
Problem happens if player have only 1 empty slot in bags, but quest rewards 2 or more items.

[2019-01-27 17:25] GeorgieTragnar commented on #4188
This is wrong point, because devs are aiming at 2.4.3 mechanics and in 2.4.3 patch this talent worked for all stances (since the patch 2.3.2).

[2019-01-27 18:32] MiekZer opened #4224 "Alchemist unable to proc more than x2 ?"
Since the alchemist respec fix I never had more than a x2 proc.
And I have differents characters with different alchemist specs. I've never seen more than a x2 proc on potions/flasks/transmutation.
Not even poiting the fact that the transmutation proc rate should be 20% but looks more like 5%.

Anyone else or I'm just very unlucky crafting 100-200 potions and seeing only (and rare) x2 procs.

[2019-01-27 19:45] mchayes commented on #4136
Leotheras is looking good at the moment, however his Chaos Blast is interruptable. I can not reproduce this in the combatlog since it is a hidden cast of sorts. No clue how this is going down.

Either way my shaman rotation of FlameShock>EarthShock produced an accidental interrupt on him.

Edit, I couldn't find it at first but then I realised theres something fucked up with combatlog, not sure if

[2019-01-27 20:25] akrom23 commented on #3752
Just no.
https://www.wowhead.com/forums&topic=21067#p187086
https://forum.elysium-project.org/topic/55012-pets-training-points/?tab=comments#comment-441203
Formula is:

A new pet is on the lowest rank of loyalty, so pet have 0 TP (if have no default skills).

[2019-01-27 20:26] #3752 closed, assigned to nobody

[2019-01-27 20:42] akrom23 commented on #3922
https://wow.gamepedia.com/index.php?title=Viper_Sting_(hunter_ability)&oldid=1513160
Works as intended.

[2019-01-27 20:42] #3922 closed, assigned to nobody

[2019-01-27 20:51] chocochip95 commented on #4218
Thanks for that source saying you can name your pet whatever you want lol. But i don't think "mistercochon" is disallowed by the naming policy, and it also wasn't the only name i  tried.

[2019-01-27 20:56] akrom23 commented on #3975
Works fine to me.

Melee:
![wowscrnshot_012719_215446](https://user-images.githubusercontent.com/1035215/51806752-3613c600-227e-11e9-976f-188a2300a2fb.jpg)

Deadzoned:
![wowscrnshot_012719_215454](https://user-images.githubusercontent.com/1035215/51806754-3b711080-227e-11e9-9626-c117c07f7f7b.jpg)

Ranged:
![wowscrnshot_012719_215501](https://user-images.githubusercontent.com/1035215/51806755-3dd36

[2019-01-27 21:43] #3829 closed, assigned to Dootz

[2019-01-27 22:57] haloani opened #4225 "Respawning at lurker"
Description:
Ressing at Lurker in ssc

How it works:
attempting to ress somebody ends up with the receiver not being able to ress, and having to reboot wow and then proceed to spawn alive at the graveyard.

How it should work:
upon being ressurected you should spawn at the position of the caster, as is the case for every other ress in the game

Source (you should point out proofs of your report, p

[2019-01-27 23:18] kyotpls commented on #4224
https://cdn.discordapp.com/attachments/525080467150471182/538543983370960906/unknown.png

screenshot from Nightbane. x4 Proc right there

[2019-01-27 23:29] MiekZer commented on #4224
Hello, was done after the alchemist respec fix?

[2019-01-27 23:31] kyotpls commented on #4224
Dunno when it was implemented but he got it on saturday around 3:00 ST I believe

[2019-01-28 00:24] lamdeeze opened #4226 "Void Ridge"
Description:  Vacillating Voidcallers despawn on kill not giving loot.

How it works: When the voidcaller dies it instantly depsawns.

How it should work: Body should stay and give loot.

Source (you should point out proofs of your report, please give us some source): Tried in game several times.

[2019-01-28 03:10] maseta9 opened #4227 "Heroic Slave pens boss respawn and drop again BIG EXPLOIT"
Description: Yesterday I was LFG for Slave pens heroic mode to turn in the SSC quest and found a group with an ID with only the last boss left alive. The ID was from yesterday morning so obviously all the trash had respawned so we had to clear it, but it was a surprise for us to see that the first boss had respawned as well. We were even more surprised when we killed the boss and it dropped us gea

[2019-01-28 05:24] xethra89 opened #4228 "[Serpentshrine Cavern] List of issues still occuring."
Description:

- [x] Hydross is hitting like a wet noodle, basically to the point where unless you have 4 stacks or more before it does any significant damage. Melee should be 5000-5500 swings without resist gear, and increases with the percentage of debuffs (10%, 25%, 50%, 100%, 250%, 500%).

- [x] Hydross Elementals also hit for next to nothing, should be ~6000 melee swings without resist gear.

[2019-01-28 05:39] malboroman1 opened #4229 "Alchemy discovery for cauldrons"
Description:
Making major resistance potions for shadow, fire, nature, ice, and arcane can cause a discovery for a raid-use cauldron. I made 13 batches of resistance potions and could not get any discoveries for a cauldron. The chances of this happening (if working correctly) is a little less than 1%.

How it works:
The discovery rate is either the same as for regular potions and elixirs or not im

[2019-01-28 07:39] akrom23 commented on #3975
This sums up:
https://github.com/SunwellWoW/Sunwell-TBC-Bugtracker/issues/3679#issuecomment-450716014

Deadzone was removed in 2.3.3, not later.
https://us.battle.net/forums/en/wow/topic/2842564433#post-3

[2019-01-28 07:39] #3975 closed, assigned to nobody

[2019-01-28 07:50] akrom23 commented on #1374
It's just a script text. Enrage effect does not apply.

[2019-01-28 10:57] #1972 closed

[2019-01-28 11:03] akrom23 commented on #2031
It works good.

[2019-01-28 11:03] #2031 closed

[2019-01-28 11:46] #2203 closed, assigned to nobody

[2019-01-28 12:34] arkatik commented on #4225
yesterday it happened to us in Karazhan at Netherspite

[2019-01-28 12:39] akrom23 commented on #2237
No response. Closed.

[2019-01-28 12:39] #2237 closed, assigned to akrom23

[2019-01-28 12:46] Ibuprofeno opened #4230 "[Item] The Lightning Capacitor - Electrical charges aren't granted if the crit kills the target"
Description:
Critical strikes that kill an enemy don't grant a charge.

How it works: If a critical strike kills the target it doesn't grant a charge.

How it should work: Critical strikes that kill the target should give a charge.

Source (you should point out proofs of your report, please give us some source):https://www.wowhead.com/item=28785/the-lightning-capacitor#comments
Once again, the onl

[2019-01-28 12:46] akrom23 commented on #2335
https://wow.gamepedia.com/index.php?title=Cone_of_Cold&oldid=1432387

Seems to work good now.

[2019-01-28 12:48] #2335 closed, assigned to nobody

[2019-01-28 12:49] akrom23 commented on #2904
Keep in mind:
https://wow.gamepedia.com/index.php?title=Cone_of_Cold&oldid=1432387

``
While doing Blizzard with a clear casting proc up, You need to move your char in any direction to make the Free cast go off, els it worn't trigger the clear casting fra the arcane talent.
``
Cannot reproduce it.

[2019-01-28 12:50] Ibuprofeno commented on #4168
https://gyazo.com/1a6b78f5c339a43b2c281d9a0d3542ab didn't have a full combat log but this is the only one I could find through my files I was rooted 'til I died here and only lost my immunity ~10 secs after divine shield ended (a rogue tried to kick a heal and scrolling combat text showed immune)

[2019-01-28 12:55] #2973 closed, assigned to nobody

[2019-01-28 12:58] akrom23 commented on #2977
Just checked and works fine.

[2019-01-28 12:58] #2977 closed, assigned to nobody

[2019-01-28 13:01] akrom23 commented on #3085
@RarecandyMage Cannot reproduce it. Still happens?

[2019-01-28 13:03] akrom23 commented on #3163
No.
https://wow.gamepedia.com/index.php?title=Cone_of_Cold&oldid=1432387

[2019-01-28 13:03] #3163 closed, assigned to nobody

[2019-01-28 13:07] akrom23 commented on #3162
It's called heartbeat resist.

@Shatterz Cannot reproduce it.
Maybe your target resisted the root effect (e.g. got some auras that increasing resist chance)?

[2019-01-28 13:12] akrom23 commented on #4168
@Ibuprofeno It's not enough sadly.
I need to see when the root/stun effect/aura applied on you and removed (with timestamps).

[2019-01-28 13:19] akrom23 commented on #4107
@RarecandyMage @Bugadin Got some video?

[2019-01-28 14:15] #3627 closed, assigned to Dootz

[2019-01-28 14:15] #3695 closed, assigned to Dootz

[2019-01-28 14:15] #3749 closed, assigned to Dootz

[2019-01-28 14:15] #4209 closed, assigned to Afgann

[2019-01-28 14:15] #4217 closed, assigned to Dootz

[2019-01-28 14:15] #4220 closed, assigned to Afgann

[2019-01-28 15:51] xethra89 commented on #4228
Added an additional issue with Leotheras.

[2019-01-28 16:00] MessiahLFY opened #4231 "[Mage]/[Core] Ice block/death negate mage T5 2set"
Description: T5 2set for mages increases damage and mana cost of Arcane Blast by 20%.

How it works: When mage use Ice block or died he will lose T5 2set and need to reequip some part of equip to get it back. Btw. in combat you cant reequip armors so after using Ice Block mage lose this buff for the rest of fight.

How it should work: Mages are supposed to have T5 2set still active even when They

[2019-01-28 16:01] #1789 closed

[2019-01-28 16:10] xethra89 commented on #4224
I got a x3 proc of Major Agility elixir's yesterday.

[2019-01-28 16:11] akrom23 commented on #2240
Anyone got some screenshots with combat log?

[2019-01-28 19:38] lordazurescens opened #4232 "Shadow Step. PVP. Landing position."
Description:
When you use shadow step. it puts you behind the target. Some larger player models[Tauren/Druid Forms] Cause you to be put much farther away from them then other smaller models.

How it  works:
On the above targets you are thrown so far to the edge of your melee range. that in pvp regardless of latency. it can put you out of melee range making it impossible to use.

Ex. Druid roots yo

[2019-01-28 19:51] RarecandyMage commented on #4107
unfortunately, I started recording everything I do in WoW a few weeks after this happened.  No video :(

[2019-01-28 20:44] MiekZer commented on #4224
Ok ok.
I can only be more lucky next time then :P

[2019-01-28 21:18] #1595 closed

[2019-01-28 21:19] Dootz commented on #1472
This is probably no longer relevant. We made several changes to number of spawns in each zone and respawn time.

[2019-01-28 21:19] #1472 closed

[2019-01-28 21:21] #1698 closed

[2019-01-28 21:34] Ironjudgment commented on #4081
@akrom23
not fixed after
Piootrek Today at 18:59
@here
There will be quick restart on Nightbane in 30minutes from now - realm maintenance.

To test this I have made a macro on my FD to also do a .debug threatlist command and made an entirely seperate chat window for it. You can observe that none of my FD's reset my agro.

I am **Ironbow**.

https://youtu.be/s7feJ4qNoPE?t=4105

Agro reset component

[2019-01-28 22:03] RarecandyMage commented on #3085
I was able to blink onto the elevator, so that is progress, but was not able to blink off the elevator.  Have a look below.

https://www.youtube.com/watch?v=X0H_egeNA1M&t=

[2019-01-28 22:47] Lichbait opened #4233 "Totem of Wrath"
Description:
spell hit gained from this item is not working

How it works:
Number of average resists per fight suggest this aura is certainly not working properly.

How it should work:
Should give a party-wide 3% spell hit buff

Source (you should point out proofs of your report, please give us some source):

[2019-01-29 00:23] baade123 commented on #4233
ive heard mention of this...

[2019-01-29 05:14] ghost commented on #4223
[code]

[2019-01-29 05:27] xethra89 commented on #2240
That's the problem, it doesnt even register in combat log.

I've not been playing ret though since leveling so cannot confirm or deny whether it is still occuring.

[2019-01-29 05:57] DmonicDude commented on #4005
This issue still occurs when casting AM on higher lvl mobs. (player lvl +2/more) I was lvl 45 casting on lvl47/48 green ooze, AM bugged out 7~8 times over 15 minutes.

[2019-01-29 06:42] akrom23 commented on #4081
Because it's not live yet.

[2019-01-29 06:43] akrom23 commented on #2240
Yeah, I know, but i still want it.

[2019-01-29 07:00] ppach commented on #3365
Bump, please review this.

[2019-01-29 09:32] neheri opened #4234 "[Core] Evade"
Description: When we were doing Morogrim trash yesterday, one of the mob from 5 mobs pack got lost under textures and couldn't get out. This caused entire pack to evade several times. We tried to kill the pack more than 5 times, every time after certain amount of time entire pack evaded, but the mob lost under the textures couldn't get out and was stuck there. We couldn't kill the pack at all beca

[2019-01-29 09:37] neheri opened #4235 "[NPC] Void Reaver"
Description: He is a lot easier than he should be.

How it works:

- There are 2 poundings.
- Poundings happen in irregular manner. There is sometimes 2 minute break in between pounding.
- His Knock Away hits another person that he is targeting.
- He has 5000 mana which you can drain and this possibly prevents him from casting pounding & knock away at all.

How it should work:

- His pounding shou

[2019-01-29 10:18] akrom23 commented on #4005
@DmonicDude Because the mob resisted your initial cast, but there is no spell error displayed.

[2019-01-29 11:15] #4224 closed, assigned to nobody

[2019-01-29 11:25] akrom23 commented on #4234
Trash should evade if one of the mob evades (not all trash packs):
https://github.com/SunwellWoW/Sunwell-TBC-Bugtracker/issues/616

Your problem here is the mob evades because it's stuck in textures (or e.g. mob is not accessible). This  evade is some kind of "protection" - in case of never ending combat with mob in textures.
Sadly, pathfinding is not perfect and never will be.

In this situation,

[2019-01-29 11:25] #4234 closed, assigned to nobody

[2019-01-29 11:35] neheri commented on #4234
This is very bad. It happens several times per raid. Maybe we should invite a GM to every raid to follow us and reset every 3rd pack that bugs out? We lose a lot of time each raid because of it and other guilds too.

I understand that this is caused by pathfinding, which is one of the worst I've ever seen on any server I played. Honestly you should designate one person to only fix broken waypoints

[2019-01-29 12:09] neheri opened #4236 "[NPC] Tainted Elemental"
Description: After recent fixed Enchanted elementals seem to move at proper speed. However one of tainted elemental spawned during Lady Vashj encounter was moving towards her like enchanted elemental.

How it works: Tainted elemental was moving towards Vashj.

How it should work: Tainted elemental should never move.

Source (you should point out proofs of your report, please give us some source):

[2019-01-29 12:21] akrom23 commented on #2493
https://wow.gamepedia.com/Holy_resistance

https://forum.nostalrius.org/viewtopic.php?f=5&t=36395#p255304

Mobs can partially resist holy spells.

[2019-01-29 12:33] neheri commented on #4147
We one shoted him yesterday so there was no much testing. I survived shaman, not sure if his WF attacked more than 2 times in a row, will test him again on next ID.

Another bug I found:

Priestess' vortexes are now fine however you can kill them with thunder clap (lol). Make them immune to damage or something like invalid target.

[2019-01-29 12:39] akrom23 commented on #4234
We may consider not evading the whole pack because of textures.

[2019-01-29 12:39] Jeansapin commented on #1948
I do not know what you did to these boars, but now one of them spawns here : https://imgur.com/NvSaWkZ

[2019-01-29 12:44] #2600 closed, assigned to nobody

[2019-01-29 14:00] Cherryxo commented on #4228
Vashj elementals still move under ground sometimes

[2019-01-29 14:54] xethra89 commented on #4033
Any update on fixing Al'ar? The fact the primary strategy right now is no tanks in phase 1 and just interrupting the Flame Buffets just makes half this fight a joke.

You have marked "After quill he should always go to platform 2 or 5. (prio this please)" as complete. If this is indeed complete, there should be no reason Flame Buffet should be interruptible anymore.

I was also informed that "Each

[2019-01-29 15:16] akrom23 commented on #2687
Everything works fine here.

[2019-01-29 15:16] #2687 closed, assigned to nobody

[2019-01-29 15:16] akrom23 commented on #3605
Everything works fine here.

[2019-01-29 15:16] #3605 closed, assigned to nobody

[2019-01-29 15:46] Cherryxo commented on #1845
Adds still sometimes glitch through the floor.

[2019-01-29 16:42] street-racer777 opened #4237 "[Hunter] [Spell] Hunter's Mark"
Description:
Hunter's Mark is not working

How it works:
do not increase ranged attack power against that target by 110 and by additional 11 each time they are struck by a tanged attack, up to a maximum of 440(rank 4).

How it should work:
should increase ranged attack power against this target by 110 and an additional 11 each time they are hit by a tangential attack, up to a maximum of 440 (level

[2019-01-29 17:48] zefurr commented on #4180
As memory serves, Feral Charge, Improved Hamstring, Improved Wing Clip, Entrapment, Counterattack and perhaps other abilities/talents are not meant to break on damage.

They ARE subject to diminishing returns, but having players instantly break out of the 5 second Counterattack root because my pet is hitting them is definitely not normal.

This same issue was supposedly addressed for Feral Charge,

[2019-01-29 17:54] zefurr commented on #4168
I have also been able to inflict this permanent root on others with Freezing traps and the Boar pet charge ability.

I also have this issue occur against me frequently in battlegrounds, especially it seems to occur when I die while under many forms of crowd control. In these cases the permanent root follows me in death. My ghost becomes immobile at the graveyard, after the battleground spirit heal

[2019-01-29 18:32] #1262 closed

[2019-01-29 18:32] #1409 closed

[2019-01-29 18:32] #1751 closed

[2019-01-29 18:32] #1964 closed

[2019-01-29 18:32] #2490 closed, assigned to akrom23

[2019-01-29 18:32] #3006 closed, assigned to akrom23

[2019-01-29 18:32] #3586 closed, assigned to akrom23

[2019-01-29 18:32] #3816 closed, assigned to Dootz

[2019-01-29 18:32] #4005 closed, assigned to akrom23

[2019-01-29 18:32] #4081 closed, assigned to akrom23

[2019-01-29 18:32] #4095 closed, assigned to Dootz

[2019-01-29 18:32] #4195 closed, assigned to akrom23

[2019-01-29 18:32] #4221 closed, assigned to Afgann

[2019-01-29 18:32] #4226 closed, assigned to Dootz

[2019-01-29 18:32] #4227 closed, assigned to Afgann

[2019-01-29 18:37] Pieze87 commented on #2747
Lol, only over a month since the ticket was submitted with no follow up at
all. Well done. No wonder people are leaving your server.

On Fri, Jan 4, 2019 at 10:23 AM akrom23 <notifications@github.com> wrote:

[2019-01-29 18:45] babno commented on #4219
There are now 4 adds but they still run at 100% speed. not fixed, even worse now.

[2019-01-29 18:55] akrom23 commented on #2747
So you just could give needed info and then maybe I will be able to fix it.

[2019-01-29 18:57] babno commented on #4219
Doing the fight right now on my paladin lisacuddy if you want to come as gm and watch

[2019-01-29 19:12] neheri commented on #4236
Regarding Enchanted elementals.

Under the textures, LoS, can't attack him.

![wowscrnshot_012919_195222](https://user-images.githubusercontent.com/37372869/51933680-27561c00-2402-11e9-86f6-5451c340308a.jpg)

[2019-01-29 19:37] Pieze87 commented on #2747
again that was over a month ago. it was serveral ranks of stealth and
people and mobs of same level and lesser were able to see you within 10 -15
yards.  so id start with rank 2 and 3 and go from there.

On Tue, Jan 29, 2019 at 1:55 PM akrom23 <notifications@github.com> wrote:

[2019-01-29 19:53] ttrain610 opened #4238 "[Serpentshrine Cavern] Coilfang Priestess"
Description: Coilfang Priestess should be CC'able

How it works: Currently, these mobs cannot be CC'd

How it should work: They should be able to be CC'd

Source (you should point out proofs of your report, please give us some source):
https://www.wowhead.com/npc=21220/coilfang-priestess#comments
https://wow.gamepedia.com/Coilfang_Priestess
https://wowwiki.fandom.com/wiki/Coilfang_Priestess
http:/

[2019-01-29 20:39] vakoz opened #4239 "[Hunter] [Spell] Feign Death"
Description:
When I use Feign Death it does nothing and red string "resisted" appears in the middle of the screen. You don't see animation, no "buff" effect is applied, enemies don't lose target. Cooldown is used.

How it works:
It doesn't. Bug is prob connected with this fix: https://github.com/SunwellWoW/Sunwell-TBC-Bugtracker/issues/4081

How it should work:
It worked yesterday irrc

Source (yo

[2019-01-29 21:02] neheri commented on #4210
Enchanted elementals still cause this boss to be 10x harder than it should be. There are too many of them and they go through textures, increase her damage output a lot.

The biggest problem is with the north-western spawn (1st flag), enchanted elemental almost every time falls under textures there which is huge dps drop for the raid.

![wowscrnshot_012919_210634](https://user-images.githubusercon

[2019-01-29 21:12] neheri commented on #4210
Elemental under textures:
![wowscrnshot_012919_195222](https://user-images.githubusercontent.com/37372869/51940663-eb778280-2412-11e9-8914-178e7c2a85bd.jpg)
![wowscrnshot_012919_220440](https://user-images.githubusercontent.com/37372869/51940717-106bf580-2413-11e9-8e45-0146248b495b.jpg)

[2019-01-29 21:13] akrom23 commented on #4239
It means that your target resisted your feign death.
Give me some screenshots and tell me about your level, your target's level.

[2019-01-29 21:33] Dootz commented on #4203
Hi, do you remember which quest from chain you did as last one? Do you play on Alliance or Horde side?

[2019-01-29 21:36] sodix90 commented on #4203
I was able to find it after GM teleported me to UC Horde side

Sent from Mail<https://go.microsoft.com/fwlink/?LinkId=550986> for Windows 10

________________________________
From: Chris <notifications@github.com>
Sent: Tuesday, January 29, 2019 10:33:26 PM
To: SunwellWoW/Sunwell-TBC-Bugtracker
Cc: sodix90; Comment
Subject: Re: [SunwellWoW/Sunwell-TBC-Bugtracker] Warlock Succubus quest (#4203)

Hi

[2019-01-29 21:41] Dootz commented on #3703
It will be added later when we reach patch 2.3

[2019-01-29 21:41] #3703 closed, assigned to Dootz

[2019-01-29 21:43] Dootz commented on #3607
https://github.com/SunwellWoW/Sunwell-TBC-Bugtracker/issues/1593

[2019-01-29 21:43] #3607 closed, assigned to Dootz

[2019-01-29 21:56] Dootz commented on #2361
Eternium Lockbox and Mithril Lockbox will drop something always from next update. I'll try to go over other lockboxes this week.

[2019-01-29 22:20] Ironjudgment commented on #4210
can confirm elementals getting under textures sometimes

[2019-01-29 22:24] Ironjudgment commented on #4239
It has worked fine for my hunter on Vashj. I have resisted once for every ~30 FD used.

[2019-01-30 00:11] arkatik opened #4240 "Warrior Charge or Intercept---->Shadowstep !!!"
**Description:**
_When you catch intercept use shadowstep, warrior unfolds and continues to intercept.
Repeated it for developers, because they probably didn't understand what was going on.
(I reported this a week ago)
See how it works on Sunwell._

**How it works:**
https://youtu.be/I95YVuqJXNA _(warrior intercept)_ **bug**
https://youtu.be/5JDHvt7ttIA  _(warrior charge)_ **bug**

**How it should

[2019-01-30 05:25] vakoz commented on #4239
Ohh I completly forgot to mention. It doesn't work in PvP. It's critical bug in hunter class.
My level: 70
Enemy level: 1
https://streamable.com/y3yey
Doesn't interrupt fireball casting, no target loss, no animation, no Feign Death effect applied. Also we should be able to use Feign Death without having taget. Right now if you don't have target it displays "resisted" and there is no animation / Fe

[2019-01-30 05:45] twoPlusThree commented on #1599
I can't place the markers for this quest

[2019-01-30 06:28] akrom23 commented on #4239
@vakoz It works fine.
There is a chance that your FD will be resisted.
I'll look into it

[2019-01-30 07:40] akrom23 commented on #2747
I believe it works fine now. Please, test it again.

[2019-01-30 08:10] neheri commented on #4210
In addition to everything above: one of the naga which spawned on north-eastern part of the platform did not get into combat. Just stood where he spawned and we had to pull him which cost us ~15seconds.

He should start moving immediately towards vashj, get into combat and possibly aggro one of the healers.

[2019-01-30 09:27] akrom23 commented on #4237
You should check this against low level mob with low armor (e.g. mage).
Your ranged damage is randomized and can be modified by many buffs and reduced by your target's armor.

[2019-01-30 10:43] akrom23 commented on #4237
Okay, there is an issue.

[2019-01-30 14:54] CaillouZsn commented on #4231
pls send help
https://streamable.com/zth8j

[2019-01-30 15:55] vakoz commented on #4239
Now it seems that everything is working. Good job

[2019-01-30 16:03] akrom23 commented on #4168
@zefurr Screenshots please with combat log.

[2019-01-30 16:50] akrom23 commented on #2838
Just read the tooltip:

[2019-01-30 16:50] #2838 closed, assigned to nobody

[2019-01-30 17:06] akrom23 commented on #2939
I don't see a bug here. Just tell me him to turn off his aura.
The first casted aura will be applied on group members and it's not overriden because of paladin's level.
If you cancel your improved aura then his aura is applied.

[2019-01-30 19:16] flapse32 commented on #4237
Dunno what u changed but now it just resists every single feign death i do, 20 times in a row xD

[2019-01-30 19:23] akrom23 commented on #4237
@flapse32 Not this issue.

[2019-01-30 19:38] flapse32 commented on #4239
Dunno what u changed but now it just resists every single feign death i do, 20 times in a row xD

[2019-01-30 19:49] flapse32 commented on #4239
The resist chance is alot higher then it should be, but i think the issue is if u resist one time on a boss fight u will resist every single time after that.

[2019-01-30 19:59] flapse32 commented on #4239
80% chance of resist so far, half way trough kara

[2019-01-30 20:44] MadderThenMad opened #4241 "Robe of the Elder Scribes"
Description: It has no hidden cooldown (should be 50 sec) making it completely broken (it makes it actually + 162 bsd robe considering 20% chance to hit).

How it works: As above.

How it should work:

Proc chance varies between patches but even considering 2.4 20% chance there still should be internal cooldown of 50 sec // no internal cooldown but far much lower proc chance (around 5%). Overall t

[2019-01-30 20:49] babno commented on #2939
Upon reflection I don't think me being a ret with improved sanc aura was relevant.

Let's say you as a random rogue/warrior/whatever deal 100 damage every weapon hit by yourself. Suddenly a paladin with unimproved ret aura joins the group, and now you are dealing 99 damage every weapon hit, because his sanc aura reduces your damage.

[2019-01-30 20:52] Ironjudgment commented on #4210
video of elementals getting under textures: https://youtu.be/x5ZkcPNFetY?t=3057

[2019-01-30 20:59] Ironjudgment commented on #4210
video showing being able to run with tainted core (only happened once): https://youtu.be/x5ZkcPNFetY?t=6472

[2019-01-30 22:31] #3154 closed, assigned to nobody

[2019-01-31 01:58] deftelite commented on #4219
Not sure where you dug up a video with 4 elementals.  But I ran that place a ton back in the day and it was definitely 3 elementals. All of these videos from when Burning crusade was the current Expansion: All show 3 elementals.  https://www.youtube.com/watch?v=6B518EQiyiI.  (dated 3/13/07 patch 2.0) https://www.youtube.com/watch?v=c0Un2tr1qKg. (dated 6/10/08 patch 2.4) https://www.youtube.com/wat

[2019-01-31 02:01] zanthed1 commented on #4219
In the video for proof that is clearly one of the shaman's fire elemental totems. Please don't make more changes based off of random videos you watched once.

[2019-01-31 02:03] deftelite commented on #4219
LOL, zanthed is RIGHT! ITS A FREAKEN FIRE ELE TOTEM.  it was poorly dropped and only aggroed like halfway into the fight.

[2019-01-31 02:07] deftelite commented on #4219
Zanthed is RIGHT! It is a FREAKEN FIRE ELE TOTEM in that video. It was poorly dropped and only aggroed like halfway into the fight.

[2019-01-31 02:12] Pwncakey opened #4242 "Pet Vanished from Stable"
Description:
I placed my pet into the stable, and when I went to retrieve him he was no longer there. He was level 57, Best Friend, and I have spent DAYS working with this pet to get him where he was.

How it works:
You put the pet in, and it stays in there

How it should work:
You take the pet out, and he stays by your side.

Source (you should point out proofs of your report, please give us some

[2019-01-31 02:17] zefurr opened #4243 "[Hunter] [Talent] Animal Handler"
Description:
Unequipping a riding crop removes a hunter's bonus mounted movespeed from the Animal Handler talent permanently until relog.

How it works:
Animal Handler is a beast mastery talent that gives a 4/8% mounted move speed bonus to the hunter (4% per point, 2 points max). It does not stack with other mounted movespeed bonuses.

Riding crop is a leatherworking crafted trinket that gives a 1

[2019-01-31 02:18] zefurr commented on #4243
Also might be worth looking at the paladin talent Pursuit of Justice and how it interacts with Riding Crop and Crusader Aura.

[2019-01-31 02:19] zanthed1 commented on #4233
I have also had issues with this, as well as my guildmates complaining. Will post some screenshots of recount next raid.

[2019-01-31 02:20] Devrak commented on #2493
For each level the mob is higher than you it gains 8 non-removable-mitigatable resistance to all schools of magic ( inc holy ) you could call it a game mehanic since its not affected by anything and you can not get rid of it by any means

Seal of Command is non binary type of spell as it contains no extra component so its subject to beeing partially resisted when used against pve opponents of high

[2019-01-31 02:23] zanthed1 commented on #4225
Have had this issue at Lurker as well. The fix for it currently is to release then resurrect. Inconvenient to find all the bodies but better than the alternative.

[2019-01-31 04:36] babno commented on #4219
Well I feel silly. TBH I intended only on making this about the speed bug, and looked for a video for proof. Found the video I linked, saw the 4 eles and thought "oh i guess the number is bugged too".

[2019-01-31 07:25] akrom23 commented on #2939
This aura (even unimproved) DO NOT reduce damage - I don't know what you're talking about.

[2019-01-31 07:27] akrom23 commented on #4239
@flapse32 Send some screenshots.
https://wow.gamepedia.com/Feign_Death

+Level | %Old resist | %New resist
-- | -- | --
0 | 4 | 4
1 | 5 | 5
2 | 6 | 6
3 | 37 | 17
4 | 48 | 28
5 | 59 | 39
6 | 70 | 50

Moreover,:

In dungeons, combat pulse works, so you have a lot of mobs in your hostile list.

[2019-01-31 07:30] akrom23 commented on #2493
So this report is invalid?

[2019-01-31 08:13] nickycakes commented on #3709
@Azathothh according to a comment https://www.wowhead.com/item=30719/spectrecles#comments here, they were able to be replaced at least in 2.0.6

[2019-01-31 08:42] akrom23 commented on #3797
Works fine.

W/o concentration aura on pally:
![wowscrnshot_013119_094052](https://user-images.githubusercontent.com/1035215/52042063-7f913900-253c-11e9-8ccb-23c3bc38e263.jpg)

With concentration and improved concentration aura on pally:
![wowscrnshot_013119_094140](https://user-images.githubusercontent.com/1035215/52042082-8c159180-253c-11e9-8f57-d238807f5185.jpg)

[2019-01-31 08:44] akrom23 commented on #3818
Mobs do not attack enemies if they're immune to its damage.

[2019-01-31 08:54] akrom23 commented on #3818
@lugiebob Cannot reproduce it. Divine Intervention is not applied on priest.

[2019-01-31 09:08] jrrbt opened #4244 "Mind Control in PvP"
Description:  Cant move the mind controlled target (aka enemy player)

How it works: Mind controlled target (enemy player) can't be moved or start attacking someone. You and the controlled target are just sitting at one place. If the priest casted the spell try to move the mind control is broken.

How it should work: For 8 sec we should be able to move the controlled target and to attack enemys.

[2019-01-31 09:21] #3709 closed, assigned to nobody

[2019-01-31 09:42] akrom23 commented on #4244
@jrrbt Cannot reproduce it - works fine.

[2019-01-31 11:10] flapse32 commented on #4239
Dunno how much help a screenshot would be, i dont have a addon that can show details of how many times FD resist. But its over 80% last night. And 80% is rly just waaaaay to much. Try go into kara and test Feign death on bosses and you will see what im talking about.

[2019-01-31 11:19] akrom23 commented on #4239
@flapse32 I want to know how many enemies you've got on your hostile list.
Bosses are special case - you won't drop combat with them (aggro drops as normal).

[2019-01-31 12:22] Devrak commented on #2493
Needs some additional testing as you cant see hes level in that screenshot if i have time ill test it later today

[2019-01-31 12:36] Devrak commented on #3818
I think what he means is that you can cast it on Spirit of Redemption and therefore waste the cooldown.

Paladin can only be cast Divine Intvention on an alive party/raid member and nothing else.

maybe it was a case where priest death was at the same time as Divine Intvention was cast and since priest was in transition it got applied, cant test this.

[2019-01-31 12:48] Devrak commented on #3464
It is still bugged. ( bump )

[2019-01-31 12:51] darknessangelo commented on #4136
Summoned deamons in deamon phase are not visually linked to the players as you can see at 5:00 https://www.youtube.com/watch?v=HnDQi2RCkSE&t=300s

[2019-01-31 13:16] Devrak commented on #4151
Seal of Command ( original ) proc is considered a special melee attack that is followed 0.5 sec after melee attack and can trigger weapon trinket / based procs including Windfury and also benefit from vengeance if it was applied with the melee attack that procced it the unintended consequence of this was seal twisting.

Seal of Command ( custom sunwell community edition )  has seal twisting disabl

[2019-01-31 13:57] YoshGit commented on #4242
Had this happen to me too. Can confirm it’s a bug but unfortunalty I have no useful info on root cause.

[2019-01-31 14:02] YoshGit commented on #4150
Yep can confirm there is a bug out there and GMs are unhelpful. Got a similar response

[2019-01-31 14:18] flapse32 commented on #4239
Well all the bosses has been bosses where there was only 1 mob i was hostile to (The boss)
I know that u wont drop combat, that works as intended. But the threat dosent drop cus FD will resist ALL the time. And its not a overexertion, its literally happening every single time. 99% of the time on boss fights. I think the FD resist works normal on trash mobs in kara tho. Its mostly when its a boss a

[2019-01-31 15:11] Devrak commented on #3920
To get it right since its being looked at.

SoC damage math example:

(  base melee swings damage * 0.7 + spell power bonus )  * crusade talent * vengeance buff  *  sanct aura (10% ) * imp sanct aura ( 2% ) * any other % dmg modifier like wings

SoB esample:

( base melee swings damage * 0.35  )  * crusade talent * vengeance buff  *  sanct aura (10% ) * imp sanct aura ( 2% ) * any other % dmg modi

[2019-01-31 16:05] akrom23 commented on #4239
You are sure that aggro does not drop?
Message "Resisted" is displayed also when you successful drop aggro from boss - it's a bug and I will fix it.

[2019-01-31 16:08] flapse32 commented on #4239
Oooooh , that might explain ALOT.

[2019-01-31 16:10] flapse32 commented on #4239
Diamond threat does not react to it tho, so im not sure. But i did not overaggro on any of the bosses. (Dident try to either)

[2019-01-31 16:21] akrom23 commented on #3818
Okay.

[2019-01-31 16:25] Bugadin commented on #4194
any new? @Afgann @akrom23

[2019-01-31 17:08] babno commented on #2939
It certainly isn't supposed to, though at the time of writing this bug report it did. I haven't seen it since though it's rare indeed to find people with just unimproved sanc aura.

[2019-01-31 17:09] babno commented on #3797
Did you test lockouts as well as silence?

[2019-01-31 17:12] akrom23 commented on #3797
Improved concentration aura reduces duration of these auras, not the duration of lockouts.

[2019-01-31 17:12] akrom23 commented on #2939
I tested locally and it worked fine.

[2019-01-31 17:13] babno commented on #3797
![image](https://user-images.githubusercontent.com/244626/52071707-81b1c280-2551-11e9-982b-9b99519e5d54.png)

"reduces the duration of any silence or INTERRUPT effect"

[2019-01-31 17:38] vakoz commented on #4242
I wanted to get new pet to learn abilities. I'm glad that checked out bugtracker. There are actually multiple reports on this, but I guess they contain not enough information to track the issue. How long did you have your pet in the stable? Is it possible that pet loyalty level drops in the stable and then it runs away?

[2019-01-31 17:53] Pwncakey commented on #4242
I have had this pet for a good 2-3 weeks along with my original tame when I started on the server a month+ ago and none of my pets have lost loyalty while in the stable. I do believe someone took issue with the name and instead of letting me know, they simply made my WhippedCrack vanish.

[2019-01-31 18:10] MiekZer opened #4245 "API function to get mob armor/resistance not working"
Hello,
On your server when we request for mob armor / resistance the function sends 0 so we cannot control mob armor/resistance. Not blizzlike. Is it intended or not?
It works only when we check for ourself.
It would be useful to have access to these informations in order to check many objects and spells if they are working as intended (items/spells that decrease armor/resistance)

The following m

[2019-01-31 18:11] akrom23 commented on #3797
Alright - you are right :)

[2019-01-31 19:47] efsien opened #4246 "[core] Fall damage Thousand Needles"
Description: When you go across the sign there is a fall damage error. cords about 17x21

How it works: when you are near the sign you died. in combat log it is visible the fall damage taken.

How it should work: there should be no impact because of sign

Source (you should point out proofs of your report, please give us some source):
![wowscrnshot_013119_203851](https://user-images.githubusercont

[2019-01-31 19:57] #3338 closed, assigned to Dootz

[2019-01-31 20:03] flapse32 commented on #4239
Hmmm wierd, im in ssc and it appears its normal . works perfect atm.
In kara yesterday it was just totally fucked.

[2019-01-31 20:19] akrom23 commented on #4239
Because I fixed it ;)

[2019-01-31 20:19] #4239 closed, assigned to akrom23

[2019-01-31 20:23] roguestep16 opened #4247 "Combat bug on Vampiric Embrace"
Description: If ur Vampiric Embrace heals party member wich are infight, it keeps u also infight
especially in arena its a kinda crazy bug because i have to skip my tier 5 talent or just cant drink.

How it works:

look the text up :D
How it should work:
u should get out of combat after a few secons when not doin any action.. like every1 else..
i

Source (you should point out proofs of your report

[2019-01-31 20:40] Pikseh opened #4248 "Spiritual Attunement not restoring mana from HoTs"
Description: The passive ability Spiritual Attunement restores mana to the paladin whenever he or she recieves healing from another player that is not overhealing (so only actual healing) equal to 10% of the amount healed. However, this does not work with healing over time components like Lifebloom, Renew, Rejuvenation and the HoT part of Regrowth.

How it works: You receive 10% of actual healing

[2019-01-31 21:02] nickycakes commented on #4242
yeah lost a pet to this as well #4150

[2019-01-31 22:11] #3672 closed, assigned to akrom23

[2019-01-31 22:11] #3712 closed, assigned to Dootz

[2019-01-31 22:11] #3802 closed, assigned to Dootz

[2019-01-31 22:11] #3818 closed, assigned to akrom23

[2019-01-31 22:11] #3885 closed, assigned to akrom23

[2019-01-31 22:11] #3919 closed, assigned to akrom23

[2019-01-31 22:11] #3920 closed, assigned to akrom23

[2019-01-31 22:11] #4235 closed, assigned to Afgann

[2019-01-31 22:11] #4236 closed, assigned to Afgann

[2019-01-31 22:11] #4237 closed, assigned to akrom23

[2019-01-31 22:11] #4238 closed, assigned to Afgann

[2019-01-31 22:39] flapse32 commented on #3762
Close this one please :D

[2019-01-31 22:40] flapse32 commented on #4239
Ur a legend mate!

[2019-01-31 23:05] babno commented on #4248
May be related to the fix that was implemented for #4090

take care not to break direct heals again please :P

[2019-01-31 23:14] Saiie opened #4249 "AV drek reset"
Description:
Drek in AV just randomly resets to full hp, adds around him doing the same. Sometimes impossible for aliance to win AV.

How it works:

How it should work:

Source (you should point out proofs of your report, please give us some source):

[2019-02-01 06:58] #3762 closed, assigned to nobody

[2019-02-01 13:01] Moobe123 commented on #4147
Still not fixed btw. Got 2x WF procs on autoatk yesterday.

[2019-02-01 14:49] maseta9 opened #4250 "Aldor quests not available after switch from scryers"
Description:

How it works:

How it should work:

Source (you should point out proofs of your report, please give us some source):

[2019-02-01 14:49] #4250 closed, assigned to nobody

[2019-02-01 14:55] maseta9 opened #4251 "Aldor quests not available after switch from Scryers"
Description: I just went through a long process of switching from Scryers to Aldor by turning in Dreadfang Venom Sacs, went up from 23k hated and down in scryers from halfway honored. When I got to neutral with Aldor the quest for the sacs became unavailable, which is the normal thing to happen, but when I went up to the Aldor's rise I found there were absolutely no quests available for me there,

[2019-02-01 15:04] #4251 closed, assigned to nobody

[2019-02-01 19:12] blackabbath opened #4252 "Netherwing Mines absolutely empty"
Description:
Netherwing Mines which are located at Netherwing Lodge are empty.  I came for hunter's pet ravager 70 lvl but no - there are only winds, **zero of living entities....**

How it works:

How it should work:

Source (you should point out proofs of your report, please give us some source):
have no any proves, but i'm not sure blizz did any totally empty location.

[2019-02-01 19:20] akrom23 commented on #4141
From the link in first post.

[2019-02-01 19:22] zmthc93 commented on #4029
hi, the proof is that it says 'Interruption' effect,
if it was only meant for silence effect this word would not be included in the tooltip

[2019-02-01 19:23] zmthc93 commented on #4029
but I can tell you that it reduced lockout time on live, will find proof now

[2019-02-01 20:15] akrom23 commented on #4029
Not needed - should be fixed.

[2019-02-01 20:45] ppach commented on #4223
Happened for a third time.

[2019-02-01 20:55] Woosty commented on #1850
^^^ Two months later and no fix to gear that is supposed to be bis for multiple classes

[2019-02-01 21:22] zmthc93 commented on #4252
netherwing shill confirmed

[2019-02-01 21:28] zmthc93 commented on #4029
many thanks keep up the good work!

[2019-02-01 22:45] Pikseh commented on #4252
This should not be implemented before the release of Black Temple iirc.

[2019-02-01 23:17] MadderThenMad commented on #3884
Got it today after taking the mine

[2019-02-02 02:44] Devrak commented on #2493
I do not get any partial resists on mobs of lower level can close this and #2601

[2019-02-02 04:37] chme3921 commented on #4141
you just made it worse, im doing quadruple threat and pulling on Curator now

[2019-02-02 06:43] fr0nze opened #4253 "Seal of blood don't attack"
Description:
seal of blood don't attack ALL melee attack

How it works:
the description says that, seel of blood has to beat each Millie attack ,but since yesterday he began to pass Millie atki Crusader strike working time through time. would you like to know what happened ?!

How it should work:
All melee attacks deal additional Holy damage equal to 40% of normal weapon damage, but the Paladin lo

[2019-02-02 06:53] akrom23 commented on #4141
It's not live yet @chme3921

[2019-02-02 06:54] #2493 closed, assigned to nobody

[2019-02-02 06:54] #2601 closed, assigned to nobody

[2019-02-02 06:58] akrom23 commented on #4253
#3919
@fr0nze  As stated there, Seal of Blood should not proc from Crusader Strike?

http://forum.warmane.com/showthread.php?t=359651&p=2832880&viewfull=1#post2832880

Also, maybe you missed/dodged melee attack?

[2019-02-02 07:41] MVMnn commented on #2601
This issue is not about soc, cmon. Consecration for example or retri aura can be partially resisted which is NOT correct.

[2019-02-02 07:44] akrom23 commented on #2601
Mobs can resist holy.
https://github.com/SunwellWoW/Sunwell-TBC-Bugtracker/issues/2493#issuecomment-458520315
Send some pics.

[2019-02-02 11:38] MiekZer opened #4254 "Questions to dev about healers threat"
Can you give the source where you've read that healers should be unable to generate threat on cc'd targets?

Also, is healing (minus overheal) threat is actually splited by the number of mobs in the fight? Including temporary adds spawning.
Let's say there are 3 mobs, then every heals threat should be divided by 3 and then applied to the 3 mobs.
Let's say Curator is spawning an add, then heals sho

[2019-02-02 11:49] akrom23 commented on #4254
https://vanilla-twinhead.twinstar.cz/?issue=7652
https://github.com/ccshiro/corecraft/blob/master/server/src/game/HostileRefManager.cpp#L56
Threat is splited.
This is not forum.

[2019-02-02 11:49] #4254 closed, assigned to nobody

[2019-02-02 12:56] #4252 closed, assigned to nobody

[2019-02-02 12:58] #2715 closed, assigned to Dootz

[2019-02-02 12:58] #3118 closed, assigned to Dootz

[2019-02-02 12:58] #3504 closed, assigned to Dootz

[2019-02-02 12:58] #3797 closed, assigned to akrom23

[2019-02-02 12:58] #4006 closed, assigned to akrom23

[2019-02-02 12:58] #4029 closed, assigned to akrom23

[2019-02-02 13:22] Kiszh commented on #3965
This bug is so absurdly gamebreaking, it's documented and it's been a month while quest RP scripts are being fixed. Please fix it.

[2019-02-02 14:35] ventuzor opened #4255 "Escape artist"
Description:
Escape artist doesn't remove all slow and immobilize affect, sometimes it doesn't remove druid's roots, rogue's slow

[2019-02-02 15:45] firngrod commented on #4255
I encourage you to look into the following articles:

https://wow.gamepedia.com/index.php?title=Escape_Artist&oldid=1588354
https://wow.gamepedia.com/index.php?title=Vile_Poisons&oldid=1375456
https://wow.gamepedia.com/index.php?title=Subtlety_(druid_talent)&oldid=1373730

TL;DR:
Escape Artist is a dispell attempt.  Specifically druids and rogues have talents to give their buffs/debuffs a chance t

[2019-02-02 17:12] bamam opened #4256 "Steam-tonk bug caused pet to get abandoned"
Description:

I was in a dungeon and before the final boss, I thought it would be fun to whip out my steam tonk controller and whizz around the party. However this got me stuck inside the tank. Dismissing did not work, and since I play a hunter I got the "Abandon" option aswell on the tooltip of the tank. Since dismissing and /Reload didn't work, I gave abandon a shot. However upon relogging I fou

[2019-02-02 17:52] YoshGit opened #4257 "Different Ranks Of ISB Stack (40% Bonus Damage Exploit)"
Description: Different ranks of warlock talent Improved Shadow Bolt stack, resulting in insane unblizzlike dps.

How it works: Different ranks of ISB stack.

How it should work: Only the highest rank of ISB should remain on the target and lower ranks should be overwritten by higher ranks.

Source (you should point out proofs of your report, please give us some source):

[2019-02-02 18:29] lordazurescens opened #4258 "Tempest Keep [Void Reaver] [Bleeds] Video Proof."
Description: Void Reaver is bleed immune. He should not be.

How it works:
Void Reaver is immune to bleed at the moment

How it should work: You should be able to bleed him. Proof below from retail.

Source (you should point out proofs of your report, please give us some source):
https://www.youtube.com/watch?v=HpUR4fvATeo Look at target during fight. He has bleeds on him.

[2019-02-02 18:50] lordazurescens opened #4259 "Tempest Keep - Trash - Whirlwind."
Description: The trash mobs that whirlwind in Tmpest Keep. are not working properly, Bloodwarder Legionnaire and marshal.

How it works:
They whirlwind without animation more often than not.

How it should work:
There should be a visible WW animation and delay before you take damage. Allowing you to run out or stun interrupt, The marshals whirlwind should also be a channel visible on cast bar

Sou

[2019-02-02 19:51] arkatik commented on #3724
is nobody going to do anything about it?

[2019-02-02 20:36] arkatik opened #4260 "Hunter / Warlock Pets HP"
Description:
I know that was written about this, but developers didn't do anything. Hunters pets have way too much HP!!!

How it works:
On Sunwell hunters pets have 9-10k hp unbuff.
Pls watch screen, 68 lvl pet have 9k hp
![wowscrnshot_020219_222602](https://user-images.githubusercontent.com/45844525/52168984-fe06fa00-2739-11e9-9ccc-0c9ab6cbfcd0.jpg)

How it should work: moovies from retail, pet h

[2019-02-02 21:24] lordazurescens opened #4261 "[Rogue Talent] Surprise Attacks still broken."
Description:
Finishers are still being dodged. with Surprise attacks taken

How it works:
Finishers are still being dodged. with Surprise attacks taken

How it should work:
Mobs should not be able to dodge finishers. when you have surprise attacks.

Source (you should point out proofs of your report, please give us some source):
i never get a chance to take picture because its always in raid. seem

[2019-02-02 22:11] notsofamous commented on #4258
Patch 2.4: Non-corporeal Undead and Mechanical creatures are now susceptible to bleed effects.
https://wowwiki.fandom.com/wiki/Patch_2.4.0

Boss is in a pre nerf state.

[2019-02-02 22:12] recreantus opened #4262 "Druid's "Cower" doesn't work properly"
Description:
Cower is supposed to be a Feral Druid's best friend. It should reduce threat by a large amount, but here it does next to nothing. Spamming it every cooldown 7 or 8 times in a row still doesn't do anything. It's all just a big DPS loss. So instead what you're left with is waiting 20 seconds into the pull to start attacking and then towards the end of the fight completely stop attacking

[2019-02-02 22:50] zanthed1 commented on #4233
https://gyazo.com/f4e884682ed4aab36e9f9d4866bf69ca
https://gyazo.com/feaae860e56c1273a988379cb6214908
https://gyazo.com/213edaa17f88dad6a193968d65ecd665
I have 9% hit with talents, 3.96% from gear, and 3% from Totem of Wrath at all times. Expected resist is 1.04% but consistently being around 3% is not a coincidence.
https://gyazo.com/b8088e867482f1dd1ec24048067285be
Screenshot from a warlock in o

[2019-02-02 22:52] Popmycherrybug commented on #4206
This is still happening ! Here is proof, happened 2-3 days ago.

https://youtu.be/h9AlKcwgeMM Please try to fix this, devs, please. It's SUPER annoying.

[2019-02-02 22:54] zanthed1 commented on #4262
Cower is only supposed to drop 1170 threat, which is not much. Not sure if it is not reducing it at all, or just less than you would have expected. http://db.hellfire-tbc.com/?spell=27004

[2019-02-02 22:56] zanthed1 commented on #4244
This problem can occur when the target is feared and you Mind control them. You do not regain control after fear in that case - that should be able to be reproduced easily.

[2019-02-03 00:30] Aikamz commented on #227
![image](https://user-images.githubusercontent.com/20050120/52170901-83e76d00-275b-11e9-8a63-3b4c1c9e5530.png)
Does this look like normal melee attack range?

[2019-02-03 02:24] lordazurescens opened #4263 "[Druid] Force of Nature"
Description: Druids Treants do not attack Yellow named mobs. they refuse to attack them even if you are.
Doesn't matter if you cast after or before you initiate combat.

How it works:
The Treants don't see to want to attack any neutral [yellow colored name] mobs.

How it should work:
They should attack your target. when you are in combat. till either it dies or the treants die.

Source (you should

[2019-02-03 03:37] Splinterskul commented on #3867
It also doesnt specify how much armor you are ignoring of your target which needs to be fixed too, if it is infact ignoring any armor that is. I really like playing a subtlety spec rogue, but this needs to be fixed please. :)

[2019-02-03 04:38] Splinterskul opened #4264 "Transmute: Mithril to Truesilver 20 hour cooldown!! Really!!? :O"
Description:
Hey, I just went into a huge amount of trouble getting my lvl 35 alchemist to learn the Transmute Mithril to Truesilver ability. Only to find that after finally collecting all required to do so it has a 20 hour cooldown! :O I mean thats a little bit excessive dont you think? can you please do something to shorten the cooldown time to maybe 2mins at most, this is highly inconvienient.

[2019-02-03 05:03] Lichbait commented on #4233
[https://imgur.com/7I7Hih2](url)

61 shadowbolts and 5 resists with 13%+totem of wrath is statistically impossible if wrath is working.

[2019-02-03 06:00] polididly opened #4265 "Heeding the Call Druid Questline"
Description: I died on the quest Body and heart and the cenarion lunardust disappeared from my bag so i abandoned the quest and now the first quest (Heeding the call) is gone and i cant continue forward with the bear questline

How it works:

How it should work:

Source (you should point out proofs of your report, please give us some source):

[2019-02-03 06:42] #4258 closed, assigned to nobody

[2019-02-03 06:43] akrom23 commented on #4263
#4064

[2019-02-03 06:43] #4263 closed, assigned to nobody

[2019-02-03 06:44] akrom23 commented on #4264
https://wow.gamepedia.com/Transmute:_Mithril_to_Truesilver

[2019-02-03 06:44] #4264 closed, assigned to nobody

[2019-02-03 06:50] #4255 closed, assigned to nobody

[2019-02-03 07:31] akrom23 commented on #4262
Just tested and worked.
@recreantus Send some pics.

[2019-02-03 07:58] #1193 closed

[2019-02-03 09:57] Alkimor commented on #334
[Explosive Sheep] Engineering - Not work! Once item is used nothing happens!

[2019-02-03 12:30] Atrecom commented on #4151
As far as I played paladin here, i`ve got SoC proc from WF, not reversed:
SO it looked like:
 AA+SoC + (WF+SoC).
Oneshotted that shaman...ouch :D

[2019-02-03 12:50] bakfull opened #4266 "Warrior - Offhand damage modifier -"
Description:
Offhand white swings does not seem to get the ap/talent damage modifier since in getting below hundred swings with my latros offhand

How it works:
Supposed to modify my damage. im getting the same white hits with gear as i am without

How it should work:
Supposed to modify my damage. im getting the same white hits with gear as i am without

Source (you should point out proofs of your

[2019-02-03 14:33] akrom23 commented on #4266
Can't confirm.
@bakfull Send some pics with your melee/general stats and combat log.

[2019-02-03 15:00] akrom23 commented on #1915
I believe that works good - should play these sounds on attack and cast spell - not hit.

[2019-02-03 15:00] #1915 closed

[2019-02-03 16:18] mgperera opened #4267 "Darkmoon card crusade spell power stacks"
Description: So darkmoon crusade is supposed to give 1 stack from spell and bonus from effects, such as ignite or the scorch debuff, and it gives 1x per mob hit from area of effect spells, i.e: arcane explosions / consecration 8 mobs you get fully stacked spell power buff. But consecration is giving 0 stacks.
Something "similar" is happening with other spells, such as when i judge Crusader or Wisd

[2019-02-03 17:48] Atrecom opened #4268 "[PALADIN] Seal of Justice doesnt remove bonus from druid"
Description: Seal of Justice doesnt remove bonus from druid`s water form

How it works:

How it should work: Should remove bonus

Source (you should point out proofs of your report, please give us some source):
cant. thx

[2019-02-03 20:53] lordazurescens commented on #3464
Still bugged and rewriting each other

[2019-02-03 21:05] CajunGeometer opened #4269 "The Only Cure is More Green Glow"
Description: 2nd quest in a chain - supposed to kill oozes etc in Gnomeregan and collect green slime using item

How it works:
Item doesn't work

How it should work:
Normally this takes 1-2 tries I killed everything and never got it.

Source (you should point out proofs of your report, please give us some source):

[2019-02-03 21:19] nogi1 commented on #3689
also it makes impossible to use properly addons like WebDKP or DBM, because i cant whisp more than 2 ppl

[2019-02-03 22:16] RPAncap commented on #4194
Can confirm this still happens. Could you guys fix this ... it is pretty important thing - as looting target dummies is one of the main ways of getting Fused Wiring which is required to make Repair Bots (as the TBC ones are not avaliable in this patch).

[2019-02-03 22:53] CajunGeometer commented on #4269
quest works fine - you have to gather from the living oozes

[2019-02-03 23:33] #4225 closed, assigned to nobody

[2019-02-04 02:11] MadderThenMad opened #4270 "Chat Flood Protection"
Description: Chat Flood protection working in groups/raids/guilds

How it works:
Chat Flood protection prevents people from posting more then 3 messages really fast in those chats. I understand general purpose of that feature but really I don't need protection from my partymates/guildmates.  This makes macro assigment to tasks extra annoing also prevents people from printing recount death logs/dps

[2019-02-04 02:35] baade123 commented on #4270
++++++++++++

[2019-02-04 02:36] baade123 commented on #4270
upvote

[2019-02-04 02:36] grand-lotus-iroh commented on #3724
server is junk @arkatik - move onto Netherwing. you won't regret it...

[2019-02-04 02:37] baade123 commented on #4268
i dont know about this but if you're going to be fixing justice plz make it work properly vs feared targets... you will notice it says "immune to fear effects" or whatever but if you get feared, you get feared.

[2019-02-04 02:41] baade123 commented on #4249
Balinda is totally bugged out doing resets constantly and also drek hits like a wet noodle even with towers up still..... complete bogus. joke.

[2019-02-04 02:52] BobjaneTmart opened #4271 "Chat flood protection"
INCREASE FROM 4 LINES, IN PARTY / RAID / GUILD PLEASE.

Simple things such as a macro needed for raids / guilds makes it difficult with only 4 lines...

FOR EXAMPLE.  the slacker(Tells you whos not buffed with what) Addon. In a casual guild with raiding,  this addon is REALLY important to keep on top of everyone....

Recount.... Comparing everyones DPS / HPS / Interrupts, etc . once again REALLY i

[2019-02-04 02:52] BobjaneTmart commented on #4270
INCREASE FROM 4 LINES, IN PARTY / RAID / GUILD PLEASE.
Simple things such as a macro needed for raids / guilds makes it difficult with only 4 lines...
FOR EXAMPLE. the slacker(Tells you whos not buffed with what) Addon. In a casual guild with raiding, this addon is REALLY important to keep on top of everyone....
Recount.... Comparing everyones DPS / HPS / Interrupts, etc . once again REALLY import

[2019-02-04 02:54] BobjaneTmart opened #4272 "Priest mind control"
Description:
casting mind control on a mob. and having no "unique moves" from said mob.

How it should work:
When MC on a mob. there should be UNIQUE spells to use. THEY all only have auto attack.

Source (you should point out proofs of your report, please give us some source): wowhead or Google

[2019-02-04 02:59] BobjaneTmart commented on #4233
Hmm, with my resists. its usually like 3-5 resists in a row in a boss fight, (hit capped with shaman totem).  andi  pray it doesn't happen again but sometimes does? Like literally Cast Vampiric Touch, SwP - resist , SwP resist, SwP Resist, SwP resist ...... Always 3-5 resists in a row for my self as a priest, and my other guild mate has the same.

[2019-02-04 06:46] akrom23 commented on #4272
@BobjaneTmart What mob?

[2019-02-04 06:57] #2447 closed, assigned to nobody

[2019-02-04 08:26] neheri commented on #4235
After yesterday kill I can confirm that

Now works:

- [x] - His knockback hits target - fixed
- [x] - He cannot be drained or burned - fixed
- [x] - He does poundings in more regular manner - fixed

Still doesn't work:

- [ ] - He sometimes does only 1 or 2 poundings instead of 3 every time

Boss is now a lot more challenging and working well, if you fix pounding it will be working as it should.

[2019-02-04 08:40] akrom23 commented on #4268
@baade123 Make a separate report.
EDIT: Reopened #3159

[2019-02-04 08:44] neheri opened #4273 "[NPC] Crystalcore Devastator"
Description: They deal physical damage (10k+) and then suddenly start to deal only arcane damage which cannot be mitigated by armor and one shots any tank.

They should cast a buff on themselves "Countercharge" which works to similar to one casting by robots in mechanar. They should deal their normal melee damage and additional 1.5k arcane energy.

At the moment he deals 25k+ damage per hit which

[2019-02-04 08:49] neheri opened #4274 "[Item] Darkmoon Card: Crusade"
Description: AOE spell hits doesn't proc the card properly.

How it works: Each Seed destroyed, even with 10 targets hit, grants only 1 stack.

How it should work: The card should grant a lot of stacks with most spells. Not only aoe but also 2 stacks with scorch, a stack with each arcane missile fired and so on.

There should be a stack granted per mob hit by default and a list of spells excluded

[2019-02-04 09:09] akrom23 commented on #4274
#4267

[2019-02-04 11:38] akrom23 commented on #4267
@mgperera Do you have any proof that Consecration should proc?

[2019-02-04 11:53] mgperera commented on #4267
Other than personal experience and the top voted comments on wowhead, not right now sorry, I'll do some more searching and testing.

[2019-02-04 12:00] akrom23 commented on #4267
@mgperera Not needed anymore.

[2019-02-04 12:52] MiekZer commented on #4099
According to wiki this 2part does not generate threat.

[2019-02-04 13:11] mgperera commented on #4267
Hey mr. akrom, just a piece that i forgot to point out is that meele attacks from a paladin that refresh a seal also gives an spell power stack since it's the refreshing of a spell debuff on target.

Seal of Command will also proc both stacks. Nothing else about the trinket appears to have changed.
Edit: A slight correction, this new effect appears to only work when one of your Judgements is on th

[2019-02-04 14:20] nimeral commented on #4262
https://wowwiki.fandom.com/wiki/Cower_(druid_ability)?oldid=995760 1170 indeed

[2019-02-04 17:20] #4269 closed, assigned to nobody

[2019-02-04 18:08] akrom23 commented on #2096
@Jseay1313 @ujellyx @pleasse I need to know exaclty what pets make problems here.
Remember that pets inherit player's speed.
Maybe got some auras/buff/talent from hunter?
Bestial Swiftness adds 30%.

[2019-02-04 21:28] nogi1 commented on #3386
bump

[2019-02-04 21:44] akrom23 commented on #2096
Seems to work fine.
When pet is not in combat - it shares the speed of the owner.
When pet is in combat - apply all its modifiers.
Default pet speed rate is 1.15. 30% extra from Bestial Swiftness:
1.15 * 1.30 = 1.495 - means 50% higher speed.

[2019-02-04 21:44] #2096 closed

[2019-02-04 21:45] #1238 closed

[2019-02-04 21:45] #1306 closed

[2019-02-04 21:45] #1889 closed

[2019-02-04 21:45] #3397 closed, assigned to Dootz

[2019-02-04 21:45] #4026 closed, assigned to akrom23

[2019-02-04 21:45] #4113 closed, assigned to akrom23

[2019-02-04 21:45] #4141 closed, assigned to akrom23

[2019-02-04 21:45] #4248 closed, assigned to akrom23

[2019-02-04 21:45] #4257 closed, assigned to akrom23

[2019-02-04 21:45] #4259 closed, assigned to Dootz

[2019-02-05 06:42] Euphx commented on #1850
On behalf of all shadow priests, please prioritise fixing the issue with the set bonus. It's a noticeable DPS loss as it cannot proc via Mind Flay & other channelled spells.

[2019-02-05 06:56] akrom23 commented on #2097
Works fine.

[2019-02-05 06:56] #2097 closed

[2019-02-05 07:20] Cherryxo commented on #4249
[#4062](https://github.com/SunwellWoW/Sunwell-TBC-Bugtracker/issues/4062)

[2019-02-05 07:45] akrom23 commented on #2142
You're losing happiness points every 10 sec by 1125 points per hour (loyalty level: Rebelious).
Every death, you're losing 333 happiness points. If less than 333 points, your pet is unhappy.
If you tame a new pet, you got a basic 1050 happiness points. It means you're gonna lose your pet in 56 min if not fed.

[2019-02-05 07:56] akrom23 commented on #2162
Cannot reproduce.

[2019-02-05 07:56] #2162 closed, assigned to nobody

[2019-02-05 07:57] akrom23 commented on #2215
@Dollparts Show some proofs, because I don't know what are talking about.
Also, show me the macro.

[2019-02-05 08:33] akrom23 commented on #2228
Cannot reproduce it.

[2019-02-05 08:33] #2228 closed, assigned to nobody

[2019-02-05 08:33] BanditOMG commented on #3386
So for the folks who couldn't be assed to wait for this fix... What have you done to level lockpicking otherwise? Thought the Worn Junkboxes were supposed to be skill 90 but they appear as 70 and this climb from 70 to 175 is looking really... *Really* rough

[2019-02-05 08:33] #2299 closed, assigned to nobody

[2019-02-05 08:34] #2342 closed, assigned to nobody

[2019-02-05 08:42] nogi1 commented on #3386
well there are supposed to be footlockers with really short respawns but those are bugged as well, they got few hours of respawn. There are more bugs related to pickpocket but none of them was fixed.

[2019-02-05 08:42] akrom23 commented on #2694
Cannot reproduce it.

[2019-02-05 08:42] #2694 closed, assigned to nobody

[2019-02-05 08:43] akrom23 commented on #2562
No reponse.

[2019-02-05 08:43] #2562 closed, assigned to akrom23

[2019-02-05 08:43] akrom23 commented on #2359
Cannot reproduce it.

[2019-02-05 08:43] #2359 closed, assigned to nobody

[2019-02-05 08:45] akrom23 commented on #2428
@Butterfly1298 Got some screenshots?

[2019-02-05 08:48] #2467 closed, assigned to nobody

[2019-02-05 08:59] akrom23 commented on #2471
Cannot reproduce it.

[2019-02-05 08:59] #2471 closed, assigned to nobody

[2019-02-05 09:09] akrom23 commented on #2520
Just relog and open again Beast Training.

[2019-02-05 09:09] #2520 closed, assigned to nobody

[2019-02-05 09:14] akrom23 commented on #2550
Works fine.

[2019-02-05 09:14] #2550 closed, assigned to nobody

[2019-02-05 09:20] #2626 closed, assigned to nobody

[2019-02-05 09:23] leeroymk opened #4275 "[priest] spirit tap"
Description:
5/5 spirit tap does not give mana regeneration in 100% of cases after killing mobs and gaining experience when playing in a group

How it works:
works correctly in 1v1 combat, sometimes activated when killing multiple NPCs, not 100% of the time

How it should work:
must be activated after killing every NPC for whom the experience or honor

Source (you should point out proofs of your r

[2019-02-05 09:31] leeroymk opened #4276 "[warlock] Curse of Recklessness"
Description:
can cast on player first Curse of Recklessness, then fear. the target continues to run in fear
Curse of Recklessness does not activate the mode of immunity to the effect of fear.

How it works:
Curse of Recklessness does not activate the mode of immunity to the effect of fear

How it should work:
the target should be immune to fear.

Source (you should point out proofs of your report,

[2019-02-05 09:42] akrom23 commented on #4276
Nope. Target should not be immuned to fear, but can move/cast spells.

[2019-02-05 09:55] firngrod commented on #4275
According to wiki articles about the talent during TBC, the priest needs to get the killing blow on the mobs for this talent to take effect.  Group play is explicitly mentioned in this regard.  Would this account for what you are seeing?

https://wow.gamepedia.com/index.php?title=Spirit_Tap&oldid=1432198

[2019-02-05 10:47] BanditOMG commented on #3386
I found a fix that is currently working for me on the Gallywix box:

If you pick the box, then strafe away from it back to the far end of the stairs, it will respawn both quickly *and* pickable again. I'm spamming the f*** out of it right now before y'all come flood to it and grind because it's working. If the box comes back open, just relog and repeat process again.

[2019-02-05 10:52] BanditOMG commented on #2382
I found a fix that is currently working for me on the Gallywix box:

If you pick the box, then strafe away from it back to the far end of the stairs, it will respawn both quickly _and_ pickable again. I'm spamming the f*** out of it right now before y'all come flood to it and grind because it's working. If the box comes back open, just relog and repeat process again.

[2019-02-05 10:52] BanditOMG commented on #2220
I found a fix that is currently working for me on the Gallywix box:

If you pick the box, then strafe away from it back to the far end of the stairs, it will respawn both quickly _and_ pickable again. I'm spamming the f*** out of it right now before y'all come flood to it and grind because it's working. If the box comes back open, just relog and repeat process again.

[2019-02-05 12:03] Bugadin commented on #4232
In addition, rogues get stucked when they use shadowstep sometimes. Then, you stay stucked until you restart the game. I have no idea about why it happens.

[2019-02-05 12:12] mgperera opened #4277 "Stratholme"
Description: Almost every undead in stratholme (and plaguelands for that matter) have their loot tables kinda messed up. All minions will drop scourgestone, which are only supposed to drop with the argent crusade trinket.
Beside that, the mobs at start also drop the ever annoying Scarlet Cannonball, which is supposed to be picked up from the Cannonner Master Willy room, but i drops of the undead,

[2019-02-05 13:13] akrom23 commented on #4249
@Saiie @baade123 @Cherryxo Happens only if adds around him are alive?

[2019-02-05 14:50] #3302 closed, assigned to nobody

[2019-02-05 15:27] akrom23 commented on #3604
https://github.com/SunwellWoW/Sunwell-TBC-Bugtracker/issues/2142#issuecomment-460542394

I need more info about that - how to reproduce it.

[2019-02-05 15:50] akrom23 commented on #3681
@Therip22 Could you re-upload?
@Fladomir Got some screenshots?

[2019-02-05 16:13] #1989 closed

[2019-02-05 16:13] #2067 closed

[2019-02-05 16:13] #2771 closed, assigned to akrom23

[2019-02-05 16:13] #3159 closed

[2019-02-05 16:13] #3699 closed, assigned to akrom23

[2019-02-05 16:13] #3755 closed, assigned to akrom23

[2019-02-05 16:13] #4150 closed, assigned to akrom23

[2019-02-05 16:13] #4242 closed, assigned to akrom23

[2019-02-05 16:13] #4267 closed, assigned to akrom23

[2019-02-05 16:13] #4268 closed, assigned to akrom23

[2019-02-05 16:13] #4274 closed, assigned to akrom23

[2019-02-05 16:13] #4276 closed, assigned to akrom23

[2019-02-05 16:28] akrom23 commented on #3702
@kinghunterx Got some screenshots?

[2019-02-05 16:28] akrom23 commented on #3702
#3604
#3681

[2019-02-05 16:35] kinghunterx commented on #3702
XD 2 months late nice developer, ye heres the ss: https://cdn.discordapp.com/attachments/357996396575588352/540656262757613608/video-1538732358.mp4

[2019-02-05 17:33] Azathothh commented on #4271
https://github.com/SunwellWoW/Sunwell-TBC-Bugtracker/issues/4270

[2019-02-05 17:33] #4271 closed, assigned to nobody

[2019-02-05 19:22] Raimzz opened #4278 "Viper Sting simply doesn't work"
Description: **Viper Sting** (mine currently Rank 2) doens't give any mana when used on mobs(who also have mana) not sure about PvP.

How it works: **It doesn't work** xd
![wowscrnshot_020519_203030](https://user-images.githubusercontent.com/47364987/52298375-7fa19680-298b-11e9-9c61-2174ed227bfc.jpg)
![wowscrnshot_020519_203032](https://user-images.githubusercontent.com/47364987/52298376-803a2d00-

[2019-02-05 19:57] #3056 closed, assigned to Dootz

[2019-02-05 20:02] #2993 closed, assigned to Dootz

[2019-02-05 20:27] akrom23 commented on #4278
More info here:
#3922.

[2019-02-05 20:27] #4278 closed, assigned to nobody

[2019-02-05 23:47] zefurr opened #4279 "[Hunter][Pet] Kill Command not working without pet target (again?)"
Description:
Kill command isn't doing damage when pet has no target.

This seems to have been brought up previously but was resolved? #1604

How it works:
Kill command isn't doing damage when pet has no target.

How it should work:
When pet has no target the Hunter's target should be hit by Kill Command

Source (you should point out proofs of your report, please give us some source):
https://www.y

[2019-02-06 00:34] Pwncakey commented on #4242
Fix implemented but as for us getting our pets back we're just fucked?

[2019-02-06 01:00] peteyo opened #4280 "Gas clouds in Nagrand are broken as of 14 hours ago"
Description:
The gas clouds in Nagrand are no longer working as intended as of earlier this morning Feb 5th 2019. They were working fine up until 10 am server this morning and sometime between now and then a change was implemented on the server which inadvertently messed up how the gas clouds are functioning both in terms of their spawning and their patrolling.

How it works:
Right now there are 1

[2019-02-06 01:27] #3936 closed, assigned to nobody

[2019-02-06 02:23] lordazurescens commented on #4280
Tested a spawn for 1hour 30mins definitely are not working like they use too.

there is also a few in locations unreachable.

[2019-02-06 02:29] Diobloxx commented on #4280
Waited for an hour at a spawn point. Confirmed they are not working as intended

[2019-02-06 04:12] Devrak commented on #4280
There should be more than 12 spawns and exact 45 min timer does not seem blizzlike I think this needs alot more research

[2019-02-06 08:29] alexnxs commented on #4219
There should be 3 elementals, they should move half of the speed they do now. The hellfire also does twice the damage it should be doing. You can see in multiple videos posted the aoe should do about 1500 damage a tick, instead of 3000.

[2019-02-06 08:43] akrom23 commented on #3718
Works fine.
@primeropein Send screenshots.

[2019-02-06 08:49] akrom23 commented on #3880
18 sec - The 5th stack applied.
29 sec - The 1. stack applied, because the last Scorpid Poison removed (10 sec duration).
There is no bug.

[2019-02-06 08:49] #3880 closed, assigned to nobody

[2019-02-06 09:50] Lusha12 opened #4281 "Zuluhed the Whacked"
Description:

How it works: doesnt work

How it should work:

Source (you should point out proofs of your report, please give us some source):

[2019-02-06 09:56] mchayes commented on #4280
It's seems much more likely that a fixated location and spawnrate is a private server thing. Blizzard made much more use of a randomized spawn inside of a node-hub.
So you'd have a hub of lets say 5 spawn nodes, but it'd only be able to spawn in 1 of 5 at a time. You can see something similar to flamecap, khorium.

[2019-02-06 11:27] Bugadin commented on #4280
Why the hell only for the air clouds? I mean, does Sunwell pretend to fuck up every way of making gold? They have nerfed everything!

[2019-02-06 11:27] Sexygreat opened #4282 "Disfunction of Grounding totem (arena)"
Description:
Greetings! I found out that grounding totem is not working as it supposed to work on arena. Its not working in los. We were playing against hunter/druid team. All the time when I put grounding behind the colomn my partner is still in roots.

How it works:
It is not working in los.

How it should work:
This totem must always work behind the geodata.

Source (you should point out proofs

[2019-02-06 11:30] akrom23 commented on #2667
#3905

[2019-02-06 11:30] #2667 closed, assigned to nobody

[2019-02-06 11:36] Saiie commented on #4249
No, he resets even without adds, galv is bugged as well, ran to the wall after reset and got stucked there.

[2019-02-06 11:36] ZaoQ commented on #3905
Infernal is enslaved for 5min after that he is released and able to be reenslaved, cd of the spell is 60min so no 1 min and no dying :D and no 10mins cd.

no idea why u closed my report and left this one :DD

[2019-02-06 11:38] akrom23 commented on #3905
@ZaoQ Because it's the same.

[2019-02-06 11:42] akrom23 commented on #3905
Everything from this report works fine except power coef.
Stun effect reported by @ZaoQ will be fixed.

[2019-02-06 13:14] ZaoQ commented on #3905
Also almost each of his stat is wrong
Faction: Demon
Health: 13,273
Damage: 521 - 570
Attack Speed: 2000 ms
Damage School: Physical
Armor: 6792

https://tbc-twinhead.twinstar.cz/?issue=4462 https://db.excalibur.ws/?npc=89

quite corresponds with each other

[2019-02-06 14:44] #4281 closed, assigned to nobody

[2019-02-06 17:56] lordazurescens commented on #4280
Can we get some clarification on this?

They are also spawning in locations that you can't even reach. there are 2 clouds that can't be taken. they hover about 6x the distance that you can cast mote extractor at. above the floating islands. they do not patrol down.

[2019-02-06 18:00] lordazurescens commented on #4261
Quest/RP tag? is this a troll?

This is a massive bug. that has been around since server launch. that needs to be fixed.

[2019-02-06 18:50] Wojtyas commented on #4280
Sir Dootz assigned this ticket to himself so I bet he's working on it ;) Stay tuned pals, probably will get fixed soon.

[2019-02-06 19:00] lordazurescens commented on #4280
The Gas cloud at 69.5 69.5  has been in an area that prevents extraction. Since the changes occurred. almost 36hours.

Spawn locations needs to be fixed or removed.

GM currently won't de-spawn it. so its preventing others from spawning.

[2019-02-06 19:21] akrom23 commented on #3932
@NikiKopeleto @Dolamor Got more info? What mobs? Your talents? Your stats? It would be great if you could record a clip.

[2019-02-06 20:04] Dootz commented on #4265
Did you visit Turak Runetotem (https://www.wowhead.com/npc=3033/turak-runetotem)? He should have this quest (Body and Heart) for you to pick up.

[2019-02-06 20:07] Dootz commented on #4117
As far as i know boots of blasting are no longer in loot tables, and pattern was brought back.

[2019-02-06 20:07] #4117 closed, assigned to Dootz

[2019-02-06 20:18] #3483 closed, assigned to Dootz

[2019-02-06 20:22] #3226 closed, assigned to Dootz

[2019-02-06 20:27] #2348 closed, assigned to Dootz

[2019-02-06 22:31] icarovps opened #4283 "Crit doesn't back to normal after disarm"
Description:
The crit doesnt back to normal after disarm. When disarmed, the crit drops because the unarmed skill and negated stats of the weapon. To fix this, need replace weapons or re-equip then.

How it works:

How it should work:
After a disarm, the crit drops, but when the disarm finishes, the crit need go back to normal.

Source (you should point out proofs of your report, please give us so

[2019-02-06 22:35] Pwncakey commented on #4242
SO ya'll closed my ticket but didn't talk to me or anything. But it's fixed right? So if I go get the pet again and it vanishes are y'all gonna do something or just sit on your thumbs and twiddle?

[2019-02-06 22:43] icarovps opened #4284 "[Shaman][Talent] Thundering Strikes"
Description:
Thundering Strikes doesnt working

How it works:
The talent skill adds 5% crit chance

How it should work:
The talent doesnt add any crit chance. In character interface, the crit is 12.51%, but the addon shows the correct: 17.51%.

Source (you should point out proofs of your report, please give us some source):

![wowscrnshot_020619_132648](https://user-images.githubusercontent.com/39

[2019-02-07 03:55] baade123 commented on #4236
elementals still walking straight under the ground un attack-able- also tainted ones despawn in 10 seconds or so from spawning...

[2019-02-07 04:08] Macnjacks commented on #4210
The elementals under the textures is a huge issue. We also noticed a Naga not even moving when it spawned. It sat there until we attacked it. Wasted a ton of time.

[2019-02-07 07:19] firngrod commented on #4284
It is possible that the wording of the talent is relevant for this.  From the talent:  "Improves your chance to get a critical strike with your weapon attacks by X%."
The character sheet specifically shows melee stats, as opposed to melee weapon stats.  It's possible that the "weaponless" attacks in ghost wolf form, for instance, plays in to this distinction.  However, if any of this was the case,

[2019-02-07 08:46] Pikseh commented on #4283
Are you sure this is in fact correct and not just a bug on your character's sheet stats?

Like let's say you have 20% crit before, and 5% crit after disarm. If this is a bug, then testing your distribution of crits and hits after the disarm wears off should be much lower than before the disarm. If this is not the case, and the distribution is unchanged, then the bug is only visual on your sheet st

[2019-02-07 08:47] neheri commented on #4210
Summary of the current Vashj situation after what we have noticed 2 days ago (05/02/2019):

- [x] Tainted elementals are moving (fixed)
- [x] Too many Enchanted elementals is spawned (fixed)
- [x] Enchanted elementals move too fast (fixed)

- [ ] Enchanted elementals still get under textures which is critical bug as DPS has to wait until they get out of the textures right next to Vashj in order to

[2019-02-07 09:28] icarovps commented on #4284
Ill run a instance with recount to test the crit chance

[2019-02-07 09:43] Bugadin commented on #4117
I suppose it doesn't since yesterday because the boots dropped the last Sunday

[2019-02-07 10:59] #4035 closed, assigned to nobody

[2019-02-07 11:47] mchayes commented on #4210
Adding in on this,

This sometime happens when you use the throwing macro to someone not in line of sight.

You are also able to slow the naga's. Making them kiteable...

Playing a shaman in tank group on vashj, I think the stun might be a 1-2 effect. As in 1 is the damage and 2 is the stun effect. Sometimes I notice that grounding is soaked and I still see the tank stunned but not at 30% hp.
Very

[2019-02-07 11:48] mchayes commented on #4210
Adding in on this,

This sometime happens when you use the throwing macro to someone not in line of sight.

You are also able to slow the naga's. Making them kiteable...

Playing a shaman in tank group on vashj, I think the stun might be a 1-2 effect. As in 1 is the damage and 2 is the stun effect. Sometimes I notice that grounding is soaked and I still see the tank stunned but not at 30% hp.
Very

[2019-02-07 14:46] #4047 closed, assigned to nobody

[2019-02-07 14:46] #4054 closed, assigned to nobody

[2019-02-07 15:21] akrom23 commented on #4080
https://forum.nostalrius.org/viewtopic.php?f=38&t=293#p2339
https://www.reddit.com/r/classicwow/comments/9spju6/hunter_pet_attack_speed_normalization/e8ryfzz/

https://wow.gamepedia.com/Patch_2.0.3_(undocumented_changes)

[2019-02-07 15:21] #4080 closed, assigned to nobody

[2019-02-07 17:36] akrom23 commented on #4181
@Aikamz Do you have any proof?

[2019-02-07 19:44] Macnjacks commented on #1850
Can we get some attention on this bug? It's pretty major for people pushing the harder content. Shadowpriests are people too!

[2019-02-07 20:25] #3471 closed, assigned to Dootz

[2019-02-07 20:42] Ironjudgment commented on #4245
I think this macro only worked during Vannila days of wow and was later changed to protected API for other targets than 'player' (self).

I could only find this article for unit defense. https://wowwiki.fandom.com/wiki/API_UnitDefense

[2019-02-07 22:09] neheri opened #4285 "[Merchanic] Taunt, Growl"
Description: Taunt and Growl has too much resist chance. With +5% hit rating and 3% hit from improved faerie farie I had 7/7 resist. Received report from feral druids that same things happen with druid's growl.

How it works: Taunt has too high miss chance.

How it should work: Taunt and Growl should be considered melee attack and have 17% base miss chance against boss. This could be decreased by

[2019-02-07 22:37] #1779 closed

[2019-02-07 22:37] #1929 closed

[2019-02-07 22:37] #2772 closed, assigned to Afgann

[2019-02-07 22:37] #3078 closed, assigned to akrom23

[2019-02-07 22:37] #3186 closed, assigned to Dootz

[2019-02-07 22:37] #3592 closed, assigned to akrom23

[2019-02-07 22:37] #3729 closed, assigned to Dootz

[2019-02-07 22:37] #3782 closed, assigned to Dootz

[2019-02-07 22:37] #3901 closed, assigned to akrom23

[2019-02-07 22:37] #4062 closed, assigned to akrom23

[2019-02-07 22:37] #4108 closed, assigned to Dootz

[2019-02-07 22:37] #4231 closed, assigned to Afgann

[2019-02-07 22:37] #4249 closed, assigned to akrom23

[2019-02-07 22:37] #4277 closed, assigned to Dootz

[2019-02-07 22:37] #4280 closed, assigned to Dootz

[2019-02-08 06:53] akrom23 commented on #3600
#1850

[2019-02-08 06:53] #3600 closed, assigned to nobody

[2019-02-08 07:39] akrom23 commented on #1850
I don't think that it should proc on every tick, rather on initial cast.
Mind Flay is a DoT.
```Each time you land a harmful spell``` for me it means ```Each time you casted and hit with a harmful spell```.
https://vanilla-twinhead.twinstar.cz/?issue=6587 - this is very similar issue.

Proc chance is already set to 5%.

[2019-02-08 08:31] Ghettomagus commented on #1850
Yes but as it stands now it is not proccing from the initial cast of Mind Flay or application of DoT's, which should also be "Landing a harmful spell", I'm sure other classes also have examples of spells where they don't proc the set.
Also, Quagmirran's Eye which has almost exactly the same wording as spellstrike set procs just fine from both initial Mind Flay cast and application of DoT's.

[2019-02-08 08:36] akrom23 commented on #1850
Are you sure? - just tested and did not proc off.

EDIT: You were right - works fine. I know now where is the problem with this set.

[2019-02-08 12:52] efsien opened #4286 "[rested state]"
Description: no rested state in Raventusk Village (Hinterlands)

How it works: when you go to inn no zzz apear :)

How it should work: you should have rested state zzz in Inn

Source (you should point out proofs of your report, please give us some source):
![wowscrnshot_020819_134932](https://user-images.githubusercontent.com/45639809/52479387-bbfe0e00-2ba8-11e9-8b28-2b29b1ce2574.jpg)

[2019-02-08 15:36] #4215 closed, assigned to nobody

[2019-02-08 16:01] akrom23 commented on #4218
As Dolamor said - your name is disallowed by naming policy. Blame Blizzard.

[2019-02-08 16:01] #4218 closed, assigned to nobody

[2019-02-08 16:48] akrom23 commented on #3350
https://github.com/SunwellWoW/Sunwell-TBC-Bugtracker/issues/1634

[2019-02-08 16:48] #3350 closed, assigned to nobody

[2019-02-08 16:51] jonikurk opened #4287 "[Rogue] Stealth"
Description: "That ability is not ready yet" comes up when trying to stealth.

How it works: If you try to stealth / vanish in hunters flare, you are unable to stealth again. Even if you go out of the flare and are out of combat, instead you get "That ability is not ready yet" and you need to relog in order to stealth again.

How it should work: Stealth should be usable when you go out of flare an

[2019-02-08 17:10] akrom23 commented on #4287
@jonikurk Send some screenshots.

[2019-02-08 17:35] jonikurk commented on #4287
![stealthflare](https://user-images.githubusercontent.com/35528774/52495189-9db00680-2bd8-11e9-9958-9d8932f42aa1.jpg)
![stealthflare2](https://user-images.githubusercontent.com/35528774/52495200-a7396e80-2bd8-11e9-8eed-ebf59d4a9591.jpg)
![vanishflare](https://user-images.githubusercontent.com/35528774/52495207-ab658c00-2bd8-11e9-9236-e4ba652a309f.jpg)
![vanishflare2](https://user-images.githubuser

[2019-02-08 19:52] Devrak commented on #4068
Bump.

Tested on some other servers and it works there so its a bug .
Easy test case:

cast "Immolate" on a Target and then cast it again before the debuff expires there should be a combat log report that Targets Immolate is refreshed.

It is somewhat game breaking bug as it bugs out addons that track debuffs / dots / curses and so on especially in pvp

[2019-02-08 19:53] Devrak commented on #3464
It is still bugged. ( bump )

[2019-02-08 20:27] akrom23 commented on #4279
@zefurr What about that: https://wow.gamepedia.com/Kill_Command?

No longer affects the Hunter’s current target.

[2019-02-08 20:37] zefurr commented on #4279
Huh... that is... interesting. Surprising bit of game design there... it allows me to use an ability and put it on cooldown with no effect (aside from the d3 4-piece armor pen buff)

I'm tempted to interpret that patch note to mean that if the Hunter and the pet both have different targets then the default behavior of Kill Command is to use it on the pet's target.

As a side note the other patch n

[2019-02-08 21:24] Feorblade opened #4288 "Stuck in place after pvp trinket"
Description:

When I use PvP trinket to break fear, I'm stuck in place until another CC hits me. In arena, I was unable to move after using trinket on fear. Once he procced a mace stun on me, I was able to move my character. Similar things have happened to me in BG's and world PvP
How it works:
Character gets stuck in place after using PvP trinket

How it should work:

I should not be stuck in pla

[2019-02-08 21:54] Pwncakey opened #4289 "Pet Vanished Again! But I know what happened!"
Description:
My pet has vanished from the stable yet again, but this time I know exactly what happened.

How it works:
So after taming my new rare gorilla, I returned to the stables and switch my pets out, back to Jammies who was waiting peacefully in there. However when I went to switch, I guess because I was mounted I placed WhippedCrack back, and Jammies vanished!

How it should work:
I should

[2019-02-08 23:27] pinkisnotgay commented on #2361
@Dootz Thorium Lockboxes broken aswell

[2019-02-09 00:17] mgperera opened #4290 "Scholomance loot table"
Description: First off good job to the whole team, the clean up on stratholme was nice. But, there are very similar issues in Scholomance aswell: mobs dropping scourgestones even without the argent trinket, also believe the drop on Dark Runes is facing the same issue than Righteous Orbs, which had 1 to 4 % drop chance and then was changed to be stable 4% thru the tables. According to wowhead, Necr

[2019-02-09 06:00] zefurr commented on #4288
Just to spread the knowledge, when this does happen reloading my UI typically fixes the problem.

Obviously not super useful mid-fight. But if you survive it can get you moving again without having to log out

[2019-02-09 07:22] akrom23 commented on #4289
@Pwncakey Jump into our Discord and poke me (Anakin#5545).

[2019-02-09 09:32] Highdps opened #4291 "Alar pathfinding"
Description:
Pets in Alar room didn't use proper pathfinding

How it works:
Pet's didn't go platform and fight, istead of that they stay below platform and do nothing

How it should work:
Pet's should go platforms and do damage

Source (you should point out proofs of your report, please give us some source):
https://www.twitch.tv/videos/370826178 2h+, they didn't works, and here how it should be h

[2019-02-09 10:06] #1850 closed

[2019-02-09 10:06] #3486 closed, assigned to Dootz

[2019-02-09 10:06] #3992 closed, assigned to akrom23

[2019-02-09 10:06] #4093 closed, assigned to akrom23

[2019-02-09 10:06] #4273 closed, assigned to Afgann

[2019-02-09 10:06] #4283 closed, assigned to akrom23

[2019-02-09 12:47] nimeral opened #4292 "[Object] Buccaneer's Strongbox"
Description: after being opened once, these strongboxes stay open for a long time

How it works: after being opened once, these strongboxes stay open for a long time (didn't check exactly - 15 minutes or even more)

How it should work: after being opened, these strongboxes should despawn and respawn in a second

Source (you should point out proofs of your report, please give us some source): https

[2019-02-09 14:02] MiekZer opened #4293 "Ohf hc (and nm?) Thrall not respawning"
closing report due to being kicked out from the discord for saying the truth. So I'm removing my tracks.
GL fixing your shit.

[2019-02-09 14:04] MiekZer opened #4294 "Karazhan Prince evades on cliff"
closing report due to being kicked out from the discord for saying the truth. So I'm removing my tracks.
GL fixing your shit.

[2019-02-09 14:11] MiekZer opened #4295 "Aran (and more) cc exploit"
Magic dust (easy farmable vanilla object) can be used to cc 30sec any mob without any chance to fail.
This object is supposed to fail very often on level 30+ mobs.
On Aran you can then cc every elementals with this object instead of tanking the ones you cannot cc.
Probably exploitable on other bosses too.

[2019-02-09 14:16] MiekZer opened #4296 "Netherspite breath and beams bug"
Green beam is supposed to regen full your mana bar with each tick. This is not working.

Nether breath is not supposed to be interrupt. He should be immune to interrupt.

[2019-02-09 14:21] MiekZer opened #4297 "Ilhoof not sacrificing main target"
Pre nerf (pre 2.1 kara) Ilhoof is supposed to be able to sacrifice even his main target aka the tank. I have never seen a sacrifice on the tank (with the tank having aggro and not because he lost aggro and then got sacrified)

[2019-02-09 14:25] MiekZer opened #4298 "Maiden skiping repentance with big dps team"
Maiden is skiping repentance when you have big dps team and doing enough dps on her.
It looks like there are hidden phases that reinitialize her timer before next repentance cast when she reaches some hp tresholds.

[2019-02-09 16:33] akrom23 commented on #4288
@Feorblade Not able to reproduce it :/

[2019-02-09 17:15] Devrak commented on #4288
physical fear + any slow effect / spellfear + any slow or phy + spell fear at the same time maybe issue is there that server is not sending client the info that char can move again after fear breaking.

[2019-02-09 17:22] akrom23 commented on #4288
@Devrak I tried with Intimidating Shout + Psychic Scream - just like the screenshot shows. Everything works fine locally.
I would be gratefull if someone could do some tests in duel.

[2019-02-09 17:26] akrom23 commented on #2436
No response.

[2019-02-09 17:26] #2436 closed, assigned to nobody

[2019-02-09 17:26] #2787 closed, assigned to nobody

[2019-02-09 17:27] akrom23 commented on #4288
Related: #4168.

[2019-02-09 17:39] Devrak commented on #4288
Another thing the #4068 issue or related  ... as a cast debuff fear also gets no refresh event at the moment while it breaks addons i have no idea how much it messes up the client itself a test with fear then refresh fear before it fades then again refresh fear before it fades and try to break out ... what happens idk. ill try to get and do some duels if i have time later today.

[2019-02-09 17:45] shadywildone opened #4299 "High Astromancer Solarian damage is bugged!"
Description: The damage tuning on High Astromancer Solarian seems overtuned and incorrect. Our fully geared tier 4 bear tank got 1 hit by a melee swing from High Astromancer Solarian.

How it works: High Astromancer Solarian is melee swinging inbetween arcane missile attacks, one shotting her target, including our main tank. Also her wrath of the astromancer is dealing twice the correct damage, fr

[2019-02-09 18:56] MiekZer opened #4300 "Can't swap from one group to another during raid"
Let's say this is a Raid 10.
Both groups are full.
I try to swap player A from group 1 with player B from group 2, basic interface no addon.
I maintain click while dragging player A on top of player B name then I release, player A name block over player B name and there is no change.
This is not clientside because with same client it's working on warmane.

Related api functions probably causing th

[2019-02-09 20:04] zapsuu commented on #3007
Now depleted items are not available, but people who get it still can wear it. It's not fair, because for example Badge of Tenacity is the best feral trinket until you from Bloodboil (Black Temple) and MGT hc... So good for you. You should delete this items from any person on server or make it available for everyone, because rest of us are in worst position.

[2019-02-09 20:04] zapsuu commented on #3781
Now depleted items are not available, but people who get it still can wear it. It's not fair, because for example Badge of Tenacity is the best feral trinket until you from Bloodboil (Black Temple) and MGT hc... So good for you. You should delete this items from any person on server or make it available for everyone, because rest of us are in worst position.

[2019-02-09 21:37] neheri commented on #4299
Crushing blows deal 150% damage.

However we also noticed her damage is very high, probably due to being pure arcane.

https://github.com/Schaka/TBC-research/issues/22

From CC github is should be:

* **High Astromancer Solarian:** 6157-8696

with Crushing blow this could be up to: ~13k.

[2019-02-10 08:49] #1614 closed

[2019-02-10 08:49] #1634 closed

[2019-02-10 08:49] #2618 closed, assigned to akrom23

[2019-02-10 08:49] #2821 closed, assigned to akrom23

[2019-02-10 08:49] #4193 closed, assigned to akrom23

[2019-02-10 08:49] #4243 closed, assigned to akrom23

[2019-02-10 08:49] #4256 closed, assigned to akrom23

[2019-02-10 08:49] #4285 closed, assigned to akrom23

[2019-02-10 08:49] #4286 closed, assigned to akrom23

[2019-02-10 10:32] street-racer777 opened #4301 "[Hunter] [Spell] Hunter's Mark"
Description:

hunter's mark do not  completely work.
How it works:

hunter's mark do not  additional 11 each time they are struck by a tanged attack, up to a maximum of 440(rank 4).

How it should work:

should increase ranged attack power against this target by 110 **and an additional 11 each time they are hit by a tangential attack, up to a maximum of 440 (level 4).** With talent  "[Improved Hun

[2019-02-10 10:49] street-racer777 commented on #4301
Before this test my friend was take off all proc items and buffs.
On left screenshot: pet was attack [hunter's mark] **without** talent.              **AVG meele 194**
On central screenshot: pet was [hunter's mark] **with** talent.                         **AVG meele 206**
On right screenshot:
pet was **with** [Greater Blessing of Might] and **without** [hunter's mark]. **AVG meele 238**

[Hunter'

[2019-02-10 12:25] Tentosu opened #4302 "Gun DMG problem"
Description: Hi, I wrote 2 tickets in game and for the last one I was asked to create this ticket.
I have a problem with GUN dmg. All stats on my new gun is better, bud counted DMG in my character is lower.

How it works: I take my new gun and my DMG is lower

How it should work:  New gun bring me more DMG when I equiped it

Source (you should point out proofs of your report, please give us some s

[2019-02-10 13:19] neheri opened #4303 "[Quest] Balance Must Be Preserved"
Description: Quest is working, however it's missing RP. When you use Ironvine Seed on the pump nothing happens.

How it works: When you use Ironvine Seed on the pump nothing happens.

How it should work: Steam Pump Overseer should spawn. You should be able to spam the quest on the console to spawn overseer who drops important quest (Drain schematics).

Source (you should point out proofs of your r

[2019-02-10 13:27] firngrod commented on #4302
The new gun is faster than the old gun.  While the new gun in at of itself does more damage, your attack power adds DPS to your attacks, meaning that the slower the weapon, the higher the individual attack damage added from your attack power.  This is why the listed damage is lower.  You can still expect your DPS to be higher since you will be shooting more often, not accounting for skills.

Now,

[2019-02-10 13:31] neheri commented on #4303
Reported here already:

https://github.com/SunwellWoW/Sunwell-TBC-Bugtracker/issues/2652

[2019-02-10 13:31] #4303 closed, assigned to nobody

[2019-02-10 14:03] Bugadin commented on #4287
Can confirm it happens sometimes but not only with the hunter's flare.

[2019-02-10 16:07] zefurr commented on #4301
"Causes 100% of your Hunter's Mark ability's BASE attack power to apply to melee attack power as well"

My interpretation of this is that BASE refers to the initial 110 attack power provided by Rank 4 Hunter's Mark.

But that's just my perspective

[2019-02-10 16:12] ado7e opened #4304 "[Hunter] [Spell] Multishot"
Description:
Hunter's Multishot spell is intended to have 0.5sec cast time, followed by ma Global Cooldown as every other spell.

https://classic.wowhead.com/spell=2643/multi-shot#see-also-ability

How it works:
https://vimeo.com/316395979
Casting Multishot after steady shot, makes impossible to cast another steady for next full auto shot (so around 2-2.1sec. Considering that, it would make Hunter

[2019-02-10 19:57] #4265 closed, assigned to Dootz

[2019-02-10 19:59] #4205 closed, assigned to nobody

[2019-02-10 20:00] #4200 closed, assigned to Dootz

[2019-02-10 20:01] #4197 closed, assigned to Dootz

[2019-02-10 20:24] #4160 closed, assigned to Dootz

[2019-02-10 20:32] Dootz commented on #4085
we decided to add it to trainers.

[2019-02-10 20:32] #4085 closed, assigned to Dootz

[2019-02-10 20:32] Dootz commented on #3122
https://github.com/SunwellWoW/Sunwell-TBC-Bugtracker/issues/4085

[2019-02-10 20:32] #3122 closed, assigned to Dootz

[2019-02-10 20:51] #3943 closed, assigned to Dootz

[2019-02-10 20:52] #3856 closed, assigned to Dootz

[2019-02-10 20:52] #3827 closed, assigned to Dootz

[2019-02-10 21:16] Ironjudgment opened #4305 "Item Description - Rep Keys"
Description:
Tooltip description of reputation keys is incorrect - at least during this patch.

How it works:
Tooltip description shows that reputation keys are usable at honored stage.

How it should work:
On this patch, tooltip description should mirror the actual requirements - Revered.

Source (you should point out proofs of your report, please give us some source):
I only have a screenshot fo

[2019-02-10 21:19] ZaoQ opened #4306 "[Item] Serpent-Coil Braid"
Description:

How it works:
You dont gain 25% more mana when you use a mana gem

How it should work:
You gain 25% more mana when you use a mana gem

Source (you should point out proofs of your report, please give us some source):

[2019-02-10 21:20] Ironjudgment commented on #4302
Agree with @firngrod

[2019-02-10 21:21] Ironjudgment commented on #4301
#4237

[2019-02-10 21:22] Ironjudgment commented on #4306
any screenshots, vidoes? Right now your bug report does not tell us anything.

[2019-02-10 21:27] ZaoQ commented on #4306
it works, my friend made a mistake, pls close this issue .)

[2019-02-10 21:31] zefurr commented on #4304
This stems from a more general issue I've noticed on Sunwell that I've not experienced elsewhere. It seems to be something like a queue system. Multishots and Steady shots cast close to the release of an autoshot instead get queued after it. Generally this is actually a helpful crutch that prevents you from clipping your autos.

I've not seen this on other server (but I also had lower MS there, so

[2019-02-10 21:54] zefurr commented on #4305
Clear your cache

[2019-02-10 22:31] #4302 closed, assigned to nobody

[2019-02-10 22:31] #4306 closed, assigned to nobody

[2019-02-10 22:53] thenumberpurple commented on #4295
Magic dust is not supposed to fail very often on level 30+ mobs. Why does this wrong bug post get insta fixed with no proof, source, etc? I wonder why the HUGE bugs I took the time to beta test and report (with proof btw) are still not fixed

[2019-02-10 23:21] #4305 closed, assigned to nobody

[2019-02-10 23:39] MiekZer commented on #4295
On wowhead they state that before build 13914 (aka before 4.1.0, probably that after this build chances are strictly 0 above level 30) it's unreliable on targets above level 30 without mentioning % chance to work on a target level 60, 70, etc.

Also I have never seen a video mentioning this trick on Aran, it's obviously a trick found on private server when the boss is too hard and the script is bu

[2019-02-10 23:46] nimeral commented on #3447
Still bugged as of today.

[2019-02-10 23:56] thenumberpurple commented on #4295
What are you talking about? This was 100% usable in tbc. You still provided 0 proof of it not. You say there is no video of people using it on Aran but theres multiple comments on the wowhead from 2006-2008 of people talking about using it.

Also dw my boy, my tanks are holding just fine in t5. Don't need magic dust to do kara fights. Was ofc never my point. Point was this is wrong, ofc has 0 proo

[2019-02-11 03:02] Mikju1 opened #4307 "There is Hunter pet with CC immunity"
Description: Hunter pet which is immune to fear without any fear ward buff or Bestial wrath buff (also immune to other cc)

How it works: This pet serpent is immune to fear and stuns even without "Beastial wrath"

How it should work: you should be able to CC pet!

Source (you should point out proofs of your report, please give us some source): Saw this bug when met Hunter named "Baloh" in WSG and

[2019-02-11 05:20] badmannerkid opened #4308 "Lady Vashj"
- [x] MC'd targets take damage from toxic spores even though they're mind controlled and should be friendly to the bats/vashj

- [x] Bats flying outside 50 yd range of any one person at a time. Should be hovering above, bats can also descend into melee range of Vashj, this started happening about a week ago but figured it would be fixed

- [x] Take a look at frequency of bats using toxic spore abi

[2019-02-11 06:42] akrom23 commented on #4304
Yes, there is queue system.

[2019-02-11 09:43] Ironjudgment commented on #4297
Support.
Patch changes from 2.1
https://wowwiki.fandom.com/wiki/Patch_2.1.0

@MiekZer It would be best to include any sources next time and stick to the bug report method (which asks about sources aswell).

[2019-02-11 09:47] mchayes commented on #4295
It's really weird, all these posts that @MiekZer did yesterday got instantly fixed even though there was zero proof of anything added. Please explain @Afgann

[2019-02-11 09:50] #4295 closed, assigned to Afgann

[2019-02-11 11:22] MiekZer commented on #4295
All wowhead comments only talk about pvp. Never about pve use of thid object because it's obviously not supposed to be a reliable source of instant cc.
Do you imagine the whole raid having magic dust and using them on Hydross adds how the fight will be easy as fuck? cc kt items, cc skeletons adds in sunwell and so more

[2019-02-11 11:29] MiekZer commented on #4304
I noticed a hidden 0.5 second cast on the multishot as intended it's not instant like arcane shot and the gcd is triggered as soon as you click your spell not when the cast is finished. And the queue system on cast time shots is the real gameplay.

[2019-02-11 12:51] grzessam opened #4309 "Hunter - Kill command not working"
Description: When I strike a critical I recieve an option to use Kill Command but when I use it I recieve invalid target information and Kill Command don't execute. It worked couple of days before

How it works: Kill Command despite striking critical cannot be used because of invalid target

How it should work:

Source (you should point out proofs of your report, please give us some source):

[2019-02-11 12:53] akrom23 commented on #4309
@grzessam Provide screenshots.

[2019-02-11 13:01] grzessam commented on #4309
![obraz](https://user-images.githubusercontent.com/47526184/52564850-768a4c80-2e05-11e9-97df-c5872855def5.png)

[2019-02-11 13:02] grzessam commented on #4309
I spam kill command by pressing 2 button and recieve invalid target. Tested on multiple mobs and tried in macro as well. In both cases it's not working

[2019-02-11 13:20] akrom23 commented on #4309
Cannot reproduce it.

[2019-02-11 14:51] zefurr commented on #4304
The oddity here (I believe) is that Auto Shot appears to be part of the queue. That is any Steady, Aimed or Multishot used shortly before an auto shot is about to go off gets delayed until after the auto shot. Honestly it's generally made maintaining shot rotations easier.

It's very difficult to mess up and clip your auto-shot here, where as on other servers (where I had lower MS) I could very ea

[2019-02-11 15:42] MiekZer commented on #4304
Then the other server was not scripted with shot queue system.
Other serious tbc servers have it scripted : Warmane, Netherwing (but they have a lot of issues in their queue)

Any shot with cast time that is launched during the autoshot animation (the 0.5s autoshot cast) triggers gcd and is delayed until the autoshot is fired.

[2019-02-11 15:49] zefurr commented on #4304
Ah I was under the impression that the queue system was just for back-to-back casting time spells.
And possibly for queueing instant cast's for as soon as GCD was up

Seems I'm misinformed then

[2019-02-11 16:53] MiekZer commented on #4296
I didn't see on the changelog tbc anything about updating the green beam.
Here is the source :
First of all you can see there https://wowwiki.fandom.com/wiki/Patches/2.x (and check patches one by one) that there was no changes about beams. (A quick overview of KZ changes patchs after patchs is presented here https://www.reddit.com/r/wowservers/comments/4hyi88/kara_per_patch_nerf_changes_to_adress_

[2019-02-11 17:20] MiekZer commented on #4300
It works now.
Nice :)

[2019-02-11 17:55] MiekZer commented on #4233
I give my voice to this confirming it's not working for a 12% spellhit alliance warlock sticking the totem (and his draenei shaman), resists are much more than 1%

[2019-02-11 17:56] #3987 closed, assigned to nobody

[2019-02-11 18:16] Gouraki commented on #4177
Hmmmmm, I don't remember what spell started doing the error message, I was
using the thrallmar trainer for BS. the chracter name that his happened is
Astronaut

On Sat, Jan 19, 2019 at 8:09 PM Chris <notifications@github.com> wrote:

[2019-02-11 19:06] efsien opened #4310 "[map] texture bug"
Description: when I use a charge near to Marshall refuge i fall under textures

How it works:
![wowscrnshot_021119_200003](https://user-images.githubusercontent.com/45639809/52586720-7788a180-2e38-11e9-8241-b88b168f4eed.jpg)

How it should work: i should not fal under textures

Source (you should point out proofs of your report, please give us some source):
![wowscrnshot_021119_200016](https://use

[2019-02-11 19:49] ado7e commented on #4304
In it's simpliest words: It's the case that after casting MS you can't cast Steady for the full next autoshot - that's wrong. It should have a short delay caused by 0.5sec cast of MS and the rest of gcd so up to 1sec (scaled by Haste), but not a whole 2 sec delay.

[2019-02-11 20:26] grzessam commented on #4309
I've switched owl to cat in stable master and kill command started to work. Now I will switch again and see what happens

[2019-02-11 20:34] grzessam commented on #4309
Kill command isn't working for Owl. After I switched to cat again I've noticed that I use kill command but it doesn't do any damag. In combat log there is no information about kill command. It's weird because I've used kill command yesterday while using owl and:
1. I could use kill command when using owl as a pet.
2. Kill command dealt dmg - now it's not

[2019-02-11 21:17] KayleeFrye1 opened #4311 "[The Eye] Void Reaver"
### **Description:**

Tanks are top threat, averaging 1000-1500 TPS.
After knockback- seemingly random players get aggro whereas those tanks on 2nd and 3rd @ threat can't get aggro.

### **How it works:**

https://puu.sh/CKK5E/a7414bee92.mp4

There seems to be an issue with the spell "Knock Away" on Void Reaver as he will suddenly chase/target a random player who is below the 2nd and 3rd tank on t

[2019-02-11 21:57] kyotpls commented on #4311
This clearly needs to be adressed as the whole boss mechanics is based around managing threat for tanks and never surpassing them on threat. It's extremely confusing how he can suddenly target random ranged (only ranged, not other melee's) when they are barely even 2/3 of the tanks threat.

[2019-02-11 23:41] Ironjudgment commented on #4311
Killed it yesterday and it was working fine. (maybe some update broke somthing?)
Check threat with .debug threatlist command to display server aggro information instead of using an addon.

Also for your sources you should use articles from before March 2007 (pre nerf timeframe). (https://wow.gamepedia.com/index.php?title=Void_Reaver&oldid=565232)

[2019-02-11 23:43] kyotpls commented on #4311
@Ironjudgment What tactic did you go with? Having all ranged within Pound range and 1 designated Arcane orb kiter or spreading out like we did in the video? We have a suspicion that the tactic we used might be causing the problem not having people closer to the boss for some wierd reason. I've seen videos from other guilds using the other tactic with Arcane Orb kiter and having the rest in melee r

[2019-02-11 23:45] Ironjudgment commented on #4311
@kyotpls We have used the tactic where everyone stacks in melee range and we had a designated kiter for orbs. [3 Tanks]
https://youtu.be/ZehJqsGXDNc?t=10374

[2019-02-11 23:51] kyotpls commented on #4311
Thank you for clearing that, still seems to not be blizzlike. But we'll try to do it your way, and the way many others have done him and see if the same issue persist.

[2019-02-12 00:35] MadderThenMad opened #4312 "Mage Invisibility does not reduce threat"
Description: Mage Invisibility does not reduce threat with each second of it's duration. Only when mage goes fully invisible threat is modified (wiped actually). With each second of "channel" mage threat should be reduced by some % - source tell it's 10% per second and after 5 you are fully invisible and your threat is completely wiped.

How it works:

Threat is not being altered at all during pre

[2019-02-12 02:04] thenumberpurple commented on #4295
You saying they only talk about PvP uses tell me you only read the first comment. I also don't think you even know how this item fully works. The item would not work on either of this bosses you gave as examples, so I really question if you have any idea about anything you talk about.

[2019-02-12 02:41] MiekZer commented on #4295
Hydross elementals : can be banished and fear by warlocks so this item if we folllw the aran logic will work on them.

Kael thas items : can be cced freezing trap and stuns so this item with the actual script will work on them.

If we follow this logic then it will also works on bt fights and sunwell.

This item is obvioisly not supposed to be a reliable source of infinite and instant cc on pve ot

[2019-02-12 03:00] MiekZer commented on #4304
Autoshot cooldown begins :
Let's assume a 2.00 speed

-2s: you cast MS. Triggering 0.5 cast and 1.5 gcd.
-1.5s: MS fired. 1s left on gcd
-0.5s: autoshot animation begins, you cast SS and is queued.
0s: autoshot fired. Steady Shot starts cast. 1s gcd left.

If you have a speed faster han 2.00 that means you can start casting ss only during autoshot queue.

If you have a speed lower than 2.00 you ma

[2019-02-12 05:21] Rasnia opened #4313 "Paladin Talent: Sanctified Seals"
Description:  Paladin talent: Sanctified Seals - Makes seals 100 % Resistance to become dispelled on enemies, and also increases crit by 3 % (3/3 talented)

How it works: Seals can be dispelled

How it should work: 100 % to resist dispells

Source (you should point out proofs of your report, please give us some source): None

[2019-02-12 06:29] zefurr commented on #2853
Still happening

[2019-02-12 07:22] firngrod commented on #4313
How are they being removed?  Which skill(s) are being used?  I'm asking because certain skills don't do the "dispell" action, but rather an immunity or downright remove action, such as Divine Shield and Ice Block.  These abilities would still remove the seal, even if Sanctified Seals is maxed.

You can see a list of spells which perform the resistable dispell action on the following page:

https:/

[2019-02-12 07:41] chme3921 commented on #4295
Show us a video of it failing repeatedly in TBC. You can't find one, because any such video doesn't exist.

If you want something changed, the burden of proof is on you for this exact reason. Magic Dust usage in TBC wasn't very well known, which is why it was changed in WotLK (check the 3.1 patch notes) because more people found out about it and were using it more and more in PvP, where it had a f

[2019-02-12 08:06] akrom23 commented on #4233
Works fine.

W/o Totem of Wrath:
![wowscrnshot_021219_085822](https://user-images.githubusercontent.com/1035215/52620643-6164fa80-2ea5-11e9-8cc2-ba8948b4ba04.jpg)

With Totem of Wrath:
![wowscrnshot_021219_090516](https://user-images.githubusercontent.com/1035215/52620651-675adb80-2ea5-11e9-9967-77658c33ac1f.jpg)

[2019-02-12 08:06] #4233 closed, assigned to nobody

[2019-02-12 08:07] thenumberpurple commented on #4295
I said that I question if you know anything that you talk about. You then said magic dust is a "reliable source of infinite and instant cc on pve". Again proves to me you have never even used this item, let alone use this item to "trivialize fights". My biggest laugh so far was you suggesting to CC felmyst skeletons.

[2019-02-12 08:25] zefurr commented on #4313
SEALs refer to the buff on the paladin himself.

JUDGEMENTs refer to the debuff on the enemy.

Reading the talent, I would expect its still perfectly normal to be able to dispel the judgement debuff. It's the paladin himself who cannot have his buff removed

[2019-02-12 08:43] firngrod commented on #4313
True, I was way off on that one.
It's possible that the original poster made the same mistake.
The question also still stands, the issue may be with one of the dispelling skills rather than with the seals/talent itself.

[2019-02-12 11:05] Freshbtw opened #4314 "SWD bugged"
Description: Shadow Word: Death does not deal damage to the priest if the target takes absorbed damage. Pretty gamebreaking for pvp.

How it works: Caster does not take damage from an absorbed SWD

How it should work: Caster should take damage from an absorbed SWD

Source (you should point out proofs of your report, please give us some source):
https://www.youtube.com/watch?v=QWM7uprjW5g
https://w

[2019-02-12 11:11] Freshbtw opened #4315 "Hunter abusing bugged freezing trap"
Description: As you can see in 3 clips here, the hunter is abusing a freezing trap bug to instantly trap people.

How it works: When the hunter places the trap and uses Feign Death, the target gets trapped instantly.

How it should work: There is a short delay when the target should be able to be trapped after it is placed(around 2sec I think)

Source (you should point out proofs of your report, p

[2019-02-12 11:54] arkatik commented on #4314
I confirm that this bug was on Saturday when I played the arena.
This is critical for pvp.
put a label **High priority** and fix as soon as possible, or you will not see a single priest in the arena

[2019-02-12 11:56] firngrod commented on #4315
I'm not absolutely certain on this, but if I'm reading the below article correctly, the 2 second arming speed is only if the hunter is in combat while laying the trap.  Thus, using Feign Death cleverly should allow you to instantly trap someone, although I would expect Feign Death to have to be used before laying the trap.

https://wowwiki.fandom.com/wiki/Trap?oldid=1421833

[2019-02-12 12:05] street-racer777 commented on #4309
https://www.youtube.com/watch?v=VaEtgZU2IZw&feature=youtu.be

[2019-02-12 12:16] Ironjudgment commented on #4315
In every clip you can see that he has had used feign death (cleared comabt) before placing the trap, making the arming process instant. (Everything seems ok?)

Quote from wowwiki dated March 14, 2007
https://wowwiki.fandom.com/wiki/Trap?oldid=543586

[2019-02-12 12:20] Freshbtw commented on #4315
In no way it's correct that it should be trapping instant. The team of the hunter/druid that is using it even said that it's bugged.

[2019-02-12 12:26] Ironjudgment commented on #4312
documented testing (video, screenshot) would be nice but I can confirm its supposed to work like explained but instead of 10%, should be 20%.

`Every second for which Invisibility is counting down, the Mage loses 20% of his current threat (if used in a PvE situation). Once the timer hits 0, the Mage gains full invisibility, and is removed from combat. `

Source dated 7 May 2007 before patch 2.1 re

[2019-02-12 12:31] Ironjudgment commented on #4315
How is it bugged then?
If hunter clears his combat and places trap, it will be armed immediately. In the video you even move away/towards from/to hunter activating the trap. If you stood still the trap wouldn't activate immediately.

The point is that he is placing the trap while not in combat which allows the trap to be armed instantely without the 2sec period (not in combat).

[2019-02-12 12:43] Freshbtw commented on #4315
https://github.com/FeenixServerProject/Archangel_2.4.3_Bugtracker/issues/2081

Same issue on a different server some time ago. Read everything there, you have your proof

[2019-02-12 12:55] Ironjudgment commented on #4315
Placing trap while not in combat: https://youtu.be/LamuL4e4Y0E?t=104

Hunter using FD and then instantly placing the trap: https://youtu.be/LamuL4e4Y0E?t=150

Video from 2006

Anything else?

[2019-02-12 13:00] Freshbtw commented on #4315
That was not even close to being instant FYI. Check the first and second clip I linked.. that is instant

[2019-02-12 13:00] Ironjudgment commented on #4315
Okay fine, let Devs decide...

And also you say that in this clip https://youtu.be/LamuL4e4Y0E?t=150 in the time frame of 3 secs (2:31-2:34), hunter had time to use FD then place trap for 2 sec and run away? It's obvious it was an instant cast. You can also see that opposing player has run into the trap and activate it after a sec.

[2019-02-12 13:06] Freshbtw commented on #4315
On another note, both target + caster have to be out of combat for it to be an instant trap. Otherwise it's 2 sec arm time.

@Ironjudgment As you can see on the vid you linked, his trap is on the right top actionbar. He places it pretty much instantly after his FD, right on top of the warr. Yet he did not get instant trapped. There was a delay

[2019-02-12 13:11] firngrod commented on #4315
I see no proof in that bug report from another server, nor can I see that they reached your conclusion, hence the angry post that it was still an issue three years later.

An important thing to keep in mind here is:  If it was bugged during retail 2.4.3, that's how it should be on this server.  I can't find anything saying definitely that it worked one way or the other during retail.  It's pretty

[2019-02-12 13:18] Freshbtw commented on #4315
“The desired situation is if the Hunter is out of combat (after using FD) but his target is in combat the trap should have 2 seconds arming time. Traps should be instant only when both the hunter and his enemy are out of combat.

Desired:

Hunter in combat, victim out of combat - instant arming time.
Hunter in combat, victim in combat - 2 seconds arming time.
Hunter out of combat, victim out of co

[2019-02-12 13:20] Ironjudgment commented on #4315
From dev, from another server, from 27 Nov 2012 and without any sources you might add.

Let devs decide.

[2019-02-12 13:41] LubiePlackiZDzemem opened #4316 "Pendant of the Violet Eye"
Description:  Pedant of the Violet Eye restores gains mana for each target hit by a spell (friendly or hostile). For Example healing party with CoH gives you 5 stacks (should only 1).  The same applies to Shaman Chain Heal (gives 3 should only one).

How it works: As above.

How it should work:
General rule of thumb looks like -> 1 charge per cast/minicast. If spells hits/heals multiple targets yo

[2019-02-12 13:50] firngrod commented on #4315
@Freshbtw:
As @Ironjudgment mentions, you can prove that someone not involved with Blizzard made that decision in 2012, not that it was that way on retail in 2008.

I'm not sure how that behavior would even be handled.  "Target is in combat."  Is that the target of the hunter at the time of casting the trap?  If so, just macro clear target and we're back to the start.  If it's "Anyone about to tri

[2019-02-12 15:53] ado7e commented on #4304
Thats not the case of our consideration. The case is:
-2:00 - autoshot goes
-1:50 - steady shot started casting
-0:50 - steady shot fires
-0:40 - multishot starts casting
+0:10 - multishot fires
+1:10 - you should be able to start casting steady shot, but you're not
+2:01 - you lost your full auto shot, you're casting next one, and now you're able to start casting steady

and you should be able to

[2019-02-12 16:12] MiekZer opened #4317 "Omor HC not giving 2 loots"
Hellfire ramparts HC :

In this 2008 video (didn't find an other video where we can see his loots) we can see him giving 2 loots : https://www.youtube.com/watch?v=yrCV4jLLLI8

Due to this video being in 2.4 I checked every patchs notes here https://wowwiki.fandom.com/wiki/Patches/2.x and I couldn't find any change about Omor giving 1 more loot.

Due to Omor loot table being 2 times bigger than oth

[2019-02-12 16:34] MiekZer commented on #4304
Okay I understand now your consideration.

I was personally able to do the sequence you describe (I don't use macro):
 -0.4 : MS then at +1s~ able to cast a steady shot but it's blocking the autoshot due to  steady shot not being fast enough to be fired before autoshot animation begins (before 0.5s autoshot animation) so your autoshot 0.5s animation and fire is delayed until your steady shot finis

[2019-02-12 17:53] zefurr opened #4318 "[Hunter] Misdirection charges used by Frost (slow) trap"
Description:
Misdirection charges are consumed when enemies walk over a frost trap.

How it works:
Misdirect someone, pull some mobs over a slow trap, misdirect charges get used up. No shots fired, no attacks of any kind made.

How it should work:
Misdirect charges should only be used by a hunter's ATTACKS as stated in the tooltip.

Source (you should point out proofs of your report, please give u

[2019-02-12 18:00] zefurr commented on #4315
Playing a hunter, so there's some degree of bias.

If we can agree on hunter traps having no arming time when the hunter is out of combat, and there are no explicit patch notes about this issue since vanilla I'd say look to the vanilla behavior. Did a hunter using FD trap on a scattered target trigger instantly freeze or was there a delay? What was the behavior if walking up to yellow (non aggress

[2019-02-12 18:01] estenv commented on #4315
What a completely pointless discussion.

On server:
[https://clips.twitch.tv/GorgeousScaryLardChocolateRain](https://clips.twitch.tv/GorgeousScaryLardChocolateRain)

In retail:
[https://youtu.be/LamuL4e4Y0E?t=104](https://youtu.be/LamuL4e4Y0E?t=104)

It's obviously not working like it did in retail based on these 2 videos. Never have I experienced a instant hunter trap _TRIGGER_ time (not cast, Ir

[2019-02-12 18:31] MiekZer commented on #4309
+1 no damage done

[2019-02-12 18:49] zefurr commented on #4315
That retail clip doesn't seem particularly relevant.

There's no one on the trap to trigger it before the arming time has passed. We need a clip of a hunter out of combat (or feigning to exit combat, with their pet also disengaging) and laying a trap at the feet of another target. Hunter has to be essentially point blank.

That said I'm inclined to agree as I do not recall ever seeing instant feig

[2019-02-12 19:04] Diobloxx commented on #4309
Checked dps logs and confirmed it doesn't show Kill command anymore even though it's on cooldown.

[2019-02-12 19:20] firngrod commented on #4315
@asdfman I fail to see that it's pointless when people obviously disagree, and it can have a big impact on the game.

Furthermore, when someone requests a change or reports a bug, the onus is on them to provide some evidence that a change is required, never the other way around.

Later in the video you link, there is a point which does indicate that the Feign-Trap shouldn't instantly trigger, thou

[2019-02-12 19:24] zefurr commented on #4315
@firngrod
I spotted that same moment you linked. The hunter doesn't pull his pet off the priest, so he would not have dropped combat.

[2019-02-12 19:31] firngrod commented on #4318
An article about Misdirection at the time of BC has a tip about using it with Explosive Trap, indicating that traps should indeed work with this.  However, it's arguable whether Frost Trap should be considered an attack since it does not do any damage.  Neither does Distracting Shot, though, and that should definitely work as far as I can tell.

It seems to me that it should depend on whether or n

[2019-02-12 20:38] MiekZer commented on #4298
repentance looks working as intended without skiping but now repentance casts are instants... Fix that please. They are not supposed to be instant.

[2019-02-12 20:40] #525 closed

[2019-02-12 22:06] MiekZer commented on #4297
since this fix I have seen some chains casted on nobody (but at least I've seen it casted on the tank so it's working) but now there is a new bug with chains casted on nobody, you see the animation of chains smoke in the middle but the chain doesn't appears and nobody is teleported in the middle. It happened often during the fight.

[2019-02-12 22:55] Jeansapin commented on #4233
Hmmm excuse be but it's only 200 shadowbolts ... And as a spellhit capped warlock you should do 1%, not 1,5% ...

Have you changed something recently about it ? Or did you just tested it.

If you could let us, or yourself if you want, try it on more than 200 bolts it would be awesome ...

EDIT : By the way, do you have a shaman in your party ? I can't see him. You just summoned this totem, but it

[2019-02-13 00:29] pinkisnotgay commented on #4228
Bumpe @Afgann

[2019-02-13 00:40] Lichbait commented on #4233
also try it natural hit cap (202 hit warlock), without shaman totem.

[2019-02-13 01:43] pinkisnotgay opened #4319 "[Enchanting] Formula: Enchant Weapon - Major Spellpower."
Description:
Throughout last 2 weeks I've spent over 10+ hours and killed over 1150 Bashi'r Spell Thiefs
Formula: Enchant Weapon - Major Spellpower doesn't drop. I was talking to Crafty via Game Ticket and he told something about the drop rate "it's really low 5.2% from npc 20614, and 1% from npc 22242". According to his words the recipe should drop from both Raazani Spell Thief (npc 20614) and Ba

[2019-02-13 01:55] Mikju1 commented on #4319
Same here haven't seen it dropping! farming like grazy those spellthief's!

[2019-02-13 02:20] MiekZer commented on #4233
I think that summoned totem via gm command (and totem directly belonging to you) may have different interaction than totem sumonned by shaman in your party...

[2019-02-13 06:25] akrom23 commented on #4233
@MiekZer No, this is the same.
@Jeansapin @Lichbait 200 casts are enough to see the difference and the result.
Against 73 lvl mob, I need 17% as I remember correctly. So that's why i got less than 202 - i wanted to check if totem add 3%.
@Jeansapin - 12 + 3 != 17.

[2019-02-13 07:43] Lichbait commented on #4233
You only need 16%. 202 is the cap without totem for warlocks. Is the tested resist percentage 1% if you cap without a totem? Perhaps spell hit itself is broken.

[2019-02-13 09:30] akrom23 commented on #4233
@Lichbait Without totem I have 12.76, as you can see. Got 4% resist.
With totem it is 15.76% - got 1.5%. For me it works fine.
These numbers ofc are not 100% accurate, because of low numbers of resists.

[2019-02-13 09:52] aeyers opened #4320 "[Item] [Buff] [Using +healing trinket dosn't update the hots efficiency]"
Description: [Using +healing trinket dosn't update the hots efficiency]

How it works: Using a +heal use trinket dosn't update the current state of a "healing over time effect".

How it should work: Using a +heal trinket should update the current state of a "healing over time effect"

Source (you should point out proofs of your report, please give us some source): ![wowscrnshot_021319_104555](http

[2019-02-13 09:57] aeyers commented on #4320
Correction - this seems to only affect lifebloom, rejuvenation works as intended.

[2019-02-13 10:07] akrom23 commented on #4320
@aeyers What trinket?

[2019-02-13 10:33] flapse32 opened #4321 "High Astromancer Solarian fps drop"
Description: High Astromancer Solarian

How it works: My guild had 20 people in a raid dropping to 5 fps on Solarian boss fight. It was fine to begin with and it got worse and worse the longer we were fighting the boss. Was not just the adds phase it was just in general. Was unplayable. This is the first time it happend and it only happend to 20 people out of 25, so maybe a addon? eitherway its wo

[2019-02-13 11:20] aeyers commented on #4320
@akrom23 Essence of the martyr

[2019-02-13 11:20] aeyers commented on #4320
Another correction - Only affect lifebloom when its at 3 stacks.

[2019-02-13 12:09] mchayes commented on #4321
Did your guild swap to DiamondThreatMeter by chance?

[2019-02-13 15:33] Piezito opened #4322 "[Hunter] Crit chance below normal values"
Description: Hunter 70, was trying to see why my crit chance was low so I respecced to empty all point talents, and kept the necessary items to have  224 AGI with no crit chance from items, with this value I have 0 crit chance, image explain it all

How it works: crit chance below normal values

How it should work: crit chance stacked correctly

Source (you should point out proofs of your report,

[2019-02-13 15:46] Piezito commented on #4201
Happened the same to me, my guess this happens because there's a desync between your character and the server, so while you are on the bottom of the lift and u can jump off, in the server the lift still is on the top, so it considers you 'jumped' and make the fall damage enough to kill you

[2019-02-13 16:02] #1642 closed

[2019-02-13 16:06] flapse32 commented on #4321
We all have it i believe yes

[2019-02-13 16:11] flapse32 commented on #4321
But i mean this is the first time it happend, and we have used Diamondthreatmeter multiple kills now.

[2019-02-13 16:44] VintherMN opened #4323 "Kill Command does no dmg now."
Description: Kill Command does no damage.

How it works: You use kill command after a crit, and it does damage to your target, assuming ur pet is also targeting your target. Kill Command however does no damage after using it, and puts it on cooldown.

How it should work: Kill Command should be doing damage..

Source (you should point out proofs of your report, please give us some source):
http://d

[2019-02-13 17:23] rommicone opened #4324 "Razorfen Downs"
Description: Henry Stern in Razorfen Downs doesn't teach cooking recipe. I have 375 cooking

How it works:

How it should work:

Source (you should point out proofs of your report, please give us some source):

[2019-02-13 18:28] MiekZer commented on #4309
First boss Karazhan : attumen and midnight stacked. Can't kc on midnight invalid target (but can kc on attumen, can also kc phase 2)

Looks like if your pet is closer to target A than with target B you cannot kc on B.

[2019-02-13 18:59] MiekZer commented on #4034
Used .debug threatlist to check various spell reflects and due to the reflected spell not belonging to the warrior (you can check on combat logs and various damage meter that the reflected spell doesn't appear) it's not submitted to defensive stance extra threat generation

[2019-02-13 19:14] Ironjudgment commented on #4323
Can confirm. KC not wokring. https://www.youtube.com/watch?v=x3YEoKLKJAo

I don't know if it's the same issue as #4309 since there's no 'Invalid Target', it consumes mana and applies cooldown on skill.

And #4309 is Resolved - 'Fix NOT Live Yet'.

[2019-02-13 20:26] flapse32 commented on #4323
Can also confirm, u somehow made kill command do no dmg whatsoever.... jeeeez

[2019-02-13 20:39] #2139 closed, assigned to Dootz

[2019-02-13 20:56] Fixedcoco commented on #4309
https://ibb.co/cwj6m5X

[2019-02-13 22:19] neheri commented on #4296
Breath still can be interrupted.

[2019-02-14 00:02] pinkisnotgay opened #4325 "[Item] Felsteel Shield Spike"
Description:
Felsteel Shield spike is not working properly. The damage should vary betwen 26 and 38, but it usualy deals less damage. From 23 to 25

How it works:
It deals less damage than it's supposted to.

How it should work:
Damage should vary between 26-38

Source (you should point out proofs of your report, please give us some source):
![felsteel shield spike 2](https://user-images.githubuse

[2019-02-14 05:10] Macnjacks commented on #3988
So when is Tidalvess WF going to be fixed? This is still 1 shotting tanks. How is this normal?

[2019-02-14 06:30] Leiffis opened #4326 "Water mote clouds in Zangarmarsh give motes of life."
Description: Mote clouds that can be extracted with [Zapthrottle Mote Extractor] in Zangarmarsh should give the engineer motes of water, NOT motes of life.

How it works: Engineer gets motes of life from Zangarmarsh gas clouds.

How it should work: Engineer should get motes of water from the gas clouds in Zangarmarsh.

Source (you should point out proofs of your report, please give us some source)

[2019-02-14 09:31] NoCandy commented on #4319
I got it after killing 9 thiefs today confirmed working, you are just unlucky.

[2019-02-14 10:05] #2769 closed, assigned to Afgann

[2019-02-14 10:44] flapse32 commented on #4323
It works normal now again after the server update.

[2019-02-14 11:12] Wojtyas commented on #4321
Dunno if I should consider it as bug or what. It looks like its clientside issue not realm, will ask dev anyway.

[2019-02-14 11:14] Wojtyas commented on #4326
Back in 2.0 u could gain mote of life from them. Will be changed with adequate patch change.

[2019-02-14 11:14] #4326 closed, assigned to nobody

[2019-02-14 19:26] Nghedi opened #4327 "Curse of Pain"
Description:

Curse of Pain of Painmistress Gabrissa should vanish below 50%

How it works:

It doesnt.

How it should work:

It should.

Source (you should point out proofs of your report, please give us some source):

See description of curse

[2019-02-14 19:27] RoDavid4 opened #4328 "Aeonus drop"
Description:
he never drops healing wrist or trinket, i run it like 20 or 30 times, never seen it

How it works:

NEVER DROPS
How it should work:

it should drop the items eventually

[2019-02-14 19:38] #4323 closed, assigned to nobody

[2019-02-14 20:06] NoCandy commented on #4328
Just 2 days ago a warrior comented that the wrist drops every time, ive seen the trinket multiple times aswell. For me those 2 items are the most common drops.

[2019-02-14 21:02] firngrod commented on #4328
Had the same thing happen to me on retail.  I must have run that instance more than 30 times before I got the Primalsurge Bracers.  RNJesus loves you not, I guess.

[2019-02-14 21:20] RoDavid4 commented on #4328
drop rate MUST BE bad, there is no way i NEVER see the fuckyn wrist, there is almost 0 mail healing items plus rshaman DON'T HAVE D3 SET and resto shaman DON'T HAVE pvp OffSet so.... how the hell can i gear up playing in a low pop server when the boss DON'T WANT TO GIVE ME THE WRIST

i just can't, i don't want spirit gear, i see the stupid hourglass soooooo many times resto shaman wrist drop rate

[2019-02-14 21:21] RoDavid4 commented on #4328
18 fuckyn dragons every run 18!!!!!!!!

[2019-02-14 21:36] RoDavid4 commented on #2960
Blackhearth the inciter kind of cc us but he dont make us fight eachother

[2019-02-14 21:37] RoDavid4 commented on #3288
point 4 is not working, the 2nd boss don't make players fight themselves

[2019-02-14 21:41] RoDavid4 commented on #3556
+1

[2019-02-14 22:01] neheri commented on #4228
@Afgann @akrom23

- [x] Leo's fire balls can be intterrupted (several interrupts in a row and debuff is reset - no lock needed)
- [x] Inner demon shadowbolt can't be reflected (GG as prot war)

[2019-02-14 22:31] Nicklastoft commented on #3590
Confirmed that this is in fact working with around 5 or less yards, instead of 40 - seems like a simple enough fix

[2019-02-14 23:29] Feorblade commented on #4288
I would like to add that I was able to Shadowstep while I was stuck in place, but even after stepping to a target, I wasn't able to my character I was merely stuck in a new location. Maybe it has something to do with holding your move key while being CC'd and using your trinket?

[2019-02-15 02:20] #4319 closed, assigned to nobody

[2019-02-15 04:36] NoCandy opened #4329 "[Q]Frankly, It Makes No Sense..."
Description: In the quest Frankly, It Makes No Sense... in SMV arcano-Scorp pvp skills hits itself instead of target. Also Arcano-Scorp summoned by someone of the same faction shows up as hostile(not sure if this is a bug).

How it works: Arcano-Scorp stun skill and dmg skill attacks itself no matter what target you have.

How it should work: Arcano-Scorp should dmg other Arcano-Scorps

Source (yo

[2019-02-15 06:44] akrom23 commented on #4288
Guys: screenshots with combat log, please.

[2019-02-15 08:29] neheri commented on #4311
Boss seems to be working fine.

Knockback reduces aggro by 25% which is a lot and the longer you fight him, it hurts more.

Clearly DBM, Omen and KTM are not 100% accurate with threat situation. You can use .debug threatlist command to see real data queried from the server.

Priest was generating a lot of threat due to aoe heals, warrior was below him (despite what DTM said) and void went after pr

[2019-02-15 08:57] arkatik commented on #4314
@Wojtyas , @akrom23
Tomorrow is the last day to play arena, but how to play if the bug exists?
This is critical for pvp and this should be fixed immediately.
it feels like you're specifically killing a dead pvp...

[2019-02-15 13:34] #4324 closed, assigned to Dootz

[2019-02-15 13:34] #4309 closed, assigned to akrom23

[2019-02-15 13:35] #4297 closed, assigned to Afgann

[2019-02-15 13:35] #4296 closed, assigned to Afgann

[2019-02-15 13:36] #4290 closed, assigned to Dootz

[2019-02-15 13:36] #4279 closed, assigned to akrom23

[2019-02-15 13:36] #4192 closed, assigned to Dootz

[2019-02-15 13:36] #4143 closed, assigned to Dootz

[2019-02-15 13:37] #547 closed

[2019-02-15 13:37] #4300 closed, assigned to akrom23

[2019-02-15 13:37] #4299 closed, assigned to Afgann

[2019-02-15 13:37] #4298 closed, assigned to Afgann

[2019-02-15 13:37] #903 closed

[2019-02-15 16:26] notsofamous commented on #4322
What's your weapon skill?

[2019-02-15 16:37] flapse32 commented on #4321
Going to raid it again tonight, will let you know the outcome.

[2019-02-15 16:46] mchayes commented on #4219
This is broken again. They move at fullspeed.

[2019-02-15 18:08] #4328 closed, assigned to nobody

[2019-02-15 18:28] KayleeFrye1 commented on #4311
@neheri Did you spread out when you killed him?
Do you by any chance have a video to maybe help us understand what went wrong? :)

[2019-02-15 18:33] neheri commented on #4311
We were stacked and fought him in between his legs, but that increases tps from healers greatly.

There were some problems with losing aggro from tanks because of that knockback, but we did nothing special, used 3 tanks and the raid let us fight him without dpsing for some time and he sticked to tanks until few % of his hp left last week.

Use .debug threatlist command to get real aggro amounts fr

[2019-02-15 20:31] blackabbath commented on #1593
marmot is unable to move at all. otherwise, my char can only jump.
even if i cancel quest buff, char still immobilized so I should do relog to regain control back.