[2019-01-03 20:40] badmannerkid opened #3987 "[The Tempest Keep] Void Reaver"
- [ ] Void Reaver sometimes casts his threat knockback ability on the person that is 2nd on threat instead of the primary threat target

- [ ] Stomp range is large, probably intended to avoid the "sweet spot" tactic

- [ ] Threat table on him needs looking at very closely. Its very finicky and somehow we had a ranged pull threat even though they were 16th on the meter. We used both Omen and Diamon

[2019-01-03 20:49] badmannerkid opened #3988 "[Serpentshrine Cavern] Fathom Lord Karathress"
- [x] Spitfire Totem is stunnable, might be missing the proper immunity masks but not sure how you want this

- [ ] Caribdis' tornadoes dont allow players to touch the ground, can only escape them by waiting it out or using an ability like intervene. This is same thing as The Crone's Tornado ability in Karazhan. Once you're knocked up once, the tornado will stay under you and continuously knock yo

[2019-01-03 20:51] wilczakadam commented on #1593
still not working

[2019-01-03 20:52] wilczakadam commented on #3607
confirmed, not able to complete the quest

[2019-01-03 21:12] akrom23 commented on #3138
@FrauHolle86
On the second screenshot I see melee swing done in 19:53:22, windfury done in 19:53:23 and next windfury done in 19:53:25. So combat log somehow displayed wrong the first windfury attacks - melee done in 19:53:22, so the next windfury could be done in 19:53:25 - that's okay.
I think that's problem with combat log or it was a lag.

Windfury Weapon proc from the main hand (if not missed

[2019-01-03 21:22] notsofamous commented on #3988
- [ ] Blessing of the Tides is added to the boss at 85%? Should be 75%

[2019-01-03 21:27] Mikov1605 opened #3989 "[NPC]Kagrosh"
Description:
He is for a horde quest in Deathforge. Hes corpse should only be underground, near the dwarf corpse for the alliance side. Currently, his corpse is in two places(which is wrong).

How it works:
![image](https://user-images.githubusercontent.com/43579401/50662431-a9d7f100-0fa6-11e9-98df-8e39b66b772a.png)

How it should work:
He shouldnt be in that place. 2nd place where his body is, is

[2019-01-03 21:41] ninc opened #3990 "[Karazhan][Nightbane] Aggro reset between phases"
Description:

How it works:
Nightbane does not reset aggro before landing, which basicly kills all healers.

How it should work:
He should reset aggro before landing. Only killing healers if they have hots rolling or are stupid...

Source (you should point out proofs of your report, please give us some source):
https://www.youtube.com/watch?v=UOxP0Ca-9c4

[2019-01-03 21:46] Mikov1605 opened #3991 "[Item]Rod of Lianthe"
Description:
It just dropped from a NPC.

How it works:
![image](https://user-images.githubusercontent.com/43579401/50663246-4b604200-0fa9-11e9-99e7-ac042886a2bc.png)
Dropped from that hawkstrider.

How it should work:
Should only drop from  Lianthe's Strongbox

Source (you should point out proofs of your report, please give us some source):

[2019-01-03 22:51] FrauHolle86 commented on #3138
- imo [19:53:23 - Stormstrike] triggered the WF procc at 19:53:23, not the meele swing before at 19:53:22
- i think 1 big issue is, that there is a delay between MH and OH hitting the mob (see post above)
- if you check Screenshot 1, u can see that the first WF procc is getting triggered by a meele swing at 19:41:00 and the second WF procc is getting triggered right after with the next meele swing

[2019-01-03 22:55] Iperyth opened #3992 "[Hunter][Pet] Weird pull/aggro"
Description:
During Kara run, for some reason my pet pulled mobs from huge distance from which it should not be able to. First time it was through the wall from the room next to us while I was AFK for couple of minutes. Friend of mine noticed that whole pack run to the pet, killing it and running to me.
2nd time it pulled pack from the other side od corridor, while standing BEHIND the line of tote

[2019-01-03 22:58] Iperyth commented on #3452
Issue was fixed few hours later, it was related somehow to pet. Other characters worked just fine.

[2019-01-03 22:59] #3564 closed, assigned to Dootz

[2019-01-03 23:24] ahlens opened #3993 "[NPC] Hagrus"
**Description:**
According to this [information](http://classicdb.ch/?npc=3335) NPC called Hagrus in Ogrimmar should sell [Recipe: Great Rage Potion](http://classicdb.ch/?item=5643).

It doesn't exist in his trade window.

[2019-01-04 00:22] notsofamous commented on #3984
Omg dont nerf vashj...

[2019-01-04 00:23] notsofamous commented on #3985
Morogrim damage is fine, we had no issues with him.

[2019-01-04 01:38] Tepmaister opened #3994 "Tabard vendor doesn't have option to recover tabards"
Description:
Tabard vendor in Orgrimmar doesn't have option to recover your lost tabards. I accidently deleted my Purple Trophy Tabard of the Illidari after doing the quest The Battle of the Crimson Watch. And tabard vendors should be able to recover your tabards you lost.

How it works:
Tabard vendor has only vendor when you click on her.

How it should work:
Tabard vendors should be able to reco

[2019-01-04 02:19] Yzzomrots opened #3995 "Bandages being Improperly Interrupted"
Description:
When using a bandage on a Pet, while you have no DoTs nor anything attacking you. The bandage will immediately interrupt your cast bc the pet is being attacked.

How it works:
Bandages act like a channeled HoT but damage interrupts this cast.

How it should work:
Bandages should only be interrupted when the caster takes damage not the target unless the target is the caster.

Source (y

[2019-01-04 03:17] Ethugx commented on #3974
https://cdn.discordapp.com/attachments/514187778360344577/530584853675245589/Screenshot_2.png

[2019-01-04 04:57] brabideau commented on #2859
Just had a GM reset it for my group, after we did it twice.

GM said it works, as long as you don't use pets or totem. My group was a hunter, resto shaman, and ret. So, apparently it works, as long as we don't use half of our cumulative class abilities. Obviously, we weren't able to complete it, but all the waves DID spawn.

Did other groups with this problem have hunters, shamans, or warlocks?

[2019-01-04 05:23] lugiebob opened #3996 "Children's Week"
Description:
Quest that has you use the whistle and talk to the child you're looking after

How it works:
You talk to the child but it does not give you a way to turn in the quest to them, instead just says "Greetings *Character name*)

How it should work: Should be able to turn in quest and complete children's week quests.

Source (you should point out proofs of your report, please give us some s

[2019-01-04 05:26] lugiebob commented on #3181
This has been fixed

[2019-01-04 05:51] Clanatk commented on #2367
I also have this issue.

[2019-01-04 05:55] Eternae1 opened #3997 "[Raid] Instantly get saved to raid IDs with no warning"
Description:  If you enter a raid while in a raid group that has a different ID even though yours is fresh, you will automatically get saved to that ID regardless if the raid leader is inside or not.

How it works:  No warning about being saved. You can instantly get saved to a fully cleared raid and screw yourself out of a weekly lockout.

How it should work: Should have a warning or 1 min countd

[2019-01-04 05:58] Bramaj opened #3998 "Blasted Lands: Teleported randomly to top of mountain"
Description: While travelling the blasted lands I was instantly transported twice now to the top of the mountain in the Blasted lands where the shrine is.

How it works: There were no markings on the ground to indicate anything like this and happened in different locations when near the mountain.

How it should work:

Source (you should point out proofs of your report, please give us some source):

[2019-01-04 05:58] Eternae1 commented on #3997
Please note, there is no warning or message to click yes or no on. It instantly saves you without your choosing.

[2019-01-04 06:59] maseta9 opened #3999 "Dual Spec EXPLOIT Holy priest to Shadow priest"
Description: I have dual spec on my dwarf priest, my second spec is holy/disc and I have Divine Spirit and Prayer of Spirit on this spec. When I change back to my Shadow spec, which is my main spec, I can't use Divine Spirit, however I can still use Prayer of Spirit. This is an amazing advantage!

How it works: When on my Shadow Spec (no Divine Spirit learnt) I can still use Prayer of Spirit becau

[2019-01-04 07:46] firngrod commented on #3995
While not conclusive, it's worth noticing that a tip describing your desired effect was removed from the linked wiki article in October of 2006, around the time when BC came out because it was pointedly NOT true at that time.  This may have changed later, but I distinctly remember damage to the target interrupting bandages at some point.  I don't know if it was ever changed or if so, when.

http:/

[2019-01-04 07:50] anthony9915 opened #4000 "Design: Relentless Earthstorm Diamond not being sold by vendors"
The Consortium vendors are not selling the Design: Relentless Earthstorm Diamond
 Vendors are: Karaaz <Consortium Quartermaster> in Netherstorm
Paulsta'ats <Consortium Quartermaster> in Nagrand

This design was released in the first patch of the TBC expansion 2.0.3 but both vendors do not have it, I remember it being in any other private server that was a fresh progressive so i've been try to get

[2019-01-04 07:52] firngrod commented on #3992
I have experienced some similar issues with pets and agro.  It seems like their agro range is larger than players'.  At the time, my pet was a lower level than myself, so I put it down to that.  I presume that wasn't the case for you?

I am not certain, but I don't think I remember ever having a pet get agro while just walking around in retail, so I think there was some sort of agro range reductio

[2019-01-04 07:59] #4000 closed, assigned to nobody

[2019-01-04 08:19] firngrod commented on #3975
To clarify my previous comment:  The forum post from around 4.2 mentions melee weapons disappearing along with a deadzone.  My point was that I don't think they kept the deadzone for as long as they kept melee weapons on hunters, because we all agree that at some point there was a direct transition between melee and ranged, right?  No such transition without melee weapons.

[2019-01-04 08:47] leylandpaladin opened #4001 "Missing mobs on path of conquest (duplicate)"
Description:

Eclipsion soldiers and Eclipsion Spellbinders particaly missing in Path of conquest, making it harder to farm them.

How it works:

![again](https://user-images.githubusercontent.com/45656368/50679877-58ffe100-1016-11e9-96dd-66e27013824b.jpg)

![image](https://user-images.githubusercontent.com/45656368/50679888-661cd000-1016-11e9-95f0-7f0a9bc96587.png)

Mobs are missing in zone marke

[2019-01-04 09:40] Mikov1605 opened #4002 "[NPC] Arcane Guardian"
Description:

https://github.com/SunwellWoW/Sunwell-TBC-Bugtracker/issues/3971
How it works:
You closed it to fast, wrongly. Please look at it and correct

How it should work:

Source (you should point out proofs of your report, please give us some source):

[2019-01-04 10:09] Bugadin commented on #3684
So... if it's fixed, why don't you apply it? 4 days now

[2019-01-04 12:07] #3995 closed, assigned to nobody

[2019-01-04 12:26] #2519 closed, assigned to Dootz

[2019-01-04 12:26] #2188 closed, assigned to Afgann, Dootz

[2019-01-04 12:26] #2575 closed, assigned to Dootz

[2019-01-04 12:27] #2847 closed, assigned to Dootz

[2019-01-04 12:53] Felynda commented on #3910
So are we getting them or not? If you want properly tested bug reports its kinda needed

[2019-01-04 13:14] Scipios commented on #3997
This is TBC, this feature was only implemented with WotLK.

[2019-01-04 13:16] MadderThenMad commented on #3994
I don't think there was a feature like this in TBC

[2019-01-04 13:38] Ibuprofeno opened #4003 "[Item][engineering][spell aura] Nigh-vulnerability belt - Complete vulnerability not removed by immunities."
Description: Complete vulnerability debuff from engineering nigh-invulnerability belt isn't removed by immunities such as Ice Block or Divine Shield.

How it works:
Complete vulnerability debuff from engineering nigh-invulnerability belt isn't removed by immunities such as Ice Block or Divine Shield.

How it should work:
Ice block and Divine shield should remove this debuff.

Source (you should po

[2019-01-04 14:00] username-is-not-taken opened #4004 "An enchant done in trade window doesn't show"
Description:
When enchanting an item through trade window, the enchant does not show up in the "will not be traded" item slot where the item to be enchanted is placed. The enchant is also done right away, rather than when both parties agree to the trade.

How it should work:
Item to be enchanted is placed in the "will not be traded"-slot -> Enchant is done in the trade window (but not applied) ->

[2019-01-04 14:17] Ibuprofeno opened #4005 "[spells] channeled spells/arcane missiles having no effect during the cast"
Description:  Arcane missiles will start its cast as normal but no missiles come out of it. Kinda hard to replicate best hint I can give is tryning to turn the camera around while starting the cast so it has to reface your character.
I don't know if this happens to other classes channeled spells such as drain life-mana/mind flay. It doesn't happen to blizzard.
How it works: Arcane missiles will so

[2019-01-04 15:23] akrom23 commented on #2747
No info about levels, mob, stealth rank. Closed.

[2019-01-04 15:23] #2747 closed, assigned to nobody

[2019-01-04 15:42] ozzmann commented on #3992
I also keep experiencing this wierd pet aggro range. +Sometimes when your pet dies close to the mobs --> Revive Pet from lets say 40yd of the mobs --> Mobs aggro your pet instantly after Revive Pet.

[2019-01-04 15:46] Iperyth commented on #3992
Yeah, happened to me few time as well.

Since I lost my previous pet b/c stable bug (no refunds) I tried to lvl up highest lvl ravager, which is 63. Aggro range is so huge and XP gain so low that it makes it almost impossible to  lvl it up all the way to 70. And it was supposed to get 70 in a week just by doing just daily quests...

[2019-01-04 16:54] Eternae1 commented on #3997
Alright well I made a ticket about it and the GMs said "raid group probably clicked accept for ID lockout by mistake" we didnt click accept or yes to anything, just instantly got saved and screwed out of a week's lockout. No response on discord either.

[2019-01-04 16:56] notsofamous commented on #3984
No, they should spawn down at the water.

[2019-01-04 17:03] Eternae1 commented on #4004
Enchanters can also get screwed over if its their mats, people can wait til you chant their gear and cancel trade, walking away with an enchanted piece of gear for free.

[2019-01-04 17:06] #3925 closed, assigned to Afgann

[2019-01-04 17:45] babno opened #4006 "Avenger's shield bouncing to CCd mobs"
Description:  It was made in 2.4 to not break cc'd mobs as as stated here by sunwell tracker spells should behave in a 2.4.3 fashion https://github.com/SunwellWoW/Sunwell-TBC-Bugtracker/issues/2908

How it works: It will bounce to and break mobs out of sap/sheep/etc.

How it should work:  It should never bounce to a cc'd mob, it should only hit them if it's your primary target

Source (you should

[2019-01-04 19:02] #3092 closed, assigned to nobody

[2019-01-04 19:02] #2641 closed, assigned to nobody

[2019-01-04 19:02] akrom23 commented on #2037
No response. Closed.

[2019-01-04 19:02] #2037 closed

[2019-01-04 19:03] akrom23 commented on #2224
No response. Closed.

[2019-01-04 19:03] #2224 closed, assigned to nobody

[2019-01-04 19:09] SlizeTBC opened #4007 "[Dungeon] Leaving BWL returns you to the outside of UBRS"
Description:

Entering BWL via the ORB get you teleported right before the Dungeon/Raid Portal. This Raid Portal, and the entrance to BWL is inside of UBRS.

How it works:

Entering BWL from UBRS teleports you to BWL like the Orb on the outside and it works fine. The other way around doesn't work, since you dont get teleported inside URBS after leaving BWL, instead you will get teleported to the o

[2019-01-04 19:38] ZaoQ commented on #4004
just be persistant on them to give you gold beforehand, solution until fix

[2019-01-04 19:46] Dootz commented on #4002
Hi, i receive email notifications when you reply. I saw your message. I'll re-check it today :)

[2019-01-04 19:46] #4002 closed, assigned to Dootz

[2019-01-04 20:28] #3758 closed, assigned to Dootz

[2019-01-04 21:15] Thempest commented on #3480
I can confirm, I've played on Feenix server and it was only their issue, not common feature.

[2019-01-04 21:26] notsofamous commented on #1845
- [ ] **Elementals still walk way too fast**

- [x] Shapeshifted druids can't click generators, the core just disappears and nothing happens

- [x] Enchanted elementals are stunnable, slowable and CCable. Should be immune to it.

- [ ] Coilfang Striders should be rootable with Netherweave Net, they are currently immune.

- [ ] Coilfang Striders are trapable by hunters

- [ ] MCed targets are fully

[2019-01-04 22:51] Dootz commented on #3971
ok, that makes sense. But since it's **Scryer** Arcane Guardian https://www.wowhead.com/npc=18568/scryer-arcane-guardian it would be logical that he only shows location of Scryer's vendor https://www.wowhead.com/npc=19330/lisrythe-bloodwatch ? So a fix would be to replace current Aldor vendor co-ordinates with ones of Scryer's vendor. What do you think? :)

[2019-01-04 23:01] Mikov1605 commented on #4002
Didnt knew that, sorry ;)

[2019-01-04 23:07] mintnb opened #4008 "Auchenai Mana Potion"
The horde Spirit Shard vendor Spirit Sage Gartok sells limited amounts of the Auchenai Mana Potions. It should be infinite according to wowhead.

[2019-01-04 23:15] mintnb opened #4009 "Avatar of the Martyred - AC hc"
If you kill the avatar before the Exarch then loot it and wipe the new avatar on the next attempt drops loot again.
If I recall correctly he should be able to be looted once the Exarch dies.

[2019-01-05 01:08] Filosof93 opened #4010 "Mysterious Arrows/Bullets Non-existent"
Description:
TBC's first epic projectiles are not available on Nightbane.
It should be available since both SSC and TK is out. Right now Hunters are using level 68 projectiles, gimping their DPS in higher-tier raiding by a bunch.
How it works:
It is not existing on the server. Eventhough we are basically on patch 2.2.0 (TK & SSC)

How it should work:
It should be sold by Apprentice Darius outside

[2019-01-05 01:34] GreendayTBC opened #4011 "Had arena points taken away, never got it back."
Description:
So after last weeks reset I had gotten my arena points under "PVP", but after a few days when my friend still hadn't recieved his points, I looked under PVP and saw that it was rerolled/taken away which lead to me only having 1 week of arena points instead of 2.. and havent gotten a proper answer or fix from GM's - but they told me to make a bugtracker for a developer to check this pr

[2019-01-05 02:07] Kiszh commented on #3965
Can confirm, WF totem barely ever procs despite the fact that it shouldn't have an ICD, outside of not being able to proc off itself.

http://web.archive.org/web/20081019205344/http://elitistjerks.com:80/f47/t15809-shaman_windfury/

Edit with old EJ thread showing WF totem having no ICD (see the first table). The post also stipulates that WF weapon should have and ICD of 3 seconds that covers both

[2019-01-05 02:50] Sunwellscriptinglul commented on #3479
Still broken drop rate

[2019-01-05 03:15] baade123 commented on #3884
same, guess it was a blood sacrifice

[2019-01-05 03:18] baade123 commented on #3842
i tried to fish in nagrand and could not catch anything >_> i dont know about that

[2019-01-05 03:20] baade123 commented on #3794
the mobs appear to turn around but you can back stab/ shred still .

[2019-01-05 03:23] notsofamous commented on #4010
SSC and TK are both patch 2.0, karazhan ammunition was added in 2.3 (ZA patch)

[2019-01-05 07:35] badmannerkid commented on #3984
@notsofamous genuinely curious because i could be wrong or done too little research, source?

[2019-01-05 08:13] #4010 closed, assigned to nobody

[2019-01-05 10:02] mjk6994 commented on #3886
this is blizzlike tho? lol @akrom23

[2019-01-05 10:12] mjk6994 commented on #3741
h e l l o?

[2019-01-05 10:18] akrom23 commented on #3886
``How it should work:``
``After committing to join a BG that popped, all the other queues to BGs should disappear.``
Please, make up your mind...

[2019-01-05 10:23] mjk6994 opened #4012 "RIP. [Druid Bleed]"
Description:  Rip is STILL not scaling from Attack Power. Considering this is the most used ability of Feral DPS, it's making them extremely shitty in both Arena in PvE.

How it works: There is no attack power scaling with Rip.

How it should work:  Should scale with attack power.

Source (you should point out proofs of your report, please give us some source):  https://cdn.discordapp.com/attachme

[2019-01-05 10:36] Bugadin opened #4013 "Swamp Gas in SteamVault"
Description:  There should be a Swamp gas close to Mekgineer Steamrigger which is definitly not there.

How it works:

How it should work:  Swamp Gas has also been found regularly near Mekgineer Steamrigger in the Steamvault instance.

Source (you should point out proofs of your report, please give us some source):

http://wowwiki.wikia.com/wiki/Swamp_Gas

[2019-01-05 10:37] badmannerkid commented on #3984
@notsofamous after doing a bit more research i agree that Coilfang Elites should spawn at the bottom of the stairs and run up. do you think its possible that Coilfang Striders do spawn at the edges of the top platform while Coilfang Elites are the ones that spawn at bottom of stairs and run upward?

[2019-01-05 12:18] kinglobster commented on #3994
wotlk feature, unlucky for ur tabard tho

[2019-01-05 13:11] ellonija opened #4014 "[Priest] Inner Focus buff not being consumed on instant casts"
Description: As of the most recent server restart/update you did a few hours ago, the Inner Focus talent buff is not being consumed by anything that is an instant cast. It is working in the sense that the first spell you cast has 100% reduced mana cost, but the buff is not going away (therefor the spells cooldown will not begin) until you hard cast a spell.

How it works: If you cast Inner focus,

[2019-01-05 13:30] Lethalbacon2 commented on #3201
Still bugged. come on sunwell lots of people losing gold over this! fix it already

[2019-01-05 13:34] Xvixxx opened #4015 "Warrior melee hit range bugged"
Description:
warrior hits through walls and his melee hit range is to large

How it works:

that they cant hit through pillars or hit someone from 20 yards away

How it should work:

should be normal melee range not range

Source (you should point out proofs of your report, please give us some source):

[2019-01-05 14:05] Bugadin commented on #4015
I reported this since beta but, instead of chek it, it was closed.
Melee's range, sometimes at some situations, gets bugged and u hit some yards far than you should.

[2019-01-05 14:29] Krys23 opened #4016 "Crafting. inventory full bug"
Description:
I recently "created" well tried to create a Arcanite Bar. Then found out my bags were full yet it proceeded to create.
TL;DR I was left with a 1 day cd and loss of mats and no Arcanite Bar. Down 20g at level 44.

How it works:
Currently when you create a item through professions when your bags are full the item vanishes to god knows where.

How it should work:
When you attempt create

[2019-01-05 14:32] flapse32 commented on #3244
So when is this gonna go live? Its pretty critical bug.

[2019-01-05 14:49] firngrod commented on #4016
#3379

[2019-01-05 15:01] blackabbath commented on #448
Witch Doctor Zum'rah doesn't give any loot. Checked on three alliance characters two times.
He should have loot with 100% drop chance!

[2019-01-05 15:29] theantidentite commented on #3447
just tried this last night, still bugged

[2019-01-05 15:52] blackabbath opened #4017 "' Into the Depths' doesn't work"
Description:
This quest is unable to turn-in. No effect when you trying to turn-in at altar at Sunken Temple.

How it works:
While interacting to the altar, it write some text about statues dependence, but it's unable to complete the quest. It doesn't matter you did correct statues interaction order or not; no matter what you do: statues first or go directly to altar.
https://i.gyazo.com/a8441b5cd

[2019-01-05 16:21] blackabbath opened #4018 "Tar Creepers does disarming too often"
Description:
Mobs like **Tar Creepers** and **Tar Beasts** located at Lakkari Tar Pits @ Un'Goro does disarming too often.

How it works:
They cast 'Sticky Tar' every 1-3 seconds which causing impossible for melees to kill them solo.

How it should work:

Source (you should point out proofs of your report, please give us some source):

[2019-01-05 17:52] westerngee commented on #4007
actually that is how it should work.

[2019-01-05 18:39] ghost opened #4019 "Hellboar's buff is bugged [Hellfire Peninsula] [a lot of damage at 1 time]"
Description:
Starving Hellboar buff makes a lot of damage when you hit this boar. It looks like these boars have multiple copies of this buff.

How it works: You hit the boar one time and get a lot of 24 damage hits.

How it should work: You hit the boar one time and get only one 24 damage per hit.

Source (you should point out proofs of your report, please give us some source):
![hellboar](https:

[2019-01-05 19:20] kyotpls opened #4020 "Bug: Amplify Curse not consumed when using Curse of Agony/Doom"
**Description:**
When _Amplify Curse_ is used, followed up by _Curse of Agony_ or Curse of Doom, the _Amplify Curse_ still persists, even if Agony is refreshed or reput several times to Mob A and even Mob B.

**How it works:**
As stated in the description, when you pop "Amplify Curse" followed up by _Curse of Agony_ or _Curse of Doom_, the _Amplify Curse_ buff is not consumed and still persists.

[2019-01-05 20:25] Bugadin commented on #3764
Any new? 12 days ago :/

[2019-01-05 21:05] mintnb commented on #4007
Not broken.

[2019-01-05 21:46] firngrod commented on #4017
I was just down there.  Instead it offered me to complete the Chained Essence of Eranikus quest, which I had already completed.  Something funny going on.

[2019-01-05 21:56] akrom23 commented on #4015
@Xvixxx Screenshot, please.

[2019-01-05 22:50] KayleeFrye1 opened #4021 "Lost my tier 4 helmpiece"
Description:
My headpiece from prince (that I bought cenarion expedition enchant and sockets
(+4 hit 4 agi and +18 stam & 5 stun resist) DISAPPEARED from my slot!

How it works:
Currently standing here with no headpiece

How it should work:
I should have a headpiece

Source (you should point out proofs of your report, please give us some source):
https://puu.sh/Csdw6/e2225911af.jpg

https://puu.sh

[2019-01-06 00:02] KayleeFrye1 commented on #4021
EDIT!

I now have the Token in my  back  again?!
Still short 300 gold for enchants and meta gem :(

https://puu.sh/Csfh9/03b16c6c07.jpg

[2019-01-06 02:38] Thalles777 commented on #4020
I'm having the same issue. It worked fine up until level 63 and now it doesn't consume the buff when used.

[2019-01-06 06:49] edekk opened #4022 "Pyroguard Emberseer encounter"
Description:
Pyroguard Emberseer encounter does not work.

How it works:
When you click Blackrock Altar, nothing happens.

How it should work:
When you click Blackrock Altar, mobs surrounding Pyroguard Emberseer should aggro and then, when you're done with them, you should click altar once more to activate the boss itself.

Source (you should point out proofs of your report, please give us some so

[2019-01-06 07:13] Reflekz commented on #3544
I'm on the alliance side , and its telling me to turn it in to Blood Guard Gulmok at shadowmoon village which is Horde camp.
Here is a SS.
![wowscrnshot_010619_031227](https://user-images.githubusercontent.com/44597439/50733258-f49d6880-1160-11e9-9517-ebbb24d6c0a8.jpg)

[2019-01-06 08:20] kozur commented on #2220
Same problem...

[2019-01-06 08:41] Ironjudgment commented on #3689
Edit: Makes it also harder to explain marks for encounters e.g. Magtheridon - tanks/heals/interrupters

[2019-01-06 09:08] neheri commented on #3990
So the problem is that he resets aggro at certain moment when he's flying. He should reset it at the moment he touches ground and becoms attackable.

Now he flies and throws damage on players, healers gain a lot of aggro and it seems to be impossible to take over sometimes. I hit NB with shield slam + heroic strike then revenge + heroic strike, after that I had ~5-6k threat and he still went after

[2019-01-06 09:14] neheri commented on #3578
Please take a look into this, there are people farming OHF every day and having mobs running through the walls is just nightmare.

There should be some general issue with movemaps/pathing which is a big problem for a lot of players. RFC and SFK are the first instances players see and current state scares a lot of them.

The problem with OHF is that some NPCs ignore walls and run through them. Othe

[2019-01-06 09:23] Bugadin opened #4023 "Melee autoattack's bug when kiting"
COPY PASTE FROM WHAT I WROTE A MONTH AGO IN TEST SERVER BECAUSE IT KEEPS HAPPENING.
Description:
Melee range seems to work decently but there is a bug at kiting, which is a bit difficult to reproduce, that happens when players fights at melee range. The bug has to do with melee range but it's not the same as that bug that happened to all melees 1 week ago.

How it works: When you are fighting at m

[2019-01-06 09:24] neheri opened #4024 "[Boss][NPC] Netherspite"
Description: Netherbreath can be interrupted.

How it works: Netherbreath can be interrupted.

How it should work: Netherbreath should be not interruptible.

Source (you should point out proofs of your report, please give us some source): Never seen a tactic that recommends to interrupt his breath during banish. Cannot see wowwiki information that his breath can be interrupted.

http://wowwiki.wik

[2019-01-06 10:15] Feorblade opened #4025 "Stealth breaking"
Description:

Stealth is breaking when standing near or in buildings that are on fire (for example in Alterac Valley or Old Hillsbrad Foothills)
How it works:

described above
How it should work:

stealth should not break
Source (you should point out proofs of your report, please give us some source):

[2019-01-06 10:48] za-x-az commented on #2220
Would love to see a fix on this soon!

[2019-01-06 10:49] za-x-az commented on #3386
Would love to see a fix on this soon!

[2019-01-06 12:48] SlizeTBC commented on #4007
Nah, you should get ported inside Ubrs fosho!

[2019-01-06 13:43] fakelort opened #4026 "[Paladin][Talent] Pursuit of Justice is not applied to flying mounts."
Description:
Title says it all.

How it works:
The flying mount speed is not increased by a percentage based on the talent.

How it should work:
The flying mount speed should be increased by a percentage based on the talent.

Source (you should point out proofs of your report, please give us some source):

[2019-01-06 15:44] hippietomten opened #4027 "Invisible mobs in Bash'r Landing"
Description: Invisible mobs in Bash'ir Landing

How it works: I pull 5 mobs and aoe taunt with voidwalker and aoe them down with seed of corruption (warlock) and after they are dead i sometime am still in combat and i take damage from thin air and die in the end.

How it should work: I should not be in combat or take damage whenever there are no mobs around me, i try to run away from it but i die

[2019-01-06 16:55] Wojtyas commented on #4019
Duplicate https://github.com/SunwellWoW/Sunwell-TBC-Bugtracker/issues/2439

[2019-01-06 16:55] #4019 closed, assigned to nobody

[2019-01-06 16:58] Wojtyas commented on #4016
Already working on it, its on our internal BT marked as prio.

[2019-01-06 16:58] #4016 closed, assigned to nobody

[2019-01-06 17:00] Wojtyas commented on #4018
Duplicate https://github.com/SunwellWoW/Sunwell-TBC-Bugtracker/issues/3228

[2019-01-06 17:00] #4018 closed, assigned to nobody

[2019-01-06 17:04] Wojtyas commented on #4013
There are Swamp Gases in Zang as intended. Have any proof it should be near location u mentioned?

[2019-01-06 17:06] Wojtyas commented on #4005
Can u record short video of this? Including combat log with missing tick.

[2019-01-06 17:15] Deerleather opened #4028 "Help"
Good day. Help
Throws out of the game with an error when entering the game. Port the character Deerleather Druid 13 lvl home .....

[2019-01-06 17:17] zmthc93 opened #4029 "Talents that reduce silence duration not working when locked, only on blanket silences >GAMEBREAKING ARENA BUG<"
Description:
Talents that reduce silence duration not working when locked by an interrupt spell, only on blanket silences.
The talents I know for sure are not working are 'Improved Concentration Aura' for Holy Paladin and 'Focused Mind' for Resto Shaman.
I believe the talents are working as intended for 'blanket' silence effects like 'Silence' and 'Improved Counterspell' only.
Similar talents I ha

[2019-01-06 17:17] #4028 closed, assigned to nobody

[2019-01-06 17:58] NeonicSupersonic commented on #3464
Fix it kinda big deal

[2019-01-06 19:08] Cornsillix commented on #3980
I had the exact same experience.

[2019-01-06 19:52] yavari321 opened #4030 "Enchanting bugg"
Description:
Something went wrong during a enchanting trade, I was enchanting my offhand, and the enchant ended up on my mainhand, replacing current enchant.

How it works:
^

How it should work:
If you put in your offhand, your mainhand should not be getting the enchant.

Source (you should point out proofs of your report, please give us some source):
Dont really have proof since I usually dont p

[2019-01-06 20:09] Dootz commented on #3201
Will be fixed with next server update.

Step 1: Unlearn mastery from your trainer.
Step 2: Go to different trainer
Step 3: He will offer you option to learn spec.

**Important** note: Do **Not** Unlearn before update. **If you unlearn before update you'll have to complete quest** in order to get new alchemy spec. I'll post an update here + I'll ask dreed to post something on discord once it is liv

[2019-01-06 20:17] helping321 opened #4031 "[Dungeon] Stratholme loot"
Description: Ace of Beasts is dropping from Stratholme when it should only drop from The Beast in UBRS

How it works: Ace of Beast is dropping from Stratholme

How it should work: Ace of Beast should only be a 1-5% drop rate from The Beast in Upper Blackrock Spire

Source (you should point out proofs of your report, please give us some source):

[2019-01-06 20:48] Trolltilla commented on #3201
So if you already unlearned it before fix for 150g you have to do another mastery q and then unlearn it for another 150g?

[2019-01-06 20:49] E1ectroShock commented on #2957
Confirm this bug. Beginning at 1 AM server time

[2019-01-06 20:50] E1ectroShock commented on #3776
Cought 2 of these but no others
So, u just was lucky

[2019-01-06 20:57] Roarek commented on #3917
This also occurs for hunter ranged attacks, on my end every single higher-level mob facing me will block exactly 36 damage from all my physical damage sources. This is not normal, especially for it to occur on every single shot.

[2019-01-06 21:01] Dootz commented on #3201
Each unlearn costs 150g. Right now, once unlearned you can pick up any other mastery quest. After the fix when you unlearn mastery trainers will offer you instant option to learn new mastery. Unforunately if you already unlearned profession you'll need to complete quest to get alchemy mastery. Hope this answers your question.

[2019-01-06 21:04] mhdemn commented on #3201
People that got their money stolen by this unprevisible bug will get their 150 golds refunded?

[2019-01-06 21:05] Dootz commented on #2460
will be fixed with next server update

[2019-01-06 21:15] notsofamous opened #4032 "Solarian"
- [ ] Wrath of the Astromancer deals 9k damage and one shots whoever gets it.

- [ ] She has both versions of "Wrath of the Astromancer", both the bomb and the increased damage.

- [ ] Split happens 40 sec too early

- [x] Void Bolts are interruptable

[2019-01-06 21:48] notsofamous opened #4033 "Al'ar"
As my previous report got closed: https://github.com/SunwellWoW/Sunwell-TBC-Bugtracker/issues/534

Reference map:
![Image](https://i.gyazo.com/0c943202d7fd1e9672887f7ba0162b4e.png)

- [ ] Still moves in a hexagon pattern before you engage him, should be flying around in a circle.

- [x] Seems like he always wants to go to platform 2 when you pull him. He should go to the platform you're at when yo

[2019-01-06 22:33] Dootz commented on #3684
will be fixed with next server update

[2019-01-06 23:08] Bugadin commented on #4015
Details here:
https://github.com/SunwellWoW/Sunwell-TBC-Bugtracker/issues/4023

[2019-01-06 23:28] zmthc93 commented on #4015
its not just warriors it is all classes as far as I know

[2019-01-06 23:51] MiekZer opened #4034 "Spell Reflection not totally working (Warrior)"
a spell that you spell reflected is not shown as damage done by you (the spell doesn't belong to the warrior, he should) and therefore isn't building threat.

[2019-01-06 23:54] MiekZer commented on #4034
http://wowwiki.wikia.com/wiki/Spell_Reflection

Bc icon Patch 2.1.0 (22-May-2007): Reflected spells generates threat as if the damage were dealt by a normal attack. Also, this threat is subject to the usual threat multipliers granted by Defensive Stance and/or Defiance. This change was not officially noted, but it has been confirmed by several players.

[2019-01-07 00:04] Snikeyxo opened #4035 "Pet cant spent focus"
Description:
My pet is bugged, wont use any spells or focus, no abilities in pet skill tap.

How it works:
My pet will only attack, and use spells not related to focus

How it should work:
My pet should work

Source (you should point out proofs of your report, please give us some source):
My hunter Rako (Orc) Pet = Alex (70 ravager). my 2 other stabled pet work fine.

[2019-01-07 01:40] RarecandyMage opened #4036 "Druid Alterac valley flag cap bug URGENT"
Description:
Druids are re-capping the flags in the alterac valley bunkers in stealth and CAPPING THE FLAG DOES NOT BREAK STEALTH...
CRITICAL BUG FIX URGENT
How it works:  DRuid begins to cap flag in stealth.  Does not break stealth.

How it should work: DRuid begins to cap flag in stealth.  Stealth should break.

Source (you should point out proofs of your report, please give us some source):

[2019-01-07 04:44] zmthc93 commented on #3912
feel like it did this on live as well
source: shaman 1 trick vanilla - wotlk

[2019-01-07 04:58] zmthc93 commented on #3908
- its not exploitable because team rating is used to allocate points not personal rating
- personal rating is only used in matchmaking calculations (not rly applicable on this server due to low number of teams queuing usually) and if the player is within range to receive weekly points / titles from the team

[2019-01-07 05:04] mjk6994 commented on #4036
cant replicate at all

[2019-01-07 06:07] Dootz commented on #2361
Hi, some of it went live. If you still have a lockbox that have empty loot please let me know which one.

[2019-01-07 06:45] #3908 closed, assigned to akrom23

[2019-01-07 06:46] akrom23 commented on #4015
So it's duplicate?

[2019-01-07 08:41] AIRewan commented on #3868
![wowscrnshot_010619_191724](https://user-images.githubusercontent.com/37218176/50757542-f568f400-125f-11e9-994e-5a9e7a749da4.jpg)
same.

There are BS items that I can DE. We tried to find logic in it, so my friend gave me crafted items from recipes and from a trainer - not consistent.

[2019-01-07 09:17] edekk commented on #4035
There used to be a bug when you would use a macro consisting of couple of buffs like Rapid Fire, Bestial Wrath, trinkets etc. That would bug the pet making it use no skills. Quick resolve would be to command your pet to follow and /petattack right after.

I bet your pet is using skills normally when engaging into combat but bugs out at certain circumstances.

Please provide more feedback if bug pe

[2019-01-07 09:55] Lethalbacon2 commented on #3201
what is with people who already tried to do this before the update and lost the 150g? its just gone?

[2019-01-07 10:30] Mikov1605 opened #4037 "[NPC]Mo'Arg Weaponsmith"
Description:
He should drop Legion teleporter device with a 30% chance.

How it works:
Killed 12 of them, no device. I guess loot chance is lower or im just a pretty unlucky person.

How it should work:
https://wotlk-twinhead.twinstar.cz/?npc=19755

Source (you should point out proofs of your report, please give us some source):

[2019-01-07 10:44] Scipios commented on #3997
I guess the GM didn't know that you don't have this feature in TBC.

[2019-01-07 11:09] Devrak commented on #3782
Its is ether invalid or fixed I have recently run strat live 2 times and on both occasions have seen small number of orbs drop

[2019-01-07 11:19] pinkisnotgay commented on #3300
Bumping this. Please fix, this bugs makes us prot palys drink every pack in a dungeon, due to lack of mana.

[2019-01-07 11:21] pinkisnotgay commented on #1789
Bump!!

[2019-01-07 12:00] Kamil-Radzyminski commented on #2967
Is anybody trying to repair this? Please guys, that's a terrible bug!

[2019-01-07 12:11] Bugadin commented on #4013
The last 2 servers I played had this swamp gas. Also, it's said in the wiki: ''Swamp Gas has also been found regularly near Mekgineer Steamrigger in the Steamvault instance.''
It was located in the second's boss platform.

[2019-01-07 12:44] letsfixthis commented on #3201
Is it online now? @Dootz

[2019-01-07 12:46] neheri commented on #4034
I've been reflecing a lot and it definitely gives warrior aggro. Not sure about to who damage belongs though.

[2019-01-07 13:02] Mikov1605 commented on #3971
Both factions got gem vendors :) So yeah, it would be nice if the scryers guardians would point you to scryer gem vendor, and simmiliar on the aldor side with their guardians :)

[2019-01-07 13:03] MiekZer commented on #4034
Ok after retest I have the feeling that it's giving threat on some spells and not on some other spells.
If I reflect a DOT it looks like it's not giving threat.
When I reflect a spell it's working? (but giving low threat ?? should give more in defensive stance maybe?)

[2019-01-07 13:12] Theokrat commented on #3201
nice scam man

[2019-01-07 13:19] zachbugay opened #4038 "Fear as a Buff Instead of Debuff"
Description: In Eversong Woods, on the Golden Strand (West of Sunsail Anchorage) live Murlocs. The Grimscale Murlocs fear you. However, their fear is applied as a buff on the character instead of a debuff.

How it works: The Grimscale Murlocs instantly fear. Their applied fear is buff.

How it should work: The Grimscale Murlocs instantly fear. Their applied fear should be a debuff.

Source (you sh

[2019-01-07 13:27] Snikeyxo commented on #4035
I found out later last night that my pet has unlearned all of its abilities, however they were still showing on my pet bar. But if I go to spell book and into pet tab, it's empty, and I think it started when I tought my pet it's final ability, sending it to 0 training point's. It's a huge problem as the pet will only auto attack, kill command, and stun.

Get Outlook for Android<https://aka.ms/ghei

[2019-01-07 13:38] Dootz commented on #3201
@letsfixthis yup, online.

[2019-01-07 13:38] #3201 closed, assigned to Dootz

[2019-01-07 13:48] Kittykatreporter commented on #4012
Can you please give any proof that bleeds should scale DYNAMICALY with ap? As far as i remember, bleeds back in tbc scaled only when re-applied ( like in tiger's fury case ).

[2019-01-07 15:11] Ibuprofeno commented on #4005
I'm trying but it's too random best I've recorded yet is it spending mana then cancelling itself instantly cast didn't even start in combatlog

[2019-01-07 16:09] AIRewan commented on #2265
can be done for all party member
turn in should be after the escort at the dungeon gate (inside) before he disappears. q done, he thanks and leave without reward T_T

[2019-01-07 16:11] Zodddd opened #4039 "Last restart may have cause item deletion"
Description:
item deleted after last server restart

How it works:
Had a healing cloak which without a doubt was there

How it should work:
Should still be in backpack because didn't vendor it or disenchant

Source (you should point out proofs of your report, please give us some source):
i dont have any before/after pictures, but upon this change some items were mailed back to me. my assumption is

[2019-01-07 16:31] zmthc93 commented on #4036
think there is some interaction with shadowmeld saw a night elf druid doing it yesterday at stormpike aid station

[2019-01-07 16:44] Moonchuck commented on #3382
It's still the same. Im usually gathering herbs for like 2 hours per day while im at work. I'm trying Netherstorm from a week now. There're around 1 to 7-8 herb node per two hours. It's insanely low than the retail. On very high and high populated realms on Retail I was collecting about 4-5 stacks per 2 hours in terms of netherbloom and nightmare vine. Since the online numbers are doubled aswell i

[2019-01-07 17:19] RPAncap opened #4040 "[Quest] Mark of the nexus king"
Description:
Hey I would like a confirmation that this Quest works. You are supposed to get an item that has 25% drop rate from an elite mob that spawns from prison in Bashir landing. They keys to open those prisons are pain to get.

This quest is a part of a chain to summon YOR in heroic mana tombs.

I have already opened 16 of those prisons - the item didnt drop. Either this is bugged or I am ex

[2019-01-07 18:43] nikolajdt opened #4041 "Execute warrior"
Description:
The warrior spell Execute hits for less than its supossed to.
I'll upload a screenshot of a "normal" execute hit, and if you want more screenshots of it then i'll gladly provide it.

How it works:
After i swapped from using 2x 1h weapons to my 2h weapon from my level 30 class quest, execute dropped from doing around 150-200 damage to 70-100 damage. I already tried to clear cache folde

[2019-01-07 18:51] nikola-nixe commented on #3137
Not working.

[2019-01-07 18:56] notsofamous commented on #4032
The boss is still very much killable, so nothing here is urgent.

[2019-01-07 19:09] #3684 closed, assigned to Dootz

[2019-01-07 19:11] Dootz commented on #2698
close due to no reaction

[2019-01-07 19:11] #2698 closed, assigned to Dootz

[2019-01-07 19:11] #2671 closed, assigned to Dootz

[2019-01-07 19:13] #4008 closed, assigned to Dootz

[2019-01-07 19:13] #3993 closed, assigned to Dootz

[2019-01-07 19:13] #3991 closed, assigned to Dootz

[2019-01-07 19:14] #3989 closed, assigned to Dootz

[2019-01-07 19:14] #3977 closed, assigned to Dootz

[2019-01-07 19:14] #3904 closed, assigned to Dootz

[2019-01-07 19:14] #3887 closed, assigned to akrom23, Dootz

[2019-01-07 19:15] #3588 closed, assigned to Dootz

[2019-01-07 19:15] #3585 closed, assigned to Dootz

[2019-01-07 19:15] #3579 closed, assigned to Dootz

[2019-01-07 19:15] #3378 closed, assigned to Dootz

[2019-01-07 19:15] #3349 closed, assigned to Dootz

[2019-01-07 19:16] #1800 closed

[2019-01-07 19:16] #2460 closed, assigned to Afgann, Dootz

[2019-01-07 19:23] Dootz commented on #4040
Hi, currently they have various drop chance ( from 13 up to 24 ). With next server update it will be unified to 25%

[2019-01-07 19:34] Dootz commented on #4037
Seems to be working fine for me. But we'll increase it a bit from next update.

[2019-01-07 19:43] akrom23 commented on #3212
Any news? I don't see any delay there.
On the third one it looks like a lag.

[2019-01-07 19:45] Meerkhat commented on #3212
I didn't experience any lag during those clips. What you are seeing is the
delay. But no, it sucks when I'm using healing and I get swapped to human
form there is still that delay

On Mon, Jan 7, 2019, 2:43 PM akrom23 <notifications@github.com wrote:

[2019-01-07 19:47] akrom23 commented on #3212
@Meerkhat I was not able to reproduce it on local server.
But I will not give up! I will try!

[2019-01-07 19:49] Arom commented on #3927
Gruul is also moving at 100% speed meaning a hunter can basically solo him - How is this not fixed so long after t4 has released?

[2019-01-07 20:48] kyotpls opened #4042 "Bug: Fear costing the same in all ranks"
**Description:**
Warlock's _Fear_ costs the same amount of mana in all ranks. This is incorrect. It should cost different amounts of mana considering which rank is being used. This is crucial for PVP to be using lower mana cost on Rank 1 _Fear_ just like druids using Rank 1 _Entangling Roots_ or Mage using Rank 1 _Frostbolt_ or _Polymorph_

**How it works:**
In the spellbook on the spell tooltips

[2019-01-07 20:48] peanutcheese opened #4043 "[Quest] Cipher of Damnation - Ar'tor's Charge"
Description:
quest ID 10540
upon accepting quest NPC won't spawn me a spirit guide (yes I checked for debuff)

How it should work:
the NPC should spawn you a spirit guide that can find veneratus the many for you

Source (you should point out proofs of your report, please give us some source):

[2019-01-07 20:54] akrom23 commented on #3741
#4012

[2019-01-07 20:54] #3741 closed, assigned to nobody

[2019-01-07 20:56] notsofamous commented on #4042
Source? It could be the same as resurrection spells, all ranks cost the same amount of mana.

[2019-01-07 22:00] babno opened #4044 "[Dungeon] Gatewatchers in heroic mech aren't dropping badges"
How it works: They drop only a key piece

How it should work: They should drop a badge of justice for everyone when on heroic mode.

Source (you should point out proofs of your report, please give us some source):
https://youtu.be/gMaDUFgxbgk?t=566

[2019-01-07 22:14] zanthed1 commented on #3771
This happened again this week on Saturday 1/5. Ive had a ticket open with no response since then. Very frustrating to clear the entire quarter to get a boss with no loot.

[2019-01-07 22:22] Mikov1605 commented on #4044
They should drop a key piece since 2.3, both. Then u combine the pieces and You can open "Cache of the Legion". Up To admins if they allow these guys To drop badges till patch 2.3 or if they leave it.
Source:
https://www.wowhead.com/npc=19218/gatewatcher-gyro-kill
Comment section

[2019-01-07 22:26] Mikov1605 commented on #3447
They focus on important things now, guess they willa fix it in time

[2019-01-07 22:30] zanthed1 commented on #3959
Our raid was using Curse of Recklessness on every pull and by the time we killed the boss our Hunters. rogues, and Rets were doing insane dmg that should not be possible. Tanks didn't notice Gruul hitting harder though.

[2019-01-07 22:33] vititus commented on #3908
?

[2019-01-07 22:34] Mikov1605 opened #4045 "[NPC] Image of Pathaleon the Calculator"
Description:

We meet him 3 times (his image) in quests. Hellfire Giant quest/ The Final Code quest/Manaforge questiline. His quotes are correct besides one fail. During the 2nd and 3rd mentioned quests, he says (additionaly to his supposed text) his quote about Goliathon(from hellfire quest)
How it works:

How it should work:

Source (you should point out proofs of your report, please give us som

[2019-01-07 22:34] Mikov1605 commented on #4045
Will give screens tommorow

[2019-01-07 22:39] Mikov1605 commented on #4045
Here:
https://wow.gamepedia.com/Pathaleon_the_Calculator%27s_Image
His quote from fallen sky ridge is repeated (additionaly) To his other quotes in terrokar and netherstorm.
As you see in The article, it shouldnt happen

[2019-01-07 23:36] kozur commented on #1689
please fix this bug.

[2019-01-08 03:09] MiekZer commented on #4034
After many retests I could see a threat bump only when reflecting in mechanar the first hit of the robot when he's charging. I'm not even sure we're supposed to be able to reflect that since it's a buff on him making extra damage magic on attack.
On every other spells there is literally no threat or such a small amount of threat that it's not noticeable if it really was the spellreflect or your au

[2019-01-08 03:14] Demolla commented on #2967
https://www.youtube.com/watch?v=H9PdjM_7xXM

Video from 8 years ago. Shows how Enslave Demon should work. You cast Enslave Demon > Pets automatically follows you > You can actually Control the demon.

Right now if you enslave demon it only stay where you enslaved it...

[2019-01-08 06:16] firngrod commented on #4042
Wiki article on Fear as of just before Wrath launch:
https://wow.gamepedia.com/index.php?title=Fear&oldid=1641758
Spell costs 12% of base mana, meaning all ranks should cost the same.

[2019-01-08 07:10] sunsmiles09 opened #4046 "My equipments always lose when switch the talent"
Description:
My class is druid and when I switch the talent my equipments which attached on my body or in the package will losing every time. Several days later the losing equipments will be back by mail-box.

How it works:
Equipments will losing once switch talent.

How it should work:
Goes without saying.

Source (you should point out proofs of your report, please give us some source):

[2019-01-08 07:15] toeofjesus opened #4047 "Warlock pets wont auto-attack on defense mode for yellow enemys"
Description:
Warlock pets (have tried Imp and Voidwalker) when using defensive stance for pets, pets will not attack yellow mobs if you engage first. Pet will only attack if you do it manually. This only occurs on yellow enemy's. (red enemy's work perfectly)

How it works:
When pet is on defensive stance and I engage a yellow enemy, pet will not engage and will sort of glitch  to the side of me. P

[2019-01-08 08:07] neheri commented on #4034
As for me, reflect gives significant amount of threat, I've been reflecting in mecha, SV, even SP to hold slave casting mobs. It's usually enough to keep them off healer. Would need to test with debug command though to check that, If I have time today will go to SV and see.

[2019-01-08 08:32] kyotpls commented on #4042
That is incorrect, that page is showing spell costs as of retail. Just look at mage frostbolt i.e:

https://wow.gamepedia.com/Frostbolt

It says 2 % of base mana, which is not the case in TBC. All spells in retail is based around your base mana pool.

[2019-01-08 08:37] kyotpls commented on #4042
I've seen several videos and pages telling to use rank 1 in PVP scenarious. This is one example I've recovered:

https://gyazo.com/4a251980a27272187a34469b2fe02b8d

[2019-01-08 08:38] firngrod commented on #4042
You have linked the current BFA version of frost bolt.  All spells were normalized this way at some point.  Looking at the article as it was during BC, we see that the ranks had fixed mana costs at that time.

Same article as of August 8th 2008:
https://wow.gamepedia.com/index.php?title=Frostbolt&oldid=1565718

[2019-01-08 08:48] firngrod commented on #4042
Did a little more browsing of the Fear Wiki article.  It appears that the rank mana cost equalization happened around March of 2008.  This article will have updated after the in-game change.  Wrath was released in November.

Last version of the article with rank dependent mana cost:
https://wow.gamepedia.com/index.php?title=Fear&direction=prev&oldid=1278777

EDIT:
This explains BC guides including

[2019-01-08 08:55] firngrod commented on #4042
Basically, one should reference the latest versions of wiki articles before October 2008 (Patch 3.0.x released on October 14th 2008).

[2019-01-08 09:31] KAMPER225 opened #4048 "KEYS"
Description:

Hello! Why can not I buy the key to the heroic level of complexity, having a HONORED reputation with a faction, for example Thrallmar ??? I can buy recipes and everything else that requires exactly this reputation, but the key is not. Please correct this BUG. The key says that I must have a HONORED reputation for its acquisition. And so everywhere and everywhere it works correctly, o

[2019-01-08 09:39] Wojtyas commented on #4042
This is up to 2.4.3 client version.

[2019-01-08 09:39] #4042 closed, assigned to nobody

[2019-01-08 09:49] Wojtyas commented on #4044
Confirmed, we will change it. **HEROIC** only.

[2019-01-08 09:58] kyotpls commented on #4047
Same happens to me. I've noticed that warlock pets never attack themselves most of the time in defensive stance one combat is entered. This clarifies my suspicion.

[2019-01-08 09:59] Arom commented on #4048
At this stage of the game the reputation required for the key is Revered. Problem is with your client having data from another realm, clear Cache and eventually the WTF folder, then it should display correctly.

[2019-01-08 10:00] kyotpls commented on #4048
This is wrong. However it's a visual bag stating that you need honored to buy the key, when in fact you need **revered**

[2019-01-08 10:03] firngrod commented on #4048
The keys were indeed changed from revered to honored in patch 2.3, as can be seen in the notes from this article on wow.gamepedia.com as of July 2008:
https://wow.gamepedia.com/index.php?title=Reservoir_Key&oldid=1513801

The question is then wether this server decides to emulate the progression in instances of retail, releasing instances in tiers and adjusting this along the same timeline, or whe

[2019-01-08 12:14] Mikov1605 opened #4049 "[Quest]The Cipher of Damnation - Ar'tor's Charge"
Description:
Spirit hunter should force the eye boss out.

How it works:
He just follows me, attacks the demons around, but doesnt flush out the eye mob.

How it should work:
https://www.youtube.com/watch?v=LP1cA0bfNhg

Source (you should point out proofs of your report, please give us some source):

[2019-01-08 12:15] Mikov1605 commented on #4049
Some ppl though that killing demons near the spirit hunter will call the eye mob out. Its wrong! Even description says "take him, and let him force out <mobs name>"

[2019-01-08 13:25] Twistwarp commented on #3963
When is this going to be fixed? these are quite good entry level trinkets so kinda good that they work!

Edit: I think it is because the 2 trinkets use the same buff id or something.

[2019-01-08 14:47] Mikov1605 commented on #4049
EDIT: He spawns at another spot than the quest helper shows, it works. Closeable

[2019-01-08 14:57] sunsmiles09 commented on #4046
my role name is elapse, could pls check the debug log what happened on my account? not only the equipments, the quest items losing as well.

[2019-01-08 15:19] MadderThenMad commented on #3979
Confirming the issue. This is a game breaking issue in terms of fire mage PvE (ignite can account for up to 15% of mage dps).

[2019-01-08 15:26] Wojtyas commented on #4048
Sup guys.
Indeed, u have to be revered with specific faction in order to get key, if you delete ur cache u will see 'revered' instead of 'honored' on item description ;) It will be reverted in 2.3. Cheers

[2019-01-08 15:26] #4048 closed, assigned to nobody

[2019-01-08 15:44] Soleilf opened #4050 "shadow labyrinth hc last boss drop bug"
Description:

the shadow labyrinth hc last boss should drop a normal piece,and a epic piece,and a nether,but i done it 3 days,he only drop one epic gear,no normal piece gear.
How it works:

How it should work:

Source (you should point out proofs of your report, please give us some source):

[2019-01-08 15:45] Soleilf commented on #4050
the shadow labyrinth hc last boss should drop a normal piece,and a epic piece,and a nether,but i done it 3 days,he only drop one epic gear,no normal piece gear.

[2019-01-08 15:45] #4050 closed, assigned to nobody

[2019-01-08 16:06] nennx commented on #4033
fyi, random platform movement is a valid version of the fight. whether or not thats intended who knows

https://www.youtube.com/watch?v=0jzsVKPKr6I

[2019-01-08 16:10] Alkimor opened #4051 "Nalpak"
Description: NPC Nalpak don't have a quest - Deviate Hides - quest for Wailing Caverns

How it works:

How it should work: NPC Nalpak must take this quest without prequest, and this quest don't have a prequest

Source (you should point out proofs of your report, please give us some source):
https://classic.wowhead.com/quest=1486/deviate-hides#comments
![74820-deviate-hides](https://user-images.git

[2019-01-08 16:18] tuigan commented on #1106
https://gyazo.com/5fcf4c5471f5036c5a5e047e37894a7b

Still bugged

[2019-01-08 18:00] Nghedi commented on #3281
There is a patch, since 4 days. and it is still not live? wtf?

[2019-01-08 18:18] #4049 closed, assigned to Dootz

[2019-01-08 18:20] RPAncap commented on #4040
"Riztazzdnes v 13:04
@here
In 30 minutes from now on, i'll take nightbane offline for a quick update, realm will be down for around 5 minutes"

Does it mean resolved and live now ?

[2019-01-08 18:26] Dootz commented on #4051
Hi, I just checked it on live and it appears to work correctly without any prequests.  All you need is level 13 Horde character.
![obraz](https://user-images.githubusercontent.com/25490436/50850807-43bee580-137b-11e9-9a91-e376da68c0af.png)

[2019-01-08 18:51] Dootz commented on #4043
weird I just accepted this quest and received debuff + npc spawned. From what i understand neither happend for you yesterday?

[2019-01-08 18:54] Dootz commented on #4043
another player accepted it on mount and spirit spawned without problem. Weird, maybe server reset fixed it.

[2019-01-08 18:54] #3969 closed, assigned to Dootz

[2019-01-08 18:57] #3960 closed, assigned to Dootz

[2019-01-08 19:14] Dootz commented on #3834
As of today he's live on server. Confusion here might have been caused by the fact that he's walking around with his group.

[2019-01-08 19:14] #3834 closed, assigned to Dootz

[2019-01-08 19:19] Alkimor commented on #4051
In TBC this quest only for the Horde?

[2019-01-08 19:20] tuigan opened #4052 "Highland Razormaw raptor stuck in the wall (Wetlands)"
Description:

https://gyazo.com/fa6693ab4a5d4a0d1ec491c7fcfa0952
https://gyazo.com/ef18ed53c2ec0f1e4b60ef3eea9b887a
How it works:

How it should work:

Source (you should point out proofs of your report, please give us some source):

[2019-01-08 19:35] akrom23 commented on #3212
Tested on live server - still no delay.

[2019-01-08 19:37] #3924 closed, assigned to Dootz

[2019-01-08 19:38] akrom23 commented on #1860
Talent works. The problem are specific spells.

[2019-01-08 19:38] #1860 closed

[2019-01-08 19:38] Nghedi commented on #3281
It still does not bounce on the shaman. Which is pretty annoying.

[2019-01-08 19:41] Amitel opened #4053 "Amitel"
Description:
going to the body, I fell beyond the map as a ghost and can not get back to the map,cane you help me pls

How it works:

How it should work:

Source (you should point out proofs of your report, please give us some source):

[2019-01-08 19:44] akrom23 commented on #3281
@Nghedi Screenshots with combat log or video, please.

[2019-01-08 19:45] Avishai97 commented on #3281
It bounced back to me yesterday, so atleast it has worked.

[2019-01-08 19:54] Dootz commented on #3618
eventually he'll come back to stairs and you can kill him to finish quest. But pathing is really weird at the start.

[2019-01-08 20:00] WowHerbert opened #4054 "hunter pet use wrong sound file"
Description:

When I command my pet to attack a mob, it doesnt make its own sound.

How it works:

Everytime I attack a mob, it plays the sound of the target mob. I can already here it before my pet reaches it target.

How it should work:

I should here the pet sound (e.g. cat roar) when attacking mobs.

Source (you should point out proofs of your report, please give us some source):

Questing in

[2019-01-08 20:30] Nghedi commented on #3281
Strange, at curator it didn't work at all. Since then (after i relogged) its working. You can close it.
Thank you.

[2019-01-08 20:47] jockeboschko commented on #2967
bump for fix.

[2019-01-08 21:04] #3603 closed, assigned to Dootz

[2019-01-08 21:08] #3596 closed, assigned to Dootz

[2019-01-08 21:12] #3413 closed, assigned to Dootz

[2019-01-08 21:16] Dootz commented on #3344
Hi,
sorry for late response. As far as I know this pattern was removed intentionally and will be added with "patch 2.3"

[2019-01-08 21:16] #3344 closed, assigned to Dootz

[2019-01-08 21:19] Dootz commented on #3335
Hi,sorry for delayed response. From what I can tell it can be bough on both sides.

[2019-01-08 21:19] #3335 closed, assigned to Dootz

[2019-01-08 21:20] #3334 closed, assigned to Dootz

[2019-01-08 21:27] #3347 closed, assigned to Dootz

[2019-01-08 21:30] aeyers opened #4055 "[Upper Blackrock Spire - enhancements]"
Decription: Multiple buggs fround in upper blackrock spire making it almost imposible to complete.

How it works:

1. The door into Upper blackrock spire is open.

2. The second door is opened by clicking all 7 runes.

3. The third door just before the first bossroom is closed and only openable with the key ([Seal of Ascension]).

4. The event for the first boss (Pyroguard Emberseer) dosn't start

[2019-01-08 22:13] Konyagi opened #4056 "[Dreadsteed of Xoroth]"
Description:
Completing the quest in Dire Maul

How it works:
After summoning the dreadsteed, the lord spawns together with 2 dreadsteeds. After killing the lord and the 2 dreadseeds the spirit of the dreadsteed attacks aswell insted of giving the option to turn in. I have completed the quest but the spirit is dead so can't turn in

How it should work:
After summoning the dreadsteed there should o

[2019-01-08 22:18] Dootz commented on #4055
Pyroguard and Rend encounters will be corrected/doable with next server update. Some roleplay might be missing during Pyroguard encounter

[2019-01-08 22:29] Dootz commented on #4053
Hi, I'm not sure if this issue is still relevant because I found that you logged out in Shattrah. Just to make sure that you're there i summoned you few yards further. If it ever happens again you can use teleport option on our website.

[2019-01-08 22:29] #4053 closed, assigned to Dootz

[2019-01-08 22:32] Dootz commented on #4022
according to newer report still needs some work. Should be doable after next server update. I'll close this report as one mentioned before refers to whole instance and lists more bugs.

[2019-01-08 22:32] #4022 closed, assigned to Dootz

[2019-01-08 22:32] Nghedi commented on #3606
Still an issue. Just happened again

[2019-01-08 22:36] Dootz commented on #4040
Unfortunately fixes were not applied with today's restart. They should be with next update tomorrow.

[2019-01-08 22:37] Compu93 opened #4057 "[The Great Masquerade]"
Description:
The Quest event of  [The Great Masquerade] doesnt start.

How it works:
Start NPC despawns and nothing happens. After you cant restaart it bc the Quest NPC isnt there anymore.

How it should work:
An RP event should start and then complete the Quest

[2019-01-08 22:41] #3000 closed, assigned to Afgann

[2019-01-08 22:41] #3156 closed, assigned to Afgann

[2019-01-08 22:41] #3196 closed, assigned to Afgann

[2019-01-08 22:41] #3227 closed, assigned to Afgann

[2019-01-08 22:42] #3425 closed, assigned to Afgann

[2019-01-08 22:43] #3929 closed, assigned to Afgann

[2019-01-08 22:43] #3789 closed, assigned to Afgann

[2019-01-08 22:43] #3972 closed, assigned to Afgann

[2019-01-08 22:43] #3964 closed, assigned to Afgann

[2019-01-08 22:43] #3981 closed, assigned to Afgann

[2019-01-08 22:44] #3990 closed, assigned to Afgann

[2019-01-08 22:44] #3976 closed, assigned to Afgann

[2019-01-08 22:45] Mikov1605 opened #4058 "[NPC] Kargath Bladefist (duplicate)"
Description:
I made a report already
https://github.com/SunwellWoW/Sunwell-TBC-Bugtracker/issues/3958
How it works:

How it should work:

Pls fix the combat bug, annoying To run out when cd on hs
Source (you should point out proofs of your report, please give us some source):

[2019-01-08 22:46] Dootz commented on #4051
hmm... i guess there was a time when tauren druid - Nalpak offered quest for horde and night elf - Ebru for alliance. But since Deviate Eradication is accessible for horde I don't see any reason to not allow Alliance to pick up Deviate Hides. Thanks for pointing it out

[2019-01-08 23:36] babno opened #4059 "[Item] Libram of eternal rest does nothing"
How it works: Consecrate damage doesnt change at all when equipped

How it should work: Should increase damage

[2019-01-08 23:38] Mikov1605 commented on #4043
It does work

[2019-01-08 23:43] Mikov1605 opened #4060 "[Zone] Temple of the moon"
Description:
The moonwell in The temple is not counted as one - cant create Primal mooncloth in it

How it works:

Cant create Primal mooncloth in darnassus moonwell (temple of the moon big moonwell)
How it should work:

I should be able
Source (you should point out proofs of your report, please give us some source):
http://wowwiki.wikia.com/wiki/Moonwell

Temple of the moon counts as a place

[2019-01-08 23:50] babno commented on #4041
armor is a thing that reduces damage.

[2019-01-09 01:39] babno opened #4061 "normal murmur instant casts sonic boom"
How it works: Murmur will randomly instantly cast sonic boom killing any close to him.

How it should work: It would be a cast timer, usually after he pulls everyone into center. It actually works correctly on heroic, just not normal.

[2019-01-09 03:32] Cherryxo opened #4062 "[BG][AV] Drek'thar reset"
Description: Horde general in AV resets improperly. Under normal circumstances(no evade bugging or w/e), he should only reset if he kills all the players he is in combat with or if he is pulled OUT of his fortress. Not sure if this applies to ally general as well

How it works:
When Drek'thar kills a player that is standing close to the wall that divides the "entrance" part of his room and the "ma

[2019-01-09 03:36] Cherryxo commented on #3787
Gonna piggyback on this one and add that the range on the buff is short enough that you can split up the adds from the boss and/or each other to outrange them of the buff, nullifying it entirely.

[2019-01-09 03:52] Cherryxo commented on #4007
If you enter BWL with the orb you should get teleported to outside BRS entrance when you exit BWL. If you enter BWL from inside UBRS you should be placed inside UBRS once you exit BWL.

[2019-01-09 04:14] Cherryxo commented on #4012
Rip should NOT scale dynamically. Rip should work like other DoTs and be snapshotted.

Quick example I found is https://youtu.be/Ok3hD-_Zuno?t=489 (a reupload of https://www.warcraftmovies.com/movieview.php?id=78801) at ~1:45 you can see that he is using a trinket which gives AP on use. At the time linked you can see that he opens up on a warrior and pops his trinket, he applies rip and it's ticki

[2019-01-09 05:24] grimsauce opened #4063 "Netherspite cyclone"
Description:
Cyclone works on netherspite in karazhan.

How it works:
Casting cyclone on Netherspite makes him immune to all abilities, as well as removes the red portal from the encounter.

How it should work:
Netherspite should be immune to Cyclone

Source (you should point out proofs of your report, please give us some source):

[2019-01-09 05:28] grimsauce opened #4064 "Netherspite: Force of Nature"
Description:
The talent Force of Nature in the Balance tree summon's three treant's. When used during the Netherspite encounter the treants will not engage Netherspite and will stand next to the Druid who casted the spell.

[2019-01-09 06:37] akrom23 commented on #4059
#3857.

[2019-01-09 06:37] #4059 closed, assigned to nobody

[2019-01-09 06:37] #4058 closed, assigned to nobody

[2019-01-09 09:44] fredriksvendsen commented on #3260
Was just about to post this. Still an issue, mildly annoying while leveling.

[2019-01-09 09:50] notsofamous commented on #4033
- [x] First move should always spawn adds

[2019-01-09 10:21] Kittykatreporter commented on #4012
@akrom23 pls review this again and don't "fix" anything without legit proof...

[2019-01-09 10:38] Reflekz commented on #3129
Portals 12 to 18 opened all at once. Jan 9th

[2019-01-09 11:27] blackabbath commented on #288
confirm Expedition Flare doesn't summon Cenarion Expedition unit to my aid.

[2019-01-09 11:48] woortoo commented on #1865
Wish to contact you. Do you know The RED TS?

[2019-01-09 11:51] tethbetatest commented on #3979
I can also confirm that this is consistent with the results we're getting in our raids.

This needs to be adressed as soon as possible - as of now, bringing more than one _fire_ mage to a raid could even be seen as non-optimal - which shouldn't be the case, at all.

Therefore, I agree with the above poster - this is a **game breaking issue** for raiding mages.

[2019-01-09 16:17] Vaanx commented on #3990
When will this fix be implemented?

[2019-01-09 17:06] ghost opened #4065 "Bug Pet....."
Description:
 I would like to report a bug with the hunter's pet. Because it can not be fed and disappears after a few minutes.

How it works:
There is no application in the spellbook to feed the pet. And pet should not disappear after a few minutes.

How it should work:
It should not disappear. When he feeds pet he is happy.

Source (you should point out proofs of your report, please give us some

[2019-01-09 17:11] Cherryxo commented on #3787
According to [wowwiki (NPC Officers and scroll down a bit)](http://wowwiki.wikia.com/wiki/Alterac_Valley?oldid=1553302) these buffs should stack addatively in 2.4

[2019-01-09 17:42] Cherryxo opened #4066 "[BG][AV] Warmaster/Marshall buffs working incorrectly."
Description: In AV the generals are initially guarded by 4 warmasters (horde) and marhsalls (alliance). These apply a stacking buff to all OTHER warmasters/marshalls as well as the general wich increase dmg and HP by 25% each. This means that with 4 towers up, each warmaster/marshall will have +75% hp and dmg and the general will have +100%. These buffs can be negated entirely by separating the ad

[2019-01-09 17:46] firngrod commented on #4065
Did you complete the second half of the quest, sending you to the trainer in your main city, where you should learn the Feed Pet skill, among others?

[2019-01-09 18:07] #4043 closed, assigned to Dootz

[2019-01-09 18:23] E1ectroShock commented on #3053
So low MS
He doesnt jump to lower platform, just goes back all the way to tree then goes to platform

[2019-01-09 18:34] Dootz commented on #391
https://www.wowhead.com/forums&topic=140413
For now we will update it to 300, may change in future

[2019-01-09 18:36] Dootz commented on #383
we decided to leave it for now as small "easter egg"

[2019-01-09 18:36] #383 closed

[2019-01-09 18:38] neheri opened #4067 "[Boss][Core] The Curator"
Description: The issue may not be connected directly to the boss but it's the easiest to spot it while fighting him.

It is also connected to the issue: https://github.com/SunwellWoW/Sunwell-TBC-Bugtracker/issues/1631

It looks like other people reporting block is working incorrectly were right. Block seems to be proccing too often. It becomes a huge problem on Curator. He has a shield that reduce

[2019-01-09 18:39] Konyagi commented on #4056
Do you have an estimate when the fix will be live?

[2019-01-09 18:39] #519 closed

[2019-01-09 19:08] #972 closed

[2019-01-09 19:16] nikolajdt commented on #4041
So your basicly trying to tell me that every mob ive fighted from level 31-34 (got the new execute spell which seems to hit for atleast the ammount it supposed to) got enough armor to reduce my damage around 40-75% procent? As i said, even if i had 80 rage and did an execute then it still would only hit for around around 90 damage.
125+(35*3) = 230
230/90 = 0,39
which basicly means i did 39% of th

[2019-01-09 19:24] #2740 closed, assigned to Dootz

[2019-01-09 19:24] #2125 closed, assigned to Dootz

[2019-01-09 19:53] #885 closed

[2019-01-09 20:05] akrom23 commented on #2534
#2093.

[2019-01-09 20:05] #2534 closed, assigned to nobody

[2019-01-09 20:09] mjk6994 commented on #4012
@Kittykatreporter You're right it shouldn't scale DYNAMICALLY. But it doesn't scale AT ALL. Both of these dots were applied seperately. zzzzzz both of you need to stop. thx

[2019-01-09 20:13] mjk6994 commented on #4012
Good thing i said DYNAMICALLY somewhere in my post tho. jk. didnt once.

[2019-01-09 20:14] #1182 closed

[2019-01-09 20:18] mjk6994 commented on #4012
https://cdn.discordapp.com/attachments/432981313117618217/532654040564367374/unknown.png

https://cdn.discordapp.com/attachments/432981313117618217/532654134499868682/unknown.png

Notice both don't scale at all. There should be 6% per point. And with 2433 AP, level 1 rip should do 445.98 over 12 seconds. While level 5 should be doing 1675.92.

Before you try to reject a bug, use your head, thanks.

[2019-01-09 20:21] #1521 closed

[2019-01-09 20:42] akrom23 commented on #2152
@ozymanias Still happens? Need more info/screenshots.

[2019-01-09 20:42] Dootz commented on #1747
Requirements:
- Level 40
- Leatherworking at 225
- Horde
- Dragonscale leatherworking Or Elemental Leatherworking not taken

[2019-01-09 20:42] #1747 closed

[2019-01-09 20:49] #1917 closed

[2019-01-09 20:52] Dootz commented on #2161
Requirement: Level 28

[2019-01-09 20:52] #2161 closed, assigned to Afgann, Dootz

[2019-01-09 20:53] Dootz commented on #4056
I hope it'll be on live tomorrow. It's waiting for update :(

[2019-01-09 20:53] akrom23 commented on #2152
@ozymanias You have to do a specific amount of damage to your target.
Target with 10 level - you need to do 150 single damage.
Target with 50  level - you need to do 1150 single damage.
Target with 70 level - you need to do 1650 single damage.

[2019-01-09 20:53] #2152 closed, assigned to nobody

[2019-01-09 20:58] akrom23 commented on #2208
Claw has special attribute, so it should refund energy on dodge (80%) and parry (20%).
Ferocious Bite works fine - does not refund energy on dodge/parry.

[2019-01-09 20:58] #2208 closed, assigned to nobody

[2019-01-09 20:59] Dootz commented on #1189
merged with https://github.com/SunwellWoW/Sunwell-TBC-Bugtracker/issues/2250

[2019-01-09 20:59] #1189 closed

[2019-01-09 21:00] #2088 closed

[2019-01-09 21:39] #4065 closed, assigned to nobody

[2019-01-09 21:44] Devrak opened #4068 "[Core] API COMBAT LOG EVENT SPELL_AURA_REFRESH"
Description:

API COMBAT LOG EVENT **SPELL_AURA_REFRESH** is an event that is sent to the client after casting  buff/debuff ( Aura ) on target that allready has that buff/debuff notifying client that the buff/debuff is refreshed

How it works:

SPELL_AURA_REFRESH message is not sent to the client after Buff/Debuff casts

How it should work:

SPELL_AURA_REFRESH message should be sent if the Buff/De

[2019-01-09 21:54] rychersky commented on #2896
Still bugged, should be spawning 7-10 small globlues per large ooze; is only spawning 1.

https://www.wowhead.com/npc=20806/seeping-sludge-globule#comments

Also, you are kept in combat after killing these until you run a certain distance away. The combat status will toggle on and off while this is occurring, going back and forth every half second.

[2019-01-09 22:10] Cherryxo commented on #4012
based on your shitty evidence you provided in OP it's a legit conclusion to draw when reading the post. stop being an ass and focus on the issue instead.

[2019-01-09 22:12] Cherryxo commented on #4012
???? I'm simply responding to the guy above me. you need to take a chill pill and focus on the issue instead of being an ass.

[2019-01-09 22:17] Kittykatreporter commented on #4012
Next time think about putting a COMBAT LOG in such reports, cuz from screenshots it looks like you put 1 rip and swap staff. No one tries to reject a bug, and no one said about rip is scaling properly atm.

[2019-01-09 22:34] rychersky opened #4069 "[Quest] Getting Down to Business"
If you have already done the Netherwing opening questline to reach Neutral (Friendly if Human), then you must tick "At War" with the faction to be able to attack the Nether Drake mobs in Netherstorm for this quest. This is consistent with retail. However, upon attacking the Nether Drakes, they will immediately evade and reset. Observing other players in the area, they seem to be able to attack the

[2019-01-09 22:44] Grasswalker opened #4070 "Mass dispel causes output from sealth / prowl"
Description:
Mass dispel causes output from sealth / prowl
How it works:
Mass dispel causes output from sealth / prowl
How it should work:
Mass dispel causes combat in priest and rogue or druid in sealth and dispel buffs only like wild, thorns.
Source (you should point out proofs of your report, please give us some source):
https://www.wowhead.com/spell=24450/prowl
"Prowl - School | Physical"
http

[2019-01-09 23:15] Ituhdudu opened #4071 "Enemy HP is displayed incorrectly"
Description:
Enemy HP should be displayed as a % value and not as an integer.

How it works:
Currently enemy HP is displayed as an exact value.

How it should work:
Enemy HP should be displayed as a % of their total health.

Source (you should point out proofs of your report, please give us some source):
Many people believe this was changed in patch 2.3 http://wowwiki.wikia.com/wiki/Patch_2.3.0
ho

[2019-01-09 23:30] mjk6994 commented on #4012
@Kittykatreporter Shut the fuck up and let the devs do their jobs.

[2019-01-09 23:36] mjk6994 commented on #4012
And nah dude, it's annoying to deal with bug fixes left and right that ain't even bug fixes making shit worse from people who don't know what they're talking about or devs implementing shit that shouldn't even be implemented. For Example, the whole Seer Udalo mob that should be in normal Arc, but isn't because some said it shouldn't be so they took him out with confirming. Let's not forget the num

[2019-01-09 23:58] babno commented on #4041
Most mobs do have 30-40% armor. I was mostly bringing up that your statement of "It should hit a minimum of 125 damage, + 3 damage for each rage point consumed." is wrong as it doesn't take into account armor, and that the screen shot of the combat log looks perfectly fine taking that into account.

[2019-01-10 00:00] Devrak commented on #4071
Half correct only NPC health values should be displayed as %  idk if its worthwhile to fix this as most use unit frames that have mob db with them

Blizzard target frame health check code from targetframe.lua

	if ( UnitIsPlayer("target") ) then
		local unitHPMin, unitHPMax, unitCurrHP;
		unitHPMin, unitHPMax = this:GetMinMaxValues();
		unitCurrHP = this:GetValue();
		this:GetParent().unitHPPercen

[2019-01-10 00:13] Vartonis opened #4072 "Health Regen in Combat"
Description:  You do not regen any health in combat unless healed or take a potion.

How it works: Currently, in combat you do not regenerate any health at all.

How it should work: You should slowly regain health while in combat. For example if I'm a druid and I root a non caster I should be able to slowly regen health and mana without healing. If I'm a mage and I keep something sheeped, I should

[2019-01-10 00:15] Ituhdudu commented on #4071
No, it's pretty clear from the patch notes and video link that enemy players HP is also supposed to be displayed as a % and not as an integer.
Also this fix is very easy to implement, when they fixed it on HellGround's relaunch the developer said it only took a few minutes of work.

[2019-01-10 00:32] Devrak commented on #4071
vid is Published on Jul 30, 2012 .. its had to say what patch it is from blizzard did alot of rework in 2.4.0 - 2.4.3 and not a lot is documented as ppl were focusing on 3.0.2 ptr at that time

[2019-01-10 00:38] Ituhdudu commented on #4071
It is not hard to tell at all, go look at the patch notes I linked. It is very explicit "regardless of group or faction"

https://www.warcraftmovies.com/movieview.php?id=92583
here is the WCM link from 2008.

This has been fixed on multiple other TBC projects, it is a change from WotLK there is no denying this.

[2019-01-10 02:55] sunsmiles09 commented on #3724
yep hunter's pet have 9000hp as well warlock, cant killed in pvp.

[2019-01-10 03:18] Papilol opened #4073 "[Item] disappeared - Icon of the Silver Crescent"
Description:
10.01.2019 - Nightbane (Alliance)
Papilol - Gnome Warlock

Hello.

At this date when I was in a shadow labs farming (multiple runs) group (between 01:30 and 02:30 GMT+1/Server time)
I suddenly noticed that my trinket: Icon of the Silver Crescent which I bought yesterday 09.01.2019 for 41 badges was gone from my character. I was wearing the item at all times when doing the dungeon, but

[2019-01-10 03:18] Cowb0ySMURF opened #4074 "Karazhan ring quset"
Description: Supposed to give you a choice of 4 quests for a ring

How it works:
Gave me 1 quest, not correct ring

How it should work:
should give choice of 4 quests

Source (you should point out proofs of your report, please give us some source):
Character: Elasar

[2019-01-10 03:37] foxxhound commented on #4072
As far as my knowledge goes, unless you're a troll you don't have any in-combat HP regeneration.
![image](https://user-images.githubusercontent.com/45742349/50944571-f9af3000-145e-11e9-90d2-4a286d522689.png)

Spirit states HP will regenerate by a fixed amount while OUT of combat.

Trolls are the only race that regenerates HP in combat.
As seen in the wiki: http://wowwiki.wikia.com/wiki/Health_rege

[2019-01-10 03:43] foxxhound commented on #4041
That is indeed damage pre-mitigation. Armor is significant especially on most mobs. I can assure you, Execute his as intended, especially on players. I.e. Getting executed for 4 - 6k.

[2019-01-10 04:07] Silroth commented on #4071
Just a reminder that this idiot is making same "bug reports" on every TBC server just so he can see which developer will cave to his demands and then he will mock the devs for wasting time on such unimportant things. Same thing happened on Hellground(Wargate), Ares TBC and other servers.

[2019-01-10 04:11] Ituhdudu commented on #4071
You can look at the proof i provided and see it is very clear that enemy HP was always displayed as a % in TBC, it was only changed in patch 3.0.2 as i linked above.
This isn't something that takes a lot of the devs time to change, and it's ultimately their decision. You don't have to be so rude.

[2019-01-10 06:04] babno opened #4075 "[Dungeon] Mechanar boss Nethermancer Sepethrea"
See #3067 and #1797. Apparently this is fixed but not implemented FOR OVER A MONTH!?! Seems likely it's just been forgotten, so I'm making this to remind you.

[2019-01-10 06:54] SolitudeFTW commented on #3965
I can confirm. When will this be fixed?

[2019-01-10 07:16] nkumnberlin commented on #4074
He offers four different quests, with different rings.

[2019-01-10 10:19] E1ectroShock commented on #4071
I think most of players are glad to see integers instead of percents

[2019-01-10 10:45] Comfik commented on #4055
Tried after update, everything works except the last doors after Gyth arena event will not open after killing him.

[2019-01-10 11:39] Devrak commented on #4074
I did the questline 9h ago and got offered 4 different quests for 4 different rings, working as intended do you have any addon that skips gossip maybe ?

[2019-01-10 12:22] Barol94 opened #4076 "Drain Life skill lvl 4 bug"
Description:
I am unable to purchase the drain lvl 4 from the warlock trainer. I cannot even see it as "available" it's like it doesn't even exist. I can only buy lvl 5,6 etc but cannot do that without buying lvl 4.

How it works:
I cannot buy the talent from the trainer because it does not even show on the talents list.

How it should work:
I should be able to purchase that skill from the trainer

[2019-01-10 12:30] Devrak commented on #4076
maybe its only this particular trainer have you tryed others ?

[2019-01-10 12:53] kyotpls opened #4077 "7v11 in WSG"
**Description:**
Title says it all. I was just in a WSG with 7 vs 11 horde in WSG. A BG with a maximum of 10v10.

**How it works:**
7 v 11 instead of 10 v 10

**How it should work:**
10 v 10 (10 as maximum cap of players on a team)

**Source (you should point out proofs of your report, please give us some source):**
![7v11](https://user-images.githubusercontent.com/37027911/50969540-1e4aec80-14df-

[2019-01-10 14:34] firngrod commented on #4070
This was apparently how it worked prior to 2.2.0 where it was changed to no longer remove stealth.  As such, it should not dispel stealth on this server.

https://wow.gamepedia.com/index.php?title=Mass_Dispel&oldid=1637411

[2019-01-10 14:44] Devrak commented on #4077
It could be a leaderbord bug where player is not removed from leaderbord in some wierd case like dc till he logs back in and gets autokick from bg

[2019-01-10 14:57] Bugadin commented on #4070
Actually, it removes stealth and it shoouldn't.

[2019-01-10 15:10] Finalbossx opened #4078 "[Warp-Spring Coil] Void Reaver Rogue trinket, no proc no fun"
Description:
Tempest Keep Trinket issue [Warp-Spring Coil]

Got [Warp-Spring Coil] from Lootreaver (Void Reaver) Tempest Keep last night
I think the proc (Perceived Weakness) Dosnt work propper.
Been playing around with it for several hours and i have never seen it proc once.
might be someting to look into.

/Finalboss

How it works:
Should proc on special attacks, but never seen it proc,

How it

[2019-01-10 15:14] Finalbossx commented on #4078
Spell ID: 37173 (Proc ID)
Spell ID: 30450 (Trinket ID)

[2019-01-10 15:19] akrom23 commented on #2438
So - who is the winner? :)

[2019-01-10 16:08] Devrak commented on #4070
Yes it should not , however i remember reading somewhere that if a rogue has a buff that gets mass dispeld then stealth is also broken, later it was deemed a bug and changed, not sure about the timing.

[2019-01-10 16:09] babno commented on #2438
We have official patch notes saying it works, so I'd go with that.

[2019-01-10 16:18] akrom23 commented on #2466
Works fine.
Without talent:
![wowscrnshot_011019_171742](https://user-images.githubusercontent.com/1035215/50981632-b8209280-14fb-11e9-8fd6-e3c65fc1c11e.jpg)

With talent:
![wowscrnshot_011019_171730](https://user-images.githubusercontent.com/1035215/50981642-bc4cb000-14fb-11e9-8cc2-bc8571807fdd.jpg)

[2019-01-10 16:18] #2466 closed, assigned to nobody

[2019-01-10 16:19] akrom23 commented on #2477
Works fine.

[2019-01-10 16:19] #2477 closed, assigned to nobody

[2019-01-10 16:24] akrom23 commented on #2492
@Aledati Cannot reproduce. After change to aquatic form, damage from drowning is cancelled and breath bar is reset.

[2019-01-10 16:26] akrom23 commented on #2438
There is no bug?

[2019-01-10 16:28] akrom23 commented on #2704
Works fine.

[2019-01-10 16:28] #2704 closed, assigned to nobody

[2019-01-10 16:29] akrom23 commented on #2880
Works fine.

[2019-01-10 16:29] #2880 closed, assigned to nobody

[2019-01-10 17:19] akrom23 commented on #2997
Nope. Works good.

[2019-01-10 17:19] #2997 closed

[2019-01-10 17:21] akrom23 commented on #3065
Cannot reproduce. I am always able to cast spell with no rage and with Clearcasting aura.
@notsofamous Some video?

[2019-01-10 17:26] grand-lotus-iroh commented on #3724
Between this bug and the broken tab targeting (wand / autoshoot) one... I've not much interest to even log into server.

It's such a serious bug, and the developers know it exists... nobody in their right mind COULD NOT NOTICE this bug. I reported and opened this bug 2 weeks after launch too, it's just going to get ignored like all the other huge bug reports.

I think one of the developer's either

[2019-01-10 17:34] #4074 closed, assigned to nobody

[2019-01-10 18:43] #4076 closed, assigned to nobody

[2019-01-10 18:55] babno commented on #2438
Correct. Close this thread down and focus on other bugs. My personal preference would be fixing spiritual attunement, but I may be biased :P

[2019-01-10 19:19] #2438 closed, assigned to nobody

[2019-01-10 19:35] Petarrda opened #4079 "Linken's Boomerang"
Description: This trinket is a reward from a chain quest in Un`Goro crater, could ruin the pvp world because atm is very OP due its chance of 100% stun AND disarm.

How it works: Has 100% chance to stun and disarm.

How it should work:
First of all the proc has to be somewhere between 3% to stun OR (pay attention at this word) disarm.
Sources from wowhead comments section and wowwiki. http://wowwi

[2019-01-10 19:35] nenovike opened #4080 "[Hunter][pets] Pet attack speed"
Description:
Before pet system change in wotlk and further in cata etc. some pets had different attack speed than rest of their family. For example rare pet Death Flayer https://www.wowhead.com/npc=5823/death-flayer had attack speed of 1.6, not 2.0 as rest of Scorpids.

How it works:
Death Flayer has attack speed of 2.0 and probably other pets have wrong attack speeds too.

How it should work:
Dea

[2019-01-10 19:40] MiekZer opened #4081 "Feign Death not working"
When you use feign death you are clearing your threat from the mob, but...
After a certain amount of time it looks like the feign death never happened but you wont see your threat jumping high (due to your previous threat coming back) on the threat meter. In result the boss will run on you and you'll just die because you reached 130+% without being able to anticipate it due to invisible threat on

[2019-01-10 19:47] #3348 closed, assigned to Dootz

[2019-01-10 19:47] #4060 closed, assigned to Dootz

[2019-01-10 19:47] #4056 closed, assigned to Dootz

[2019-01-10 19:47] #4052 closed, assigned to Dootz

[2019-01-10 19:47] #4051 closed, assigned to Dootz

[2019-01-10 19:47] #4044 closed, assigned to Dootz

[2019-01-10 19:48] #4038 closed, assigned to Dootz

[2019-01-10 19:48] #4037 closed, assigned to Dootz

[2019-01-10 19:48] akrom23 commented on #3311
Works fine.
![wowscrnshot_011019_204743](https://user-images.githubusercontent.com/1035215/50993050-01330f80-1519-11e9-975a-101cadde6398.jpg)

[2019-01-10 19:48] #3311 closed, assigned to nobody

[2019-01-10 19:48] #4027 closed, assigned to Dootz

[2019-01-10 19:48] #3971 closed, assigned to Dootz

[2019-01-10 19:48] #3850 closed, assigned to Dootz

[2019-01-10 19:48] #3626 closed, assigned to Dootz

[2019-01-10 19:49] #3620 closed, assigned to Dootz

[2019-01-10 19:49] #3617 closed, assigned to Dootz

[2019-01-10 19:49] #3602 closed, assigned to Dootz

[2019-01-10 19:50] #3331 closed, assigned to Dootz

[2019-01-10 19:50] akrom23 commented on #3319
Works fine.

[2019-01-10 19:50] #3319 closed, assigned to nobody

[2019-01-10 19:55] Mikov1605 opened #4082 "[NPC]Warp-Splinter"
Description:
The adds, that he spawns, are bugged.

How it works:
He spawns sapplings(6-7) once every few sec. The adds remain friendly (so we cant attack them). They move to The place he stood at their spawn moment(we moved the Boss, but they still moved towards hes previous location. He then healed himself, eating them from distance.
How it should work:
Summon Saplings – Summons 6+ Saplings that

[2019-01-10 19:56] Mikov1605 commented on #4082
Note: happened on normal mode, not sure bout hc

[2019-01-10 20:09] babno commented on #3300
Healing wave this time. https://imgur.com/a/kwlsHwt

It seems really random, I've had everything from 0 mana to some random amount to the correct amount. Hots are the only thing I've seen that consistently work well.

I wonder if it might be using a different max hp, maybe the casters? To explain I'll use the picture above as an example. I was at 6k hp prior to the heal, got the 4k heal, but since

[2019-01-10 20:11] kyotpls commented on #4073
This has happened to many other players already for different items. Tier items, etc. This issue should be fixed ASAP and not look upon as a "problem we can't fix" as several GM's has stated.

[2019-01-10 20:12] Papilol commented on #4073
Totally agree. This is unacceptable.

[2019-01-10 20:15] #1877 closed

[2019-01-10 20:39] Mikov1605 opened #4083 "[NPC]Frayer Wildling"
Description:

There is some problem with their pathing, some of them fall beneath the ground.
How it works:
There are 10 on each side. Pulling one from a side pulls the whole side. its correct. But, some of them fall beneath the textures, especialy at the grass/path border.

How it should work:
They should fall under the textures.

Source (you should point out proofs of your report, please give us

[2019-01-10 21:01] #3363 closed, assigned to nobody

[2019-01-10 21:05] Popmycherrybug opened #4084 "[NPC] Daggern Muckdweller in Zangarmarsh"
Description: The Muckdwellers keep applying their paralytic poison when they should let it tick down and only reapply if you dispel it (now they re-apply when it's about 25-26 seconds left)

How it works: Well, as said above, that's what they do.

How it should work: They should ONLY re-apply it if you dispel it, as they should look for it to actually stun you (btw, a lot of mobs seems to do this,

[2019-01-10 21:15] jrydin commented on #3988
Caribdis: Tank and a rogue got caught in a tornado and causing a full reset/evade on the mob. weird behaviour

[2019-01-10 22:21] Felynda commented on #3919
Faced another Horde paladin in pvp again. SoB procs from crusader strike guaranteed. This is 100% bugged, please fix.

[2019-01-10 22:41] Mikov1605 commented on #4084
Note: most mobs recast their poison, example: Hydra in zangar

[2019-01-10 22:43] lanki92 commented on #3300
I add my screenshot of problem.

https://imgur.com/a/6iwmLks

On screenshot you can see the first heal, which had bad formula for mana.

Spiritual Attunement Rank 2

A passive ability that gives the Paladin mana when healed by other friendly targets' spells. The amount of mana gained is equal to 10% of the amount healed.

4256 heal * 0.1 = 425,6 => I can get 425 mana back, but I got only 326.

The

[2019-01-10 22:51] AJvanLoon opened #4085 "[Item] Necklace of the Deep was taken out of the game, but is still sold on AH"
Description:

On December 11, a bug report was made (rightfully) requesting that Necklace of the Deep be taken out of the game for being a 2.1 item.  I suppose it was removed shortly after.

However, all JC's who already learned it from the trainer kept the recipe - essentially giving them a monopoly on an item that shouldn't be available in the first place.

How it works:

The JC recipe for Neckl

[2019-01-10 23:01] mjk6994 commented on #4012
Holy shit, looks good man. @akrom23 I'd kiss you if i could.

[2019-01-10 23:11] westerngee commented on #3305
it still hasn't been fixed. had the same exact issue several times over the last few days

[2019-01-11 00:49] blackwife commented on #4061
Okay so I've tested this and figured out what the problem is.  Murmur has a cast timer on Sonic Boom as long as you don't attempt to interrupt Murmur's Touch at any point during the fight.  If Murmur's Touch is interrupted then he will instant cast the Sonic Boom.  I'm not sure it should be possible to interrupt this spell at all, but couldn't find any source with some quick googling.

[2019-01-11 00:59] Cowb0ySMURF commented on #4074
I do not.

On Thu, Jan 10, 2019 at 12:34 PM Graal <notifications@github.com> wrote:

[2019-01-11 03:08] Finalbossx commented on #4078
**<<****FIXED****>>**

thank you, quick work!

[2019-01-11 05:48] Nicklastoft opened #4086 "Shutting Down Manaforge Duro"
Upon acquiring the "Duro Access Crystal" i tried clicking the Duro Control Panel to start the event, in order to complete the quest.

The control was not clickable.

After contacting a GM, he reset the object, and made it clickable.

Upon clicking on the now "fixed" object, it still did not start the event. GM told me to report this here, as he was unable to fix it himself. He mentioned something

[2019-01-11 06:50] #4012 closed, assigned to akrom23

[2019-01-11 08:37] neheri opened #4087 "[Boss][Karazhan] Netherspite - Losing aggro with red debuff"
Description: It seems like Netherspite keeps aggro on person only inside red beam. He should attack player with red debuff instead.

How it works: When you leave red debuff Netherspite returns to having normal aggro table.

How it should work: When you have red debuff netherwing should always attack you.

Source (you should point out proofs of your report, please give us some source):
http://wowwi

[2019-01-11 09:55] Mikov1605 commented on #4086
No, not always. There is a cooldown after someone started it

[2019-01-11 11:21] MadderThenMad commented on #3829
Confirming the issue this makes it almost impossible to complete Yor chain

[2019-01-11 11:43] notsofamous commented on #4087
Taking a tick from the red beam gives you the highest threat, if you stop taking ticks from red beam you'll stop being number 1 on threat.

Meaning if you have the red debuff but is not standing in the beam, he will use normal aggro table.

Working as intended.

[2019-01-11 11:51] MiekZer commented on #4085
x10 profit each time they click on their craft :)

[2019-01-11 11:52] aeyers opened #4088 "[Upper Blackrock Spire - Door bug making it imposible to complete even after fix]"
Description: The door / gate after Rend dosn't open upon killing Rend

How it works: After completing the event for Rend and Gyth the gate to continue into the rest of the instance dosn't open.

How it should work: After killing Rend and Gyth the door / gate should open.

Source (you should point out proofs of your report, please give us some source):

[2019-01-11 11:56] neheri commented on #4087
My bad.

[2019-01-11 11:56] #4087 closed, assigned to nobody

[2019-01-11 12:59] flapse32 commented on #4081
Can confirm this.

[2019-01-11 13:54] Beritberzerk commented on #4073
Hi same thing happened to me... I got a pair of gloves in Kara yesterday from attumen the huntsman. (The leather ones with agi)  and i reloaded because my pet was unknown and the gloves dissapered... Cmon sunwell you've gotta fix this....

[2019-01-11 15:08] arkatik commented on #3630
up

[2019-01-11 15:40] Mikov1605 opened #4089 "[NPC]Illidari Dreadbringer"
Description:

Wrong lvl and charactrristics
How it works:

Got lvl 59-64 randomly and adequate hp To that lvl
How it should work:
He should have 69 and adequate hp To that lvl
Its a shadowmoon valley mob

Source (you should point out proofs of your report, please give us some source):
https://wotlk-twinhead.twinstar.cz/?npc=19799

[2019-01-11 16:12] #3022 closed, assigned to akrom23

[2019-01-11 16:12] #3244 closed, assigned to akrom23

[2019-01-11 16:12] #3281 closed, assigned to akrom23

[2019-01-11 16:12] #3284 closed, assigned to akrom23

[2019-01-11 16:12] #3369 closed, assigned to akrom23

[2019-01-11 16:12] #3379 closed, assigned to akrom23

[2019-01-11 16:12] #3403 closed, assigned to Dootz

[2019-01-11 16:12] #3419 closed, assigned to akrom23

[2019-01-11 16:12] #3433 closed, assigned to akrom23

[2019-01-11 16:12] #3448 closed, assigned to akrom23

[2019-01-11 16:12] #3499 closed, assigned to akrom23

[2019-01-11 16:12] #3520 closed, assigned to akrom23

[2019-01-11 16:12] #3551 closed, assigned to akrom23

[2019-01-11 16:12] #3728 closed, assigned to Afgann

[2019-01-11 16:12] #3753 closed, assigned to akrom23, Afgann

[2019-01-11 16:12] #3779 closed, assigned to Afgann

[2019-01-11 16:12] #3857 closed, assigned to akrom23

[2019-01-11 16:12] #3886 closed, assigned to akrom23

[2019-01-11 16:12] #3911 closed, assigned to akrom23

[2019-01-11 16:12] #4009 closed, assigned to Afgann

[2019-01-11 16:12] #4014 closed, assigned to akrom23

[2019-01-11 16:12] #4020 closed, assigned to akrom23

[2019-01-11 16:12] #4061 closed, assigned to Afgann

[2019-01-11 16:12] #4063 closed, assigned to Afgann

[2019-01-11 16:13] #1487 closed

[2019-01-11 16:13] #1613 closed

[2019-01-11 16:13] #1932 closed

[2019-01-11 16:13] #2039 closed

[2019-01-11 16:13] #2093 closed

[2019-01-11 16:13] #2238 closed, assigned to akrom23

[2019-01-11 16:13] #2512 closed, assigned to akrom23

[2019-01-11 16:13] #2530 closed, assigned to akrom23

[2019-01-11 16:13] #2733 closed, assigned to nobody

[2019-01-11 16:13] #2966 closed, assigned to Dootz

[2019-01-11 16:21] akrom23 commented on #3893
#1973.

[2019-01-11 16:21] #3893 closed, assigned to akrom23

[2019-01-11 17:21] akrom23 commented on #4070
#3764.

[2019-01-11 17:21] #4070 closed, assigned to nobody

[2019-01-11 17:38] akrom23 commented on #1283
No response.

[2019-01-11 17:38] #1283 closed

[2019-01-11 18:00] babno opened #4090 "spiritual attunement using the healers max hp in calculation"
related to #3300 I have figured out the nature of the problem I believe. So the code for spiritual attunement likely looks something like below

int missing_health = max_health-current_health;
if (missing_health<heal) mana_return = missing_health*.1;
else mana_return= heal*.1;

The issue is that max_health is looking at the healers max health, and not the paladin getting healed. So if the healer o

[2019-01-11 18:13] MadderThenMad opened #4091 "Formula: Enchant 2H Weapon - Savagery Droprate"
Description: Formula: Enchant 2H Weapon - Savagery http://db.hellfire-tbc.com/?item=22554 seems to be far much lower then it should be a specially on Heroic.

How it works: I've killed over 150  yet I've never even seen it (I have enchanting kills were divided between Heroic and Normal). I remember that this recipe droprate was being fixed on old Hellgrund cuz it was bugged. May I ask for checking

[2019-01-11 18:31] nillify opened #4092 "Items Disappearing in Mail to Alts"
Description:

Crafted some elixirs on a main, and them mailed them to bank alt to see on AH.

The mail arrived but in two cases only one stack (instead of two) arrived attached.

In another case the mail arrived but nothing was attached.

The items disappeared.

Have heard on Global that others have had this problem.

How it works:

Items disappear from mail when you mail to an alt.

How it should

[2019-01-11 19:31] BarrahSunwell opened #4093 "[Shaman] Fire Elemental Appears as an Enemy and is Target-able (even fights Hunter pets)"
Description: [Shaman] Fire elemental appears as a "red" mob upon being summoned.

How it works: When you summon Fire elemental with the totem, the fire elemental spawns and attacks whatever you are attacking, BUT, the elemental appears red, and if you "tab" to target, it seems to always be the first target, and even will fight hunter pets.

How it should work: The elemental shouldnt be flagged as

[2019-01-11 23:25] Aequita commented on #3556
+1

[2019-01-11 23:56] ahlens commented on #4072
There is no hp regen in combat.

[2019-01-12 00:00] ahlens opened #4094 "[NPC] Southsea Swashbuckler"
**Description:**
[Southsea Swashbucklers](http://classicdb.ch/?npc=7858) stay in place during the fight, and they barely attack. It's a dummy target. If you are ranged, you take no hits.

![wowscrnshot_011119_211558](https://user-images.githubusercontent.com/23612673/51065509-754ae180-1605-11e9-9ba6-70aa05663baa.jpg)

[2019-01-12 00:03] MiekZer opened #4095 "First boss OHF HC give normal loot"
First boss ohf hc gives normal loot.

Shouldn't :)

[2019-01-12 00:05] ahlens opened #4096 "[NPC][Spell] Dust Cloud"
**Description**:
Spell [Dust Cloud](https://www.wowhead.com/spell=7272/dust-cloud) used by [Elder Plainstrider](https://www.wowhead.com/npc=2957/elder-plainstrider#abilities) in Mulgore doesn't do anything.

Frankly speaking, I don't know what it should do...
![wowscrnshot_120318_002317](https://user-images.githubusercontent.com/23612673/51065621-310c1100-1606-11e9-9e3e-a7bdbbdfb1a1.jpg)

[2019-01-12 03:19] Sherbaderb opened #4097 "Heroic Auchanai Crypts - Avatar of the Martyred No Loot"
Description:
Killed Heroic Auch Crypts Avatar then Exarch, and got no loot

How it works:
Killed boss to get Avatar loot and got none.

While we're at it, the corpse of the Avatar runs around and attacks our tank while hes dead.

How it should work:
Avatar should drop loot from his loot table.

Dead Avatar shouldnt attack anything.

Source (you should point out proofs of your report, please give u

[2019-01-12 03:34] seaksd commented on #4040
Hello, I have been on this quest for quite some time. In total 110x Ethereum prison keys turned into Ethereum Statis Chamber keys 22 times. I have opened and killed 1 of the 5 mobs inside 22 times now. Still have not seen a Mark of the Nexus-king. Including 8 of them today. It is possible I'm just extremely unlucky but statistically those are some really low odds. We also encountered 1 of the spaw

[2019-01-12 03:54] #3529 closed, assigned to nobody

[2019-01-12 06:10] worstwarrioronserver opened #4098 "[Item] Solarian's Sapphire is not stacking with Commanding Presence"
Description:
Solarian's Sapphire (ID: 30446) is not stacking with Commanding Presence (ID's: 12318, 12857, 12858, 12860, 12861).

How it works:
It is giving a final additive bonus of 70 Attack Power to Battle Shout.

How it should work:
It should give a base bonus of 70 Attack Power to Battle Shout, allowing said bonus to be able to be affected by Commanding Presence.

Evidence:
This is just commo

[2019-01-12 07:07] zanthed1 commented on #4093
This only happens if the fire totem is destroyed or replaced. It is neutral but not hostile.

[2019-01-12 07:34] Nicklastoft commented on #4086
I highly doubt that cooldown is intended to last 30mins or more.
I tried the day after and got the quest completed, but i dont know if this problem still persists.

[2019-01-12 08:08] badmannerkid opened #4099 "[Hunter] Rift Stalker 2 Set Healing Threat"
Description:
Rift Stalker 2 set causes your pet to be healed for 15% of the dmg you deal. The threat gained from the healing is just an insane amount, have hunters pulling roughly 2k TPS with this 2 set.

How it works:
Rift Stalker 2 set causes your pet to be healed for 15% of the dmg you deal. The threat gained from the healing is just an insane amount, have hunters pulling roughly 2k TPS with th

[2019-01-12 09:31] akrom23 commented on #1434
Canno reproduce.

[2019-01-12 09:31] #1434 closed

[2019-01-12 09:40] #3251 closed, assigned to nobody

[2019-01-12 09:40] #2571 closed, assigned to nobody

[2019-01-12 09:40] #3917 closed, assigned to nobody

[2019-01-12 09:41] #4067 closed, assigned to akrom23

[2019-01-12 10:14] Feorblade opened #4100 "Rogue Ability [Disarm Trap] doesn't work at all"
Description:

you cannot disarm hunter traps in PvP
How it works:

the ability doesn't work
How it should work:

the ability should disarm the trap...
Source (you should point out proofs of your report, please give us some source):

https://gfycat.com/CalmMaleAmericanlobster take a look at this :)

[2019-01-12 10:35] akrom23 commented on #1631
It affects only spells/auto shot?
What about melee attacks?

[2019-01-12 10:57] neheri commented on #1631
I am a warrior so as a melee I can confirm it happens too often. However it's hard for me to find a proof which mobs should block.

[2019-01-12 11:22] bekonja opened #4101 "[NPC][Loot][Quest] Nazan's Head"
Description: I just finished Ramps run killing last bosses (Nazran and Vazruden). I was able to loot Vazruden for quest item, as well as roll for a loot on a final chest. But for some reason Nazran was "grey" for me. I wasnt able to loot his corpse for quest item at all. At that point noone left the party, so reason must be something else. We were 4 players and other 3 looted head with no problems

[2019-01-12 12:17] Filosof93 opened #4102 "GroupCalendar"
Description:
GroupCalendar muting you on this server. Either change the way the mute-system works or release a working Groupcalendar on the website/forum.

How it works:
It keeps muting you for 10 seconds every time it synchronizes (often).

How it should work:
It operates on a custom channel that are invisible to the player. This channel shouldn't mute the player.

Source (you should point out pr

[2019-01-12 12:27] Daniehwtf commented on #3697
Ok, just modify "primal air" too, if dont want flooded market. But the people can farm "primal air" easy with enginer, and fishing is REALLY SHIT.  Only 4 spots for pure water for all ppl in server with bad respawn.

[2019-01-12 12:33] MiekZer commented on #4081
Maybe bug related to the fact that we cancel it very fast after we click on the FD button and if there is a double check server side it may bug ??

x did FD : erase threat client side (your threat meter)
200 ms delay
mob y receives FD information.
200 ms delay
is x still FDed
200 ms delay
YES : erase threat server side / NO : don't erase threat

But it's clearly not related to a resist since it ha

[2019-01-12 12:54] Dootz commented on #4040
ok, I'll check again

[2019-01-12 12:58] ozzmann commented on #3692
Ive had the same problem alot.

[2019-01-12 12:59] ozzmann commented on #3006
Very annoying issue indeed!

[2019-01-12 13:07] akrom23 commented on #2517
#2211

[2019-01-12 13:07] #2517 closed, assigned to nobody

[2019-01-12 13:53] aeyers opened #4103 "[Movement bug - gamebreaking for PVP]"
Description:  Posible to take 2-3 steps before casting is interrupted.

How it works: If you bind "A" or "D" to "Turn left / right", pressing "A" while holding down right mouse click you strafe. However this dosn't always interrupt spellcasting making fakecasting in pvp broken for those players who are used to this playstyle.

How it should work: If you bind "A" or "A" to "Turn left / right", pres

[2019-01-12 13:55] aeyers commented on #4088
Working like a charm now!

[2019-01-12 15:04] akrom23 commented on #2259
No detailed info - your level, mob's level, your stats.
Weapon skills are updated on hit/miss/resist only.
Closed.

[2019-01-12 15:04] #2259 closed, assigned to nobody

[2019-01-12 15:14] Sherbaderb commented on #4097
How am I supposed to get loot off the Avatar?

Do I just kill Exarch?

Can someone please let me know at least how to do the encounter so I have a chance at getting my bis shoulders....

[2019-01-12 15:23] akrom23 commented on #2426
#2300

[2019-01-12 15:23] #2426 closed, assigned to nobody

[2019-01-12 15:42] notsofamous commented on #3697
@Daniehwtf

There are 20 spawns for pure water, respawn for fishing schools are 3-10 min. Engineering clouds have 1 hour respawn.

[2019-01-12 16:06] olleiparken opened #4104 "Elemental Focus does not trigger from lightning overload"
Description:
Elemental Focus does not trigger from bonus spells cast by Lightning Overload.

How it works:
Elemental Focus does not trigger from bonus spells cast by Lightning Overload.

How it should work:
A Lightning Overload crit should trigger Elemental Focus.

Source (you should point out proofs of your report, please give us some source):
https://wow.gamepedia.com/Elemental_Focus

[2019-01-12 16:29] ga-felix commented on #3686
There are a lot of Objects missing LoS. Please fix It!

[2019-01-12 17:55] Ironjudgment commented on #3689
bump

[2019-01-12 17:55] Ironjudgment commented on #4102
https://github.com/SunwellWoW/Sunwell-TBC-Bugtracker/issues/3689

[2019-01-12 18:05] notsofamous commented on #3686
Trees and hills have NEVER created LoS in WoW.

If you have any specific object in the game you believe should create LoS but doesn't, then make a report about it.

https://us.battle.net/forums/en/wow/topic/3881723700
https://forum.elysium-project.org/topic/34160-line-of-sight-in-warsong-gulch/
https://www.mmo-champion.com/threads/882446-Warsong-Gulch-Tree-stumps-great-line-of-sight-NOT
https://ww

[2019-01-12 18:56] Popmycherrybug opened #4105 "NPC Bloodmaul Skirmisher"
Description: Heal themself to 100%

How it works: They heal themself to 100% with their ability "Bloodmaul Rage" or whatever it's called

How it should work: According to the buff, it should only give them 20% max hp, so that's what it should heal (like warrior shout)

Source (you should point out proofs of your report, please give us some source): I mean, read the ability

[2019-01-12 21:00] kozur opened #4106 "Quest Bertrayed"
Description: The quest is bugged. Upon delivery, Ag'tor Bloodfist does not interact.

How it works: The npc does not complete the quest.

How it should work: The npc should complete the quest.

Source: https://vanilla-twinhead.twinstar.cz/?quest=3506

[2019-01-12 21:18] badmannerkid commented on #4081
this needs to get looked at. between this and the hunter t5 two set generating too much threat it makes the class feel very cumbersome to play while raiding

[2019-01-12 22:06] RarecandyMage opened #4107 "Blink Bug in Warsong Gultch"
Description: As an Undead Mage Carrying the flag, I was in the flag room attempting to cap.  I was facing the flag cap and used blink.  My character blinked the opposite direction i was facing.  TWICE
Rogue had crippling poison on me.

How it works: Use blink, should blink your character 20 yards forwards. but instead in the flag room while carrying the flag it blinks me exactly behind me.

How it

[2019-01-12 22:12] Khamos84 opened #4108 "Quest Aquementas"
Description: Quest Aquementas from Un'Goro Crater brings you to the stone circle in tanaris (near pirates).

How it works: quests lets you summon a water elemental near the pirates at tanaris (works). On kill it should drop a Silver Totem of Aquementas(doesn't work).

How it should work:  Summon Aquementas and get his silver totem on kill.

Source (you should point out proofs of your report, pleas

[2019-01-12 22:15] SomeGuyEksDee opened #4109 "Offhand arena weapon cost"
Description:
Bugged s1 offhand weapon price.

How it works:
For whatever reason Offhand weapon has same arena point price as mainhand.

How it should work:
Main hand weapon cost should be the same as it is now, offhand should cost 1125, theres no arena point cost on link below, but if you look at amount of honor it costs it's less as mainhand aswell. I can't find link propper arena point cost coz

[2019-01-12 23:17] ZaoQ commented on #1987
Wowhead comment states that after 2.1 it no longer stacks with stamina food, no mention about other food buffs, currently rum is overwritten by any food and vice versa

[2019-01-13 00:15] zanthed1 commented on #3928
I thought class bugs were all supposed to be high priority. This is very easy to replicate by GMs if you just reset cooldowns every time you cast the buff. Although this is relatively minor, it does waste your CD 20% of the time.

[2019-01-13 02:39] Devrak commented on #4103
Its your client / addons / keybinds / or input device issue as it works fine for me

[2019-01-13 07:48] asmonsilver opened #4110 "Undercity elevator out of sync"
Description:
West elevator - Lower door out of sync

[2019-01-13 09:15] neheri opened #4111 "[NPC] Caludron Lords"
Description: During cauldron quest chain in WPL every cauldron lord is doubled.

How it works: There are always 2 cauldron lords.

How it should work: There should be 1 cauldron lord per cauldron.

Source (you should point out proofs of your report, please give us some source):
![wowscrnshot_011319_101813](https://user-images.githubusercontent.com/37372869/51083562-9b16da00-171c-11e9-9cb4-f71977bc

[2019-01-13 10:00] Gantelka opened #4112 "Quest not Work"
Description:
[What Came First, the Drake or the Egg?] - Quest not work, use eggs and nothing happends

How it works:

How it should work:

Source (you should point out proofs of your report, please give us some source):

[2019-01-13 13:00] Konyagi commented on #4056
I could complete the quest after the fight, but it still spawns 2 dreadsteeds insted of 1.

[2019-01-13 13:16] ghost commented on #2969
I can confirm this. Most quests that I have attempted to share with my partner haven't worked. They are all shareable and he is able to choose to accept, but nothing happens when he does.

[2019-01-13 13:17] ghost commented on #3656
Most quests are bugged like that, but if need an example here is one: [Assisting Arch Druid Staghelm]. I got this quest and it is shareable, when I attempt to share it with my partner, the window pops up and he presses Accept. But nothing happens afterwords.

[2019-01-13 14:02] justchatta opened #4113 "Your target is dead"
Description: Playing as Paladin Draenei . I keep getting "your target is dead " error every time I kill anything while having seal of righteousness active.

How it works: If I have Seal of Righteousness active and I last hit a mob, I will get error " your target is dead ". If I dont use seals for a kill , everything works fine.

How it should work: I shouldnt be getting any kind of errors for kill

[2019-01-13 14:32] Nghedi opened #4114 "Crossfaction Port at meeting stone"
Description:

I (Horde) received a working port from an alliance player.

How it works:

They could port me.

How it should work:

They shouldn't be able to port me

Source (you should point out proofs of your report, please give us some source):

![wowscrnshot_011319_152749](https://user-images.githubusercontent.com/45510130/51086542-599c2400-1748-11e9-9e7f-230aa81331d3.jpg)

[2019-01-13 14:46] Nghedi commented on #3382
Bump up. Herb prices are totally insane.

[2019-01-13 15:19] dafairygirl opened #4115 "Missing NPC Murgurgula"
Description: The NPC Murgurgula is missing from the murloc coastline in Azuremyst Island. It's an NPC marked with a silver dragon (but he's not a rare spawn) who when killed drops the item "Gurf's Dignity" which starts a quest of the same name. I leveled through the zone on 2 toons and looked for him several times, and he's not there.

How it works:

It doesn't.
How it should work:
He should be a

[2019-01-13 15:20] Bugadin commented on #4107
It's not only in Warsong, it happens in every place and I guess that it occurs when there are no ''space'' in the place u are supposed to spawn when u blink. It's an annoying bug.

[2019-01-13 15:24] dafairygirl commented on #4115
Also the murlocs seem to have an unusually high drop rate for Plans: Copper Chain Vest

[2019-01-13 16:29] RarecandyMage commented on #4107
Correction. I was able to re-create the bug.  No warsong flag this time, but with rogue poisons applied i blink the opposite direction.

[2019-01-13 16:33] firngrod commented on #4113
I'm guessing that the seal is trying to apply it's effect, and that's what produces the error message?  Is it possible to test whether the message appears if the target dies from the seal damage?

[2019-01-13 16:36] firngrod commented on #4115
I'm not absolutely certain, but I think I got and completed that quest.  There is a chance that you were just unlucky.

[2019-01-13 17:24] mjk6994 opened #4116 "[Quest] Evil Draws Near"
Description: The Doom Skull's the are required for the on use Item "Dread Relic" are not dropping off Death Speakers or Doom Sayers.

How it works: It Doesn't.

How it should work: They should be dropping them.

Source (you should point out proofs of your report, please give us some source): Just restarted the quest. Will let know if it's still an issue.

[2019-01-13 17:28] mjk6994 commented on #4116
Yeah no luck. https://cdn.discordapp.com/attachments/432981313117618217/534061095116210176/unknown.png

[2019-01-13 18:07] Sippiey opened #4117 "Boots of blasting on the drop table, SSC/TK."
Description: The 2.1 recipes in T5 has been removed on this server but somehow you guys managed to add the boots of blasting to the drop table, boe boots with t5 standard that will be sold by the high level guilds for insane cash, easy fix.

How it works:  Trash and maybe even bosses drops pattern: boots of blasting, i have already sen 8+ of these recipes.

How it should work: They should not be i

[2019-01-13 18:08] Sippiey commented on #3472
Fix please... being super abused in BGs and arenas by hunters etc. They shoot you but you cannot get to them.

[2019-01-13 18:14] Thangor opened #4118 "No PVP items for Resto shaman"
Description: There are no PVP items for Reso shaman such as  wrists,belt,feet, and for all healers no back,weapons,rings.

[2019-01-13 18:53] BugReporterupper opened #4119 "Druid Spell - Nature's Grace"
Description:

Nature's Grace (Balance Druid Talent) is being procced by random spell casts and DoT ticks, even when a critical strike isn't made.

It also consumes the Nature's Grace proc from instant-cast-spells such as moonfire and another Balance Druid Talent, Nature's Grasp.

Finally, Nature's Grace does not proc from healing spells such as Healing Touch.

How it should work:

All spell critic

[2019-01-13 18:55] akrom23 commented on #2692
Fix

[2019-01-13 18:55] #2692 closed, assigned to nobody

[2019-01-13 18:56] #2699 closed, assigned to nobody

[2019-01-13 19:23] Trolltilla opened #4120 "Cannot be resurrected bug"
Description:

Sometimes and it happens quite often after dying in an instance or raid your corpse bugs out and you cannot get resurrected, which means you have to run back. You can imagine how annoying this is in a raid situation when people can't get ressed.

How it works:

As described above.

How it should work:

You should be able to resurrect people always.

Source (you should point out proof

[2019-01-13 19:35] BugReporterupper commented on #4110
Noticed this. Made me laugh abit :)

[2019-01-13 19:49] Thempest commented on #4073
It just happened to me with my trinket from "Cruel Intentions" quest. So I'm looking up for thread here. I'm also sure it was there before I logged off and now it's gone... It wasn't epic trinket, but still, this cannot happen.

[2019-01-13 19:56] Dimmaro opened #4121 "[Raid] Gruul shatter damage not reduced by armor"
Description:
Shatter damage should be physical and therefore reduced by armor

How it works:
Shatter damage is not reduced by armor,

How it should work:
Shatter damage should be physical and reduced by armor

Source (you should point out proofs of your report, please give us some source):
"Shatter: After being Stoned, Gruul will shatter everyone, the damage dealt increases if players are closer t

[2019-01-13 19:58] Thempest opened #4122 "Trinket disappeared"
After logging on my character I'm missing my trinket Bladefist's Breadth from quest Cruel intentions. I'm using it all the time with my shamanistic rage so I noticed immediatelly. Still on bar - yet missing.
I saw there were more similar cases like this.

Server: Nightbane
Fraction: Horde
Character: Thempest

[2019-01-13 19:59] Dimmaro commented on #4121
Additionally, trash mobs before high king are re-spawning after he is killed. They should stop spawning after he is dead.

[2019-01-13 20:07] notsofamous commented on #4121
Working as intended.

[2019-01-13 20:08] notsofamous commented on #4118
There aren't any in S1.

[2019-01-13 20:25] Trolltilla commented on #2331
Still not working

[2019-01-13 20:29] aeyers commented on #4103
Every person in my guild that i gave the same instruktions to get the same issue.

[2019-01-13 20:57] Dimmaro commented on #4121
Based on what?

[2019-01-13 20:57] Berroes opened #4123 "Quest: City of Light"
Description: The Quest City of Light is bugged and my elemental disappeared

How it works:

How it should work: My Elemental disappeared. Normally you just take 4 seconds of your time and auto complete it for me. However here i am waiting for you to fix this crazy small bug that has a huge effect because i cant pick aldor or scryer.

Source (you should point out proofs of your report, please give

[2019-01-13 20:59] mjk6994 opened #4124 "[Quest] Electro-shock goodness!"
Description:  When you use the potion the quest gave you, it zaps the target making him weaker and it is supposed to split the target into around 8 mobs but instead it just zaps the 1 target and makes him weaker, meaning you have to kill 30 mobs instead of zapping 5 mobs and finishing the quest quicker.

How it works: zap the target with attacks, weakening 1 mob and killing him for credit.

How it

[2019-01-13 21:14] firngrod commented on #4123
For me, when it went up the ramp from the lower city, it went underground for a bit.  It came back up at the top of the ramp, though, and the quest continued as normal.  Was that where yours disappeared?  Also, you should be able to abandon it and try again, or is that not possible for this quest?

[2019-01-13 21:32] Berroes commented on #4123
So the proper fix is to assume you have to attempt a quest multiple times?

[2019-01-13 21:39] mjk6994 commented on #4121
Shatter damage -should- be reduced by armor. I believe it is. I'll text next week. Will be testing with 30k armor vs 4k.

[2019-01-13 22:21] seaksd commented on #4040
Did 4 more Ethereum Statis Chamber opens today. Mark of the Nexus-King dropped on the 4th one. So looking good.

[2019-01-13 22:35] haloani opened #4125 "Magtheridon loot"
Description:
Magtheridon dropped two items for us today, which is lower than what he did on world first back in tbc.

How it works:
Dropped tier token+ an additional item.

How it should work:
Tier token paired with two items.

Source (you should point out proofs of your report, please give us some source):
https://youtu.be/_3Sli6dMhi8?t=458

[2019-01-13 22:38] Dimmaro commented on #4121
I tested today with a spriest and myself (tank) stacking with both took exactly same amount of dmg

[2019-01-13 22:57] dachdagger commented on #3630
First people want to buy weapons, please fix this soon together with arena-items like offhand costing to maney points.

[2019-01-13 23:54] mjk6994 opened #4126 "[Quest] Taken in the Light."
Description: Whenever you 1 hit the Netherweb Victim, nothing will spawn. Quite often, more than 1 mob will spawn from the Cocoon. Quite often don't get credit for freeing Friendly NPC.

How it works:

How it should work: Should still spawn when 1 hit, always credit when Friendly NPC Spawns, 1 spawn per egg.

Source (you should point out proofs of your report, please give us some source): https://

[2019-01-13 23:55] mjk6994 commented on #4120
Can confirm

[2019-01-13 23:56] mjk6994 commented on #4120
Was unable to rez a player after releasing, attempted to reload, relog, and reinvite.

[2019-01-14 00:24] Filosof93 commented on #4081
Can confirm that something is wrong. I've thought my FD just fail too often up until lately.

[2019-01-14 00:41] NeonicSupersonic commented on #3703
Plx fix i need engi epic mount

[2019-01-14 01:19] mooviestar opened #4127 "alien egg"
Description:

How it works:

How it should work:

Source (you should point out proofs of your report, please give us some source):

[2019-01-14 01:20] #4127 closed, assigned to nobody

[2019-01-14 02:31] BugReporterupper commented on #4039
it's not a bug it's called server roleback unfortunately

[2019-01-14 04:39] foxxhound opened #4128 "WSG - Focus Assault persists through flag-cap"
Description:  The flag carrier with Focused Assault[46392] continues to have the debuff even after capping the flag.
![image](https://user-images.githubusercontent.com/45742349/51096670-398e5400-178c-11e9-9c2a-59f4bcb7c161.png)

How it works:  The flag carrier with Focused Assault[46392] continues to have the debuff even after capping the flag.

How it should work: The flag carrier should no longe

[2019-01-14 06:09] badmannerkid commented on #3988
Tidal-vess is autoing for 1.5k on 17k armor and his windfury attacks hit for 5.5k - 6k on 17k armor and has no ICD on his windfury attack. with no icd on his windfuries he can chain windfury 6 times in a row

[2019-01-14 06:43] neheri commented on #4123
The elemental has bugged pathing when it comes up the ramp (near arakkoa part of lower city), you can complete the quest, just keep him targeted all the time and stand on the top of the stairs.

Sunwell team, please make pathing top priority. While other parts are starting to work well pathing is just unacceptable. For example ohf castle, rfc & sfk, city of light but there are also a lot of open w

[2019-01-14 07:47] firngrod commented on #4123
That was not what I meant, though it can certainly be read that way.  I agree that the bug should be fixed, but it's probably more time-efficient for you to retry rather than just sit around and wait for a GM to have time to fix it for you.

Also, the questions I asked were to possibly get some more information, not to confront you in any way.  Was it the well-known "mob went below ground for a bi

[2019-01-14 09:34] akrom23 commented on #3819
Still happens?
Happens in open world?

[2019-01-14 09:38] RPAncap commented on #3177
It is now avaliable from kylene.

[2019-01-14 09:42] pinkisnotgay opened #4129 "Master looter recipes issue"
Description:
Lately I've experienced an issue where master looter was ON and enchanting recipe dropped from Aran. The recipe was only visible for the enchanters, but all the enchanters from the raid were able to loot it as if it was FREE FOR ALL, without the need of lootmaster. This also applies to other things like leatherworking recipes.

How it works:
You can loot pattern/recipes that are only

[2019-01-14 09:44] pinkisnotgay commented on #4129
Same thing happened yesterday. I was doing Arcatraz and 35agility recipe dropped, I had masterlooter on and despite being the leader + enchanter at the same time, just picked it up as if it was FFA.

[2019-01-14 09:55] Wojtyas commented on #4104
Patch 2.1.0 (2007-05-22): This talent now reduces the cost of the next damage spell by 60%. It will also now trigger from bonus spells cast by  [Lightning Overload].

[2019-01-14 09:56] akrom23 commented on #2730
No response. Closed.

[2019-01-14 09:56] #2730 closed, assigned to nobody

[2019-01-14 09:59] #4040 closed, assigned to Dootz

[2019-01-14 11:54] SlizeTBC commented on #4109
Yea def. not correct like it is now. 1MH + 1 OH should be the same price as 1 2handed weapon.

[2019-01-14 12:18] gurtash opened #4130 "flight form"
Description:
Flight form cannot pick herbs correctly

How it works:
you cannot loot herbs while flying in flight form

How it should work:
you should be able to loot herbs while flying

Source (you should point out proofs of your report, please give us some source):
https://www.youtube.com/watch?v=Wr0EUdfOiBc

[2019-01-14 12:21] gurtash commented on #4130
server rev 2605

[2019-01-14 12:43] rajoe opened #4131 "[Quest] WWhat Came First, the Drake or the Egg?"
Decription:
The quest requires you to right click drake eggs then use an item on them to change them randomly into 1 of 3 mobs which drop items to complete the quest. Currently the eggs do NOT spawn anything so you cannot complete the quest.

How it works: You click the egg, get an animation, and nothing happens.

How it should work: The "Nether Drake Egg" should spawn either a whelp which you use

[2019-01-14 12:44] firngrod commented on #4130
Wiki article on flight form as of just before Wrath pre-patch landed:
https://wow.gamepedia.com/index.php?title=Flight_Form&oldid=1617441

It specifically states that:

So while it should be possible to gather herbs in flight form, it should only be so while you are effectively earth-bound, specifically so that you cannot gather herbs right on top of mobs as it's shown in the video.  The video is

[2019-01-14 12:46] akrom23 commented on #2886
Works fine.

[2019-01-14 12:46] #2886 closed, assigned to nobody

[2019-01-14 13:00] akrom23 commented on #2923
Cannot reproduce this one.
I belive it was a known bug on BC retail?

[2019-01-14 13:21] nillify opened #4132 "Ghost Form"
Description:

How it works:

How it should work:

Source (you should point out proofs of your report, please give us some source):

[2019-01-14 13:21] #4132 closed, assigned to nobody

[2019-01-14 13:23] Azathothh commented on #4112
#2367

[2019-01-14 13:23] #4112 closed, assigned to Dootz

[2019-01-14 13:24] Azathothh commented on #4131
#2367

[2019-01-14 13:24] #4131 closed, assigned to nobody

[2019-01-14 13:38] akrom23 commented on #2998
Works fine.
![wowscrnshot_011419_143731](https://user-images.githubusercontent.com/1035215/51115950-f5da2f80-1809-11e9-90cf-62b0143db684.jpg)

[2019-01-14 13:38] #2998 closed, assigned to nobody

[2019-01-14 13:39] BugReportguru commented on #4119
Since the server was released Nature's Grace wasnt working properly.
Please make sure the buff gets only consumed by a cast with REDUCED cast time.
Otherwise spamming wrath is not affected by this because when the spell actually critically hits the target, you are allready casting your next spell (with standard cast time) which consumes the buff.

[2019-01-14 13:57] akrom23 commented on #3210
Works good.
With racial:
- Out of combat: 35 health every tick
![wowscrnshot_011419_144517](https://user-images.githubusercontent.com/1035215/51116928-afd29b00-180c-11e9-9f3d-ee42de5942b7.jpg)
![wowscrnshot_011419_144519](https://user-images.githubusercontent.com/1035215/51116930-afd29b00-180c-11e9-9de0-5aae30dbb1c6.jpg)
![wowscrnshot_011419_144521](https://user-images.githubusercontent.com/103521

[2019-01-14 13:57] #3210 closed, assigned to nobody

[2019-01-14 14:00] Rangelkent commented on #4072
#3210 Troll racial is also bugged still

[2019-01-14 14:07] akrom23 commented on #4072
This is completely wrong - there is no health regen in combat from spirit (with some exceptions).
There are some auras that allows to regen health in combat (e.g. Demon Skin, Demon Armor).

[2019-01-14 14:07] #4072 closed, assigned to nobody

[2019-01-14 14:37] #4130 closed, assigned to nobody

[2019-01-14 15:31] Kardes1192 opened #4133 "Reinforced Fel Iron Chest Ramps Hc"
Description:
"Invalid target" when I want to open this chest. Its happened to me twice. I lost 2 badges because of that...

How it works:
Shitty

How it should work:
Good

Source (you should point out proofs of your report, please give us some source):
![image thumb png a2c9b09449d9f31d3c858f1220554ab8](https://user-images.githubusercontent.com/45534913/51122254-b9163480-1819-11e9-9196-7ea0c18b6c8

[2019-01-14 15:59] Spoohne commented on #1452
Confirming the exact same findings as Koshimo. 2PC T5 is broken and does not return the 100 mana. Any updates?

[2019-01-14 16:09] akrom23 commented on #3582
I dont't see any problem with it.
The formula is exactly the same as you described here.
Here is the link:
https://github.com/ccshiro/corecraft/blob/f76c1d3dcb951ec9e39b480d860f002d9b0c4491/server/src/game/Unit.cpp#L2122

[2019-01-14 16:18] #3536 closed, assigned to nobody

[2019-01-14 16:20] akrom23 commented on #3616
![wowscrnshot_011419_171958](https://user-images.githubusercontent.com/1035215/51125345-b539e080-1820-11e9-922f-40902e3dab88.jpg)

[2019-01-14 16:20] #3616 closed, assigned to nobody

[2019-01-14 16:22] ErXodus opened #4134 "[Druid]Drowning in Flight Form"
Description: You can drown in the air if you shapeshift from aquatic form to flight form

How it works: If you dive (you activate the breath timer) , jump out of water, and shapeshift into flightform directly, the game will consider you under water and the timer won't reset if you do it fast enough.

How it should work: You get out of water and start flying without any breath timer.

Source (you s

[2019-01-14 19:10] syphex97 commented on #3582
There are alot of mobs that have close to a 100% daze chance or something of the sort, Guards by the tower you do a quest as a horde in Dustwallow march "North Point Tower"

Mobs in hinterlands, Located North west at Quel'danil Lodge, Some of the Wolves/Boomkings (forgot what they were called but also located around there in the middle.) usually daze you instantly, and they keep on dazing you fore

[2019-01-14 19:55] RPAncap opened #4135 "Yor loot table - doesnt drop rings"
Description:
Hey could you please check the loot table of the boss YOR - from heroic mana-tombs.

How it works:
I have killed Yor 4 times, he only drops one blue item with random enchantment.

How it should work:
He should always drop a ring and there should be a 25% chance that he drops one additional blue item with random enchantment.

Source (you should point out proofs of your report, please g

[2019-01-14 20:15] neheri opened #4136 "[Boss] Leotheras the Blind"
Description: Leotheras' demons are immune to shadow bolt reflect.

How it works: Leotheras' demons are immune to shadow bolt reflect.

How it should work: Leotheras' demons should not be immune to reflect.

Source (you should point out proofs of your report, please give us some source):
http://wowwiki.wikia.com/wiki/Leotheras_the_Blind

When the inner demon is there, spell reflect the demon's shad

[2019-01-14 20:16] neheri commented on #4136
I consider this urgent because at the moment when you get inner demon as a prot war it's impossible to kill him.

[2019-01-14 20:31] notsofamous commented on #1845
- [ ] **WATER ELEMENTALS STILL RUN TWICE AS FAST AS THEY SHOULD**
- [ ] **WATER ELEMENTALS STILL RUN TWICE AS FAST AS THEY SHOULD**
- [ ] **WATER ELEMENTALS STILL RUN TWICE AS FAST AS THEY SHOULD**
- [ ] **WATER ELEMENTALS STILL RUN TWICE AS FAST AS THEY SHOULD**
- [ ] **WATER ELEMENTALS STILL RUN TWICE AS FAST AS THEY SHOULD**
- [ ] **WATER ELEMENTALS STILL RUN TWICE AS FAST AS THEY SHOULD**
- [

[2019-01-14 20:37] wombo2u commented on #4128
This is a wotlk thing, it didn't exist in vanilla or tbc

[2019-01-14 20:44] notsofamous commented on #1845
- [ ] **ADDS ARE STILL GLITCHING THROUGH THE FLOOR**

**(first reported 23/11)**

[2019-01-14 20:45] Dootz commented on #4091
drop rate will be increased 2% -> 8%

[2019-01-14 21:06] codyboulton commented on #4128
Apparently this was added in 2.4:
http://wowwiki.wikia.com/wiki/Patch_2.4.0

Search for Warsong:

Warsong Gulch
When both flags are held, the flag carriers will receive 50% increased damage done to them after approximately 10 minutes and 100% increased damage after approximately 15 minutes.
Flag carriers can now be tracked 45 seconds after picking up the flag.

[2019-01-14 21:52] username-is-not-taken opened #4137 "[Shaman] Yet another grounding totem bug report"
Description:
I'm not entirely sure how this mechanic is supposed to work, but I believe chain lightnings that get redirected to grounding totem should not bounce. As it is now, chain lightnings that get redirected to grounding totem bounces off the totem to additional targets (and if, as in my case, there's only one target nearby, it bounces twice to that target).

How it should work:
As the toolt

[2019-01-14 23:27] Jinzo25 commented on #4119
After the server restart it rproccs completely randomly, on crits or non crits and consumes casted spells as well like the guy before described. So its pretty broken, the same way it was before and right after the server released.

[2019-01-14 23:29] Ibuprofeno commented on #4103
I'd been trying to replicate this after a friend told me to test it but it seems it only happens when you use turn keybindings (holding mouse2) and not strafe I'll try to retest and upload a short clip

[2019-01-14 23:32] Jinzo25 commented on #4119
https://imgur.com/a/EDJAIMh

The two Screenshots:
1st: No proc on a crit
2nd: Proc on a non crit

[2019-01-14 23:50] baade123 commented on #4137
that is a yikes

[2019-01-15 00:27] pinkisnotgay opened #4138 "Dark Iron Legacy ! (BRD Key quest)"
Description:
Once you are dead you should be eligible to pick up a "Dark Iron Legacy" quest.

How it works:
Nothing happens, for some reason you cannot accept the quest.

How it should work:
You should be able to accept the quest.

Source (you should point out proofs of your report, please give us some source):
https://gyazo.com/ce6adb107d774034b632c0df3e0ea9ed

[2019-01-15 01:58] Alexandarrr opened #4139 "Quest City of Light"
Description: Please fix quest City of Light

How it works:Elemental disappears when it comes back, from the lover city

How it should work:

Source (you should point out proofs of your report, please give us some source):

[2019-01-15 05:59] #4139 closed, assigned to Dootz

[2019-01-15 06:00] #3059 closed, assigned to Dootz

[2019-01-15 07:54] Overzealoustherealone opened #4140 "Another Shaman OP awareness report."
Description: Fire Elemental not despawning.

How it works:
Shamans Fire elemental from totem is not removed by twisting or destroying the totem.

How it should work:
When "Fire Elemental totem" is destroyed or replaced the elemental should despawn.

Source (you should point out proofs of your report, please give us some source):
World PvP against a restosham and there seems to be other bug reports

[2019-01-15 07:58] sunsmiles09 commented on #4122
The same issue like me , gm told me delete the bag addons and the issue is resolved.

[2019-01-15 08:01] #4046 closed, assigned to nobody

[2019-01-15 08:01] sunsmiles09 commented on #4046
caused by bag addons , issue has been resolved.

[2019-01-15 08:38] baade123 commented on #4138
you are able to pick up the quest alive >_>

[2019-01-15 08:38] baade123 commented on #4138
so yes bug but no problem i guess XD

[2019-01-15 10:00] pinkisnotgay commented on #4138
Still a bug.

[2019-01-15 10:01] #2221 closed, assigned to nobody

[2019-01-15 10:01] #3997 closed, assigned to nobody

[2019-01-15 10:02] #2491 closed, assigned to nobody

[2019-01-15 10:03] akrom23 commented on #2663
This is bugtracker.

[2019-01-15 10:03] #2663 closed, assigned to nobody

[2019-01-15 10:03] #2829 closed, assigned to nobody

[2019-01-15 10:10] chme3921 opened #4141 "[Paladin] Threat for Healing Spells is Double the Intended Value"
Description: Healing spells are intended to do 0.5 threat per health healed, with the exception being Paladins due to increased threat generated from instant mana gains, mostly from the Illumination talent. Because of this, Blizzard in Vanilla gave Paladins an additional 0.5 multiplier to threat on healing spells to counter-act this, bringing the total threat per health healed to 0.25.

This makes

[2019-01-15 11:08] frikazoit commented on #1688
still not working :(

[2019-01-15 16:10] riedling11 commented on #1705
This still does not work.  After killing the black balls, and using the prayer beads during the ritual several times.  You need to talk with Jules to complete the task.. unfortunately, he cannot be talked to.

[2019-01-15 17:29] Bugadin opened #4142 "Deadly throw from PVP gladiator gloves [ROGUE PVP]"
Description: Deadly throw should interrupt casts when you equip grand marshal's leather gloves or Gladiator's leather gloves. It was working as intented until today, which it doesn't now.

How it works: Deadly throw doesn't interrupt

How it should work: Deadly throw SHOULD interrupt when equipping  Grand marshal's leather gloves or Gladiator's leather gloves.

Source (you should point out proofs

[2019-01-15 18:13] RPAncap commented on #4135
Can confirm it works. Today we went Yor again and he dropped a ring.

[2019-01-15 18:21] Nghedi commented on #3732
It happened to me everytime i was using it today.

[2019-01-15 18:36] Sologrim opened #4143 "[Quest] The Fate of the Kingdom"
Description:
Quest cannot be completed, because NPC Princess Moira Bronzebeared does not turn friendly after Emperor Thaurissan dies.

How it works:
When fighting Emperor Thaurissan, if you don`t hurt Princess Moira she doesn`t turn friendly after Emperor`s defeat.

How it should work:
Princess Moira Bronzebeared should turn friendly after Emperor`s demise and accept the quest. After you turn in t

[2019-01-15 19:01] #4135 closed, assigned to Dootz

[2019-01-15 19:35] Wobbey291 opened #4144 "Warlock pet macro(specificly Felguard)"
Description:
I am trying to use the Intercept ability from the felguard on a macro and any type of macro does no seem to work. It seems only clicking the ability makes him use it.

How it works:
using
/cast Intercept    makes it work with the range that the ability has but the felguard just wont use it
using
/use [pet:Haaghun,harm]Intercept     does about the same thing. the only difference is tha

[2019-01-15 19:58] Dootz commented on #4123
still have some issues that will be resolved with next update. currently cant be completed, servant gets stuck at some point.

[2019-01-15 19:58] #4125 closed, assigned to Dootz

[2019-01-15 20:00] #4116 closed, assigned to Dootz

[2019-01-15 20:00] Dootz commented on #4115
fixed, live.

[2019-01-15 20:00] #4115 closed, assigned to Dootz

[2019-01-15 20:00] Dootz commented on #4111
fixed, live.

[2019-01-15 20:00] #4111 closed, assigned to Dootz

[2019-01-15 20:00] Dootz commented on #4109
fixed, live.

[2019-01-15 20:00] #4109 closed, assigned to Dootz

[2019-01-15 20:00] Dootz commented on #4105
fixed, live.

[2019-01-15 20:00] #4105 closed, assigned to Dootz

[2019-01-15 20:00] Dootz commented on #4096
fixed, live.

[2019-01-15 20:00] #4096 closed, assigned to Dootz

[2019-01-15 20:01] Dootz commented on #4094
fixed, live.

[2019-01-15 20:01] #4094 closed, assigned to Dootz

[2019-01-15 20:01] Dootz commented on #4091
fixed, live.

[2019-01-15 20:01] #4091 closed, assigned to Dootz

[2019-01-15 20:01] Dootz commented on #4088
fixed, live.

[2019-01-15 20:01] #4088 closed, assigned to Dootz

[2019-01-15 20:01] Dootz commented on #4084
fixed, live.

[2019-01-15 20:01] #4084 closed, assigned to Dootz

[2019-01-15 20:05] RPAncap commented on #3491
Kinda related : Currently, there are no chests in several HC dungeons. (For example shadow labyrinth) - they are there on normal.

[2019-01-15 20:10] darknessangelo opened #4145 "The beast boss and ace of the beasts"
Description:
Been farming Ace of beasts for a while, killed boss The Beast around 25 times and still no drop. Can you please check and refer if it drops from the boss and has around 5% drop rate? Thank you.

How it works:

How it should work:

Source (you should point out proofs of your report, please give us some source):

[2019-01-15 20:20] milk92 commented on #4142
Can confirm this is bugged since today. Did work previously

[2019-01-15 20:27] pinkisnotgay commented on #4145
It's on the loot table.

[2019-01-15 21:12] neheri commented on #3988
Can confirm. Tidalvess WF can proc off WF, so I've seen 4 hits for ~20k total.

Priestess often evades, when people handling her are up the air for a few times in a row.

[2019-01-15 21:23] Thempest commented on #4122
And this worked for you? True, I use Bagnon, but even deleting it and cache it didnt work...

[2019-01-15 21:24] Felynda opened #4146 "Karazan door inside the instance being closed"
Description:
When you enter Karazan main entrance u encounter a door. This second week in a row the door was unopenable for my guild on our second raidnight. We killed all up to Aran.

Super annoying bug forcing us to use the backdoor, Karazan is acting like a girl on period

How it works:
cannot open

How it should work:
can open

Source (you should point out proofs of your report, please give us

[2019-01-15 21:28] Thempest commented on #4137
I noticed this too and think the same, it shouldn't bounce of it.

[2019-01-15 21:49] neheri opened #4147 "[Boss] Fathom-Lord Karathress"
Description: His adds are bugged.

How it works:
Fathom-Guard Tidalvess' windfury can proc off windfury so he can instagib any tank at the moment. It's just luck now how many times WF procs.

Grounding totem does not work with his frost shock.

Fathom-Guard Caribdis cyclone stays in one place so person is kept infinitely in the air, which causes her to evade. You can keep her evaded, kill other ad

[2019-01-15 21:51] aeyers commented on #4145
I got it on my 44th kill.

[2019-01-15 22:53] Meteor23 opened #4148 "Mail"
Description: I bought many items from auction house, i had "mail" icon next to my minimap so i came to mail and opened it.... nothing there, so i did relog.... again, nothing in mail... so i did reload and relog, nothing in mail again and also my "mail" icon next to minimap dissapeared too and now i can´t get my items from auction house... i spent too much gold, please help me with this, i tried t

[2019-01-15 23:11] KayleeFrye1 commented on #4021
I guess this won't get answered? 🥇

[2019-01-16 00:54] twoPlusThree opened #4149 "Chain Pulling"
Description:
So they're are other issues reported on this subject and they're closed and taggued as fixed but this is not fixed atm.

How it works:
Basicaly when you pull a mob it checks 10yards or something around him and pull other linked mobs.
So far it's ok this works fine on the server.

How it should work:
BUT, and this is when we get into the real chain pulling, those mobs that were in the

[2019-01-16 05:37] foxxhound commented on #3123
Bump

[2019-01-16 06:46] kirkj89 opened #4150 "Pet dissapeared"
Description: Hunter pet dissapeared after putting in stables

How it works:
After training King B and leveling with him to 58. Get to outland and put him in my stables and hes gone. Relogging did nothing. So frustrating, I know I can train something else but he had so many training points to max out skills and prowl is super fun in pvp as a NE.

How it should work:
Pet should be stables. Not compl

[2019-01-16 08:38] RibGobbler2 commented on #3544
I gave up on that Quest, dont need it anymore, reeeee
Thx for feedback buddy, cheers.

On Sun, Jan 6, 2019 at 8:13 AM Reflekz <notifications@github.com> wrote:

[2019-01-16 11:01] Felynda opened #4151 "Windfury totem doesn't proc from Seal of Command"
Description:
Windfury totem doesn't proc from Seal of Command. In reverse it does work correctly, Seal of Command can proc from a Windfury totem hit.

How it works:
Currently on server you will never see a windfury proc from Seal of command hit.

How it should work:
Each Seal of Command hit should have 20% chance to proc Windfury totem.

Source (you should point out proofs of your report, please g

[2019-01-16 12:44] #3994 closed, assigned to nobody

[2019-01-16 12:46] akrom23 commented on #4011
Write ticket ingame - this is not bug.

[2019-01-16 12:46] #4011 closed

[2019-01-16 12:48] Femala95 commented on #1375
The bug is in Sethekk Halls too. There is a mob who cas Arcane misssles too to him self.

[2019-01-16 12:48] #4015 closed, assigned to nobody

[2019-01-16 12:53] #4039 closed, assigned to nobody

[2019-01-16 12:54] akrom23 commented on #4071
We won't change that.

[2019-01-16 12:54] #4071 closed, assigned to nobody

[2019-01-16 12:54] akrom23 commented on #4073
#4021

[2019-01-16 12:55] #4021 closed, assigned to nobody

[2019-01-16 12:56] Radicz10 opened #4152 "[QUEST] Only One May Rise"
Description:
After finishing first quest of the chain " What Tomorrow Brings" started from Baristolth of the Shifting Sands, there should be available next one which is "Only one may rise"

How it works:
Baristolth of the Shifting Sands is not able to give any more quest.

How it should work:
He should be able to give  chain quests till "The Hand of the Righteous", becouse the next one "Anachronos

[2019-01-16 12:57] Femala95 opened #4153 "Shattared Halls - door Bugging"
Description:
Simply bugging door at Shattared Halls

How it works:
Door before first boss at Shattared Halls can be walk throw by hunters pet - pull mobs. After kill all mobs boss will come. And after his death.. door will open.

How it should work:
Whole party should go to "canal" next to the door and pull mobs (wh should have really fast respawn). then you get to boss hall and fight with him.

S

[2019-01-16 13:01] akrom23 commented on #4120
@Trolltilla @mjk6994 Got some screenshots ot video?

[2019-01-16 13:05] akrom23 commented on #4145
It is 5% chance.

[2019-01-16 13:05] #4145 closed, assigned to nobody

[2019-01-16 13:05] mchayes commented on #4136
Going to pile on Leotheras here.

He is showing weird behaviour in his execute phase regarding Whirlwinds, I can't find other data on it in the github.
Hope it makes sense - boils down to him casting double WW's in execute phase at a random cooldown inbetween. If the gap is big enough the WW can be cast permanently during execute.

![](https://i.gyazo.com/361538c1a6ad56678953a6b5a7a80626.png)

[2019-01-16 13:08] neheri commented on #4136
@mchayes I agree. His whirlwind seems to be very odd to what I've experienced on other servers.

- I was tanking him and he chased me for very long, sometimes for 50% of more of whirlwing time.
- During execute phase he entered demon phase... We had 2 demons at the same time. He should stay in elf phase until his death.

[2019-01-16 13:11] mchayes commented on #4136
Indeed, that made it considerably easier to kill! (regarding the demon shifting issue)

[2019-01-16 13:47] Szusterx opened #4154 "Inner Focus Priest bug"
Description: Inner focus CD buggd

How it works:
After i use   IF cd wont show up  on action bar and in spellbook.  Its 3 min CD -  i didnt relog instantly  just after 10 min and  IF was still buggd on my bar and spellbook. Happends me with and without addons.

How it should work:
CD should show up after use if + any spell

Source (you should point out proofs of your report, please give us some so

[2019-01-16 14:04] Bugadin opened #4155 "Shattered Halls [door to Grand Warlock Nethekurse]"
Description: I don't know why no one has reported this but this door should be opened with lockpicking or Elemental Seaforium Charge.

How it works: The door only opens if you go through the sewers and kill the boss.

How it should work: A rogue with 350 lockpicking's skill level or a engineer with Elemental Seaforium Charge could open the door.

Source (you should point out proofs of your report,

[2019-01-16 15:51] twoPlusThree commented on #3862
I was about to open an issue about this. I hope this get fixed.

[2019-01-16 18:12] Bugadin opened #4156 "Murmur is unkilliable [BROKEN]"
Description: Murmur's fight has to be played inside the circle around him or he uses the nature debuff which kill us all.

How it works: Murmur applies nature's debuff after 5s when the encounter starts to every party member even if he is inside or outside the circle. That happened in HC mode.

How it should work:  Murmur ONLY applies nature's debuff when you go far away from him.(outside the circ

[2019-01-16 20:32] worstwarrioronserver commented on #4098
By the way, I should note the following:
The tooltip for Battle Shout with Solarian's Sapphire & Commanding Presence is correct. However, the actual attack power gain on the character sheet is not.

For example..
(1) Battle Shout (Rank 8) [ID 2048] - 305 Attack Power
(2) Commanding Presence (4/5) [ID 12860] - 20% Bonus to AP from Battle Shout

(1) & (2) together give 366 Attack Power, this is corr

[2019-01-16 20:46] SlizeTBC commented on #3697
Yea you cant farm Primal Air that easily, Windy Clouds got 45min respawn timer.

[2019-01-16 21:19] #4156 closed, assigned to nobody

[2019-01-16 21:20] estenv opened #4157 "Arena matchmaking system is broken"
Description:
Arena matchmaking system is not working like it should. This is currently turning a lot of people away from arena and even making them quit the server as the pvp is not enjoyable. When teams with huge rating differences constantly have to play against each other with short queue times it's a very unenjoyable experience for both teams (low rated team gets stomped with no chance, high r

[2019-01-16 21:36] kinghunterx commented on #4157
yo this needs fix asap otherwise arena is gonna be deader than it is, fix this asap pls ty

[2019-01-16 22:09] Divezy opened #4158 "Surprise Attacks"
Description: Last talent in Combat tree doesn't work.

How it works:
Special attacks are still dodging.
https://imgur.com/a/Ys60pLB

How it should work:
Special attacks shouldn't be dodged.

Source (you should point out proofs of your report, please give us some source): Well talent description says it all.

I know it was here many times but it looks like nobody noticed.

[2019-01-16 22:12] Dootz commented on #2503
he can be found in his cabin below deck

[2019-01-16 22:12] #2503 closed, assigned to Dootz

[2019-01-16 22:14] #3730 closed, assigned to Dootz

[2019-01-16 22:17] #3303 closed, assigned to Dootz

[2019-01-16 22:18] #3222 closed, assigned to Dootz

[2019-01-16 23:45] zmthc93 commented on #4157
-made multiple posts about this topic on forums and was asked for 'proof that it isn't working as intended' and post was locked
-there is also a bug with requeue where u can force games to start vs far lower teams faster by requeuing
-system should start looking teams the same rating as you and then slowly expand search parameters -+ rating as time passes until two teams matchmaking range intersec

[2019-01-17 00:03] pinkisnotgay commented on #4129
Yet another example of the same issue, that's why it makes it really annoying, because you can't reserve a recipe in your own karazhan run.
![masterlooter issue](https://user-images.githubusercontent.com/44933866/51286534-b96a2780-19f3-11e9-85f9-845470e20a10.jpg)

Person was able to pick up the recipe before master looter even opened the boss.

[2019-01-17 00:05] milk92 commented on #4157
Allo dev's u sleeping? Go fix this shit.... Or we all go to Dogwing

[2019-01-17 06:18] Jumpinlord opened #4159 "Absent NPC in Stormwind"
Description: In Stormwind city must be Frederick Stover, 30 lvl NPC that sells arrows, quivers and bows.

How it works: He's absent so I can't buy Jagged Arrow ( Lina Stover doesn't sell it).

How it should work: This NPC added in patch 1.11.1.7272.

Source (you should point out proofs of your report, please give us some source): http://wowwiki.wikia.com/wiki/Empty_Quiver

![wowscrnshot_011719_091

[2019-01-17 07:13] UlrikSagen opened #4160 "[Quest/Profession] Finishing the quest "Triage" does not increase First Aid skillcap to 300."
Description:
After finishing the quest "Triage" it did not increase my first aid skill cap to 300. I am still at 225/225

How it works:
You finnish the quest as normal, but nothing happenes.

How it should work:
You finnish the quest and your first aid skill cap raise to 300.

Source (you should point out proofs of your report, please give us some source):

[2019-01-17 07:51] baade123 opened #4161 "Second Wind Procs even on resists..."
Description:   Posting again since last report got closed...... and its still not fixed...
Warrior arms talent, second wind (Shown in link but with incorrect rage tooltip on website) will proc even when stuns/roots resist.
**https://db.excalibur.ws/?spell=29838**
How it works:
if your stun or root resists on warrior,  it gives him second wind buff... ( which gives player rage/health) which is just

[2019-01-17 08:23] Mikov1605 commented on #4160
https://www.wowhead.com/quest=6624/triage#comments
One of the comments says the doctor should teach us automatically

[2019-01-17 08:32] neheri commented on #4136
Please try to fix his shadow bolt reflect immunity quickly, it should be easy fix. When I used spell reflect when he casted on me, I didn't took damage so the bolt was reflected, however there was no damage taken by him, no message "immune" or "resist" and it happened on multiple reflect.

On the other servers it was super easy for prot war, 2-3 reflects and he was dead. At the moment, unless you

[2019-01-17 11:05] akrom23 commented on #4157
Some changes applied.
Needs test.

[2019-01-17 12:12] Bugadin commented on #4157
Listen to this guys because all he said it's correct.

For example: you can force a game if you queue a minute, leave queue and then requeue.

[2019-01-17 13:24] Macnjacks commented on #3986
Adding a few bugs we noticed -
If you have top aggro, and are a ranged dps or any person with top aggro besides the tank, Lurker will target that person but still continue to melee the tank. This messes with the spout as it will then start with the person that Lurker is targeting.

Another issue is the fish. They will come up onto land and still hit people. I know this is a difficult one, but it's

[2019-01-17 13:50] Macnjacks commented on #4136
I also noticed that that the rend that is applied during whirlwind ticks rather high (maybe by design?). If a cloth player gets 2 rends they are basically dead. I know there is a away to avoid it, but with how Leo currently almost locks onto a player for a long period of time it's hard for 1 person to continue to run without getting hit twice. We even had a phase where he whirlwinded the tank the

[2019-01-17 14:45] zmthc93 commented on #4029
you guys all playing on netherwing too?

[2019-01-17 15:30] za-x-az opened #4162 "Qiff Area 52"
Description:  a goblin by name Qiff was added in patch 2.2.0.7272 considering we are playing emulated patch 2.0/2.1 or something like that right now he and what he is selling should not be in the game amt!

How it works:
He should NOT be in game until patch 2.2.0

How it should work:
He should BE in the game after patch 2.2.0

Source (you should point out proofs of your report, please give us some

[2019-01-17 15:33] za-x-az commented on #2382
Can we at least have ETA on when this will be looked at?!

[2019-01-17 15:33] za-x-az commented on #3289
Any status update?

[2019-01-17 15:44] notsofamous commented on #4162
A lot of comments from patch 2.0 talking about him being in Area 52.

2.0 Comments:

Qiff is a green goblin, but notice how he is in Area 52 and not any where else.
Kif Kroker of Futurama is the personal assistant to Captain Zapp Brannigan.
With him being in Area 52 and in Netherstorm, one can safely say that they thought of this name by none other than watching Futurama.

2.1 Comments:

Etc... Ob

[2019-01-17 15:49] za-x-az commented on #4162
the comments can be wrong on patch info connected to them i dont know or its right they thing is that he is noted as added patch 2.2.0.7272 and on other tbc server i have played on witch was progressive he was added in patch 2.2.0 and i cant find any sources saying he was added before.

[2019-01-17 16:12] notsofamous commented on #3987
There is not supposed to be a "sweet spot" tactic, just a common bug on many TBC servers.

[2019-01-17 16:24] notsofamous commented on #4162
You can check the dates the comments were posted on... "By onesimus (873 – 8·4) on 2007/02/27 (Patch 2.0.8)"

There is even a screenshot of him uploaded on 2007/02/22. Patch 2.2 was released about 7 months later.

You can look at other NPCs in Netherstorm and it'll say they were also added in patch 2.2: https://www.wowhead.com/npc=19645/papa-wheeler
https://www.wowhead.com/npc=20907/professor-dabi

[2019-01-17 17:13] akrom23 commented on #3582
I visited these mobs and cannot confirm it.
Tell me about your defense skill and level

[2019-01-17 17:15] #3746 closed, assigned to nobody

[2019-01-17 17:21] akrom23 commented on #3754
Only bugged with AoE damage?

[2019-01-17 17:22] syphex97 commented on #3582
uh i think i was 47, i was a shaman, other guy was a feral druid in bear form getting stomped by them other guy was a warrior

Ill drop by when i have time and check

[2019-01-17 17:25] akrom23 commented on #3762
I've never heard about it :)
Damage is calculated only once - on spell launch (when cast is over) - this is blizzlike.
About earth shield - amount of heal is already calculated on aura apply. This is not kind of snapshot - just a custom script :)

[2019-01-17 17:33] za-x-az commented on #4162
I see where u are going with that, but that logic doesn't work when talking id on an NPC in a game he can have been meant to be in from let's say 2.0.0 but some last minute change pushed him to be added in 2.2.0 then he would have a lower ID than another NPC that was made close to launch of TBC

the same can be true with an item ID.
the only place that logic work is the version number.

[2019-01-17 18:14] pinkisnotgay commented on #4129
Apparently you can do the same when group loot is on.
This needs immediate fix.
@Wojtyas

[2019-01-17 18:26] flapse32 commented on #3762
But thats not true at all, when casting aimedshot with CD's/Trinket buff up and it ends while u casting it. it will land the dmg without any buffs if that makes sense. Snapshot is when you calculate the timing so when there is 1 sec left on your dmg multipliers  (Trinket/CD's) You cast a ability and it will do the dmg as if the trinket was up even tho it was not up when it lands. Snapshot was pret

[2019-01-17 18:28] flapse32 commented on #3762
Also thats what my bug ticket is about, this dosent work for hunters. But it does work for other classes as you say the damage is calculated only once. but thats not the case for hunters. Will test it later again and see, but when i made the post it was 100% not working as it should.. (Edit: Still dosent work as it should)

[2019-01-17 18:29] Niar91 commented on #3754
Feels like only AoE yes.

[2019-01-17 19:20] akrom23 commented on #3762
What CD's/Trinket you mean?
As I said: damage/heal and their multipliers are aplied on launch, not during cast.
Send some proofs.

[2019-01-17 20:13] akrom23 commented on #3754
Tell me what's your main healing spell that works bad here.

[2019-01-17 20:14] Niar91 commented on #3754
All of them, Chain Heal, Lesser Healing wave, and Healing Wave, none recive the push-back benifits from the talent.

[2019-01-17 20:58] Bugadin commented on #4005
Hey, I wouldn't want to let this die. Check a look at this

https://gyazo.com/49d0b6fc3cbc8781c17b045ee81cf022
In this one the arcane missiles doesn't land while u channel the spell

https://gyazo.com/094cb5ff1753886b5e0e22e42579cd24
https://gyazo.com/54edd4b2ddd52c0f7d681c256805d348

In this 2 you can clearly see how you cast both frostbolts and none of them lands when the cast finishes.

[2019-01-17 21:15] RarecandyMage opened #4163 "A Dip In The Moonwell not working."
Description: Use an item to take control of a mechanical robot.  Use robot to gather water from moonwell, seems bugged.

How it works:

How it should work:

Source (you should point out proofs of your report, please give us some source):
https://www.youtube.com/watch?v=2U57vcgMlFs

[2019-01-17 21:52] #4123 closed, assigned to Dootz

[2019-01-17 21:52] #4124 closed, assigned to Dootz

[2019-01-17 22:06] #3945 closed, assigned to nobody

[2019-01-17 22:30] kiterama commented on #4129
push!  really annoying bug

[2019-01-17 22:32] kiterama commented on #4129
This is what happened today during ssc.
We got random drop nether vortex and I was master looter. I always have Autoloot on. I right clicked a mob and the vortex immidiately got to my inventory without asking for anything. This is totally shit .. now the vortex is worthless for our guild since I dont need it anyways.

[2019-01-17 22:33] #3285 closed, assigned to Dootz

[2019-01-17 22:48] #3001 closed, assigned to Dootz

[2019-01-17 22:51] mchayes commented on #4033
What is the deal with Al'ar being interruptable? Every guild streaming even discusses it.

Like here: https://clips.twitch.tv/ArtisticPopularStapleKevinTurtle

[2019-01-17 22:52] #3139 closed, assigned to Dootz

[2019-01-17 23:36] notsofamous commented on #4033
Reported it 2 weeks ago, but they need to fix the platform issue after quill before they fix that tbh. And the platform issue was reported 2 months ago.....

[2019-01-18 01:34] Azmoddan commented on #4163
What is bugged? You can't cancel the control buff? Precise yourself.

[2019-01-18 01:34] Vandarc opened #4164 "Rogue Poison Quest missing"
Description:  So ive got lvl 20. Went to OG and grabed the Quest"Deep Cover" for the Rogues Posion. Went to the wanted area, did the flare and logged out after. After a day ive logged in and the guy was killing me. Obviously since i didnt do the flare.
So after i was left without the quest and i cant pick it up either.  I had the flare still in my inventory up to like an hour ago. Deleted it was h

[2019-01-18 01:45] Azmoddan commented on #4101
Worked normally for me and my party.

[2019-01-18 02:01] Azmoddan commented on #4047
As a warlock I can confirm and it is pretty annoying.

[2019-01-18 02:04] Azmoddan commented on #4025
Can be somehow related to #198 and I think it is not a bug, since burning buildings should deal a small amount of damage just as a bonfire I guess? Gotta check it.

[2019-01-18 02:06] Azmoddan commented on #3998
Could you tell the cords where it happened?

[2019-01-18 02:09] Azmoddan commented on #3967
Bump.

[2019-01-18 02:12] Azmoddan commented on #3944
This bug was mentioned at least one more time. @afgann @akrom23 fix?

[2019-01-18 02:14] Azmoddan commented on #3932
Happened for me too. I think same thing goes for Felguard, he might be doing too low threat with his Cleave.

[2019-01-18 03:23] baade123 commented on #3662
WTB FIX

[2019-01-18 06:06] Dootz commented on #4163
he attached video. he doesnt get credit apparently :(

[2019-01-18 09:16] neheri commented on #4136
In addition to everything stated above, on 15% when he splits he seems to be bugged as well.

First of all he keeps running while kneeling and seems to have preserved aggro from previous form (elf or demon). He killed our warlock tanking demon and it was impossible to regain aggro on him, despite several shield slams and heroic stikes.

Second, he seems to stay kneeling for too long. It should be

[2019-01-18 09:20] akrom23 commented on #3754
Tested against druid's hurricane.
W/o talent:
![wowscrnshot_011819_101548](https://user-images.githubusercontent.com/1035215/51377153-7484e480-1b0a-11e9-9635-357f3b82c62f.jpg)
![wowscrnshot_011819_101549](https://user-images.githubusercontent.com/1035215/51377154-751d7b00-1b0a-11e9-8278-7f818d98d720.jpg)
![wowscrnshot_011819_101550](https://user-images.githubusercontent.com/1035215/51377155-751d7b

[2019-01-18 09:22] akrom23 commented on #3812
Show me your macros.

[2019-01-18 09:22] nickycakes opened #4165 "mining/herbing skillup bug"
Description:
refusing to loot a node allows the player to continue gathering that node until they get a skillup

How it works:
If the player doesn't loot a gathered node, it will not despawn, but continue to be gatherable indefinitely, allowing the player to keep gathering that node until they get a skillup from it.

How it should work:

Mining/herbing a node and not looting it should cause the lo

[2019-01-18 09:27] Mikov1605 opened #4166 "[NPC]Dragonmaw Elite"
Description:
This NPC desnt count for the quest Infiltrating Dragonmaw Fortress

How it works:
![image](https://user-images.githubusercontent.com/43579401/51377591-96329b80-1b0b-11e9-9a08-2a57ab750d31.png)

How it should work:
Quest Descriptions says "ANY orc at Dragonmaw Fortress will count"

Source (you should point out proofs of your report, please give us some source):

[2019-01-18 09:28] akrom23 commented on #4023
This is called melee leeway?

[2019-01-18 09:31] Mikov1605 opened #4167 "[NPC]Shadowmoon Soulstealer"
Description:
They dont attack you.

How it works:

They do not attack, they just enter combat with you and keep the "Drain life position" all the time
How it should work:

They should move towards you and attack
Source (you should point out proofs of your report, please give us some source):

[2019-01-18 09:37] akrom23 commented on #4081
If you resist, the threat won't be cleared.
Provide some screenshots or video.

[2019-01-18 09:41] akrom23 commented on #1312
No response. Closed.

[2019-01-18 09:41] #1312 closed

[2019-01-18 09:51] baade123 commented on #4165
doubt anyone would complain about this...

[2019-01-18 09:53] Niar91 commented on #3754
Didn't work at the Netherspite Encounter in Karazhan and soem other instances.

[2019-01-18 09:53] akrom23 commented on #1361
@Dewsch Next time, give me some screenshots with your combat log, where I can see applied root/stun effects and all the stuff that happened after that.

[2019-01-18 09:57] baade123 opened #4168 "sometimes when i use PVP trinket I get rooted in place permanently..."
Description:

sometimes when i use PVP trinket I get rooted in place permanently...
How it works:
happened to me on hunter traps, fear/kidney , other things, sometimes i notice i get rooted for 2-3 seconds also, most of the time its no issue, and then sometimes its PERMANENT...

How it should work:
should not bug out

Source (you should point out proofs of your report, please give us some source):

[2019-01-18 10:42] akrom23 commented on #1694
It works fine if you have 3 charges. Problem is when you have 2 or 1 charge.
Every single charge is consumed per target, not single use/cast.
If you have ony two charges, 3 targets and you use multi-shot, the last one will atack you.
I know that the spell's tooltip says:

So we need more info: misdirection should consume charges per target or per cast.
Multi-Shot should be considered as a single a

[2019-01-18 11:17] akrom23 commented on #4168
Needs screenshots with your combat log.
You can upload your screenshots here: https://imgur.com

[2019-01-18 11:27] Shika88 commented on #4160
Same problem for me

[2019-01-18 12:10] Mikov1605 opened #4169 "[Talent][Imporant]Ignite - please fix it already"
Description:
i know its open here - https://github.com/SunwellWoW/Sunwell-TBC-Bugtracker/issues/3979 - but still, noone cared to fix this. Adding high priority and ignoring it for 10 days isnt the thing we, fire mages, expect. Its a mayor dps loss with two fire mages in a group/raid.

How it works:
Ignite is overwritten by 2nd ignite(from any fire mage).

How it should work:
It should be posibble

[2019-01-18 12:48] MassimoPirrone opened #4170 "Items Disappearing in bags"
Description:  Yesterday I had 5 Primal Mana's completely vanish out of my bags I opened a ticket and there was nothing the GM could do to get it back. Now today I have been logged on the last few hours I had 7 of my Spellcloth's vanish out of my bags now. *I have not logged off, so definitely not a hacker*

How it works: Items shouldn't disappear.

How it should work: I should still have my items

[2019-01-18 12:56] kyotpls opened #4171 "Bug: Can't Banish warlock pets. Recieving error: Target is tapped."
**Description:**
When attempting to banish a warlock pet (i.e Felhunter) a error message appears saying "Target is tapped" and the cast won't start. This was not a problem yesterday or the previous days. This is very gamebreaking when playing against other warlocks. Please sort this issue.

**How it works:**
Attempting to cast banish on warlock pet. Is then denied by recieving error message "Targe

[2019-01-18 13:07] notsofamous commented on #4162
There's overwhelming evidence of this NPC being in game at launch. Screenshots, comments, NPC ID... everything lines up.

https://wow.gamepedia.com/Qiff

The fact that every NPC in netherstorm says that it was added in 2.2 is also evidence that the "added in patch" thing isn't accurate on wowhead.

[2019-01-18 13:08] Bugadin commented on #4158
Confirmed, I hope it get fixed soon.

[2019-01-18 14:12] firngrod commented on #4170
Others who have experienced disappearing items have mentioned bank interactions, specifically in conjunction with add-ons (Equipment managers automatically depositing gear).  Have you been doing a lot of bank depositing/withdrawing, possibly doing a lot of items in very rapid succession?

[2019-01-18 14:47] akrom23 commented on #3754
With talent:
![wowscrnshot_011819_154635](https://user-images.githubusercontent.com/1035215/51393594-59c96480-1b38-11e9-90a4-9e842729a6c5.jpg)
![wowscrnshot_011819_154640](https://user-images.githubusercontent.com/1035215/51393595-59c96480-1b38-11e9-8adf-439f4ebd903f.jpg)
![wowscrnshot_011819_154645](https://user-images.githubusercontent.com/1035215/51393596-59c96480-1b38-11e9-8fba-a0a13c65d166.jp

[2019-01-18 14:48] #4169 closed, assigned to nobody

[2019-01-18 14:50] akrom23 commented on #2436
Maybe some proofs or screeshots? You did some tests?

[2019-01-18 14:50] #1498 closed

[2019-01-18 14:51] #4157 closed, assigned to nobody

[2019-01-18 14:51] #3764 closed, assigned to akrom23

[2019-01-18 14:54] akrom23 commented on #665
No response. Closed.

[2019-01-18 14:54] #665 closed

[2019-01-18 14:56] #1414 closed

[2019-01-18 15:24] Azathothh commented on #4170
Try disabling all addons (especially bagnon if you're using it) and clear cache folder. If you still won't find them in your bags/bank after that, please describe with as many details as possible what you've been doing before they "disappeared".

[2019-01-18 15:55] MassimoPirrone commented on #4170
I tried disabling all my addons and deleted cache, I was using bagnon at the time. I was online both times when i noticed my items disappeared. Every scenario I had an item missing I knew i had it when I logged on and in the middle of my session I would realize an item went missing. Yesterday I was on for a good 8-10 hours, Raided Kara combined motes of mana to a Primal and i know that made my 6th

[2019-01-18 15:56] MadderThenMad commented on #4169
Upvote for this...

[2019-01-18 16:13] maseta9 opened #4172 "Prisoners from Ethereum prisons spawning GREY"
Description: This issue doesn't happen to all mobs spawned by the Ethereum Prisons, it happens at random, I open up the prison to find that the mob I have to kill to get me an ID card has it's name on grey, as if someone else had tagged it even tho there's no one else around. When I kill it, the obvious thing happens, I can't pick up my ID card drop and lost some valuable rep with consortium. Toda

[2019-01-18 16:23] Felynda commented on #4160
Are you horde or Alliance? I am alliance and it worked perfectly for me a few weeks ago.

[2019-01-18 16:24] Kiszh commented on #3365
Are we getting any news on this? It's affecting warrior burst cleave quite heavily

[2019-01-18 16:35] Bugadin commented on #4023
Yes, it's called melee leeway. The bug here(and I know now what is exactly wrong) is that, if you or your target becomes slowed more than 29% of normal speed melee leeway mechanic HAS TO STOPPED.

This guy explains it VERY WELL. Please, read it all because it's a huge problem in PvP:

https://vanilla-twinhead.twinstar.cz/?issue=8237

**PROOFS ON SUNWELL**: https://gyazo.com/1c3b18abebecf4a4427ff38

[2019-01-18 16:39] maseta9 opened #4173 "Grey enemies in dungeons"
Description: Sometimes when you are in a dungeon and give the lead to a specific bugged person (this becomes annoying when the bugged person is the party's tank), from that moment on all enemies who are pulled by that person will be automatically tagged as a grey named mob and no one will be able to loot the mob when dead, not even the person who pulled it in the first place. It has an easy fix, w

[2019-01-18 17:07] akrom23 commented on #4023
Thanks for explanation :)

[2019-01-18 17:19] Bugadin commented on #4023
No problem. I managed to explain it better when I realized that this(which I knew there was something wrong but I wasn't able to explain it well) has a name and is called ''melee leeway''

Please, check this one too where I added proofs of what was going wrong
https://github.com/SunwellWoW/Sunwell-TBC-Bugtracker/issues/4005

[2019-01-18 17:25] Bugadin commented on #665
I forgot to answer because, suddenly, it didn't happen again but it used to happen at those days.

[2019-01-18 18:02] yairomi opened #4174 "Crowd controlled target's position"
Description:
Player's character is saved in different place than it is displayed after being sapped making rogue unable to attack him due to "too far away" error.

How it works:
If you sap enemy player who's moving faster than normal from any source (for example mount) his real position is not in the same place where his character model is displayed. This gets even worse if someone is jumping arou

[2019-01-18 18:34] RPAncap opened #4175 "Dreamless sleep doesnt stop you mid-air"
Description:
When you drink Dreamless sleep potion it should stop you where you are and give you sleep debuff.
Including mid-air.  This was part of legitimate strategy to down Gruul. However it was changed with patch 2.3.0 to no longer work mid-air.

How it works:
Here it works like it should after 2.3 i.e. it doesnt stop you mid-air - meaning you can't use it to help you kill gruul.

How it shoul

[2019-01-18 18:38] Niar91 commented on #3754
Strange, according to what i've seen with the talent 5/5 it was 100% push-back on any spell on AoE encounters.

[2019-01-18 18:42] neheri commented on #2870
It's bugged now. You can get multiple skinning skills from a single mob.

1. Skin a mob.
2. Don't loot the skin.
3. Skin it again.

Abusable

[2019-01-18 18:56] Bugadin commented on #4174
True but it doesn't happen always.

[2019-01-18 18:59] yairomi commented on #4174
Cause people may not be aware of it. When they learn, a lot of them will just jump around to piss rogues off and make sap useless.

[2019-01-18 19:44] mhdemn opened #4176 "PvP accessories - General's Mooncloth"
So from what I've been able to learn the pvp accessories for PvP healing weren't introduced until 2.4.3. So please add the cloth healing pieces or remove the leather, mail and plate ones, I guess. Huge unfairness for priests.

[2019-01-18 19:51] chme3921 commented on #3382
Netherbloom is 170g a stack. Fix this already

[2019-01-18 20:12] Shika88 commented on #4160
Horde. I still have bandage from the quest. Is It normal?

[2019-01-18 20:15] UlrikSagen commented on #4160
Im also Horde, and did also have the Triage bandage in my bags after turning the quest in,
I contacted a GM and got it fixed.

[2019-01-18 20:17] Shika88 commented on #4160
How do i contact a GM?

[2019-01-18 20:20] UlrikSagen commented on #4160
Press the red question mark at the bottom of your screen. Then press "talk to a GM".

[2019-01-18 20:20] Shika88 commented on #4160
Thank you :)

[2019-01-18 20:28] #2367 closed, assigned to Dootz

[2019-01-18 20:28] Dootz commented on #2367
fixed

[2019-01-18 20:29] #4159 closed, assigned to Dootz

[2019-01-18 20:29] Dootz commented on #4159
added

[2019-01-18 20:29] #4152 closed, assigned to Dootz

[2019-01-18 20:29] #4089 closed, assigned to Dootz

[2019-01-18 20:29] #4001 closed, assigned to Dootz

[2019-01-18 20:29] #3948 closed, assigned to Dootz

[2019-01-18 20:29] #3667 closed, assigned to Dootz

[2019-01-18 20:29] #3657 closed, assigned to Dootz

[2019-01-18 20:29] #3135 closed, assigned to Dootz

[2019-01-18 20:29] Dootz commented on #3106
fixed, live

[2019-01-18 20:29] #3106 closed, assigned to Dootz

[2019-01-18 20:31] #3042 closed, assigned to Dootz

[2019-01-18 20:31] #2896 closed, assigned to Dootz

[2019-01-18 20:31] #2887 closed, assigned to Dootz

[2019-01-18 20:31] #2779 closed, assigned to Dootz

[2019-01-18 21:18] notsofamous commented on #4176
There isn't any Cloth, Mail or Plate Healing offset in s1.

And by that I mean **it literally doesn't exist**, so there is nothing they can put in game.

[2019-01-18 21:44] mhdemn commented on #4176
well you should literally check the vendor and see for yourself

[2019-01-18 21:46] notsofamous commented on #4176
I have? By literally doesn't exist I mean that blizzard did not create these items. There is nothing in the database for them to add to the vendor.

[2019-01-19 04:33] Gouraki opened #4177 "Professions Dissapearing"
Description:
Profession disappear from your spellbook and Skills after reloggin to stop error messages.

How it works:
Recipe sends message saying (You need to be in Shadow Moon Valley to use this item), after I relogged to correct that error message, my profession(Blacksmithing) was gone.

How it should work:

Source (you should point out proofs of your report, please give us some source):

[2019-01-19 05:25] twoPlusThree commented on #4173
I've noticed some gray mobs in dungeon (stockades) when entering an instance solo without a group too.

[2019-01-19 06:06] Thalles777 opened #4178 "Dire Maul North mobs are tagged by other players (grey bar by name tag)"
Description: Upon entering the instance I noticed a few packs of mobs had half of them pre-tagged already as if the loot table didn't belong to me. Making them impossible to loot and skin. The hyenas in the first courtyard area with the patrolling guard, including the packs of ogres and the insects up top are all half tagged and half fresh. I've been farming this for a few days now and just today

[2019-01-19 08:29] akrom23 commented on #2030
No response. Closed.

[2019-01-19 08:30] akrom23 commented on #2326
Any news here? Give me more screenshots or explain exactly, what does not work.

[2019-01-19 08:39] #3194 closed, assigned to nobody

[2019-01-19 09:13] Petarrda opened #4179 "Sha`tar reputation via Fel armament or Arcane Tome"
Description: When you turn 1x fel armament/ arcane tome, your reputation with aldor/scryer increase with 350 and also your reputation with sha`tar should increase by 175.

How it works:
It increase indeed the reputation with the specific faction, but it dosen`t with the sha`tar.

How it should work:
Should increase the reputation with sha`tar by 175 at every piece you turn, untill honored.

Source

[2019-01-19 09:24] wombo2u commented on #4179
Yes, your rep with shatar is increased until you reach honored. Not after that. It is working as intended

[2019-01-19 09:52] akrom23 commented on #2217
No response. Closed.

[2019-01-19 09:52] #2217 closed, assigned to akrom23

[2019-01-19 10:00] akrom23 commented on #2418
Combat starts with 1. tick.

[2019-01-19 10:00] #2418 closed, assigned to nobody

[2019-01-19 10:19] #4179 closed, assigned to nobody

[2019-01-19 10:27] Wojtyas commented on #4177
Quite big thing. Please can u share details?
What spells have u learned before rlg? Which trainer u were using etc?

Literally tell us everything please, we to have reproduce this bug.

[2019-01-19 10:48] Bugadin commented on #4117
Does still drop? What will happen with the boots that were already crafted? This isn't fair at all xD

[2019-01-19 10:50] baade123 commented on #4168
i only took video and combat log was not displayed : / next time it happens what do you want me to capture?

[2019-01-19 11:18] akrom23 commented on #4168
Yes. I need your combat log from the moment when you got root aura.

[2019-01-19 11:20] akrom23 commented on #2562
Any news here?

[2019-01-19 11:23] #2110 closed, assigned to akrom23

[2019-01-19 11:23] #2211 closed, assigned to akrom23

[2019-01-19 11:23] #2300 closed, assigned to akrom23

[2019-01-19 11:23] #2845 closed, assigned to akrom23

[2019-01-19 11:23] #2955 closed, assigned to akrom23

[2019-01-19 11:23] #3052 closed, assigned to akrom23

[2019-01-19 11:23] #3231 closed, assigned to Afgann

[2019-01-19 11:23] #3272 closed, assigned to akrom23

[2019-01-19 11:23] #3328 closed, assigned to akrom23

[2019-01-19 11:23] #3737 closed, assigned to akrom23

[2019-01-19 11:23] #3784 closed, assigned to akrom23

[2019-01-19 11:23] #3927 closed, assigned to Afgann

[2019-01-19 11:23] #4004 closed, assigned to akrom23

[2019-01-19 11:23] #4075 closed, assigned to Afgann

[2019-01-19 11:23] #4079 closed, assigned to Afgann

[2019-01-19 11:23] #4082 closed, assigned to Afgann

[2019-01-19 11:23] #4097 closed, assigned to Afgann

[2019-01-19 11:23] #4119 closed, assigned to akrom23

[2019-01-19 11:23] #4134 closed, assigned to akrom23

[2019-01-19 11:23] #4142 closed, assigned to akrom23

[2019-01-19 11:23] #4146 closed, assigned to Afgann

[2019-01-19 11:23] #4147 closed, assigned to Afgann

[2019-01-19 11:23] #4155 closed, assigned to Afgann

[2019-01-19 11:24] #867 closed, assigned to lukaasm

[2019-01-19 11:24] #2362 closed, assigned to Dootz

[2019-01-19 12:15] Rocksmasherx opened #4180 "Improved Hamstring Breaks from Damage"
Description: Hamstring Breaks from damage like roots/nova and it shouldnt

How it works: When warrior improved hamstring procs it breaks from 1 auto atack

How it should work: Improved hamstring should never be broken from damage

Source (you should point out proofs of your report, please give us some source):

[2019-01-19 16:00] Aikamz opened #4181 "[Warlock][Spell][Pet] Succubus Seduction and Lesser Invisibility"
Description:
Succubus Seduction and Lesser Invisibility have multiple issues that make this pet useless in its current state.

How it works:
1) Lesser Invisibility has diminishing returns. If you have it set on auto-cast, she will just spam it and oom herself. Sometimes she even spams it while in combat.
2) When your Succubus is out of range to cast Seduction, Lash of Pain or Soothing Kiss it will

[2019-01-19 16:06] Aikamz commented on #4181
The 2nd point is general issue with other pets as well.

[2019-01-19 16:09] akrom23 commented on #2686
![wowscrnshot_011919_170626](https://user-images.githubusercontent.com/1035215/51429235-0117cb80-1c0d-11e9-89c9-e7578d2c71d3.jpg)

Works fine.
Vanish removes it.

[2019-01-19 16:09] #2686 closed, assigned to nobody

[2019-01-19 16:11] AIRewan commented on #3563
Yes. Felweed which is usually everywhere: I have more than 300 of that. Terocone which is mostly on terokkar forest, I found 1 /1hour which seems pretty bad.

[2019-01-19 16:12] tethbetatest commented on #3979
Any update on getting this fixed? This is a **game breaking issue** for mages. This issue is almost deserving of a "Critical"-label.

@akrom23 @Afgann @Dootz - do you guys need additional information in the form of a video or a more in-depth description? Let me know if I can be of any help in troubleshooting this. Thanks!

[2019-01-19 16:13] akrom23 commented on #3979
Okay, okay :)

[2019-01-19 16:16] tethbetatest commented on #3979
Thank you @akrom23 <3!

[2019-01-19 16:19] zocks commented on #4181
fix it please makes succubus unusable as a pet in competitive pvp

[2019-01-19 16:35] OnMyPeak opened #4182 "Priest cant power word shield on other peoples pet. Critical for arenas"
Description: you cant use the power word shield on a hunters pet no matter what you do.

How it works: the power word shield spell is grey when targeting a pet.

How it should work: you should be able to power word shield a pet.

Source (you should point out proofs of your report, please give us some source):
just try use a power word shield on a hunters pet in your group.

[2019-01-19 16:38] akrom23 commented on #2754
![wowscrnshot_011919_173738](https://user-images.githubusercontent.com/1035215/51429664-f19a8180-1c10-11e9-8da0-eb30577fe66f.jpg)
Works fine.

[2019-01-19 16:38] #2754 closed, assigned to nobody

[2019-01-19 16:51] #2798 closed, assigned to nobody

[2019-01-19 17:04] #2964 closed, assigned to nobody

[2019-01-19 17:06] akrom23 commented on #3066
@notsofamous: Still happens?

[2019-01-19 17:10] akrom23 commented on #3138
I think that flurry buff changed your weapon speed - that's why WF proc faster.

[2019-01-19 17:20] ninc commented on #4168
Happened to me every game in arena today. I don't have a screenshot yet, but I'll try to fix it.

[2019-01-19 17:23] #3482 closed, assigned to akrom23

[2019-01-19 18:27] Aikamz opened #4183 "Stealth tickrate is awful"
Description:
Stealth tickrate is too low for competitive PvP. Renders stealth detection useless.

How it works:
Tested it multiple times. 50% of the time rogue won't be revealed once he enters stealth detection range for few seconds until stealth update happens. Other times rogue is visible the second he is on top of the flag.
https://www.youtube.com/watch?v=MMECUuHKGoA
Both players have 60ms ping

[2019-01-19 21:33] neheri commented on #4024
Not fixed. Still can be interrupted

[2019-01-19 23:09] Dootz commented on #4177
Hi, could you give us at least character name on which it happened?

[2019-01-19 23:55] EnterLarry opened #4184 "[Nagrand] Murkblood Purifier"
Description: Murkblood Purifiers use Tainted Chain Lightning. Tooltip says it lowers your Int by 15%, but it brings me from 389 to 0. When the debuff runs out, I'm left with 2k mana out of 7.2k pool.

How it works: Tainted Chain Lightning applies its debuff correctly, but the Intellect reduction is 100% instead of 15% as the tooltip says.

How it should work: It should lower by 15% intellect

Sour

[2019-01-20 00:08] #4164 closed, assigned to nobody

[2019-01-20 00:32] vakoz opened #4185 "[Item] Leggings of Beast Mastery"
#### Description:
Bonus from item http://db.darkwizard.pl/?item=31328 is not working at all.
"Equip: Increases your pet's attack power by 70, armor by 490 and Stamina by 52."
#### How it works:
Those are stats from my character.
Pet bonus stats from hunter's stats (after - before item equipped);
![wowscrnshot_012019_003519](https://user-images.githubusercontent.com/15368930/51433774-6e018480-1c52-

[2019-01-20 02:23] MadderThenMad commented on #3979
Thanks a lot

[2019-01-20 08:25] Mikov1605 opened #4186 "[NPC]Random Mobs all over The world are gray"
Description:

Happened with Rift Lord, astromancer (mechanar trash) , Julianne, some mobs i encountered in shadowmoon
Its annoying because tagged mobs cant be cced
How it works:
Description

How it should work:

They obviously should be tagged only after attacking thrm
Source (you should point out proofs of your report, please give us some source):

[2019-01-20 08:39] Wojtyas commented on #4185
Can be only visual cuz we had this kind of issue before we will check for sure.

[2019-01-20 09:02] #4176 closed, assigned to nobody

[2019-01-20 09:23] blackabbath commented on #4160
Still not work for the Horde.
For the alliance it works without issues.

[2019-01-20 11:40] Reflekz commented on #4160
@blackabbath Alliance does NOT work currently

literally just did it and we had to have a GM come and fix the 3-4 of us who didnt get the max skill to 300 upon completing the quest.

[2019-01-20 11:44] vakoz commented on #4185
Yes, you are right. I just tested it with Beast Lore and values are correct

[2019-01-20 12:07] #4185 closed, assigned to nobody

[2019-01-20 12:47] Bugadin commented on #4186
All mobs, including raids and dungeons.

[2019-01-20 13:09] Bugadin opened #4187 "Arena rewards, Area 52"
Description: Arena vendor shouldn't sell Gladiator's left ripper at 9k and 20 badges.

How it works:

How it should work: 1125 arena points

Source (you should point out proofs of your report, please give us some source):
https://gyazo.com/b47ae0ba370db8ab7c7b8f993b34344c

[2019-01-20 13:47] Bugadin commented on #4183
True, I guess stealth detection isn't working properly. I'm not sure if it's the stealth's detection range or the way it ''updates'' to detect stealth's people in range like Aikamz says.

It happens with perception too and also with druid's stealth. It should be WAY EASIER to detect stealth people with perception or paranoia.

[2019-01-20 14:46] Bugadin commented on #4166
Can confirm it.

[2019-01-20 14:50] ZaoQ commented on #4171
Is it applied?

[2019-01-20 18:13] GeorgieTragnar opened #4188 "Warrior talent Defiance"
Description:
the +6 expertise is added only when in defensive stance, but it should in all stances (also the official 2.3 patch notes imply that +6 expertise is at all times which the elitistjerks support)

How it works:
+6 expertise only in def stance

How it should work:
+6 expertise in all stances (at all times)

Source (you should point out proofs of your report, please give us some source):
"

[2019-01-20 18:34] GeorgieTragnar commented on #2331
currently you can summon players that are already inside the instance, and those that are outside you can't

[2019-01-20 18:41] blackabbath commented on #1107
not working correctly for today: **only the one** 'Gordunni Dirt Mound' found at 75.28. respawn timer is about 20 secs.
should be much more of those.

[2019-01-20 20:01] #2945 closed, assigned to nobody

[2019-01-20 20:03] #3644 closed, assigned to nobody

[2019-01-20 20:54] fudlow commented on #1600
I don't get the extra button to detonate

[2019-01-20 21:06] firngrod commented on #4188
Technically, as of 2.3.0, it was only defensive stance.  It was patched to all stances in 2.3.2.  According to patch notes, this was the original intent.

http://wowwiki.wikia.com/wiki/Patch_2.3.2

[2019-01-20 21:42] leafwork opened #4189 "Shattrath Armorsmith trainer missing"
![wowscrnshot_012019_153914](https://user-images.githubusercontent.com/46874632/51445388-df304e80-1cc9-11e9-8ce3-de9c160da7a1.jpg)
Description:
The armorsmith trainer in Shattrath (Zula Slagfury) is not present.

How it works:
The armorsmith trainer in Shattrath (Zula Slagfury) is not present.

How it should work:
Zula Slagfury should be at the second anvil next to the weaponsmith trainer.

Source

[2019-01-20 22:02] aeyers opened #4190 "[Item] Darkmoon Faire: Blue Dragon proc-chance"
Description: Darkmoon Faire: Blue Dragon's proc-chance might be wrong.

How it works: I have both Eye of gruul(2% proc-chanse) and Darkmoon Faire: Blue Dragon(2% proc-chanse) on a resto druid. Eye of gruul got 45 procs during a 2.5 hour raid and Darkmoon Faire: Blue Dragon got 15 procs.

How it should work: If the proc-chance on Eye of gruul is right Darkmoon Faire: Blue Dragon should have a highe

[2019-01-20 22:10] GeorgieTragnar opened #4191 "Magtheridon clickers on cubes"
Description:
clickers currently get damage in a wrong way, because currently they get a dot that deals dmg to them instead getting damage from the channel itself(similar as warlock hellfire spell) when clicking the cube

How it works:
players get dot on them when they click the cube that cannot be taken down

How it should work:
players get 800dmg per tick from the channel itself and the dmg stops