[2019-02-16 05:36] MiekZer commented on #4317
PS : due to nether not being bound on 2.4.3 the nether is autolooted that's why you don't see it in the window, but you can see it in the chat box.

[2019-02-16 12:17] #1705 closed

[2019-02-16 16:27] Aikamz opened #4330 "Melee auto attacks ignore LoS"
**Description:**
Melee auto attacks have no line of sight check. You can attack through walls, pillars etc.

**How it works:**
You target enemy that is in melee attack range but not in line of sight and start auto attack. The attack will go through.
Pets can also attack through walls if they are in range. If they are not they will run around.

**How it should work:**
Obviously you should not be ab

[2019-02-16 17:12] akrom23 commented on #4330
https://github.com/SunwellWoW/Sunwell-TBC-Bugtracker/issues/227

[2019-02-16 17:12] #4330 closed, assigned to nobody

[2019-02-16 17:13] akrom23 commented on #4322
@Piezito @notsofamous is right. Crit chance depends on your skill weapon.

[2019-02-16 18:14] lordazurescens opened #4331 "[Rogue] [Seal Fate] does not work with shiv."
Description:
if you have 5/5 seal fate talent point. crits from shiv do not trigger the extra combo point.

How it should work: Combo generating abilities should generate a 2nd combo point on critical hit.

Source (you should point out proofs of your report, please give us some source):  easily testable

[2019-02-16 23:02] neheri opened #4332 "[Item] Howling Wind"
Description: Item has very low drop rate. I have killed over 50 of them and didn't get the item that starts quest. Should have ~25% drop rate.

How it works:  Item has very low drop rate.

How it should work: According to wowhead it should have approximate 10%-8% drop rate but it doesn't take into consideration people who completed the quest and are farming motes of air. Should be ~25% drop rate.

[2019-02-17 01:32] BillNyeTGG opened #4333 "Stables Broken Sunwell"
Description: I switch my pet out on my stables with it out (NOT DISMISSED) and the pet i was pulling out disapeared and i had just got it to 70 and max loyalty the same day and now i have to start from scatch? this is a huge issue and needs to be resolved i now cant raid because of it and something should be done about it

How it works: there there is a chance when your switching pets at the stabl

[2019-02-17 06:34] akrom23 commented on #4333
@BillNyeTGG Jump into our Discord and poke me (Anakin#5545).

[2019-02-17 09:43] neheri opened #4334 "[NPC] Altruis the Sufferer"
Description: His question and exclamation marks for quest are all broken. He has exclamation mark even if you don't have any quests to take from him. He has exclamation mark even if you have a quest completed.

How it works: His question exclamation mark are incorrectly displayed.

How it should work: He should have exclamation mark when you have a new quest with him, gray question mark if you too

[2019-02-17 10:54] #2602 closed, assigned to nobody

[2019-02-17 11:06] #2556 closed, assigned to nobody

[2019-02-17 11:08] Wojtyas commented on #3819
No reaction - seems it works now.

[2019-02-17 11:08] #3819 closed, assigned to nobody

[2019-02-17 11:11] neheri opened #4335 "[Quest] A Visit With the Greatmother"
Description: She is missing her textlines.

How it works: She always says Hello, young [race].

How it should work: She should have her textlines.

Source (you should point out proofs of your report, please give us some source):
https://wowwiki.fandom.com/wiki/Quest:A_Visit_With_the_Greatmother
![wowscrnshot_021719_121122](https://user-images.githubusercontent.com/37372869/52912117-269c0180-32ad-1

[2019-02-17 11:20] Wojtyas commented on #2296
Probably got fixed with some core changes.

[2019-02-17 11:20] #2296 closed, assigned to nobody

[2019-02-17 11:39] #649 closed

[2019-02-17 13:10] Swegkingu commented on #4222
Seriously, this is getting annoying.

[2019-02-17 17:41] neheri commented on #1593
Quest still not working. Shame because that's the first quest I encountered not working in outland and part of an improtant chain in BEM.

[2019-02-17 20:27] nickycakes opened #4336 "Lady Vashj becomes loot pinata after phase 2"
Description:
lady vashj bugs after phase 2 ends and stands there doing nothing until dead.

How it works:

last 2 ids, vashj has stopped doing anything after phase 2 is completed.  assumed according to the changelog that it had been fixed, since last week but seems like not.  will take a video next week and post if it's still bugged.

How it should work:

she should do things other than nothing in

[2019-02-17 22:36] flapse32 commented on #4311
![image](https://user-images.githubusercontent.com/46076151/52920452-c046cb80-330c-11e9-9ac1-9b857324412d.png)

Did voidreaver here, and did the .debug threatlist command.
top 1-2 is dps/healer who has highest threat yet dont have aggro whatsoever.

The command itself might be fucked/bugged. So its not useful at all. OR the boss itself is bugged....

[2019-02-17 22:56] flapse32 commented on #4311
Raids in general really need to be priotiesed on bug fixes. Vashj, Voidreaver, Al'ar pathing, etc etc etc. Majority of players are playing for pve on this server.

[2019-02-17 23:05] neheri commented on #4311
Command is working fine.

Ranged needs 130% to take over aggro, melee 110%. If your healer/dps had more than tank and the boss was still hitting the tank that's completely normal. After the moment tank loses aggro boss goes for number 1 in threatlist then 2nd and so on.

The boss is quite hard with the knockback, but with 3 or more tanks can be easily one shotted.

Knockback is reduicing threat by

[2019-02-17 23:10] mgperera opened #4337 "Item/Spell Greater Rune of Warding"
Description:
Not getting a single proc out of this consumable. Tracked auras gained and absorbs done thru many many mobs from stratholme entrance to the living side, not a single procof the 400 physical dmg absorb from greater rune of warding.

How it works: not getting a single proc out of the item

How it should work: 25% on being hit to absord the next 400 phyisical dmg

Source (you should poin

[2019-02-17 23:15] plzdontcry opened #4338 "[S1][Druid]Gladiator's Idol of Resolve - Doesn't Work"
Description:
Simply doesnt work

How it works:
Doesnt work

How it should work:
The idol should give a buff after you used Mangle for 6 sec, either in bear and cat, this buff should give 26 resilience.

Source (you should point out proofs of your report, please give us some source):
![incat](https://user-images.githubusercontent.com/47726198/52951168-53b9e400-3381-11e9-94a7-b1e6d8bae4cb.png)
![inb

[2019-02-18 00:43] xethra89 commented on #4336
https://clips.twitch.tv/MoldyBraveWerewolfNerfBlueBlaster

[2019-02-18 06:34] Lichbait opened #4339 "Doomwalker"
Description:

Doomwalker bugs out
How it works:

Kills a charged-target and then stays on the dead target (like the Moroes bug)
How it should work:

Shouldn't agro dead targets
Source (you should point out proofs of your report, please give us some source):

[2019-02-18 09:48] Devrak commented on #3464
It is still bugged. ( bump )

[2019-02-18 10:28] Ironjudgment commented on #4336
another instance of http://sunwell-community.com/index.php?/topic/6630-atlantis-horde-guild-vashj-bug-kill/ ?

Has Atlantis Horde killed Vashj using the bug again or not, since it doesn't show in the clip?

For comparison my guild killed it legit last night. https://youtu.be/20loNo0E4Z4?t=100

[2019-02-18 10:40] Ironjudgment commented on #4338
@plzdontcry for Source, you can simply take a clip of you showing that you use mangle and buff not appearing with your character stats window open or some screenshots

[2019-02-18 15:11] #1899 closed

[2019-02-18 15:26] akrom23 commented on #2307
#2102.

[2019-02-18 15:26] #2307 closed, assigned to nobody

[2019-02-18 15:47] MiekZer opened #4340 "Broken Karazhan bosses after fixes"
Netherspite : Netherbreathe can still be interrupted.

Maiden : Repentance has no cast time when it should have a cast time.

[2019-02-18 15:53] MiekZer opened #4341 "Shadow Labyrinth Heroic bugged"
closing report due to being kicked out from the discord for saying the truth. So I'm removing my tracks.
GL fixing your shit.

[2019-02-18 17:19] #2584 closed, assigned to nobody

[2019-02-18 17:27] akrom23 commented on #2871
You cannot buff pet with this kind of aura. This is protection from doubled stamina: once from buff and second from owner's scaling bonus.

[2019-02-18 17:27] #2871 closed, assigned to nobody

[2019-02-18 17:29] akrom23 commented on #2915
@Dadeerh What spell did you cast? Some macro?

[2019-02-18 17:33] #3083 closed, assigned to nobody

[2019-02-18 17:35] akrom23 commented on #3109
Talent works fine. It's not displayed in character sheet.

[2019-02-18 17:35] #3109 closed, assigned to nobody

[2019-02-18 17:37] #3110 closed, assigned to nobody

[2019-02-18 18:31] nickycakes commented on #4336
doesn't look like the same bug.  for us she just stands there doing nothing after we complete phase 2.  no idea what triggers it, but if someone can clue us in so we can play the encounter legit, that would be awesome.

[2019-02-18 18:52] #4340 closed, assigned to nobody

[2019-02-18 20:30] #3229 closed, assigned to nobody

[2019-02-18 20:40] akrom23 commented on #3260
https://wow.gamepedia.com/Vampiric_Embrace

[2019-02-18 20:40] #3260 closed, assigned to nobody

[2019-02-18 20:42] akrom23 commented on #3474
Ii affect the whole party, so what's the difference which one is active?

[2019-02-18 20:50] akrom23 commented on #3474
Works fine.

[2019-02-18 20:50] #3474 closed, assigned to nobody

[2019-02-19 05:03] Jeansapin commented on #1948
Up, the boar is still in Ironforge ...

[2019-02-19 07:51] akrom23 commented on #3503
No response.

[2019-02-19 07:51] #3503 closed, assigned to nobody

[2019-02-19 07:53] #3535 closed, assigned to nobody

[2019-02-19 07:56] #3589 closed, assigned to nobody

[2019-02-19 08:41] akrom23 commented on #3853
Works fine.

[2019-02-19 08:41] #3853 closed, assigned to nobody

[2019-02-19 08:45] akrom23 commented on #3874
@Ethugx Proofs? Tooltip says it clearly:

It's not a shield - it's a heal taht occurs after the damage is dealt.

[2019-02-19 09:01] akrom23 commented on #4154
Nee more info here: #2915.

[2019-02-19 09:01] #4154 closed, assigned to nobody

[2019-02-19 09:08] neheri commented on #4320
Shouldn't the heal, spell and melee power be calculated with buffs and effects at the moment you cast it?

Shouldn't it work that way: If you cast LB with 1500 BH and then gain 500 BH and not refresh LB it should heal as if you had 1500 BH.

Get some proffs before changing this please.

[2019-02-19 11:06] Gibrido opened #4342 "Libram do not work"
Good afternoon dear Gms
I decided to write again because some things are still not working.
1.Does not work correctly Libram of Souls Redeemed
2.Does not work correctly Libram of the Lightbringer
3.Impossible to get 2 buffs at the same time Blessing of Sanctuary and Blessing of Light
That's all for now,please do it,and have a nice day.

[2019-02-19 11:38] flapse32 commented on #4321
Edit: Its diamondthreatmeter that causes the huge lag spike. 99% sure

[2019-02-19 12:37] Lorious opened #4343 "Hunter pets spawning with missing HP after dissmount"
Description:
https://youtu.be/SrsPOzT36rs
Even without gearchanges during dissmount the pet spawns with less than 100% HP, check video.

How it works:
https://youtu.be/SrsPOzT36rs

How it should work:
They should spawn with 100% HP

Source (you should point out proofs of your report, please give us some source):
Check video

[2019-02-19 13:00] flapse32 commented on #4260
Wind serpent supposed to have 5k hp? cus thats what my serpent has. yesterday it had 7.5k

[2019-02-19 13:13] MiekZer opened #4344 "Rooted mobs"
closing report due to being kicked out from the discord for saying the truth. So I'm removing my tracks.
GL fixing your shit.

[2019-02-19 13:54] akrom23 commented on #4260
@flapse32 Just calculates your pet's stats.
Pets had too much hp.

[2019-02-19 14:19] siof commented on #4275
talent should proc only from killing blows

[2019-02-19 14:19] #4275 closed, assigned to nobody

[2019-02-19 14:23] flapse32 commented on #4260
the stats might have been wrong, but is 5k hp rly normal? Looks like on that TBC clip he has 7.1k with druid buffs. even with stamina talents on pet and on the hunter it dosent come close to 7.1k hp

[2019-02-19 14:26] flapse32 commented on #4260
![image](https://user-images.githubusercontent.com/46076151/53022010-a4514000-345a-11e9-9b2e-ea6123ccbd45.png)

![image](https://user-images.githubusercontent.com/46076151/53022073-c054e180-345a-11e9-8624-b9de7cf02afd.png)

[2019-02-19 14:27] akrom23 commented on #4260
Show me your pet's stats.

[2019-02-19 14:27] flapse32 commented on #4260
![image](https://user-images.githubusercontent.com/46076151/53022173-eda18f80-345a-11e9-901f-6aa4ac92447b.png)

[2019-02-19 14:30] akrom23 commented on #4260
And your pet's hp is 6k right now?
Move your mouse cursor over the stamina stat.

[2019-02-19 14:30] flapse32 commented on #4260
Yes with talents in BM and with max rank stamina on pet

[2019-02-19 14:30] flapse32 commented on #4260
![image](https://user-images.githubusercontent.com/46076151/53022371-56890780-345b-11e9-9bd1-da00c4be452f.png)

[2019-02-19 14:31] akrom23 commented on #4260
Every stamina point is +10 hp.

[2019-02-19 14:31] flapse32 commented on #4260
Correct, but is the base stamina the same compared to retail?

[2019-02-19 14:33] akrom23 commented on #4260
303 stamina points as base - same on every emulator.

[2019-02-19 14:35] flapse32 commented on #4260
Alright then its not a bug. Thx for info.

[2019-02-19 14:48] akrom23 commented on #4343
When you used mount, your hp decreased. Talent?

[2019-02-19 14:50] Lorious commented on #4343
I had a riding set the first tries but as you can see in the video I disable that in the later tries.

[2019-02-19 14:54] siof commented on #3362
Info: If i remember correctly only attacker should be attacked - but if victim has aura similar to roots then also victim should be attacked

[2019-02-19 14:59] akrom23 commented on #4343
Okay.

[2019-02-19 15:03] Lorious commented on #4343
https://youtu.be/2zpbehqTBaw - Test with no gear!

We just found somethiing interesting, my pet get's like no HP from my gear stamina but TOOOONS from power word fortitude (On main char not on pet). He lost like 20% hp when I removed the buff. Trying to find a priest to help test.

[2019-02-19 15:11] Lorious commented on #4343
Seems like my pet drops around 300 hp whenever he spawns after dismount, he lost 5,5% when i was wearing gear and 6,9% when I wasn't. Looks like some sort of fixed amount.

[2019-02-19 15:18] akrom23 commented on #4343
The bug with Power Word: Fortitude is known: #2102

[2019-02-19 16:06] akrom23 commented on #4343
Cannot reproduce this bug.

[2019-02-19 17:03] Jonsbe commented on #4343
Standing in orgrimmar, alt doing to hunter mark of the wild 14 stats, pet goes from 4.9k to lose hp to 4k. And total gains to 5.1k health but still on buff loses health.

[2019-02-19 17:04] Jonsbe commented on #4343
99 bugs, fix 1 bug... now 101 bugs song.

[2019-02-19 17:05] akrom23 commented on #4343
@Jonsbe Breathe...
Fixed - not live.

[2019-02-19 17:30] aeyers commented on #4320
You should have to refresh the heal, yes. In the screenshot it clearly shows the +healing trinket being used and lifebloom refreshed but no effeciency increase.

[2019-02-19 19:20] zefurr opened #4345 "Flame Cap does not proc on ranged hits"
Description:
As a hunter I've used 7 flame caps without getting a single proc across the entire duration for any of them. I also used one and ran into melee range to spam wing clip and did manage to get a few procs. I'm left to believe that flame cap is not proc on ranged attacks, contrary to the tooltip. It is also possible that the proc rate for ranged attack is obscenely low (Or I am obscenely

[2019-02-19 19:30] Jeansapin commented on #3932
@akrom23 my pet aggro seems to be pretty fucked too, what do you need for this report ?

[2019-02-19 19:50] MiekZer commented on #4345
I also tried and it never procced.

[2019-02-19 19:57] #4106 closed, assigned to Dootz

[2019-02-19 21:12] Highdps opened #4346 "Kael'thas [Staff buff dosn't work]"
Description:

How it works:
Buff from legendary weapon Staff didn't works, players with buff still geting stun/silence/disorient

How it should work:
Buff from legendary staff should give immune to stun/silence/disorient

Source (you should point out proofs of your report, please give us some source):
I don't have yet, we get this bug today

[2019-02-19 21:20] Highdps opened #4347 "Hunter pets (Cats)"
Description:
Hunter pet Claw dmg

How it works:
Claw damage didn't scale as intended

How it should work:
Claw damage should scale with pet AP

Source (you should point out proofs of your report, please give us some source):
Same trash pack, almost same gear on every hunters
https://imgur.com/a/E2MHB3N

[2019-02-19 21:25] neheri commented on #4346
Staff should not grant immunity to fear.

It also has 30 yds range and if you move out of range buff from staff is removed. You need to use the staff again once you get in range in order to activate the buff again (best create macro under spammable skill with /use).

We noticed some problems with staff buff as well, but when we ordered people with staff to move so every person is always in range a

[2019-02-19 22:03] Highdps commented on #4346
I get a stun debuff when we move as group with all ranged dps, soo it should not be the range case
MT get dissorient when he had buff on
Idk about more problems with staff buff, we going tommorow soo we will be watching this and capturing screens/videos

[2019-02-20 06:41] VintherMN opened #4348 "Leotheras whirlwind bleed stacks"
Description: Leotheras the blind in SSC has an ability called Whirlwind - and if hit by this ability you will gain a bleed debuff.

How it works: Leotheras casts whirlwind and if hit multiple times by the whirlwind, the bleed debuff that he applies to you stacks.

How it should work: The bleed debuff from whirlwind is NOT supposed to stack, according to several retail TBC videos, and also accordin

[2019-02-20 08:30] neheri opened #4349 "[Item] Phaseshift Bulwark"
Description: This is shield used during Kael'thas fight. It grants huge amount of aggro on use. One of our offtank used the shield and Kael aggroed on him and it was impossible to retake the threat.

Also I was tanking Kael and when I used shield to absorb pyro, Phoenix aggroed on me (despite being tanked by other person).

How it works: Phaseshift Bulwark use grants tank huge amount of aggro, pro

[2019-02-20 11:41] akrom23 commented on #2843
@SlizeTBC Any screenshots/proofs?

[2019-02-20 12:21] Espranty opened #4350 "Warlock : Ritual of Souls CD Visual issue"
Description:
Cant see Cool-down of Ritual of Souls spell after casting it .

How it works:
When u cast Warlock's Ritual of Souls spell .. it doesn't show the 5 minutes Cool-down on spell (Appears as if it's still Usable) .. Which makes knowing when its ready again Annoying (Having to spam cast it after a wipe till its off CD)

How it should work:
When u cast any ability (all working fine except th

[2019-02-20 12:27] Espranty opened #4351 "Warlock : Curse of Doom gets removed Randomly ."
Description:
Curse of Doom gets totally removed (Randomly) during its Duration.

How it works:
Randomly ( happened to many other locks too, i checked ) when i Cast Curse of Doom on a Target , Usually it works fine and finishes its full duration and Tick the Big damage ....
However, Like once /Twice every raid night . when i cast it , During the duration , it gets Removed Completely ... Its not Vis

[2019-02-20 12:48] Ironjudgment commented on #4351
Video, screenshot?

[2019-02-20 12:48] Ironjudgment commented on #4350
Screenshot, video?

[2019-02-20 12:55] Bugadin commented on #4348
False, that how it worked on retail. The bleed stacks on prenerf content.

[2019-02-20 12:57] akrom23 commented on #2848
There are spells that refund energy on dodge/parry/deflect. Multilate, Hemo and SS are among them.

[2019-02-20 12:57] #2848 closed, assigned to nobody

[2019-02-20 13:42] akrom23 commented on #2985
@Avizurax Dou you have any screenshots of your combat log?

[2019-02-20 14:54] akrom23 commented on #3113
@Josephienvandermeersch Still needs screenshot with combat log.

[2019-02-20 19:04] #3480 closed, assigned to nobody

[2019-02-20 19:09] #3495 closed, assigned to nobody

[2019-02-20 19:10] #3523 closed, assigned to nobody

[2019-02-20 19:11] #3525 closed, assigned to nobody

[2019-02-20 19:14] akrom23 commented on #3530
@mltzz @sadfx Still happens?

[2019-02-20 19:34] akrom23 commented on #4025
#3530

[2019-02-20 19:48] #4348 closed, assigned to nobody

[2019-02-20 20:09] #3775 closed, assigned to Dootz

[2019-02-20 20:23] neheri commented on #4332
Had to kill like 8 mobs to get the item. Seems to be working fine now.

[2019-02-20 20:24] #4332 closed, assigned to Afgann

[2019-02-20 20:26] #3587 closed, assigned to Dootz

[2019-02-20 20:37] Pikseh opened #4352 "Leotheras the Blind autoattacks while doing Whirlwind"
Description: While Leotheras the Blind whirlwinds, he will auto attack his main target, which is a death sentence for any healer or dps regardless of healing.

How it works: See description

How it should work: While whirlwinding, he should not auto attack his target
![leotheras](https://user-images.githubusercontent.com/3406509/53122745-a6e58f80-3557-11e9-965d-8d5637b80d67.PNG)

Source (you shoul

[2019-02-20 20:47] Highdps commented on #4346
Looks like rebuffing staff dosn't overwrite buff
Buff still apear in list but it dosn't works, after removing it and reused staff it works as intended

[2019-02-20 21:27] MiekZer opened #4353 "SSC Lurker bugs"
closing report due to being kicked out from the discord for saying the truth. So I'm removing my tracks.
GL fixing your shit.

[2019-02-20 22:11] Ironjudgment commented on #4353
Where do you get 3 from?

[2019-02-20 22:55] zanthed1 commented on #4353
Can confirm all of these issues. Third issue is a massive time waster.

[2019-02-21 02:45] babno opened #4354 "Raid locked without boss kill (magtheradon)"
Description: I went to magtheridon's lair, and we failed to kill the boss. Despite no boss in the instance being dead, I received a raid lockout and was unable to enter another raid later in the day. It also barred me from even entering at all when it should simply put me to another instance.

How it should work: You should only get locked when you enter an instance with dead bosses or you are in

[2019-02-21 03:53] Espranty commented on #4351
Unfortunately i dont Stream , nor Record using Fraps etc .. and without Video record its almost impossible to prove, since it happens randomly during Raid night ..

 but i tell you Sir , every other warlock in my Guild , and Friend locks from other guilds had this issue at least once .. its a thing, good Sir

[2019-02-21 03:54] Espranty commented on #4350
I'll take a Screenshot next raid (Right after i pop Ritual of Souls) and post it here . Ty for Reply

[2019-02-21 08:01] akrom23 commented on #3548
Works fine.

[2019-02-21 08:01] #3548 closed, assigned to nobody

[2019-02-21 08:32] #4334 closed, assigned to Dootz

[2019-02-21 08:32] #4333 closed, assigned to akrom23

[2019-02-21 08:32] #4329 closed, assigned to Dootz

[2019-02-21 08:33] #4327 closed, assigned to Afgann

[2019-02-21 08:33] #4289 closed, assigned to akrom23

[2019-02-21 08:33] #4260 closed, assigned to akrom23

[2019-02-21 08:33] #4247 closed, assigned to Afgann

[2019-02-21 08:34] #4064 closed, assigned to akrom23

[2019-02-21 08:34] #3905 closed, assigned to akrom23

[2019-02-21 08:34] #3724 closed, assigned to akrom23

[2019-02-21 08:34] #3532 closed, assigned to akrom23

[2019-02-21 08:34] #3327 closed, assigned to Dootz

[2019-02-21 08:34] #3219 closed, assigned to akrom23

[2019-02-21 08:35] #2373 closed, assigned to akrom23

[2019-02-21 08:35] #1668 closed

[2019-02-21 08:35] #1534 closed

[2019-02-21 08:35] #460 closed

[2019-02-21 08:35] #69 closed

[2019-02-21 08:35] #53 closed

[2019-02-21 09:16] mchayes commented on #4311
Big issue with its ability handling. It's very often that Void Reaver interrupts his pounding channeling with either Arcane orb or Knockback. Below you can see a coincidental 'extreme case'. First marker he didn't get a single Pounding tick off because he cast an Arcane Orb. 2nd he got 1 tick off and was interrupted by using another Arcane Orb.

From what I can see in the logs VR is forced to use

[2019-02-21 09:21] akrom23 commented on #3683
Works fine.

[2019-02-21 09:21] #3683 closed, assigned to nobody

[2019-02-21 09:33] #3742 closed, assigned to nobody

[2019-02-21 09:59] akrom23 commented on #3867
Tooltip is clientside.

W/o talent:
![wowscrnshot_022119_105335](https://user-images.githubusercontent.com/1035215/53160203-c0262480-35c7-11e9-90c5-997e3fe62b70.jpg)

With talent:
![wowscrnshot_022119_105815](https://user-images.githubusercontent.com/1035215/53160212-c4ead880-35c7-11e9-9ff4-13de5e0ef5e0.jpg)

[2019-02-21 09:59] #3867 closed, assigned to nobody

[2019-02-21 10:55] akrom23 commented on #3883
This video is not from TBC.

[2019-02-21 11:59] flapse32 opened #4355 "Thorium Lockbox no loot"
Description: I open 49x Thorium Lockboxes

How it works: 20 of the boxes dident drop a single loot at all.

How it should work: A lockbox should always drop atleast 1 green item.

Source (you should point out proofs of your report, please give us some source):

[2019-02-21 12:04] flapse32 commented on #4355
U better give my 20 green items!!!! kek

[2019-02-21 12:58] Highdps commented on #4347
Looks like Ravager also didn't scale properly
https://imgur.com/atBHyZR
SHH run, on bosses 5xsunder
Party Feral/Fury/Shaman with STR/Agi totem

[2019-02-21 15:19] #3896 closed, assigned to nobody

[2019-02-21 15:31] MiekZer commented on #4345
Now working.

[2019-02-21 15:43] xethra89 commented on #4353
#3986  #3926  #4228

These issues have been posted months ago, with the same video evidence being posted over and over. It feels like a couple things get fixed, then they move on to the next issue and never revisit the large scale posts until we post it again. /shrug

[2019-02-21 15:45] akrom23 commented on #4174
@yairomi Cannot reproduce it.
Could you provide a video (with info about server diff)?

[2019-02-21 15:53] akrom23 commented on #4207
No response. Closed.

[2019-02-21 15:53] #4207 closed, assigned to nobody

[2019-02-21 15:55] akrom23 commented on #4232
@lordazurescens @Bugadin Provide a video (preferably with combat log).

[2019-02-21 16:01] #4345 closed, assigned to Afgann

[2019-02-21 16:13] xethra89 commented on #1845
[ ] **ADDS ARE STILL GLITCHING THROUGH THE FLOOR**

[2019-02-21 16:41] RPAncap commented on #4194
Still the same : here is the video
https://youtu.be/W1krSTPszL8

[2019-02-21 18:14] akrom23 commented on #4240
@arkatik What about mage's Blink? The same result?

[2019-02-21 18:53] phantom1004 commented on #2891
Started playing on this server today, level 10 rogue quests are simply impossible because of this

[2019-02-21 18:58] Bugadin commented on #4174
@akrom23 Try to jump with the char that is going to be sapped or stunned. Thne, you'll see how it keeps moving stunned like rollerblading

[2019-02-21 19:04] babno commented on #4353
None of those linked issues mentioned what OP posted, though some of them do still contain issues that are still present, namely that whirl only hits the tank and it should hit everyone in melee.

[2019-02-21 19:10] xethra89 commented on #4353
@babno Partially. The whirl issue only has arisen in the past couple days after Whirl was fixed to affect more than just hitting the tank. The original Whirl issue was reported multiple times before it was fixed, on all 3 reports I linked.

Where you're wrong is 2 and 3.

2 was reported here. #3986

"As you can see in this video https://www.youtube.com/watch?v=eZJNTmHA7Cg at 1:52 spawned _nagas sh

[2019-02-21 19:25] Dootz commented on #3947
closed due to lack of activity

[2019-02-21 19:25] #3947 closed, assigned to nobody

[2019-02-21 19:27] #3822 closed, assigned to Dootz

[2019-02-21 20:19] akrom23 commented on #4174
@Bugadin I tried that way while mounted.

[2019-02-21 21:35] babno opened #4356 "SSC bog lord patrols"
There's patrolling bog lords that take literally 20 minutes to make a full loop, and some of them their end points are in the middle of boss rooms like leo or fathom lord. There's been several attempts that ended because 8 minutes into the boss fight a random patrol happens into the room and wipes us. Individual mobs should not have such long patrol routes that this is possible.

[2019-02-21 21:44] neheri opened #4357 "[Core] Buffs displayed as debuffs"
Description: Sometimes buffs are displayed as debuffs. In addition to that sometimes you don't see a buff despite having it.

How it works: Sometimes buffs are displayed as debuffs and reverse. For an instance you're debuffed with Earth shield (beneficial spell). Sometimes you cannot see a buff despite having it.

How it should work: Debuffs are displayed as debuffs, buffs are displayed as buffs.

[2019-02-21 22:55] MiekZer commented on #4356
Btw we can also interrupt them when we should not be able to.

[2019-02-21 22:56] flapse32 opened #4358 "Pet loses its resistance talents after death"
Description: Pet loses its resistance talents after death

How it works: Pet loses its resistance talents after death

How it should work: Should have resistance when being ressed, the fix to the issue is to dismiss the pet and summon it again. But annoying to do that over and over.

Source (you should point out proofs of your report, please give us some source):

[2019-02-22 02:38] Kiszh opened #4359 "Sharpening stones affecting hunter shots"
Description: Hunters can apply sharpening stones to their melee weapons in order to increase the damage they do with shots. Adding 12 average damage to every shot. This correlates to 56 attack power with a 3.0 speed bow (12/3*14). This also means that dualwielding can give hunters an unintended equiviliant of 112+ attack power.

How it works: Applying sharpening stones to melee weapons increase th

[2019-02-22 07:01] Highdps commented on #4359
By KraxisSingular (1,076 – 1·10) on 2008/08/12 (Patch 2.4.3) |   |  
If you are a Hunter and use a Fist weapon, then this is the best single DPS buff you can get. Both the damage and the critrating applies to ranged weapons unlike the Sharpening Stones.

[2019-02-22 07:43] Kiszh commented on #4359
Are there any other proof out there aside from a (I assume wowhead) comment? There is also an old wowhead comment claiming that rod of the sun king has 27% proc chance with no ICD.

That being said I still find it highly odd that this appears nowhere on the EJ guides or to my knowledge in the hunter spreadsheet.

What I did find in wowhead comments was dissent among commentors on whether or not th

[2019-02-22 07:59] Highdps commented on #4359
Proof are experience
Every hunter in late tbc (sunwell) was going for combo fist weapon (trash off-hand or KJ main hand) to be able to use Adamantite stones and Dagger for sunwell oil.
It should be point out somewhere in old EJ threads, but here all workings correct and it's works as intented.
Also Wowhead comment about 27% proc chance kael mace can be true, depending on patch/ptr server
We have 2

[2019-02-22 08:14] Kiszh commented on #4359
27% proc chance on the mace, which is not the subject of the report, is in no way reliable and completely broken. The guy was simply wrong.

![billede](https://user-images.githubusercontent.com/5422308/53228640-16579e00-3682-11e9-9479-e81b8c55cf88.png)

This is a screenshot from the hunterspreadsheet, in the SWP patch, with a fist equipped and there is no option for a weightstone, which is highly

[2019-02-22 08:38] Kiszh commented on #4359
http://web.archive.org/web/20080929133925/http://elitistjerks.com/f31/t16943-hunter_lounge_-_theorycraft_within/p14/

No result

http://web.archive.org/web/20080502162354/http://elitistjerks.com/f31/t15179-hunter_help_me_please/p115/

Nothing in this thread either Only looked through posts from 08, which means SWP came out during.

http://web.archive.org/web/20080714071541/http://elitistjerks.com/

[2019-02-22 09:01] Kiszh commented on #4359
Finally found proof

Cheeky's notes dated 9/27/07
- Removed Sharpening Stones from weapon buffs.

09/25/07, 8:11 PM
Quick FYI, sharpening stones are getting changed to not affect range.

https://web.archive.org/web/20081110194841/http://elitistjerks.com/f31/t11420-hunter_beast_mastery_bible/p93/

[2019-02-22 09:04] #1725 closed

[2019-02-22 09:09] yairomi commented on #4174
Assuming you try to do that with a rogue, find for example some paladin (should be easiest to reproduce, since he moves even faster with aura), ask him to run around and keep jumping. Stun him while he's jumping. Should happen very fast. If you still can't reproduce it, let me know, I will try to get it on video somehow.

[2019-02-22 09:13] #2156 closed, assigned to nobody

[2019-02-22 09:14] akrom23 commented on #4174
Tried rogue (sap) vs warlock on mount.

[2019-02-22 09:14] #2191 closed, assigned to nobody

[2019-02-22 09:19] #2257 closed, assigned to nobody

[2019-02-22 09:23] #3086 closed, assigned to nobody

[2019-02-22 09:38] arkatik commented on #4240
@akrom23
it's a warrior mechanic bug
I don't have a warrior or mage to do an extra test

[2019-02-22 10:05] akrom23 commented on #3314
Works fine.
Threat meters work bad with this talent.

[2019-02-22 10:05] #3314 closed, assigned to nobody

[2019-02-22 10:23] Highdps commented on #4359
It's Sharpening Stone, on Fist/maces hunter's using Adamantite Weightstone

[2019-02-22 10:47] Skorlaa opened #4360 "Hunter Talent - Rapid Killing Buff grants more than ONCE dmg bonus"
Description:
The Hunter Talent - Rapid Killing is providing the damage Bonus on Auto Shoot Arcane Shot Aimed Shot but NOT consuming the Buff if Auto Shot or used Arcane Shot is used.. AND you can benefit a second or third time from the damage Bonus while using Arcane Shot or Auto Shot!

How it works: See Above.. Rapid Killing Buff can provide more than once the damage bonus!

How it should work: t

[2019-02-22 11:42] MiekZer commented on #4359
Adamantite Sharpening Stone should only increase ranged damage and not critical hit since it's stated as melee critical hit.
Adamantite Weightstone should increase both since it's not stated as melee critical hit but just critical hit.

It's working as intended and was also working the same on other quality script pserv (warmane for example it's working like that)

Edit 1 : some comments on wowhea

[2019-02-22 12:38] #4078 closed, assigned to nobody

[2019-02-22 12:39] #4041 closed, assigned to nobody

[2019-02-22 14:35] #3859 closed, assigned to nobody

[2019-02-22 14:35] mchayes opened #4361 "Flask of Petrification"
Description:
Theres a bug regarding an item called _Flask of Petrification_. Washed up uses a nice niche tactic on Solarian avoiding her bomb mechanic. The issue comes with REMOVING the flask prior to it actually running out.  In their chatchannel they refer to it as "_coconutting, to coconut_"

How it works: You can go into several washed up VODs and check how they do solarian. They run out with

[2019-02-22 16:21] Kiszh commented on #4359
At both of the new comments. Sharpening stone is the general term used about both the adamantite weightstone and adamantite sharpeningstone. I also never really spoke about the crit but the +damage portion of the sharpening stones, which according to elitist jerks got removed. So no "sharpening stones" should not give +12 damage on ranged attacks.

It's still rather suspect that adamantite sharpen

[2019-02-22 16:43] hyxgod opened #4362 "Cold Snap should reset GCD."
Description:
(MAGE) Technically Cold Snap has gcd which it shouldnt. When you use for example Cone of cold > Cold Snap > Cone of cold it doesnt procc the second one instant. The gcd is supposed to reset when using cold snap so you can procc another cone of cold instant = 2x in 1gcd. On Nightbane, the Cold Snap spell does reset the gcd by the LOOKS only, and not practically. Hope you understand my

[2019-02-22 16:45] MiekZer commented on #4359
You are very hypocrite.
Adamantite Weightstone and Adamantite Sharpening stone are 2 differents stones.
Every wowhead comments about Adamantite Weightstone states it as the best 2.4.3 weapon buff for hunter and states it as the best 3.0.3 buff for boosting crit for casters.

The wowhead comments you are refering to is a comment about Adamantite Sharpening Stone, which I recall is stated as MELEE C

[2019-02-22 16:50] flapse32 opened #4363 "Scroll stacking"
Description: Example Scroll of agility V, will stack with Scroll of agility IV

How it works: All scrolls stacks up, i think alot of people will hate getting this fixed but its not blizzlike at all.

How it should work: Scrolls should not stack with lower or higher ranked scrolls of the same stat.

Source (you should point out proofs of your report, please give us some source):

[2019-02-22 17:02] #3685 closed, assigned to nobody

[2019-02-22 17:04] #3568 closed, assigned to nobody

[2019-02-22 17:49] Kiszh commented on #4359
Mind you that I'm not the one who dragged wowhead comments into this. All I'm asking is a higher standard of proof, because right now I have to prove a negative.

You're asking me to prove that they didn't work, by finding proof that they didn't. That is nearly, if not completely, impossible. Instead we need proof that they did in fact work, which there should be plenty of archived evidence of. I'

[2019-02-22 20:02] Khazro commented on #2484
This issue is still happening. Only happens when you have to revive/resurrect pet. The pet bar completely disappears and you have to dismiss pet and call it again to make it show up again.

[2019-02-22 20:13] #4335 closed, assigned to Dootz

[2019-02-22 20:13] #4167 closed, assigned to Dootz

[2019-02-22 20:13] #4138 closed, assigned to Dootz

[2019-02-22 20:13] #3803 closed, assigned to Dootz

[2019-02-22 20:14] #3333 closed, assigned to Dootz

[2019-02-22 20:14] #3325 closed, assigned to Dootz

[2019-02-22 20:35] Darrgoth commented on #2484
Actually there is a fix I've found if you sick your pet I think or make it return to you using ctrl + 1 I think it fixes it. or something like that. worked for me while I was playing. 
    On Friday, February 22, 2019, 3:02:04 PM EST, Khazro <notifications@github.com> wrote:

This issue is still happening. Only happens when you have to revive/resurrect pet. The pet bar completely disappears and yo

[2019-02-22 21:27] ruineroffun opened #4364 "Healing crit abuse"
Description: At the moment heals have 100% crit chance if target is sitting.

How it works: if (sit) {crit};
Pretty much game breaking if abused by using macros with /sit in them.

How it should work:

Source (you should point out proofs of your report, please give us some source):

[2019-02-22 22:26] MiekZer commented on #4359
One guy call it on EJ without any proof and patchnote when he was maybe talking about the critical buff part of the sharpening stone (which was according to the 2.2 wowhead comment probably patched due to a bug) and every stones should no longer affect ranged attack when you have plenty of comments 2.4.3+ saying it's affecting ranged attacks, even spells?
Ok.

Some comments about other types of st

[2019-02-22 22:57] vakoz opened #4365 "Transmutation Master proc"
It's more question than issue report. I did 30+ Transmute: Primal Earth to Water since I have Transmutation Master and got only 1 extra Primal from it. Of course it's very small sample and chance on proc is prob small too. Did anyone get better results (and did you make primal might or elemental -> elemental)?

[2019-02-22 23:13] Kiszh commented on #4359
I'll make it pretty simple.

Do you consider bows blunt weapons or sharp weapons? Because it literally says on the item that they increase blunt or sharp weapon damage.

Once again you're using wowhead comments, and this time from Wotlk.

The reason I am asking for more than wowhead comments is because comments on there are not reputable - in fact they are wrong a lot. Elitist jerks, however, was

[2019-02-22 23:13] Vasalina opened #4366 "Paladin: Seal of blood / Seal of command going of spell damage"
Description: Seal of blood and Seal of command scales on Spell damage and not Attack power. For example if you use Spell damage trinket your Seal of blood hits will hit very hard (Its broken for pvp) and on the other hand Ret paladins that have geared full Attack power are doing way less damage than they are suppose to cause the seals isnt scaling on them.

How it works: Seal of bloods and Seal of

[2019-02-23 02:47] Devrak commented on #4366
No, Seal of command scales with spell power, judgements also scale with spell power and seal of blood is based of weapon damage, Seals never ever have scaled with attack power in tbc ( maybe u confusing with ap -> sp talent in wotlk ) and ret paladin is doing exactly what it is supposed to so dps wise It was only viable in retail tbc with seal twisting.

- Invalid

Extra: it appears SoCommand is u

[2019-02-23 02:53] MiekZer commented on #4359
EJ is not a bible.
You can also ask yourself why no one ever talked about the fucking righteous weapon coating when they're talking about sunwell plateau optimization.
Read 95% wowcomments stating it's working as intended and close the issue bro

[2019-02-23 04:32] bshakex commented on #4346
If you're a hunter then Bestial Wrath is overriding your staff buff immunity. Right clicking the buff or applying a new buff after every Bestial Wrath is the only way to fix the problem currently.

[2019-02-23 05:10] Kiszh commented on #4359
I stand corrected.

I finally managed to get access to the full thread instead of having some pages unavailable, and it seems that both sharpening stones and weightstones started granting their +damage modifer on range attacks somewhere around patch 2.4.2 (May 2008), while between patch 2.2 (september 2007) and 2.4.2 they did not.

I would, however, like to point out that I sourced this from EJ an

[2019-02-23 06:36] akrom23 commented on #4366
https://github.com/SunwellWoW/Sunwell-TBC-Bugtracker/issues/4267#issuecomment-460244763

[2019-02-23 07:39] #3505 closed, assigned to nobody

[2019-02-23 07:40] akrom23 commented on #3569
It's not shown in char sheet - blizz.

[2019-02-23 07:40] #3569 closed, assigned to nobody

[2019-02-23 07:42] akrom23 commented on #3693
Works fine.

[2019-02-23 07:42] #3693 closed, assigned to nobody

[2019-02-23 07:45] #3754 closed, assigned to nobody

[2019-02-23 08:03] RealSlyGuy commented on #3703
It is still not there! Will this patch be coming soon? ^.^

[2019-02-23 08:04] RealSlyGuy opened #4367 "Hula Girl Doll"
Description: Hula Girl is unavailable for purchase from Griffah in Shat

How it works: No Hula Girl

How it should work: Should be able to buy a Hula Girl for 100g

Source (you should point out proofs of your report, please give us some source): Griffah in Shat

[2019-02-23 08:36] Chugunnik opened #4368 "Kill Command - Hunter's Ability"
Description:

How it works:
Cannot use Kill Command ability (?spell=34026) after pet is feared. To unstuck this i use macro '/petfollow' '/petattack' then i can use Kill Command again. Do not know how it works in pvp, but in pve it always bugged where mobs use any fear (Sirens in Steamvault, Nightbane in Karazhan and others).

How it should work:
Kill Command ability must work if your pet is not i

[2019-02-23 09:40] akrom23 commented on #3890
Works fine,

[2019-02-23 09:40] #3890 closed, assigned to nobody

[2019-02-23 10:22] Vasalina commented on #4366
If Seal of blood also is suppose to work with spell power than its working correctly cause it is. By using spell damage gear and spell damage trinket every Seal of blood proc (every swing) hits for alot and makes Seal of blood top damage ability.

So in pvp it just didnt feel normal, I was killing 70s at level 64 just by using a spell damage trinket and seal of blood. It felt to good so i just che

[2019-02-23 10:53] Highdps commented on #4368
U can still use it manually, after CC efects only macro dosn't work and didn't do kill command

[2019-02-23 11:31] flapse32 commented on #4363
Agility dosnt stack anymore, but Strength does.

[2019-02-23 11:32] akrom23 commented on #4363
@flapse32 I forgot about the strength :)

[2019-02-23 13:30] Trsko opened #4369 "Formula : Enchant weapon Fiery weapon"
Description: (BRD)  Pyromance Loregrain does not drop this enchanting formula
https://db.excalibur.ws/?item=11207

How it works:
I've killed him 35 times, no drop

How it should work:
should have to kill him only 4-5 times a few more if unlucky

Source (you should point out proofs of your report, please give us some source):
Source is DB link and that i've killed him 35 times, wouldnt bother makin

[2019-02-23 13:31] Trsko commented on #4351
Hey, This happens to CoE and CoR aswell.

[2019-02-23 13:55] MiekZer opened #4370 "SHH HC (and normal?) bugs"
closing report due to being kicked out from the discord for saying the truth. So I'm removing my tracks.
GL fixing your shit.

[2019-02-23 14:00] MiekZer opened #4371 "Mobs not being activated if players too far"
closing report due to being kicked out from the discord for saying the truth. So I'm removing my tracks.
GL fixing your shit.

[2019-02-23 16:08] lordazurescens commented on #4331
retested so far seems to be working properly. both cb crit and normal crits giving 2 combo points.

[2019-02-23 16:12] username-is-not-taken commented on #3913
![combatlog_grounding](https://user-images.githubusercontent.com/45629295/53288603-73d71200-378a-11e9-92c3-e3dac4082cd1.png)

I couldn't fit the entire combat log on the screen since it concerns 35s of combat and cba to take multiple screens and put them together, but what's seen above is an arena game vs disc/slsl where the grounding totem was down for 35(!!!) seconds without taking a single spel

[2019-02-23 16:30] pinkisnotgay commented on #4369
It drops, you're just unlucky. I got it on my 2nd kill.
Close this

[2019-02-23 16:33] akrom23 commented on #3913
@username-is-not-taken Tell me if the buff from the totem was on you al the time?

[2019-02-23 16:41] Wojtyas commented on #4367
Will be present in later patches.

[2019-02-23 16:41] #4367 closed, assigned to nobody

[2019-02-23 16:42] #4369 closed, assigned to nobody

[2019-02-23 16:45] #2127 closed, assigned to akrom23

[2019-02-23 16:45] #2415 closed, assigned to akrom23

[2019-02-23 16:45] #2544 closed, assigned to akrom23

[2019-02-23 16:46] #3008 closed

[2019-02-23 16:47] #4025 closed, assigned to akrom23

[2019-02-23 16:47] #4003 closed, assigned to Afgann

[2019-02-23 16:47] #3983 closed, assigned to Afgann

[2019-02-23 16:47] #3965 closed, assigned to Afgann

[2019-02-23 16:47] #3963 closed, assigned to Afgann

[2019-02-23 16:48] #3912 closed, assigned to akrom23

[2019-02-23 16:49] #3883 closed, assigned to akrom23

[2019-02-23 16:49] #3951 closed, assigned to Afgann

[2019-02-23 16:49] #3877 closed, assigned to akrom23

[2019-02-23 16:49] #3820 closed, assigned to Afgann

[2019-02-23 16:50] #3808 closed, assigned to Dootz

[2019-02-23 16:50] #3796 closed, assigned to Afgann

[2019-02-23 16:50] #3773 closed, assigned to Dootz

[2019-02-23 16:55] #3772 closed, assigned to Dootz

[2019-02-23 17:24] ufc123 opened #4372 "Hunter`s pet"
Hi Team !!

Can u check  hunter`s pet cuz some ppl think have some bug like immune on slow pls check it...Have a nice day ! :)

Best Regard : Ufcxxlord !

[2019-02-23 17:33] #3771 closed, assigned to Afgann, Dootz

[2019-02-23 17:34] #3766 closed, assigned to Dootz

[2019-02-23 17:34] #3761 closed, assigned to Afgann

[2019-02-23 17:34] #3722 closed, assigned to Afgann

[2019-02-23 17:34] #3706 closed, assigned to akrom23

[2019-02-23 17:34] #3631 closed, assigned to akrom23

[2019-02-23 17:34] #3560 closed, assigned to akrom23

[2019-02-23 17:34] #3530 closed, assigned to akrom23

[2019-02-23 17:35] #3371 closed

[2019-02-23 17:35] #3276 closed, assigned to akrom23

[2019-02-23 17:35] #3138 closed, assigned to Afgann

[2019-02-23 17:36] #4100 closed, assigned to akrom23

[2019-02-23 17:36] #4114 closed, assigned to Afgann

[2019-02-23 17:36] #4158 closed, assigned to akrom23

[2019-02-23 17:37] #4168 closed, assigned to akrom23

[2019-02-23 17:37] #4180 closed, assigned to Afgann

[2019-02-23 17:37] #4190 closed, assigned to Afgann

[2019-02-23 17:37] #4194 closed, assigned to akrom23, Afgann

[2019-02-23 17:37] #4240 closed, assigned to akrom23

[2019-02-23 17:37] #4244 closed, assigned to akrom23

[2019-02-23 17:38] #4261 closed, assigned to akrom23

[2019-02-23 17:38] #4287 closed, assigned to akrom23

[2019-02-23 17:38] #4288 closed, assigned to akrom23

[2019-02-23 17:38] #4314 closed, assigned to akrom23

[2019-02-23 17:38] #4317 closed, assigned to Dootz

[2019-02-23 17:38] #4331 closed, assigned to Afgann

[2019-02-23 17:39] #4336 closed, assigned to Afgann

[2019-02-23 17:39] #4339 closed, assigned to akrom23

[2019-02-23 17:39] #4343 closed, assigned to akrom23

[2019-02-23 17:39] #4349 closed, assigned to Afgann

[2019-02-23 17:39] #4352 closed, assigned to Afgann

[2019-02-23 17:39] #4354 closed, assigned to akrom23

[2019-02-23 17:40] #4355 closed, assigned to Dootz

[2019-02-23 17:40] #4360 closed, assigned to akrom23

[2019-02-23 17:40] #4361 closed, assigned to Afgann

[2019-02-23 17:40] #4364 closed, assigned to akrom23

[2019-02-23 18:56] Stenpackad opened #4373 "Itams dissapear from mailbox"
While i had around 40 stacks of adamantite ores in mailbox, i bought all mats for 1-350 BS from AH.
When the mailbox was full with all those mats my adamantite ores dissapeared.

[2019-02-23 20:43] #1421 closed

[2019-02-23 20:52] #1345 closed

[2019-02-23 20:53] #1316 closed

[2019-02-23 20:55] #1243 closed

[2019-02-23 20:58] #1232 closed

[2019-02-23 21:35] #1200 closed

[2019-02-23 21:54] username-is-not-taken commented on #3913
I wasn't paying attention to that I'm afraid, but I very much doubt it was since most of the times when it's not consumed by spells is when it doesn't show up in the buff bar. And I'm very confident that I was within range, and line of sight, of the totem for a large majority of those 35 seconds (if not 100% of the time)

[2019-02-24 00:31] username-is-not-taken commented on #3913
![grounding123](https://user-images.githubusercontent.com/45629295/53293396-685c0900-37d3-11e9-9ae2-471b8231cbfb.jpg)

Played a BG about an hour ago and here's one example. As you can see I don't have the grounding buff and I have a moonfire dot which has been on me for 7 seconds, when my grounding has been down for 10 seconds i.e. it should've hit the grounding.

Here's the combat log (didn't thi

[2019-02-24 01:41] bshakex opened #4374 "Drums of Battle Range"
Description:
Drums of Battle range is too short. Currently you have to stand almost on top of your party members to receive the buff.

How it works: Drums of Battle only apply to party members if you stand directly on them.

How it should work: Drums of Battle should have a 40 yard range.

Source (you should point out proofs of your report, please give us some source):

[2019-02-24 07:03] blackwife commented on #4325
Shield spike damage is affected by armor.  It looks like the variance is off, but the total damage done is fine.

[2019-02-24 07:15] Jonsbe commented on #4374
Also like in 2.4.3 it was instant - thats also one crucial fix to do. Atm its something like 5-8y range. Which sucks.

[2019-02-24 08:12] akrom23 commented on #3913
@username-is-not-taken Tell me one more thing - enemy target must be in LoS with the totem in order to destroy it?
Eg.
You are in LoS with totem, got a buff from totem.
You are in LoS with the enemy target - casting a spell on you.
Totem is **NOT** in LoS with the enemy target - what should happen?
The same question is about when enemy target is out of range of totem.

[2019-02-24 09:04] akrom23 commented on #4137
https://github.com/SunwellWoW/Sunwell-TBC-Bugtracker/issues/3022#issuecomment-449926857

I think only the shaman or party member must be in range of the totem instead.

So...

[2019-02-24 09:05] akrom23 commented on #4282
https://github.com/SunwellWoW/Sunwell-TBC-Bugtracker/issues/3022#issuecomment-449926857

I think only the shaman or party member must be in range of the totem instead.

So...?

[2019-02-24 09:34] Aftershokx opened #4375 "Shadow fiend"
Description:
After your last fix mana gaining from shadow fiend comletley broken

How it works:
Fiend damage formula is fine, but modifier on a gaining mana is like x5 from normal values, 600 fiend damage = 1.8k mana

How it should work:
The Shadowfiend grants up to 11 hits per use, making its attack speed between 1.26 - 1.36 seconds per hit. It will often only produce 10 attacks because of reloca

[2019-02-24 09:51] balo-git opened #4376 "Improved Wing Clip and Entrapment still breaking on damage"
Description:
In reference to #4180
As per discord this issue was addressed in Change #1673 which was updated to the server.

I did not test improved hamstring (I do not have a warrior) but I went and tested Improved Wing Clip and Entrapment and both were still breaking early from damage in PvE.

How it works:
Improved wing clip and entrapment are breaking early from damage

How it should work:
Imp

[2019-02-24 10:23] mchayes commented on #4375
Can confirm it's looking shifty:
![image](https://user-images.githubusercontent.com/20542656/53297950-86068e00-3826-11e9-82df-77ec3eca5990.png)

[2019-02-24 11:21] akrom23 commented on #4375
Hmm?

[2019-02-24 11:26] akrom23 commented on #4375
My results:
![wowscrnshot_022419_122634](https://user-images.githubusercontent.com/1035215/53298511-6d4ea600-382f-11e9-9f0a-04b4c0cc979b.jpg)

[2019-02-24 12:27] Trsko commented on #4369
Yeah, when? 2 weeks ago or more? because thats the time it stopped dropping and showing up on AH

[2019-02-24 15:37] Wojtyas commented on #4374
Intended patch change. Will be reverted with 2.3 content.

![image](https://user-images.githubusercontent.com/22802214/53301368-58cfd500-3852-11e9-96e5-aea84ea168a9.png)

[2019-02-24 15:37] #4374 closed, assigned to nobody

[2019-02-24 15:41] username-is-not-taken commented on #3913
I tried to google a bit regarding this (I'm quite new to the class, so I'm not completely certain myself) and I could only find two helpful things. This post: https://eu.battle.net/forums/en/wow/topic/3523322456

"Grounding can be placed anywhere, infact I recommend trying to place it out of sight"
Sure, it's not a comment from the TBC days, but the changelog found on wowwiki (https://wowwiki.fand

[2019-02-24 18:07] Felynda commented on #4366
Seal of Blood should not scale with spell damage at all . You can find multiple sources of this. Yesterday in arena I got killed by a protection paladin abusing this bug. He was hitting for 300 SoB damage every swing with a blue caster weapon and full tanking gear. Seal of Command is supposed to scale with spell damage and does so properly on the server, don't change that.

In regards of the scali

[2019-02-24 19:07] bshakex commented on #4374
Snore

[2019-02-24 19:47] babno commented on #4362
No way in hell should it work like that. The GCD is not a frost spell.

[2019-02-24 20:08] babno commented on #4373
I remember a similar issue from retail. I basically used my mail as extra bank slots, and had pages of mail. I scrolled back a few pages and noticed some of my mail disappeared. It was however still there, but the mail won't display more than like 8 pages. I simply needed to empty my mail of what was there, log out for a few minutes, and when I logged in again the "disappeared" items had returned.

[2019-02-24 21:05] Devrak commented on #4366
Did you have judgement of crusader on upon you because it does and should boost SOB damage ?
Ps. No offense but did you go to make a coffee or something that a ~200dps tank killed u or is this story a fiction :D

[2019-02-24 21:39] balo-git commented on #4376
Please look into the hunter Survival talent "Counterattack" as well, it was also breaking on damage last I tested (weeks ago)

[2019-02-24 23:00] MiekZer opened #4377 "SSC Morogrim Tidewalker bugs"
closing report due to being kicked out from the discord for saying the truth. So I'm removing my tracks.
GL fixing your shit.

[2019-02-24 23:34] nickycakes commented on #4358
![2019-02-25 02_37_48-world of warcraft](https://user-images.githubusercontent.com/2413942/53307089-64111800-38c7-11e9-99d9-879267d5e38b.png)

[2019-02-24 23:35] nickycakes commented on #4358
the resists come back if you dismiss and call it again

[2019-02-24 23:53] Moobe123 opened #4378 "Leotheras the Blind"
Description:
Leo did not do his "Inner demons" ability when we did him today.

How it works:
He doesn't do it.

How it should work:
He should do it.

Source (you should point out proofs of your report, please give us some source):
I guess the last fix with him made this issue. I mean shit report with no evidence but easy to replicate for dev to see and fix. (He's also STILL afk at 15% transition i

[2019-02-25 09:46] #4140 closed, assigned to nobody

[2019-02-25 10:14] akrom23 commented on #4151
Windfury proc only from melee attacks.

[2019-02-25 10:24] akrom23 commented on #4284
Works fine.

[2019-02-25 10:24] #4284 closed, assigned to nobody

[2019-02-25 10:31] akrom23 commented on #305
No response.

[2019-02-25 14:05] NoCandy opened #4379 "Dark Portal Npc scripting bug"
Description: At the dark portal outland side there is something wrong with the npc fighting the wraitguards, the scripting making them stack on top of the stairs after death. Also the buff "strength of storms" on this mobs spams on/off.

How it works: After a server restart everything works fine but eventually as the npc dies and get replaced they run to their position then run to a point on top o

[2019-02-25 14:22] NoCandy opened #4380 "[Dungeon] Auchenai Crypts Neutral Mobs pathing"
Description: In the Dungeon Auchenai Crypts anytime a yellow neutral mob "Phasing soilder" change elevation they start doing the weird hoping thing npcs do when they are scripted to walk a path but its in the air. This happens thru out the dungeon when walking on stairs and anytime they have an elevation change.

How it works: Neutral mobs floating midair just check the first mob you encounter in

[2019-02-25 15:55] babno commented on #305
Sorry, must of missed an email. I can't do video. It happens in arena consistently where if the pet is attacking player A, if I tell it to spell lock player B it will then go attack B. Here's a combat log of some random mobs too
![image](https://user-images.githubusercontent.com/244626/53349785-db58a300-38eb-11e9-844a-854a23967cfe.png)

[2019-02-25 16:08] #1675 closed

[2019-02-25 16:13] Felynda commented on #4366
Seal of Blood is supposed to get 0 damage increase from Judgement of the Crusader. If you believe otherwise please cite a source.
About my pvp skills, you go duel a prot pala as a melee class and see how it goes :D

[2019-02-25 16:37] akrom23 commented on #305
Casting an offensive spell is treated as an 'attack' command - that's why it works like this.

[2019-02-25 16:37] akrom23 commented on #2246
Cannot reproduce it.

[2019-02-25 17:14] babno commented on #305
Yes, it shouldn't be.

[2019-02-25 17:24] Felynda opened #4381 "Holy resistance exists and is too high on mobs"
Description:
As stated in title. Holy resistance is too high on mobs. While it should not exist at all. The only holy resist that should exist is level based resist. This should only be eight points per level higher, so for a level 73 boss it would be 24.

taken from: https://wow.gamepedia.com/Holy_resistance

How it works:
Partial resists occur very frequently much more then it should.

How it sh

[2019-02-25 17:40] akrom23 commented on #4381
@Felynda Please, provide screenshots or clips.

[2019-02-25 19:44] Felynda commented on #4151
@akrom23  That is exactly the point, Seal of Command IS a melee attack. It just deals holy damage, that's why it can proc Windfury Totem. Please look at the Elitist Jerks thread for proof.

[2019-02-25 20:05] Spoohne commented on #4361
Rat fuck

[2019-02-25 20:18] Devrak commented on #4151
Yes it is a melee attack that does holy damage, and it should proc any weapon procs including windfury ... On retail it was delayed by 0.5 sec after weapon attack witch in turn made seal twisting possible since seal is a weapon proc much like windfury

[2019-02-25 20:20] akrom23 commented on #2749
Cannot reproduce it.

[2019-02-25 20:20] #2749 closed, assigned to nobody

[2019-02-25 20:21] akrom23 commented on #4151
I see a lot of reports on other bugtrackers. Will look into it later.

[2019-02-25 20:51] Lexandros1 opened #4382 "SotC should increase CS dmg +40%."
Description: Seal of the Crusader doesn't increase Crusader Strike's damage by 40%.

How it works:
 Crusader Strike does the same amount of damage with or without SoTC active.

How it should work:
Crusader Strike should do +40% more damage (aka 150% weapon damage instead of the normal 110%) when Seal of the Crusader is active.

Source (you should point out proofs of your report, please give us som

[2019-02-25 21:01] Devrak commented on #4382
Its a modifier .. so 154% wep dmg = wep dmg * 1.1 * 1.4

[2019-02-25 21:45] Felynda commented on #4381
Screenshots from how it works on the server right now?
You should really implement combat dummies or a PTR if you expect proper tests, as has been said many times before.

I can't go mash a boss with a level one weapon, my guild will get mad.

[2019-02-25 21:49] Felynda commented on #4151
We're only trying to give you guys proper information, if you want us to help search specific infos just ask. :)

[2019-02-25 21:55] Dootz commented on #3715
According to wowhead comments they were tamable on later patch (mop)..

[2019-02-25 21:55] #3715 closed, assigned to Dootz

[2019-02-25 21:57] Dootz commented on #3720
Hi, do this issue persist? Some time ago we've removed some spells from players that shouldn't be learned.

[2019-02-25 22:13] #3076 closed, assigned to Dootz

[2019-02-25 23:07] rmit-s3581619-zengjun-zhang opened #4383 "[Rogue]Deadly throw never triggers ruthlessness"
Description:
Deadly throw cannot add combo point from having ruthlessness.

How it works:
1.Rogues have Ruthlessness talents in assassination.
2.Gain some combo points and cast deadly throw.
3. This finishing move never add a combo point to the target.

How it should work:
Has a chance(60% when has3/3 ruthlessness) to add a combo point to the target

Source (you should point out proofs of your rep

[2019-02-26 00:10] pinkisnotgay opened #4384 "[Tempest Keep] Kael'thas Sunstrider"
<del>1. I was tanking Master Engineer Telonicus in Phase 1. I died during Phase 2, then I recieved a combat ress and In P3 Telonicus was just standing still, not moving at all. He was just trying to throw a bomb on a player that was second on the threat table, but the person was out of range. So he was just standing there and did literally nothing nothing untill I regained the threat. </del>
https

[2019-02-26 00:17] pinkisnotgay commented on #4370
He's immune to taunt on normal, but not on heroic.

[2019-02-26 06:13] akrom23 commented on #4381
You reported that the hoy resistance is too high on mobs. Show me a screenshot (from our server) where I can find a holy resist and it's a wrong thing.

[2019-02-26 06:33] akrom23 commented on #4151
What about Heroic Strike, Mortal Strike, Cleave, Slam, Devastate (warrior), Sinister Strike, Ambush, Backstab, Hemorrhage (rogue), Shred, Ravage, Mangle (Druid), Seal of Blood, Crusader Strike (paladin), Strormstrike (shaman), etc. - all of these should proc WF?

[2019-02-26 07:13] kinglobster commented on #4383
working as it should
https://wowwiki.fandom.com/wiki/Ruthlessness_(rogue_talent)

[2019-02-26 07:30] Atrecom commented on #4151
No it shouldn`t proc from special melee attacks like Mortal etc

[2019-02-26 07:46] akrom23 commented on #4151
So proc from Seal of Command (special melee attack) and not proc from e.g. Sinister Strike (special melee attack)? ****ing logic, blizz :)

[2019-02-26 07:49] #4383 closed, assigned to nobody

[2019-02-26 07:54] Atrecom commented on #4151
Like the fact WF cant proc form Crusader.
Btw, Seal of blood for example: cant proc from Crusader strike. So SoC cant. Ezzz :D

[2019-02-26 08:00] akrom23 commented on #4151
Yeah.
https://github.com/netherspite/cc-buglist/issues/44
Really, need more info guys, because I'm confused right now.. :)
I can fix this problem, but I'm not sure that it shoud work like this.

[2019-02-26 08:21] #1383 closed

[2019-02-26 08:21] #3913 closed, assigned to akrom23

[2019-02-26 08:21] #3928 closed, assigned to akrom23

[2019-02-26 08:22] #3973 closed, assigned to akrom23

[2019-02-26 08:22] #4104 closed, assigned to akrom23

[2019-02-26 08:22] #4137 closed, assigned to akrom23

[2019-02-26 08:22] #4282 closed, assigned to akrom23

[2019-02-26 08:22] #4363 closed, assigned to akrom23

[2019-02-26 08:23] #4372 closed, assigned to akrom23

[2019-02-26 08:23] #4375 closed, assigned to akrom23

[2019-02-26 08:48] akrom23 commented on #4151
I will add 0.5 sec delay to SoC to enables Seal Twisting.
Windfury proc from SoC still needs confirmation.

[2019-02-26 09:01] #4362 closed, assigned to nobody

[2019-02-26 09:16] neheri commented on #4384
- [ ] His Shock Barrier/Pyro procedure is broken. He sometimes buffs himself with Shock Barrier and doesn't cast pyro afterwards, seems to freeze for several seconds and begins to cast pyro after few seconds. Looks like he skips his first pyro. He should also cast 3 pyros, at the moment he casts it 2 or 1 times.

In summary, there's a 60-second rotation which takes place over the entire phase:

[0

[2019-02-26 09:22] pinkisnotgay commented on #4384
According to the startegy online there should be only 2 Pyroblasts cast, First one you absorb with shield + 2nd one should kill you unless dps managed to take the shield down. @neheri

[2019-02-26 09:24] neheri commented on #4384
https://wowwiki.fandom.com/wiki/Kael%27thas_Sunstrider_(tactics)

Pyroblast
Every 60 seconds Kael'thas casts an invariable sequence of Shock Barrier, 3 successive Pyroblasts and Arcane Disruption.

Event Cycle
In summary, there's a 60-second rotation which takes place over the entire phase:

[0sec]->[20sec](MC + Arcane Disruption)->[40sec](Phoenix + MC + Arcane Disruption)->[60sec](Shock Barrier +

[2019-02-26 09:40] pinkisnotgay commented on #4384
Maybe in theory he should be able to do 3, but I've never seen him do 3. You shouldn't be able to survive 2nd pyro, because:
1) Legenday shield should be on CD after 1st
2) pyro damage is like 23k+
( Maybe with Shield Wall, but usualy by that time his Shock Barrier is down.)
 Nevertheless Kael'thas is bugged and pretty undertuned. He should be an obstacle, while he's not.

[2019-02-26 09:41] crushzx opened #4385 "Shadowmeld #Urgent #Pvp #Critical #Pve"
Description:
"Activate to slip into the shadows, reducing the chance for enemies to detect your presence. Lasts until cancelled or upon moving. Any threat is restored versus enemies still in combat upon cancellation of this effect."

How it works:
Can't be activated while in combat ; Doesn't get you out of combat !

How it should work:

It has a cooldown of 3 minutes, and it can be used in combat.

[2019-02-26 09:44] neheri commented on #4384
He buffs himself with shield only once. You absorb 1st pyro and interrupt the following 2... it's really not a big deal.

[2019-02-26 09:54] crushzx commented on #4385
This is the only usefull alliance ability, we all know how unbalanced tbc is and the server is (horde / alliance ratios) this is why it's a critical bug you guys need to fix !

Thanks for your time and consideration !

[2019-02-26 09:56] ruineroffun commented on #4385
Welcome to TBC mate, cant be used in combat. Usable in combat part came in wrath of the lich king.

[2019-02-26 10:01] #4385 closed

[2019-02-26 10:55] Atrecom commented on #4151
Well. I can test today, but it will take some time. dont fix anything. let me get some procs.

[2019-02-26 10:57] Atrecom commented on #4151
Oh, dear. May be u`ll add some training dummies to Shatt? Just to test smth about spells much faster

[2019-02-26 11:17] akrom23 commented on #4151
Not needed anymore. I will fix it.

[2019-02-26 11:23] mchayes commented on #4381
1 Mechanar run, paladin tank overview. Blessing of sanctuary full resists and retri aura seem to be the culprit. Perhaps thats what OP means?
![image](https://user-images.githubusercontent.com/20542656/53409401-1ed11100-39c1-11e9-8f0b-3fcabc00c3bb.png)

[2019-02-26 11:28] Atrecom commented on #4151
Okay. thx. So it will be in this way:
AA + wf
If SoC procs, wf can proc from it. Sure?

[2019-02-26 11:53] akrom23 commented on #4151
- SoC triggers WF.
- Add 0.5 sec delay to SoC.
- Add 1 sec internal CD to SoC.
- Implement Seal Twisting (cast SoC -> melee attack swing -> cast other seal -> SoC proc -> other seal proc from SoC)

[2019-02-26 12:15] Devrak commented on #4151
:+1:  i am actually looking into windfury at the moment there have been alot of changes over the years gotta google for a while.

[2019-02-26 12:24] #2967 closed, assigned to nobody

[2019-02-26 12:25] #3125 closed, assigned to nobody

[2019-02-26 12:26] #3296 closed, assigned to nobody

[2019-02-26 12:53] akrom23 commented on #3701
Tested - works okay.

[2019-02-26 12:53] #3701 closed, assigned to nobody

[2019-02-26 12:54] akrom23 commented on #4350
@Espranty Any news here?

[2019-02-26 12:56] akrom23 commented on #4351
Extended combat log will be very helpful.

[2019-02-26 16:04] #1276 closed

[2019-02-26 16:09] akrom23 commented on #1406
[code]
Works fine too.

[2019-02-26 16:09] #1406 closed

[2019-02-26 16:12] akrom23 commented on #2212
Cannot reproduce it.

[2019-02-26 16:12] #2212 closed, assigned to nobody

[2019-02-26 16:14] #2226 closed, assigned to nobody

[2019-02-26 16:38] #2321 closed, assigned to nobody

[2019-02-26 18:10] blackwife commented on #4133
This is a bug that I personally experienced on Warmane Outland when using a client from another server.  Are you using Sunwell's TBC client, or another?

[2019-02-26 18:11] Devrak commented on #4151
Windfury Rules:

- White Attacks ( Auto Attack ) - Proc Windfury
- On Next Swing Attacks that consume auto attack ( Heroic Strike, Cleave etc.) - Proc Windfury
- Extra Weapon Attacks ( Blikstrike , Reckoning, Seal of Command ) - Proc Windfury
- Special Attacks ( Instantly deals x damage type CS MS etc ) - Do not Proc Windfury
- Weapon Extra Damage Attacks ( weapon does aditional x damage SoR, SoB

[2019-02-26 19:09] Lexandros1 commented on #4382
Oh ok. As long as its fixed and works as intended.

[2019-02-26 19:10] Lexandros1 commented on #4382
Oh ok. As long as its fixed and works as intended.

[2019-02-26 20:22] #2958 closed, assigned to nobody

[2019-02-26 20:23] akrom23 commented on #3057
Armor Mitigation.

[2019-02-26 20:23] #3057 closed, assigned to nobody

[2019-02-26 20:29] akrom23 commented on #3174
There are some spells that can't be interrupted.
@youawizard You mean mobs or players?

[2019-02-26 21:09] #328 closed

[2019-02-26 21:20] #3954 closed, assigned to Dootz

[2019-02-26 21:25] #3733 closed, assigned to Dootz

[2019-02-26 21:59] westerngee opened #4386 "[items] lockbox contains bop boss drop"
Description: lockbox contained Silent-Strider Kneeboots, a drop from Omor the Unscarred (heroic).

How it works: I opened the lockbox and there they were. Soulbound of course.

How it should work: Lockboxes should not contain soulbound dungeon loot.

Source (you should point out proofs of your report, please give us some source):
Not much to see here, since I shift-looted so I can only paste my lo

[2019-02-27 07:23] #4365 closed, assigned to nobody

[2019-02-27 07:27] Atrecom commented on #4151
If i`m not mistaken only shamans got ICD on WF procs on their weapons, not totem. m?

[2019-02-27 07:44] Hunner9 opened #4387 "BRD Quests"
Description:
The Smoldering Ruins of Thaurissian is bugged, unable to loot the relics for the quest. As well as THe heart of the Mountain bugged, unable to loot the item for completion, mobs needed dont spawn.

How it works:

How it should work:

Source (you should point out proofs of your report, please give us some source):

[2019-02-27 09:00] #3337 closed, assigned to nobody

[2019-02-27 09:49] akrom23 commented on #3358
Tested - works good.

[2019-02-27 09:49] #3358 closed, assigned to nobody

[2019-02-27 10:08] akrom23 commented on #3365
What about this:
https://hilbert.wordpress.com/sweeping-strikes-guide/
I know it's from vanilla.
https://youtu.be/Waq5Hgg7rZ4?t=28

I'm pretty sure it should hit only once per WW.

[2019-02-27 10:30] Lorious opened #4388 "Steadyshot and Hunter's Mark"
Description:
Found this statement on discord.

"#1457 by Anakin
Spell: Ranged spells should gain benefits from Attack Power bonuses (fix Hunter's Mark)"

Can't find the original thread in here so I'm making a new post.

Anyways, something seems off since my autoshots hits harder than my steadyshots does. Especially when Hunter's mark is fully stacked. So this is more of a question, are you sure th

[2019-02-27 11:08] akrom23 commented on #4388
Steady Shot get 20% of this aura. Auto shot - bases on your ranged ap.

[2019-02-27 11:15] akrom23 commented on #3502
https://wow.gamepedia.com/Last_Stand

[2019-02-27 11:15] #3502 closed, assigned to nobody

[2019-02-27 11:20] #3828 closed, assigned to nobody

[2019-02-27 11:36] akrom23 commented on #4034
Tested - works good.
In defensive stance:
![wowscrnshot_022719_123648](https://user-images.githubusercontent.com/1035215/53487687-84d69a80-3a8c-11e9-92e3-3051f885cd4f.jpg)

In battle stance:
![wowscrnshot_022719_123718](https://user-images.githubusercontent.com/1035215/53487696-8607c780-3a8c-11e9-8235-d38d5eba43e8.jpg)

[2019-02-27 11:36] #4034 closed, assigned to nobody

[2019-02-27 12:56] akrom23 commented on #4161
Tested - does not proc on resist.

[2019-02-27 12:56] #4161 closed, assigned to akrom23

[2019-02-27 15:39] babno commented on #4378
It worked as normal when I killed him Monday, so perhaps not so easy to reproduce. Was there anything weird about the pull or positioning or something that may have triggered it?

[2019-02-27 16:07] Devrak commented on #4151
Yes the 3sec Icd is for weapon enchant and not totem also there is a limit that windfury proc attacks cannot trigger windfury

The only thing i was not able to completely figure out is how seal of command icd is working The 1s icd is a theorycrater assumption ....

In a case where an extra attack is triggered ( proced ) by seal of command attack that attack cannot proc seal of command ( to prevent

[2019-02-27 16:32] Moobe123 commented on #4378
Nothing out of the ordinary @babno

[2019-02-27 16:47] Moobe123 opened #4389 "Crystalcore Sentinel, Tempest Keep - The Eye"
Description:
Crystalcore Sentinels ability "overcharge" is flawed in two ways.

How it works:
1. It's interuptable when it's not supposed to be.
2. It targets random raid member when it should only target the main aggro target.

How it should work:
It should only target the main aggro target and should also be spell reflectable (Havn't gotten the chance to test the spell reflect)

Source (you shou

[2019-02-27 17:38] swordyxtwo commented on #3886
you guys understand it's a custome change? Why this has been changed without any rational proof that it "should actually be changed?"

I recall it didn't work like that ever - and it didn't fix the BG situation, the only BG being run now is wsg as it has the least people required and pops out the most (making any other bg virtually non-existent)

[2019-02-27 18:03] akrom23 commented on #2492
No response.

[2019-02-27 18:03] #2492 closed, assigned to nobody

[2019-02-27 18:04] akrom23 commented on #3065
No response.

[2019-02-27 18:04] #3065 closed, assigned to nobody

[2019-02-27 18:05] akrom23 commented on #3212
@Meerkhat @Jseay1313 @YoshGit @MiekZer Any news?

[2019-02-27 18:05] akrom23 commented on #4036
No response.

[2019-02-27 18:05] #4036 closed, assigned to nobody

[2019-02-27 18:06] #4262 closed, assigned to nobody

[2019-02-27 18:08] #2145 closed, assigned to nobody

[2019-02-27 18:10] #1361 closed

[2019-02-27 18:10] akrom23 commented on #1694
No response.

[2019-02-27 18:12] akrom23 commented on #1749
No response.

[2019-02-27 18:42] neheri opened #4390 "[Item] Archmage Vargoth's Staff"
Description: If you lose it NPC in netherstorm named Ravandwyr should restore it. I deleted the staff and he doesn't do anything.

How it works: You can't restore staff if you removed the staff and continue quests.

How it should work: Ravandwyr should offer to restore Archmage Vargoth's Staff if you lose it.

Source (you should point out proofs of your report, please give us some source):
https:/

[2019-02-27 18:44] flapse32 opened #4391 "Fishing pools"
Description: Fishing catch

How it works: 90% of the time you have to wait to there is 2 sec left and then you catch something.

How it should work: Should be randomized alot more than it is atm.

Source (you should point out proofs of your report, please give us some source):

[2019-02-27 18:48] neheri commented on #4378
When he splits he seems to retain aggro from his previous form. If he splits during Demon phase, it's almost guaranteed he will go after tanking warlock, who is usually killed by him as it's impossible to retain aggro.

There should be an aggro reset on split on his both forms (or maybe he should retain aggro on his demon form - can't find any information about that).

We noticed various bosses fr

[2019-02-27 18:58] flapse32 commented on #4359
it dosent change anything in pet details

[2019-02-27 19:18] #4386 closed, assigned to Dootz

[2019-02-27 19:39] #4377 closed, assigned to Afgann

[2019-02-27 19:39] #4370 closed, assigned to nobody

[2019-02-27 19:39] #4353 closed, assigned to nobody

[2019-02-27 19:40] #4344 closed, assigned to nobody

[2019-02-27 19:40] #4341 closed, assigned to nobody

[2019-02-27 19:41] #4294 closed, assigned to nobody

[2019-02-27 19:41] #4293 closed, assigned to nobody

[2019-02-27 19:42] #4371 closed, assigned to nobody

[2019-02-27 20:02] flapse32 commented on #4391
it seems like there is only 3 times where u can be able to catch it, one after 5 sec, one after 15 sec, one after 25 sec. Surely there should be more points where you can be able to catch it.

Eitherway, the one after 25 sec is happening 90% of the time. This really has to be looked into.

Also:
![image](https://user-images.githubusercontent.com/46076151/53519051-a9556580-3ad2-11e9-93fb-a0f2dfe701

[2019-02-27 21:05] Atrecom commented on #4151
Soooo, does ur post say it should be 2 different ways:
1. (Aa+wf)/soc
2. (Aa+soc)/wf
 And never (aa+wf)+(soc+wf)?

And can't understand, do u ask a question or giving the answer?

[2019-02-27 21:21] akrom23 commented on #2326
@primeropein @MiekZer @Jonsbe News?

[2019-02-27 21:52] Maddoom opened #4392 "Badge of the Swarmguard not proccing properly"
Description: Badge of The Swarmguard Proc Rate (6 stacks of 200 armor pen) is not proccing properly.

How it works: The individual proc rate on ranged and melee hits is seemingly around 10 - 15%.

How it should work: Should be 80% chance on ranged or melee hit to proc the badge stack.

Source (you should point out proofs of your report, please give us some source):
https://web.archive.org/web/2007

[2019-02-28 06:46] neheri commented on #4086
Please notice that all Manaforge quests are not working properly right now.

The mobs should not only attack the player, they should rather focus on running towards control panel and if left for 15 seconds without attacking them, they stop entire shutting down process.

You can see example here (left hand side):

https://youtu.be/eUI-uk2Xafc?t=139

[2019-02-28 07:29] akrom23 commented on #4304
@ado7e @MiekZer @zefurr So there is a bug?

[2019-02-28 08:05] Atrecom commented on #4366
Okay. let`s take a look on some screenshot.
I dont think i cant crit 3.8k with spell-damage scaling system. AP is everything for SoC as far as 3.8 a-speed weapon.
![97cplxegife](https://user-images.githubusercontent.com/44858756/53550818-b7de6400-3b48-11e9-813b-71cc867be0a0.jpg)

[2019-02-28 09:50] Vasalina commented on #4366
I already understood it sacled with AP, However if you test it it also scales with spell power which was very insane for world pvp while leveling with a spell dmg trinket. That is all im saying

[2019-02-28 09:59] akrom23 commented on #3679
No response.

[2019-02-28 09:59] #3679 closed, assigned to nobody

[2019-02-28 09:59] akrom23 commented on #3692
No response.

[2019-02-28 09:59] #3692 closed, assigned to nobody

[2019-02-28 10:01] Devrak commented on #4366
Nice crit Same with SoB .. with haste beeing the queen :smiley:  leveling is broken for many classes and blizzard was barely able to keep balance for dps classes on top tier... rogues for example with current gear are not strong dps however with sunwell gear they are competetive and there are locks who can do 1k single target dps in green gear. ( offtopic )

[2019-02-28 11:51] #1147 closed

[2019-02-28 11:51] #1537 closed

[2019-02-28 11:51] #1688 closed

[2019-02-28 12:04] #1726 closed

[2019-02-28 12:04] #1749 closed

[2019-02-28 12:04] #2171 closed, assigned to akrom23

[2019-02-28 12:07] #4387 closed, assigned to Dootz

[2019-02-28 12:07] #4380 closed, assigned to Dootz

[2019-02-28 12:07] #4376 closed, assigned to Afgann

[2019-02-28 12:07] #4342 closed, assigned to Afgann

[2019-02-28 12:07] #4188 closed, assigned to akrom23

[2019-02-28 12:08] #4151 closed, assigned to akrom23

[2019-02-28 12:08] #4086 closed, assigned to Dootz

[2019-02-28 12:08] #4013 closed, assigned to Dootz

[2019-02-28 12:09] #3967 closed, assigned to Dootz

[2019-02-28 12:09] #3934 closed, assigned to Dootz

[2019-02-28 12:09] #3707 closed, assigned to Dootz

[2019-02-28 12:09] #3533 closed, assigned to akrom23

[2019-02-28 12:10] #3519 closed, assigned to akrom23

[2019-02-28 12:10] #3442 closed, assigned to Dootz

[2019-02-28 12:10] #3301 closed, assigned to akrom23

[2019-02-28 12:10] #3241 closed, assigned to akrom23

[2019-02-28 12:10] #3171 closed, assigned to akrom23

[2019-02-28 12:11] #3040 closed, assigned to Dootz

[2019-02-28 12:11] #3016 closed, assigned to akrom23

[2019-02-28 12:11] #2668 closed, assigned to akrom23

[2019-02-28 12:11] #2620 closed, assigned to akrom23

[2019-02-28 12:11] #2547 closed, assigned to akrom23

[2019-02-28 12:11] #2484 closed, assigned to akrom23

[2019-02-28 12:11] #2246 closed, assigned to akrom23

[2019-02-28 12:56] akrom23 commented on #4366
@Vasalina @Devrak @Felynda Sanctity Aura should increase damage of SoB?

[2019-02-28 13:15] Devrak commented on #4366
Yes.

SoB, SoC, SoR modifiers ( paladin ) Sanct Aura ( 10% )  Sanct Talent ( 2% ) Vengeance Stacks ( 15% )  Crusade ( 3% )( if targets is valid for it ) One-handed specialization ( 5% ) ( when using 1hander )

[2019-02-28 13:19] akrom23 commented on #4366
Vengeane increases physical and holy damage.
So SoB should gain doubled benefits from it?

[2019-02-28 13:26] Devrak commented on #4366
Yes SoB and SoC get double benefit from it.

[2019-02-28 13:28] Devrak commented on #4366
To not confuse the double is 1) 15% increased phy damage witch increases weapon damage ( since seals scale of it 2) from 15% increase in holy damage in seals damage calculations.

[2019-02-28 13:31] akrom23 commented on #4366
Okay.

[2019-02-28 13:37] Devrak commented on #4366
Same applies to Improved Sanct Aura 2% damage bonus / 1 handed specialization 5% damage bonus / buffs like darkmoon fire / Blessing Of Auchinduon  % damage increase and lastly Avenging Wrath ( 30 % )

- any flat ( that affects all damage ) % modifier gives double benefit to SoB , SoC due to it affecting weapon damage first and then seal damage witch is based on weapon damage.

[2019-02-28 13:42] firngrod commented on #4388
There's an interesting part in this wiki-article from the time:
https://wow.gamepedia.com/index.php?title=Steady_Shot&oldid=1580415

    Formula: DamagePercentageBonus*RangedWeaponSpecialization*(150 + WeaponDamage/WeaponSpeed*2.8 + 0.2*RAP + [Dazed: 175])

My question here is whether WeaponDamage is Attack Damage factoring RAP or damage contribution solely from the weapon itself.  This, I do not

[2019-02-28 13:51] firngrod commented on #4391
As always, it's recommended to look at the wiki article as it was at the time when BC was live:
https://wow.gamepedia.com/index.php?title=Fishing&oldid=1618428

In this case, the information is more or less the same, but still...

[2019-02-28 13:52] #4307 closed, assigned to nobody

[2019-02-28 13:54] Devrak commented on #4366
@akrom23 If you have some extra time could you please fix #3464 any raid that has prot and holy paladins run into that issue and since heals are more important prot paladins are forbidden to use sactuary blessing

[2019-02-28 14:02] akrom23 commented on #4366
@Devrak: Done.

[2019-02-28 14:03] Devrak commented on #3464
Thanks alot :+1:

[2019-02-28 14:06] Devrak commented on #4366
@akrom23 tys again from all prot paladins on that one.

[2019-02-28 14:09] akrom23 commented on #3464
Next time, just tag me on critical issues.

[2019-02-28 14:41] pinkisnotgay opened #4393 "[Quest][NPC] Only One may Rise"
Refering to the https://github.com/SunwellWoW/Sunwell-TBC-Bugtracker/issues/4152

Issue is supposedly fixed, but the quest is not there.

[2019-02-28 15:13] Wojtyas commented on #4393
It is blocked in purpose ;) We will provide entire Scarab Lord chain-quest in 2.1 content.

[2019-02-28 15:13] #4393 closed, assigned to nobody

[2019-02-28 16:17] akrom23 commented on #4315
https://www.youtube.com/watch?v=LamuL4e4Y0E&t=2m30s
Hunter after FD still have combat.
2:32 uses FD
2:34 cancel FD and drops trap
2:36 trap is triggered.

[2019-02-28 16:38] neheri commented on #4390
I am afraid it's still not working. Still can't get the staff back:

Bank:
![wowscrnshot_022819_172623](https://user-images.githubusercontent.com/37372869/53582373-9fd60700-3b7f-11e9-96ba-da8da28f17c0.jpg)

Inventory:
![wowscrnshot_022819_172656](https://user-images.githubusercontent.com/37372869/53582333-8df46400-3b7f-11e9-8287-612f46623dcd.jpg)

NPC:
![wowscrnshot_022819_173646](https://user-ima

[2019-02-28 16:38] akrom23 commented on #4315
https://github.com/Atlantiss/NetherwingBugtracker/issues/4537#issuecomment-461992520
I think he's right about the arming time.

[2019-02-28 16:55] neheri opened #4394 "[Quest] Flora of the Eco-Domes"
Description: Using an item provided for the quest should turn Farahlon Lasher into Mutated Farahlon Lashed but sometimes does not. You can spam quest item on 1 mob and get 10 credits.

How it works: Sometimes Farahlon Lashers are not turned into Mutated Farahlon Lashers.

How it should work: It should alwyas turn Farahlon Lashers into Mutated Farahlon Lashers.

Source (you should point out proofs

[2019-02-28 17:00] neheri opened #4395 "[Quest] Creatures of the Eco-Domes"
Description: Quest can be completed but Talbuk's that must be tagged with provided quest item don't move. They just teleport from place to place. In addition to that, they should stop moving once you tag them. Currently they are following you while dead.

How it works: Talkbuk Sire & Talbuk Doe don't move. They teleport.

How it should work: They should run like every talbuk ;)

Source (you should

[2019-02-28 17:42] #2794 closed, assigned to nobody

[2019-02-28 17:42] Wojtyas opened #4396 "[Hyjal] Ghoul"
Ghoul npc (17895) doesn't use his Cannibalize spell (31537) at all.

[2019-02-28 17:42] Wojtyas opened #4397 "[Hyjal] Shadowy Necromancer"
- [x] Shadowy Necromancer (17899) should use his Unholy Frenzy spell (31626) on his allies, for now he casts this buff on himself.

- [x] Shadowy Necromancer (17899) doesn't use Rise Dead spell at all - not sure ID here. Can be one of those: 31617 / 31624 / 31625

- [x] Shadowy Necromancer (17899) shouldn't use Cripple spell at all. For now he uses that.

[2019-02-28 17:42] #3336 closed, assigned to nobody

[2019-02-28 17:43] #3567 closed, assigned to nobody

[2019-02-28 17:45] neheri opened #4398 "[Quest] Triangulation Point One"
Description: You can discover the point without the using quest item. You should be able to get credit only if you use Triangulation device and get the buff from it.

How it works: You can get the credit without using the provided quest item.

How it should work: You should only be able to get the buff you get after using provided quest item.

Source (you should point out proofs of your report, pl

[2019-02-28 17:50] ghost commented on #4366
What about this, can anyone confirm or deny?
I have a long term feeling that I get way less procs with my 3.7 than I should. However, it's kinda hard to evaluate on actual fights, and I don't even raid as ret consistently, only few bosses here and there.

[2019-02-28 17:54] flapse32 commented on #4391
Ty, could not find it myself. Eitherway so 22 seconds instead of 27 seconds then.
And 3-4 seconds to pick it up instead of 2-3 seconds.

Also to point out : 1) At 11.0 – 10.0 seconds remaining. 2) At 6.0 – 5.0 seconds remaining. 3) At 1.1 seconds remaining.
My guess on these is that: 30% of the casts it will be at 11.0 – 10.0 seconds. 30% of the casts it will be at 6.0 – 5.0 seconds. 40% of the ca

[2019-02-28 17:57] Wojtyas opened #4399 "[Hyjal] Portals"
At this moment people can enter every portal whenever they want which is BAD hehe.

- [x] Alliance portal (1) should be able to enter since beginning - correct.
- [x] Horde portal (2) should be able to enter after Anetheron is dead (talk with Jaina after should turn on portal).
- [x] Night Elf portal (3) should be able to enter after Azgalor is dead (talk with Thrall after should turn on portal).

[2019-02-28 18:00] Wojtyas commented on #4390
Roger.

[2019-02-28 18:29] Szelmon556 opened #4400 "Fist xmog weapons"
Description: So actually u can transmog your main weapon into main&onehand weapon, but weapon on offhand slot if u have equipped onehand u cannot transmog into offhand weapon, only into main or one hand (offhand weapons can be xmog only into offhand weapons). Honestly idk how it should work, but for sure mainhand shouldn't xmog into offhand(in meaning of fists weapons) cuz we got something like th

[2019-02-28 18:57] Therealvaxe commented on #1339
Still doesn't work.

[2019-02-28 19:44] Jonsse opened #4401 "Fel Reaver in Hellfire Peninsula"
Description: The Fel Reaver in Hellfire Peninsula isn't visible as it should be, nor does it spawn back after being killed.

How it works: The Fel Reaver is visible only at normal npc view distance, meaning you have to be very close to it to even see it.

How it should work: It should be visible all throughout the Peninsula as long as it's within your world view distance.

Source (you should point

[2019-02-28 20:01] Wojtyas commented on #4401
U mean he spawned right after u killed him? Just note there are two Fel Reavers walking around HP.

[2019-02-28 20:28] Demolla commented on #4353
Coilfang ambushers being "nontargettable" after they swim to platform, they refuse to enter platform and randomly hits peoples. Cant kill them, cant taunt them.

[2019-02-28 20:31] Jonsse commented on #4401
Meaning that it does not necessary spawn back and have to wait until thursday reset to find Fel Reavers again in HFP.

[2019-02-28 20:36] Ironjudgment commented on #4400
This is TBC bugtracker.

[2019-02-28 21:04] Jeansapin commented on #4353
Now they are running everywhere when we are fearing, when they just should not even move a toe ...
Is that serious ?

[2019-02-28 23:59] Devrak commented on #4366
Have to look after next server update it might be fixed now :smiley:

[2019-03-01 02:20] Demolla commented on #4399
After defeating the two bosses in the human base, the second portal opens up and permits direct access to the Horde camp. After killing two more bosses there, the third gate opens.

So Night Elf portal - should be able to enter after Azgalor is dead, not Kaz'rogal

[2019-03-01 04:14] Feorblade opened #4402 "Rogue 41 point talent Surprise attacks"
Description:

There was a bug tracker post saying you fixed the rogue 41 point combat talent. It isn't fixed

How it works:

Finishing moves are still being dodged.

How it should work:

They shouldn't be able to be dodged.

Source (you should point out proofs of your report, please give us some source):

https://i.imgur.com/OIYO8GU.jpg here you go I've been playing with this bugged fucking talent

[2019-03-01 05:22] balo-git commented on #4315
I agree with the fix, but I still reject that video. (zefurr)

The hunter's pet never stopped attacking the priest in that clip, so the hunter would not have left combat.

[2019-03-01 06:16] balo-git opened #4403 "[Serpentshrine Cavern] Lurker adds cannot be attacked"
Description:
Sometimes adds on the Lurker below fight are unable to be attacked.

How it works:
During our attempt on of the adds on in the Lurker Below fight did not completely move into position. It stopped early in the water and began attacking us. We were not able to attack it, we received the error messages:
"Invalid target"
"Cannot attack that target"

I placed a hunter trap inside the add a

[2019-03-01 06:24] badmannerkid opened #4404 "[Serpentshrine Cavern] Lady Vashj"
- [x] Toxic sporebats to be meleeing and shooting their abilities from 50yds+. Every hunter in our raid has been full spec hawk eye (increased shot range) to counter these horrifically scripted bats. They are still unable to hit the bats. The bats should spawn, and slowly descend into a 40 yd range window, once they are within this window they should begin throwing their toxic spores. They should

[2019-03-01 06:25] badmannerkid commented on #4308
- [x] Do ya'll want these toxic sporebats to be meleeing and shooting their abilities from 50yds+? Every hunter in our raid has been full spec hawk eye (increased shot range) to counter these horrifically scripted bats. They are still unable to hit the bats. The bats should spawn, and slowly descend into a 40 yd range window, once they are within this window they should begin throwing their toxic

[2019-03-01 06:25] badmannerkid commented on #4210
- [ ] Do ya'll want these toxic sporebats to be meleeing and shooting their abilities from 50yds+? Every hunter in our raid has been full spec hawk eye (increased shot range) to counter these horrifically scripted bats. They are still unable to hit the bats. The bats should spawn, and slowly descend into a 40 yd range window, once they are within this window they should begin throwing their toxic

[2019-03-01 06:26] badmannerkid commented on #3984
- [ ] Do ya'll want these toxic sporebats to be meleeing and shooting their abilities from 50yds+? Every hunter in our raid has been full spec hawk eye (increased shot range) to counter these horrifically scripted bats. They are still unable to hit the bats. The bats should spawn, and slowly descend into a 40 yd range window, once they are within this window they should begin throwing their toxic

[2019-03-01 06:43] #4400 closed, assigned to nobody

[2019-03-01 08:01] neheri commented on #4403
I can confirm, one of the Coilfang Ambushers went into the water and couldn't be attacked entire fight. We had to kill Lurker with 1 add alive shooting the raid entire encounter.

[2019-03-01 08:03] neheri commented on #4378
After yesterday fight I think I can confirm what I wrote above. When he splits he retains his aggro from Demon form and goes after tanking warlock. Proper aggro reset should resolve the issue. Also adding stationary flag until he ends his kneeling animation should be done, as at the moment he just runs through the raid while kneeling.

[2019-03-01 08:58] Szelmon556 commented on #4400
damn lulw imma blind xD soz

[2019-03-01 09:02] PB67UX commented on #3985
I would like to add an issue here - Morogrim seems to be parrying attacks from the back, and I would assume it's not just him to do that in PvE.

[2019-03-01 12:27] TechnoMulen opened #4405 "Warlock pets"
Description:
When i logout for more than X amount of time ( same time as with conjured items) i lose my pet - further more i dont get a soul shard for it

How it works:
When i logout for more than X amount of time ( same time as with conjured items) i lose my pet - further more i dont get a soul shard for it

How it should work:
the pet should not dissapear when logged out

Source (you should poin

[2019-03-01 12:32] arkatik commented on #4403
Yesterday the same thing happened.
I wrote a ticket about what is happening.
Game master read the ticket, but did not come to the rescue and did not answer.
We killed along with the one active mob.

[2019-03-01 12:53] mchayes commented on #3985
This is nonsense, ignore it.

[2019-03-01 12:57] nillify commented on #4223
I've had items disappear at random as well.   Usually via mail (the mail shows up the attached items are missing).   Most of the time it's a transmuted primal that I've just made.

[2019-03-01 13:05] flapse32 opened #4406 "Misdirection new bug issue"
Description: MD charges gets consumed by any spells from a hunter (Except of Tracking abilities)

How it works: MD charges gets consumed by any spells from a hunter (Except of Tracking abilities)
Bestial Wrath / Hunter's Mark / Rapid fire uses a charge.

How it should work: Those abilties should not consume a charge

Source (you should point out proofs of your report, please give us some source):

[2019-03-01 14:54] badmannerkid commented on #4378
we saw an aggro reset on the demon form at 15% when we did it last night

[2019-03-01 14:56] #3191 closed, assigned to nobody

[2019-03-01 15:02] Espranty commented on #4350
ye, gonna post 2 screenshots now , Before and After using the Spell

[2019-03-01 15:08] Espranty commented on #4350
@akrom23 Dont worry about the Model edit, this was taken yesterday on Nightbane <3

1/ This is a Before pic, showing that im Currently casting the spell , Also u can see the icon on the right side of my bars (Targeted) .
https://imgur.com/a/OsKYQip

2/ This is After Successful cast of Ritual of Souls (You can see the Table on Ground) , Also hovering over the spell showing no CD Trigger after Succe

[2019-03-01 15:12] Espranty commented on #4351
i started Recording our raids lately,  once i see it happens in one of our future raids, ill post a video of it , Sorry for the delay

[2019-03-01 16:41] weebxx commented on #4366
Now that u changed that,Seal of Blood doesnt benefit from Judgement of the Crusader.How does that make any sense since SoB tooltip says "deals holy dmg" and Judgement of the Crusader says "increases holy damage"? Ret dps is utter shit atm.

[2019-03-01 16:42] sockagg commented on #4366
tbh with you all guys: SoB SHOULD NOT scale with spellpower - BUT it SHOULD scale with holy damage increasing spells 100%! If SoB and SoC would not benefit from holy damage increasing spells like Judgement of the Crusader then the "Sanctity Aura"-Skill from the Retribution talent tree would be totally useless and should not be in the game in the first place.

SoB and SoC should not scale with spel

[2019-03-01 17:01] akrom23 commented on #4366
Sanctity works fine.
Judgement of the Crusader needs a fix. Don't make a drama.

[2019-03-01 18:10] vakoz commented on #4315
Now it always takes 2 sec to arm trap, even if you aren't  in combat. Atleast in duels

[2019-03-01 19:18] username-is-not-taken opened #4407 "[Item] Annihilator proc rate is too low"
Description:
The proc from Annihilator (https://www.wowhead.com/item=12798/annihilator) seems to be lower than it should be.

How it works:
Because of
a) There are no training dummies,
b) Armor shatter (the debuff applied by annihilator, https://www.wowhead.com/spell=16928/armor-shatter) does not show up in the combat log, which makes any proc testing with addons such as ProcWatch or Procodile imp

[2019-03-01 19:53] babno opened #4408 "[AV] warmasters pulling incorrectly and resetting."
How it works: As soon as you peak inside even against the back wall, all warmasters and drek will agro to you. If you then try to pull any out, they will all reset and eventually run in (warmasters may reagro another player for a few seconds before reset again).

How it should work: You should be able to pull 2 warmasters while not agroing the others or drek. While drek should reset if you bring h

[2019-03-01 20:54] lino7 commented on #2415
Bug still in game why closed?
![3232](https://user-images.githubusercontent.com/48138230/53665753-fc671e00-3c74-11e9-9b83-cfaa3bd92bd9.jpg)

[2019-03-01 21:13] #3720 closed, assigned to Dootz

[2019-03-01 21:17] Dootz commented on #3356
Did you use https://www.wowhead.com/item=31124/nether-weather-vane while flying?

[2019-03-01 21:17] #3356 closed, assigned to Dootz

[2019-03-01 21:46] babno commented on #4408
Depending on where you got that I may be wrong about not pulling WM/marshels without the general, however you definitely don't pull ALL the WM/marshels. That's very obvious when you look at the positioning of the marshels being super spread out, and I very clearly recall killing 2 warmasters in the courtyard outside dreks keep.

RE "Contrary to popular myth, his guard dogs do not respawn when loot

[2019-03-01 22:14] babno opened #4409 "arcane shot damage and dispel order reversed."
How it works: Arcane shot dispels and then does damage.

How it should work: It should deal its damage first and then dispel. this is relevant for things like damage reduction effects, absorption effects, blessing of sacrifice, etc.

Source (you should point out proofs of your report, please give us some source):
https://tbc-twinhead.twinstar.cz/?spell=27019

[2019-03-01 22:30] Dootz commented on #3662
Hi, currently it have a small chance to drop Blackwind Sabercat and Talonsworn Forest-Rager

[2019-03-01 22:30] #3662 closed, assigned to Dootz

[2019-03-01 22:57] cibram opened #4410 "Riding Skill 300 Disappeared"
Description:
Ok, all start with disappearing items - but today it levelled up, I've learned 300 riding skill, got my epic mount, and fly to Shattrath where I log off. After logging back in I've clicked the button which I've suppose to fly, but got the error "You can't use that item" where I've reilized my riding skill got back to 225.

How it should work:
I am open to co-operation to fix this bug,

[2019-03-01 23:51] cibram commented on #4410
Ok, after more investigation I have new things you may consider fixing this;

- I think Outfitter addon may cause these, all these started for me after I respec at my second spec to healer. I was using outfitter forever but never used it to change full set of items. Now that I see - all healing items at my bank are DELETED from game too.

- Another thing I am suspicious of is guild bank. I've dona

[2019-03-02 00:08] YoshGit opened #4411 "Rivenspike Proc Rate Too Low"
Description:
Item Rivenspike's proc rate feels lower than it should be.

How it works:
Rivenspike stacks are falling off often before reaching maximum stacks.

How it should work:
I recall that in the past it was very easy to apply and maintain max stacks on a target. No hard evidence as I haven't tested this extensively, but #4407 reminded me that the proc rate felt off. The proc rate should be a

[2019-03-02 00:26] babno opened #4412 "[AV] tower capture distance too far, can cap through walls/floors"
How it works: You can capture through walls and there's no swirls to indicate it's being captured
![image](https://user-images.githubusercontent.com/244626/53673823-dbdc9b00-3c57-11e9-92e3-1640d1a79b84.png)

How it should work: Should have to be inside tower to capture the flag

Source (you should point out proofs of your report, please give us some source):

[2019-03-02 02:36] lordazurescens opened #4413 "Rogue Fleet footed Talent not giving 15% movment."
Description:
Talent is not giving correct movement speed gain.

How it works: seems to be giving 10% instead of 15%. I've tested with a paladin on follow. i dunno if its a bug with boot speed enchant i tried with and without. both seemed to stay around 10% paladin would eventually outpace me with pursuit.

How it should work:
should give you 15% movement speed when not mounted.

Source (you should

[2019-03-02 02:39] lordazurescens commented on #4402
Talent is still broken i get dodges on finishers in raid all the time.

[2019-03-02 03:40] babno opened #4414 "[Instance] Heroic kargath bladefist bugs"
Firstly, the stealthed assassins spawn too quickly and also will just randomly pull. Half our attempts we ended up pulling them with us because someone was .2 seconds behind the tank in moving. We also noticed several times they seemed to get pulled by the non elite adds that spawn and run into the fight. There's zero chance that we pulled them as we were all on the southern stairs and the assassi

[2019-03-02 06:18] akrom23 commented on #4408
This is from wowpedia.

[2019-03-02 06:23] akrom23 commented on #4405
"X" means...?

[2019-03-02 07:29] neheri commented on #4408
"However that reminds me of another bug. You are supposed to gain marshels/warmasters for every tower you kill as well. So if horde burns 2 bunkers then there will be 6 warmasters in with drek."

What the hell? I've done like 100 AVs on various servers and have never seen spawning additional Marshalls. If horde burns tower alliance loses one Marshall. Same happens on the other side. @babno you see

[2019-03-02 08:39] #4322 closed, assigned to nobody

[2019-03-02 08:43] akrom23 commented on #4388
We have the same formula for Steady Shot.
As I said: Steady Shot takes only 20% from RAP. - that's why auto shot hits harder.

[2019-03-02 08:43] #4388 closed, assigned to nobody

[2019-03-02 08:52] akrom23 commented on #4409
[code]

The first effect is dispel, not damage.
More proofs, please.

[2019-03-02 09:32] cibram commented on #4410
I've find another thing which might be related to this issue; only this character having problem with in game "mails" - when I open a mail and get something, mails re-apear again, and when I try to "delete" them, a popup shows telling me to delete some other in-game mail.

[2019-03-02 10:03] pinkisnotgay commented on #4411
Just get an Annihilator )))

[2019-03-02 10:10] #1374 closed

[2019-03-02 10:11] akrom23 commented on #2904
No response.

[2019-03-02 10:11] #2904 closed, assigned to nobody

[2019-03-02 10:12] akrom23 commented on #3162
No response.

[2019-03-02 10:12] #3162 closed, assigned to nobody

[2019-03-02 12:31] TechnoMulen commented on #4405
x means from 0 to infinity
i dont know the exact time

[2019-03-02 13:25] weebxx commented on #4366
Its all good now,thx for the quick fix.

[2019-03-02 13:34] #4366 closed, assigned to akrom23

[2019-03-02 13:52] MadderThenMad commented on #4312
@akrom23

#1791 by Anakin
Spells: Invisibility should reduce threat by 10% each second.
(https://github.com/SunwellWoW/Sunwell-TBC-Bugtracker/issues/4312)

It should be 20% as Iron proved

[2019-03-02 14:12] babno commented on #4408
https://wow.gamepedia.com/Icewing_Warmaster there is one for every bunker/tower

Looks like it was removed in late tbc which is probably why you didn't see it. Since we are talents/abilities 2.4.3 but content 2.0 I think it should be there until 2.3

[2019-03-02 14:29] cibram commented on #4410
Can I get an answer from a GM or developer please? We trust you and invest our time here, and lose a ton of things, I wanna know what I should do, this is like I fear to enter my character these days, if I drop something next raid and lose it this is not only me but 24 other people gonna have problems.

[2019-03-02 14:44] babno commented on #4409
Hard to find stuff for it since it was live for so short a time before blizz realized their mistake and reverted it. Maybe it's using stack logic there, first in last out? Best I can find is https://wowwiki.fandom.com/wiki/Patch_2.3.0
"Arcane Shot (Ranks 6 and above) now dispel 1 Magic effect in addition to their normal damage." the language suggests the dispel was added on after the damage, where

[2019-03-02 17:11] akrom23 commented on #4409
This is not a proof at all.

[2019-03-02 17:13] #1913 closed

[2019-03-02 17:14] akrom23 commented on #2240
@CreybeN @xethra89 @MVMnn @Testimonia I'm still waiting for the screenshots.

[2019-03-02 17:14] #2939 closed, assigned to nobody

[2019-03-02 17:17] akrom23 commented on #3942
@MarcusStu
https://wow.gamepedia.com/index.php?title=Scroll&oldid=1538436

#3872.

[2019-03-02 17:18] #3942 closed, assigned to nobody

[2019-03-02 17:18] #4253 closed, assigned to nobody

[2019-03-02 18:41] babno commented on #4409
twinstar does use stack logic. For example immolate, obviously does upfront fire school damage and then the periodic damage. And if we look at immolate on twinstar https://www.wowhead.com/spell=44267/immolate

Effect #1 | Apply Aura: Periodic DamageValue: 2 every 3 seconds (SP mod: 0.13)

Effect #2 | School Damage (Fire)Value: 8 (SP mod: 0.2)

Effect #2 in both these spells happens first.

[2019-03-02 18:45] akrom23 commented on #4409
@babno Because Periodic damage is done after 2 sec and it's an aura...

[2019-03-02 19:25] Dootz commented on #4413
I've tested it with new rogue. First point in this talent adds +8% movement speed, and second +15%. There are no additional modifiers for this spell set, so it should use base value of 15 always. Maybe your test was affected by something else, like mentioned boot enchant, but I've also tested it with boots enchant and it seemed normal.

[2019-03-02 20:50] Dootz commented on #4241
Hi, there's 45 second cooldown on this proc. I've tested it by casting multiple fireballs for couple minutes and it never proced earlied than 45 sec after previous proc

[2019-03-02 20:50] #4241 closed, assigned to Dootz

[2019-03-02 20:50] Dootz commented on #4216
fixed, live

[2019-03-02 20:50] #4216 closed, assigned to Dootz

[2019-03-02 20:52] Dootz commented on #4199
yup, most of missing things will be most likely released with Hyjal

[2019-03-02 20:52] #4199 closed, assigned to Dootz

[2019-03-02 21:13] babno opened #4415 "enslave demon, when feared you directly control demon"
If, while enslaving a demon, the warlock is feared (possibly other cc effects as well) then you start directly controlling the demon, similar to the hunter ability eyes of the beast. You can't revert to controlling your character, and even if you die you will continue controlling the demon. If you are resurrected you cannot accept it and the release button goes away as well.

[2019-03-02 21:20] #4203 closed, assigned to Dootz

[2019-03-02 21:32] babno commented on #4409
If the initial damage is resisted then no dot aura will be applied. Always. However the dot can be resisted even if the initial damage happens. Initial damage happens first then the aura. Effect 2 happens then effect 1.

[2019-03-02 21:47] babno commented on #4409
Moonfire, another example where the initial damage happens first and then the dot. https://tbc-twinhead.twinstar.cz/?spell=8921 again effect 1 happens after effect 2 on twinhead.

[2019-03-02 22:56] Rylanor commented on #860
Still having the same issuie on my level 53 character. I turned in the quest "Assisting Arch Druid Runetotem" and I was unable to pickup the following quest "Un'goro Soil".

[2019-03-02 23:50] cibram commented on #4410
Just remember another thing, this issue maybe related to it as well:

- When I got the second spec as heal, because this character is Shaman - there's an Enhancement talent which lets you Dual Wield, so after I lost it, system mailed me my offhand weapon.

This happened closer to the time I've started having lost items. FYI.

[2019-03-03 02:56] lordazurescens opened #4416 "Issue with crit rating on items or gems. possible large issue."
Description: noticed something weird today. switching between gloves. Don't know if its an issue with the paperdoll crit rating, or if its an issue with gem scaling or the items i'm equipping.

How it works: I should gain crit when i equip t4 gloves over flowing thought. but instead i lose crit. pictures below.
crit 27.85
![image](https://user-images.githubusercontent.com/45920509/53690288-aa3a018

[2019-03-03 06:34] akrom23 commented on #4409
And again - Dot is an aura and yes - is applied before the initial damage. Damage from DoT is done after specific amount of time.
Effects are always applied in order in which they are given in game files.

Just give me a proof that Arcane Shot damage should be done before the dispel - otherwise I'll close it.

[2019-03-03 06:39] akrom23 commented on #4416
@lordazurescens What about meta gem in head?

[2019-03-03 08:57] Devrak commented on #4413
paladin had only 2 TP in pursuit ? cus its 5%/10%/15% or by chance its run speed meta and that bugs it out ?

[2019-03-03 10:47] MadderThenMad opened #4417 "Darkmoon Card: Crusade"
Description: Darkmoon Card Crusade does not gain stack from scorch debuff (only from cast dmg).

Darkmoon Card Crusade does not gain stack from Ignite application

https://github.com/SunwellWoW/Sunwell-TBC-Bugtracker/issues/4267 - this mean this issues is not fixed.

How it works: As above.

How it should work: Each scorch cast which applies debuff should grant an additional stack.

Source (you sh

[2019-03-03 11:30] Lexandros1 commented on #4382
Why was this report closed?

[2019-03-03 11:40] darknessangelo opened #4418 "Inner Fire Priest"
Description:
When you get hit, stacks dont decrease.

How it works:

How it should work:

Source (you should point out proofs of your report, please give us some source):

[2019-03-03 12:44] LubiePlackiZDzemem opened #4419 "Darkmoon Card: Vengeance"
Description: Darkmoon Card: Vengeance seems to have either wrong proc chance OR does not proc from block OR Does not proc from full dmg block.

https://www.wowhead.com/item=31858/darkmoon-card-vengeance

How it should work: Proc chance should be 10%. It should proc from Hit and Blocks EVEN if entire dmg was blocked.

I've performed on Nagrand mobs.

Number of attacks taken 2585.

Hit : 842 32,6%
B

[2019-03-03 13:40] StafordDev opened #4420 "[Rare][Stonetalon Mountains] Sentinel Amarassan"
Description:
Sentinel Amarassan (https://db.excalibur.ws/?npc=5916) is an rare-elite in Stonetalon Mountains. The issue is that she have extremely high movement speed. See video below.

How it works:
https://streamable.com/yc2n2

How it should work:
There're no comments on Wowhead stating her high movement speed. Moreover, people say they kill Sentinel without any troubles at lvl 24-26. On Sunwell

[2019-03-03 14:11] xethra89 commented on #2240
What do you want me to do? Screenshot nothing? I dont know how to get you evidence when I said it doesn't even show in the combat log when this happens. I've tried to figure out how to consistantly reproduce it but no luck. It just randomly happened from time to time.

Judge command, judgement goes on cooldown.
No damage at all, and no messages saying 'resist' or anything.
Check combat log, it sho

[2019-03-03 14:17] xethra89 commented on #4311
Your issue is you are using a threat meter than works off combat log, and doesn't always account for aggro drops (or sometimes fails to calculate feign death resists, so it looks like you drop aggro but you don't). All client side threat meters on Nightbane have this issue. DTM, Omen, etc all have the same problems from time to time. That's why some fights your threat seems fine, and some fights t

[2019-03-03 15:12] lordazurescens commented on #4416
its a spell crit meta. i didn't switch the head slot though.

[2019-03-03 15:28] lordazurescens commented on #4413
tested again. seems to be fine.

maybe i was just having a latency issue or it was a terrain thing.
Sorry for the false alarm

[2019-03-03 15:42] akrom23 commented on #4416
But you're losing a red and blue gem - that's why your meta gem might stop working.

[2019-03-03 15:42] #2240 closed, assigned to nobody

[2019-03-03 18:14] babno commented on #4409
What you're saying makes no sense. For what you're saying to be true, the following would happen in the case of resist.
Immolate dot applied to target, immolate damage resisted by target, check for resist and then retroactively remove the dot.

I'm guessing you don't know what the stack is, so I will explain it. You have tasks on papers you need to do. First to account for them all, you put them d

[2019-03-03 18:19] #4413 closed, assigned to nobody

[2019-03-03 20:17] efsien opened #4421 "[proffesions] fishing buff error"
Description: fishing buff from items cancel fishing buff from fishing pole

How it works: if you have a buff e.q. +25 fishing skill on your fishing pool and you use e.q. shiny bubles (+25 fishing skill) and it ends your buff from fishing pool is also canceled and you need to take of a fishing pool to refresh it

![wowscrnshot_030319_210039](https://user-images.githubusercontent.com/45639809/537010

[2019-03-03 20:18] efsien commented on #4421
it is visible on fishing addon in the middle of screen

[2019-03-03 20:26] StafordDev commented on #4420
Also check Vengeful Ancient (https://db.excalibur.ws/?npc=4030) because he has the same problem with movement speed.

[2019-03-03 21:16] marfiljamrockz commented on #3990
this doesnt seem to have been implemented, Nightbane still agros mid air and its pretty hard for a druid or a warrior to pick up without serious help (Soulstone, BoP, etc)

[2019-03-03 21:48] babno commented on #4403
![image](https://user-images.githubusercontent.com/244626/53702330-c2605e00-3dd3-11e9-999d-f80fc6a4c790.png)
From a few minutes ago. Adds are swimming around. They shouldn't swim once they get the platforms, just stay there and range attack people. If they're feared then they shouldn't leave platform either.

[2019-03-03 22:36] RealSlyGuy commented on #3759
Same issue with Transmute Earthstorm Diamond. It seems like, for me the timer resets whenever I log in, and the CD should be available. Then resets to over 24hrs, when it should only be a 20hr CD!

[2019-03-04 01:36] nimeral commented on #2296
Still bugged - Trial of the Lake (Horde) rewards zero experience, and I'm afraid it'll be the same with Trial of the Sea Lion...

[2019-03-04 06:40] akrom23 commented on #4409
You are completely wrong and don't understand what I'm trying to explain. This is how it works and it works just fine.
You didn't provide any proofs about the bug described here.

[2019-03-04 06:41] #4409 closed, assigned to nobody

[2019-03-04 08:37] akrom23 commented on #4313
Tested - works okay.

[2019-03-04 08:37] #4313 closed, assigned to nobody

[2019-03-04 08:37] akrom23 commented on #4381
@Felynda Any news?

[2019-03-04 09:09] akrom23 commented on #4382
What about that?
https://www.wowhead.com/forums&topic=36917#p348571

http://www.clanyawa.com/viewtopic.php?t=3363

It seems that only the "damage reduction" part of SoTC should not work with Crusader Strike.

[2019-03-04 09:20] Moobe123 opened #4422 "[Tempest Keep] Crystalcore Sentinel"
Description:
You are able to interupt the "Charged arcane explotion"
The damage on it seems fine tho.

How it works:
https://clips.twitch.tv/ConfidentSullenPuppyUncleNox

How it should work:
It shouldn't be interuptable.

Source (you should point out proofs of your report, please give us some source):
https://www.wowhead.com/npc=20041/crystalcore-sentinel#comments
"The arcane explosion does 5-6k a

[2019-03-04 12:46] neheri commented on #4390
Works, thanks

[2019-03-04 13:32] Jeansapin commented on #4415
It's pretty much the same will all controls that aren't stuns (disorient/fears etc) ...

It's really annoying, if you could fix it asap ...

[2019-03-04 13:42] akrom23 commented on #305
@babno Tell me something:
[code]
If pet is not in combat and you cast spell (left click on pet bar) on random target - pet should start attack that target?

[2019-03-04 13:43] akrom23 commented on #2100
No response.

[2019-03-04 13:43] #2100 closed

[2019-03-04 13:44] akrom23 commented on #2142
No response.

[2019-03-04 13:44] #2142 closed, assigned to nobody

[2019-03-04 13:44] akrom23 commented on #2215
No response.

[2019-03-04 13:44] #2215 closed, assigned to nobody

[2019-03-04 13:45] akrom23 commented on #2825
No response.

[2019-03-04 13:45] #2825 closed, assigned to nobody

[2019-03-04 13:46] akrom23 commented on #3604
No response.

[2019-03-04 13:46] #3604 closed, assigned to nobody

[2019-03-04 13:47] akrom23 commented on #3681
No response.

[2019-03-04 13:47] #3681 closed, assigned to nobody

[2019-03-04 13:48] akrom23 commented on #3702
No response.

[2019-03-04 13:48] #3702 closed, assigned to nobody

[2019-03-04 13:50] akrom23 commented on #3718
No response.

[2019-03-04 13:50] #3718 closed, assigned to nobody

[2019-03-04 13:50] akrom23 commented on #3932
@Jeansapin Any news?

[2019-03-04 13:56] #2109 closed, assigned to akrom23

[2019-03-04 14:53] akrom23 commented on #4144
Works fine.

[2019-03-04 14:53] #4144 closed, assigned to nobody

[2019-03-04 15:38] babno commented on #305
"If pet is not in combat and you cast spell (left click on pet bar) on random target - pet should start attack that target?"

No. The pet should remain on the same target always until either the target is dead or the attack command is used on another, and that applies if there is no target. If you use a spell while its passive and not attacking, the pet should run towards the target until they are

[2019-03-04 16:06] akrom23 commented on #4347
@Highdps Do you have any sources of info about scaling with ap?

[2019-03-04 16:46] #3628 closed, assigned to nobody

[2019-03-04 17:23] #4407 closed, assigned to Afgann

[2019-03-04 17:23] #4406 closed, assigned to akrom23

[2019-03-04 17:23] #4402 closed, assigned to akrom23

[2019-03-04 17:23] #4398 closed, assigned to Dootz

[2019-03-04 17:24] #4394 closed, assigned to Dootz

[2019-03-04 17:24] #4392 closed, assigned to Afgann

[2019-03-04 17:24] #4390 closed, assigned to Dootz

[2019-03-04 17:24] #4389 closed, assigned to Afgann

[2019-03-04 17:24] #4318 closed, assigned to akrom23

[2019-03-04 17:25] #4315 closed, assigned to akrom23

[2019-03-04 17:25] #4301 closed, assigned to akrom23

[2019-03-04 17:25] #3958 closed, assigned to Afgann

[2019-03-04 17:26] #3464 closed, assigned to akrom23

[2019-03-04 17:26] #1694 closed

[2019-03-04 17:30] #3253 closed, assigned to nobody

[2019-03-04 17:42] #3234 closed, assigned to nobody

[2019-03-04 17:43] #3217 closed, assigned to nobody

[2019-03-04 18:01] #3071 closed, assigned to nobody

[2019-03-04 18:06] #2900 closed, assigned to nobody

[2019-03-04 21:04] #4292 closed, assigned to Dootz

[2019-03-04 21:12] Devrak commented on #4382
Yes it can be that, would not be the first case where blizzard says one but does the other.

[2019-03-05 01:15] Nimo91 opened #4423 "[Item] Rod of the Sun King"
Description: Rod of the Sun King (one-handed, 2.7speed mace that drops from KT in Tempest Keep) proc rate is too low, making the weapon weaker/nerfed compared to the t5 weapon equivalents, and taken into account that it drops from the hardest boss encounter t5 has to offer (if scripted retail-like).

How it works: After hitting nagrand bulls/elementals and occasional aliance players for a couple o

[2019-03-05 07:39] akrom23 commented on #4358
@flapse32 @nickycakes Cannot reproduce it.

[2019-03-05 07:44] akrom23 commented on #4368
@Chugunnik @Highdps Cannot reproduce it. Show me your combat log.

[2019-03-05 07:45] akrom23 commented on #4405
@TechnoMulen I'm not able to reproduce it.

[2019-03-05 07:56] #3974 closed, assigned to nobody

[2019-03-05 08:45] TechnoMulen commented on #4405
well i have a pet at night before i go to bed but when i wake up i have no pet on my warlock.
Try a longer time next time.
i just logged in on my warlock and no pet again and no shard.

[2019-03-05 10:36] Devrak commented on #4068
< bump >

[2019-03-05 16:53] Alkimor opened #4424 "A Fine Mess"
Description: This is quest give NPC Kernobee in Gnomeregan https://classic.wowhead.com/npc=7850/kernobee

How it works: When i took this quest from Kernobee, He disappears.

How it should work: After accept this quest Kernobee must follow the player to the exit!

Source (you should point out proofs of your report, please give us some source): https://www.youtube.com/watch?v=Bv0WKTNodJI
https://cla

[2019-03-05 17:20] Alkimor commented on #3410
Quest don't work

[2019-03-05 17:20] Alkimor commented on #3410
Quest don't work. Up!

[2019-03-05 17:24] Alkimor commented on #2265
Don't work. Up!

[2019-03-05 17:28] Alkimor commented on #2903
Quest don't work! Up!

[2019-03-05 17:48] PepePepperoni opened #4425 "Crash with Late 2013 13" Retina MacBook Pro in certain area"
Description:
I always get a crash when I enter the area "Invasion Point: Annihilator".

How it works:
Crashes :/

How it should work:
Should not crash T_T

Source (you should point out proofs of your report, please give us some source):
<img width="185" alt="bildschirmfoto 2019-03-05 um 18 45 13" src="https://user-images.githubusercontent.com/48256466/53825700-2cfdcf00-3f77-11e9-8bb2-55138050d8f3.

[2019-03-05 19:13] Alkimor opened #4426 "Yeh'kinya's Scroll"
Description: NPC Yeh'kinya in Tanaris https://classic.wowhead.com/npc=8579/yehkinya

How it works: After complete quest The God Hakkar - https://classic.wowhead.com/quest=3528/the-god-hakkar Yeh'kinya don't give this item Yeh'kinya's Scroll - https://classic.wowhead.com/item=10818/yehkinyas-scroll#comments

How it should work: After complete quest The God Hakkar, Yeh'kinya must always give item Ye

[2019-03-05 19:24] balo-git opened #4427 "[Hunter?] Another action is in progress"
Description:
Occasionally I become unable to use any abilities at all when engaged with an enemy. This happens with both NPC (PvE) targets as well as player (PvP) targets.

How it works:
Videos on source section below.

Engage a target alongside my pet, sometimes, with no discernible pattern I become unable to use any abilities and any attempt to use abilities generates the error message: "Another

[2019-03-05 19:25] balo-git commented on #4427
#showtooltip Steady Shot
/console Sound_EnableSFX 0
/script UIErrorsFrame:Hide()
/cast !Auto Shot
/cast [exists, target=pettarget] Kill Command
/cast Steady Shot
/console Sound_EnableSFX 1
/script UIErrorsFrame:Clear() UIErrorsFrame:Show()

[2019-03-05 22:52] Crome666 commented on #4414
still same problem not killable

[2019-03-05 22:52] Crome666 commented on #4414
pls update it to live

[2019-03-06 04:30] Alkimor commented on #2486
UP!

[2019-03-06 04:59] babno commented on #4403
Now his spout is fucked up, he doesn't rotate at all, but occasionally he will instantly turn 180 degrees for just half a second and then instantly go back.

[2019-03-06 05:05] babno commented on #4408
@akrom23 reading that wowpedia article that you are quoting, that quote is from the patch notes for 2.3 so according to your source we should be able to pull them individually as we are in 2.0

[2019-03-06 05:24] leafwork opened #4428 "[Serpentshrine Cavern] Lady Vashj encounter breaks in phase 2"
Description:
Lady Vashj encounter broke in phase 2.

How it works:
After getting 2/4 generators down, everything stopped spawning, so we were unable to continue the encounter. Lady Vashj was still immune. Video linked.

How it should work:
Elementals/nagas/striders should continue to spawn until the end of phase 2.

Source (you should point out proofs of your report, please give us some source):
V

[2019-03-06 05:39] babno commented on #4353
The guardians also swim to the wrong place. They are supposed to go to 3 of the torches, they seem to go fairly randomly.

[2019-03-06 08:37] Ironjudgment opened #4429 "Hunter's Bestial Wrath negating buff from [Staff of Disintegration]"
Description:
While raiding Kael'thas hunters are at an disadvatage since using Bestail Wrath negates buff from [Staff of Disintegration]. Perhaps #4346?

How it works:
Hunter uses BW > Buff stops working (but it's still displayed)

How it should work:
Hunter's BW should not negate the effects of [Staff of Disintegration].

Source (you should point out proofs of your report, please give us some sou

[2019-03-06 09:11] ghost opened #4430 "Prayer of Mending"
Description:
Prayer of Mending somoetimes heal somoetimes not and somoetimes disappear too fast

How it works:
When you use Prayer of Mending on target it heals when player with PoM get damage and heal when target block/ressist/miss damage(or somoetimes just no heal). After first "heal" it jumps to random player within 20y( somoetimes after first heal it dispeared) and same next 3 jumps.  And ever

[2019-03-06 10:20] Trentone commented on #2985
@akrom23 This happens when stealth or vanish is used right at the moment when someone kills you. This is one and only reason for such behaviour that I know.

[2019-03-06 10:32] Trentone commented on #3005
Can confirm. Here's the fix (should still be applicable to the core):

[10486.txt](https://github.com/SunwellWoW/Sunwell-TBC-Bugtracker/files/2935697/10486.txt)

[2019-03-06 10:33] ruineroffun commented on #4428
When tank dies, it bugs the bosses for some reason. Your other warr tank died and fairly sure that was the reason Vashj bugged. Seen same happen in many t5 encounters mainly Vashj, Al'ar and Kaelthas.

[2019-03-06 10:36] Trentone commented on #2971
Buff will not be applied or can be degraded to a lower level depending on targets-in-group levels. This is normal. Nothing else comes to mind.

[2019-03-06 10:47] Trentone commented on #2947
Can confirm this is not normal. Don't know if it is fixed on live Sunwell at the moment.

[2019-03-06 10:48] lak14wto opened #4431 "Issue with inner fire"
Description: When you get hit by someone with inner fire buff on as priest, stacks decrease even though you are shielded

How it works: When you get hit by someone with inner fire buff on as priest, stacks decrease even though you are shielded

How it should work: Stacks should decrease when you are hit by melee damage and you are not shielded, but number of stacks should remain when shielded.

So

[2019-03-06 10:51] Nakadhino commented on #4366
Hello,
i would like to open this theme 1 more time. Seal of Blood and Seal of Command are MELEE HOLY HITS. It should ignore armor, (which it does) should scale from spell dmg, (which it doesnt) BUT not 1:1 to spell dmg. The scale should be lower, and ALSO, it should scale melee and spell crit together.

Hammer of Wrath and Judgement of Command/Blood should count melee + spell crit as well.

Since

[2019-03-06 10:52] Trentone commented on #3295
Will consider https://github.com/SunwellWoW/Sunwell-TBC-Bugtracker/issues/2182 the first issue and post the fix there.

[2019-03-06 10:52] Trentone commented on #3723
Will consider https://github.com/SunwellWoW/Sunwell-TBC-Bugtracker/issues/2182 the first issue and post the fix there.

[2019-03-06 10:55] Trentone commented on #2182
Compiled list of Bubbly-Fissure-related fixes.
Check if you still need certain parts of fixes before applying.

[17823.txt](https://github.com/SunwellWoW/Sunwell-TBC-Bugtracker/files/2935794/17823.txt)
[9856.txt](https://github.com/SunwellWoW/Sunwell-TBC-Bugtracker/files/2935795/9856.txt)
[9899.txt](https://github.com/SunwellWoW/Sunwell-TBC-Bugtracker/files/2935796/9899.txt)

Object id 177524 was

[2019-03-06 10:57] lak14wto commented on #4418
Stacks did decrease properly when you are not shielded, but did not decrease when damage is not taken to shield.. which is how it should be. Now they implemented a change where it decreases even if you are shielded, which is not according to other tbc servers or retail.

[2019-03-06 11:03] Trentone commented on #2722
I have some work done on this matter. An algorithm to detect bugged spawns of creatures and GOs. PM me when you're gonna work on this.

[2019-03-06 11:20] Trentone commented on #2274
Will copy my comment from here https://github.com/SunwellWoW/Sunwell-TBC-Bugtracker/issues/2722:
"I have some work done on this matter. An algorithm to detect bugged spawns of creatures and GOs. PM me when you're gonna work on this."

[2019-03-06 11:33] Trentone commented on #1815
This fixed it for me:
[17631.txt](https://github.com/SunwellWoW/Sunwell-TBC-Bugtracker/files/2936007/17631.txt)

[2019-03-06 11:36] Trentone commented on #1689
This fix needs a review, though.
[18918.txt](https://github.com/SunwellWoW/Sunwell-TBC-Bugtracker/files/2936023/18918.txt)

[2019-03-06 12:50] leafwork commented on #4428
We've seen Leotheras bug out after killing the warlock tank during the split. I assume this is the same bug.

[2019-03-06 13:00] Freshbtw commented on #4418
Stacks indeed should not decrease while shielded.. please stop Breaking stuff that worked in the past..

[2019-03-06 19:18] Dootz commented on #1815
https://github.com/TrinityCore/TrinityCore/issues/6649

[2019-03-06 19:20] #3295 closed, assigned to Dootz

[2019-03-06 19:28] #3723 closed, assigned to Dootz

[2019-03-06 19:53] Adrestiah commented on #4229
These Items were added in patch 2.1
you cannot discover them until then.
https://www.wowhead.com/item=32839/cauldron-of-major-arcane-protection
https://www.wowhead.com/item=32852/cauldron-of-major-shadow-protection

[2019-03-06 23:06] NeonicSupersonic opened #4432 "[Raid/Boss] Naxx 40 Sapphiron"
Description:
Sapphiron's Frost Breath ignores los, Ice Tombs dont spawn, making boss unkillable.

How it works:
Sapphiron's Frost Breath ignores los, Ice Tombs dont spawn, making boss unkillable.

How it should work:
Ice Tombs allow players to los Frost Breath taking no damage from it.  Players inside Ice Tombs should be immune to Frost Breath. Ice Tombs should break once Frost Breath hits them, f

[2019-03-06 23:17] NeonicSupersonic opened #4433 "[Raid/Boss] AQ40 Twin Emperors"
Description:
Twin emperors use their abilities, which supposed to interact only with critters in their room (scorpids, bugs) on players and themselves, making them unbillable.

How it works:
Explode Bug — Every 7-10 secs Emperor Vek'lor forces a nearby bug to explode, blowing it up and dealing a huge amount of fire damage over a wide area.
Casted on players, killing them instantly.

Mutate Bugs —

[2019-03-07 08:32] pinkisnotgay commented on #4432
Just copy over scripting from yout wrath server and lets go!
@Afgann

[2019-03-07 09:46] akrom23 commented on #4346
#4429

[2019-03-07 09:46] #4346 closed, assigned to akrom23

[2019-03-07 09:58] #4181 closed, assigned to nobody

[2019-03-07 09:59] akrom23 commented on #4347
I checked Rawr addon for 2.4.3 client and there are no ap coefficients for these (pets) spells.
In wotlk version they are present.

[2019-03-07 11:18] Nakadhino opened #4434 "Seal of Blood/Seal of Command reopen"
Hello,

i would like to open this theme 1 more time, doing new post since its set as closed:

<--- https://github.com/SunwellWoW/Sunwell-TBC-Bugtracker/issues/4366 --->

 Seal of Blood and Seal of Command are MELEE HOLY HITS. It should ignore armor, (which it does) should scale from spell dmg, (which it doesnt) BUT not 1:1 to spell dmg. The scale should be lower, and ALSO, it should scale melee an

[2019-03-07 11:28] akrom23 commented on #4405
Tried with Felguard - still nothing.

[2019-03-07 11:30] akrom23 commented on #4434
Seal of Command scales with spell power.
Any proofs that Seal of Blood should scale with spell power?

[2019-03-07 11:45] TechnoMulen commented on #4405
are you saying you still have your pet active when you login after several hours??
caus thats not happing for me :(

[2019-03-07 12:03] akrom23 commented on #4405
Yes.

[2019-03-07 12:15] NeonicSupersonic commented on #4434
It doesnt, but judgement does (which I assume works correctly, too lazy to check it).

https://web.archive.org/web/20080229025527/http://www.91nine.com/dps/index.php
Seal of Blood does not currently take into account spell damage. However, the effect of spell damage on Seal of Blood is minimal and should not result in significant error. Judgement of Blood uses a .45 spell damage coefficient.

[2019-03-07 12:27] akrom23 commented on #4434
Judgements work fine.
Just need more info about Seal of Blood.
https://wow.gamepedia.com/index.php?title=Seal_of_Blood&oldid=1607212

[2019-03-07 20:03] akrom23 commented on #2915
No response.

[2019-03-07 20:03] #2915 closed, assigned to nobody

[2019-03-07 20:03] akrom23 commented on #3874
No response.

[2019-03-07 20:03] #3874 closed, assigned to nobody

[2019-03-07 20:03] akrom23 commented on #4430
@BraterinejBratjanuzaj Got some screenshots with combat log or video?

[2019-03-07 20:05] akrom23 commented on #2843
No response.

[2019-03-07 20:05] #2843 closed, assigned to nobody

[2019-03-07 20:11] akrom23 commented on #3113
No response.

[2019-03-07 20:11] #3113 closed, assigned to nobody

[2019-03-07 20:29] akrom23 commented on #2985
@Trentone I tried but with no result.

[2019-03-07 22:16] NeonicSupersonic commented on #4433
much love

[2019-03-07 23:40] babno opened #4435 "Takes too long to drop combat if you have hots on someone"
In arena if you put hots on someone then you won't drop combat so long as they are in combat and your hots last. You should drop combat 6 seconds after your last pvp action regardless of what your partner might be in combat or not.

[2019-03-07 23:53] #4325 closed, assigned to nobody

[2019-03-08 00:36] balo-git commented on #4435
Might be intended behavior, but this also affects other things. Off the top of my head:

Hunter traps, if someone is across the world walking on your frost (slow) trap, it will keep the hunter in combat.

Judgement of Light, I once cast this on Drek'thar in Alterac Valley, died, revived in the alliance base all the way up north. I think another ret paladin kept Judgement of Light up on Drek'Thar f

[2019-03-08 00:36] iluminatix commented on #4414
still super buffed, 10k damage to 2-4 group members within 2-3 secs is really too much to heal, we where even there with 2 healers, a well geared group, like full t4 and some t5 items, and still it just rapes with no breaks.... with this state it is actively preventing guilds from attuning to TK... rip #golfclap #poggers - put on high prio, its game breaking for guilds not to be able to progress..

[2019-03-08 00:37] iluminatix commented on #4414
its not something that can wait several raid resets tbh, giving the guilds who have attunements an unfair advantadge, other cant catch up with no attunement posible

[2019-03-08 00:51] babno commented on #4435
Well it's definitely not supposed to be like that, and it differs from your examples in a few ways. The hunter example works as intended as it's his own trap (you can think of it like a pet) being enabled. However if nothing else happens the hunter should drop combat normally in 6 seconds even if the other player is still slowed on the frost trap or if immolation trap dot is still up.

The drek'th

[2019-03-08 00:56] babno commented on #4414
While still bugged it is doable. 2-4 members taking damage sounds like you're grouping up for corner strat or something. That does not work. You have to spread. It's highly likely he'll just sit on 1 person and try to kill them, and you have to build your group around that. The group I killed with was a warlock, boomkin, resto druid, ele shaman, and protadin. One spin he killed the resto another s

[2019-03-08 01:14] balo-git commented on #4427
Still happening, will upload after raid.

[2019-03-08 01:17] Afgann commented on #4427
There was no update probably @balo-git.

[2019-03-08 07:20] ghost commented on #4430
I tryed but i dont have got acces to any tank to do video of it

[2019-03-08 07:22] ghost commented on #4430
Next i will do video from raid from any boss and i will show yuo recount (it will be on Sunday/Monday)

[2019-03-08 07:44] comfik1 opened #4436 "Freezing trap"
Description:
Freezing trap should have its max duration 10seconds in PvP, like polymorph,sap,fear, etc

How it works:
Its freaking 12 seconds

How it should work:
Max duration should be 10seconds

Source (you should point out proofs of your report, please give us some source):
Every other crowd control abilities that have 10+ duration on mobs - polymorph,fear,sap lasts only 10 seconds excluding di

[2019-03-08 10:06] #4403 closed, assigned to Afgann

[2019-03-08 10:25] firngrod commented on #4436
According to this list of Diminishing Returns skills, Freezing Trap, as an exception to the rule, does not suffer from diminishing returns.
https://wow.gamepedia.com/index.php?title=Diminishing_returns&oldid=1580531

Looking at the article for Polymorph, it is clearly stated that the duration when used on players is capped at 10 second.
https://wow.gamepedia.com/index.php?title=Polymorph&oldid=153

[2019-03-08 11:53] Lorious opened #4437 "Phase 3 Vashj post nerf"
Description:
Ehm, you might have nerfed Vashj a bit much!
She is a free kill if you make it to phase 3.

See video from our kill yesterday.
Pretty much no green stuff on the ground and sporebats can down and greeted us with open wings.

How it works:
https://www.twitch.tv/videos/392186779

How it should work:
She should atleast put up a fight....

Source (you should point out proofs of your report

[2019-03-08 12:00] aeyers commented on #4437
A total of 2 toxic spore bats managed to use their ability during P3. Both of those not even targeting a player. The floor should be covered with the poision cloud at the end of the fight working as a "enrage timer".

P3 this week felt so broken due to how easy it was compared to how hard it should be. Hard to enjoy.

[2019-03-08 13:16] akrom23 commented on #4436
Just tested and work okay.
@comfik1 Show me video or screenshots.

[2019-03-08 13:24] plzdontcry commented on #4338
I tested, works, thank you!

[2019-03-08 13:26] neheri commented on #4437
I think Vashj was working fine before cry-report here:
https://github.com/SunwellWoW/Sunwell-TBC-Bugtracker/issues/4404

She was challenging, some bats could not be killed at all, making the fight more challenging the longer you were fightning her. That was properly working enrage mechanism. Survi hunters with range talents could get most of bats down.

I really don't like that stuff is neither do

[2019-03-08 14:04] aeyers commented on #4437
I agree. Its easy enough to youtube the world second by method to see some of the mekanics such as poision clouds aswell as their dmg (around 3k).

https://www.youtube.com/watch?v=SYypbzs9d44&t=708s

[2019-03-08 14:48] pinkisnotgay opened #4438 "[Paladin] Retribution Aura"
Description:

Retribution Aura is a damage shield and should trigger off  every melee attack (block included) and is not limited by any cooldown.

How it works:
Retribution aura only triggers off when you take damage

How it should work:
It should also trigger when you block incoming damage, same as Darkmoon Card: Vengeance

Source:
https://wowwiki.fandom.com/wiki/Reactive_effect
Reactive effects

[2019-03-08 14:57] pinkisnotgay commented on #4438
akrom23 commented 8 days ago
,,Next time, just tag me on critical issues."

@akrom23

[2019-03-08 15:22] akrom23 commented on #4438
I believe full blocked hits should not be reflected.
Give me more proofs.

[2019-03-08 15:45] akrom23 commented on #4435
@babno Just tested on arena - combat removed after 5-6 sec (casted Rejuvenation on teammate).
Record a video.

[2019-03-08 16:00] babno commented on #4435
Was your team mate still actively engaged in pvp combat?

[2019-03-08 16:08] akrom23 commented on #4435
Yes - by autoattack.

[2019-03-08 16:14] balo-git commented on #4436
There are some old 2008 arenajunkies threads stating that it has 12 or 13 second duration.

https://www.google.com/search?q=clever+traps+site%3Aarenajunkies.com&oq=clever+traps+site%3Aarenajunkies.com&aqs=chrome..69i57.12344j0j7&sourceid=chrome&ie=UTF-8

It seems to be generally accepted that it was lasting at least 12 seconds with the Clever Traps talent. It might actually be lasting 13 seconds,

[2019-03-08 18:35] bucher444 commented on #4423
out of 925 strikes, proc 36 times for me, which is 3.89%

[2019-03-08 18:45] comfik1 commented on #4436
Its 13 cuz when i got struck by it it showed 12, i can imagine some talent in surv tree maybe? Dont know hunters talents tbh, but im sure it was more than 10s

[2019-03-08 20:26] balo-git commented on #4436
Yes the Clever Traps talent increases hunter trap durations by 30%, so I would expect 10s to go to 13s.

At the same time the maximum CC limit was defined at different points in TBC as 12s and later 10s, But old arena junkies post seem to imply Clever Traps was still going for 12/13s on freezing trap

[2019-03-08 21:26] Nimo91 commented on #4423
Fixed to which value if i may ask? So i can confirm/deny your fix?

[2019-03-08 22:09] pinkisnotgay commented on #4438
I think you may be right on this one.

[2019-03-08 22:09] #4438 closed, assigned to nobody

[2019-03-08 22:51] Nimo91 commented on #4423
this "fix" might have broken the relentless strikes talent. Now, on occasions, it procs twice (giving 2x25 energy at once). Also from the latest round of testing i did 705 hits, got 19 procs, making it have 2.69% chance to proc.

[2019-03-08 23:01] Felynda commented on #4434
I don't understand what the OP means by this crit stuff. If you have 5% melee crit and 5% spell crit your abilities should have 10% crit chance? That's not true at all.

The spell damage socket bonuses on T6 are just horrible itemization done by Blizzard. Before patch 2.3 paladins used more spelldamage, even Crusader Strike scaled with it. The changed it to it's current form but never bothered to

[2019-03-08 23:07] samercyn opened #4439 "Runed Copper Belt should not be uncommon quality"
**EDIT**
This shouldn't even be uncommon quality in TBC.

~~Description: I just bought a few Runed Copper Belts off the auction house to disenchant them but it says I cannot do so.~~

~~How it works: Cannot disenchant Runed Copper Belt~~
![image](https://user-images.githubusercontent.com/30945427/54061015-f4efc980-41cc-11e9-9de3-bd1558e66843.png)

~~How it should work: Runed Copper Belt should be

[2019-03-08 23:29] Ironjudgment commented on #4439
You are showing a WOTLK+ version of this belt. Runed Copper Belt is a white item with no stats in TBC. Possibly deleting your cache will help with that.
http://tbc.cavernoftime.com/item=2857#created-by
https://classicdb.ch/?item=2857

You can see good comparison on twinstar database.
TBC -> https://tbc-twinhead.twinstar.cz/?item=2857
WOTLK -> https://wotlk-twinhead.twinstar.cz/?item=2857
And on WO

[2019-03-08 23:41] Devrak commented on #4434
So once more for conclusion:

Strength/Haste/Crit provide more overall dps increase when using SoB ... Even if it scaled with spell power it would be really hard to find proof because s/h/c > spower by a huge margin .... SoB cit % is based on melee crit ( Sanctified seals give spell crit so you can heal better when its needed ... paladin was intended to be the hybrid-support class )

[2019-03-09 01:03] samercyn commented on #4439
I literally just deleted my cache yesterday and this is still uncommon quality with the WotLK stats.

I suppose the real bug is that it's even uncommon quality at all.

http://db.hellfire-tbc.com/?item=2857 shows it as being uncommon with +3 strength and +2 stamina.

Wowhead comments indicate it was updated in 3.1 to be uncommon quality
![image](https://user-images.githubusercontent.com/30945427/5

[2019-03-09 07:43] ghost commented on #4430
https://youtu.be/-tJKcdhXTAk

[2019-03-09 07:51] Aliashketich opened #4440 "Classes. Warrior. Heroic Strike and Autoattack."
Description:
I have problem with interrupting Heroic Strike

How it works:
When I use Heroic Strike and will interrupt this after on Esc (button), Heroic Strike icon selection disappears but Heroic Strike whatever will be used.

How it should work:
After Esc-button should interrupt Heroic Strike using.

Source (you should point out proofs of your report, please give us some source):
I'm so sorry,

[2019-03-09 11:14] Ironjudgment commented on #4439
Hmm, I've just checked in-game and the belt really is uncommon and has stats :S
Wowiki articale from July 2, 2008.
https://wowwiki.fandom.com/wiki/Runed_Copper_Belt?oldid=1471865

I guess devs need to change it. What I am wandering about is, how many more items are there like that? :D

[2019-03-09 11:42] plzdontcry commented on #4338
Only there is 1 thing what i dont understand, this buff is 6 sec, and mangle Cooldown 6 sec too, but if i spam only mangle (with opto-mehanik keyboard) i still have a 0,5 sec without this buff , so its looks like i only have this buff for 5,5 sec instead of 6.

[2019-03-09 12:21] Wojtyas commented on #4432
if only it would be so easy :D

[2019-03-09 12:42] #305 closed

[2019-03-09 12:42] #1558 closed

[2019-03-09 12:43] #1815 closed

[2019-03-09 12:43] #2182 closed, assigned to Dootz

[2019-03-09 12:43] #2274 closed, assigned to Afgann, Dootz

[2019-03-09 12:44] #2711 closed, assigned to Afgann

[2019-03-09 12:44] #2718 closed, assigned to Afgann

[2019-03-09 12:44] #2802 closed, assigned to Afgann

[2019-03-09 12:45] #2947 closed, assigned to Dootz

[2019-03-09 12:45] #3100 closed, assigned to Afgann

[2019-03-09 12:45] #3117 closed, assigned to Afgann

[2019-03-09 12:45] #3188 closed, assigned to Afgann

[2019-03-09 12:46] #3237 closed

[2019-03-09 12:46] #3239 closed, assigned to Afgann

[2019-03-09 12:46] #3257 closed, assigned to Afgann

[2019-03-09 12:47] #3472 closed, assigned to Afgann

[2019-03-09 12:48] #3526 closed, assigned to Afgann

[2019-03-09 12:49] #3698 closed, assigned to Afgann

[2019-03-09 12:50] #3751 closed, assigned to Afgann

[2019-03-09 12:50] #3930 closed, assigned to Dootz

[2019-03-09 12:50] #4312 closed, assigned to akrom23

[2019-03-09 12:50] #4338 closed, assigned to Afgann

[2019-03-09 12:50] #4350 closed, assigned to akrom23

[2019-03-09 12:51] #4382 closed, assigned to akrom23

[2019-03-09 12:51] #4396 closed, assigned to Afgann

[2019-03-09 12:52] #4397 closed, assigned to Afgann

[2019-03-09 12:52] #4399 closed, assigned to Afgann

[2019-03-09 12:52] #4404 closed, assigned to Dootz

[2019-03-09 12:52] #4411 closed, assigned to Afgann

[2019-03-09 12:53] #4414 closed, assigned to Afgann

[2019-03-09 12:53] #4418 closed, assigned to akrom23

[2019-03-09 12:53] #4419 closed, assigned to Afgann

[2019-03-09 12:53] #4420 closed, assigned to Afgann

[2019-03-09 12:53] #4422 closed, assigned to Afgann

[2019-03-09 12:55] #4424 closed, assigned to Dootz

[2019-03-09 12:55] #4426 closed, assigned to Dootz

[2019-03-09 12:55] #4427 closed, assigned to Afgann

[2019-03-09 12:56] #4428 closed, assigned to akrom23

[2019-03-09 12:56] #4429 closed, assigned to akrom23

[2019-03-09 12:56] #4431 closed, assigned to akrom23

[2019-03-09 12:57] #4433 closed, assigned to Afgann

[2019-03-09 12:57] Wojtyas commented on #4423
Not sure if it was already implemented. Feel free to comment - I will reopen ticket if needed.

[2019-03-09 12:57] #4423 closed, assigned to Afgann

[2019-03-09 14:47] StafordDev opened #4441 "[Rare][Badlands] Siege Golem"
Description:
Linked issue: https://github.com/SunwellWoW/Sunwell-TBC-Bugtracker/issues/4420
Siege Golem (https://db.excalibur.ws/?npc=2749) is a rare-elite mob in Badlands. He has the same movement speed problem as rares in linked issue.

How it works:
https://streamable.com/u7wb5

How it should work:
No comments on wowhead prior to 2.4.3 stating his extremely high speed. It should be decreased.

[2019-03-09 14:50] KwasekYo opened #4442 "Masquerade Gown (Love Stuck Proc)"
Description:
Masquerade Gown - a cloth chest with Equip: Chance on spellcast to increase your Spirit by 145 for 15sec. Combined with Resto Druid's Tree of Life Aura should increase healing ticks from healing spells.

How it works:
The proc increases total spirit, but is not calculated for tree of life aura bonus. Does not increase Lifebloom ticks - even when Lifebloom was casted after buff proc.

[2019-03-09 15:19] StafordDev opened #4443 "[Rare][Badlands] Anathemus"
Description:
Linked issues: https://github.com/SunwellWoW/Sunwell-TBC-Bugtracker/issues/4441; https://github.com/SunwellWoW/Sunwell-TBC-Bugtracker/issues/328
Anathemus (https://db.excalibur.ws/?npc=2754) is a rare-elite in Badlands. He has the same movement problem as Siege Golem in issue #4441.

How it works:
https://streamable.com/ke66x

How it should work:
Again there're no comments on wowhead

[2019-03-09 15:24] StafordDev opened #4444 "[Rare][Badlands] 7:XT"
Linked issues: #4441; #4443; #328

Description:
7:XT (https://db.excalibur.ws/?npc=14224) is a rare mob in Badlands.

How it works:
7:XT has extremely high movement speed.

How it should work:
Movement speed should be reduced. Also, quotes are still missing.

Source (you should point out proofs of your report, please give us some source):
No video this time, but I guess every rare in Badlands have

[2019-03-09 16:20] phoenry commented on #2366
Hello!

I just registered cuz my eyes are bleeding because of this scripting...
![WoWScrnShot_030919_171334](https://user-images.githubusercontent.com/48388245/54074157-7b6cdf80-428f-11e9-8760-f9bbf4ccd6fe.jpg)

Please (at least) just give us a reply! 3 months have gone... I hope you can give us something if u cannot do that ingame...

Best Regards,
Tyrel

[2019-03-09 18:53] StafordDev opened #4445 "[Quest][Badlands] Broken Alliances / Tremors of the Earth"
Description:
Broken Alliances (https://db.excalibur.ws/?quest=793)
Tremors of the Earth (https://db.excalibur.ws/?quest=717)
Blacklash (https://db.excalibur.ws/?npc=2757)
Hematus (https://db.excalibur.ws/?npc=2759)
Blacklash and Hematus are both involved in Horde quest 'Broken Alliances' and its Alliance version 'Tremors of the Earth'. Both drakes are elite, and that is wrong.

How it works:
Black

[2019-03-09 19:41] Chugunnik commented on #4368
Pet stance - passive.
1. /petattack
2. Pet is feared
3. Fear gains away / dispelled
4. Cannot use Kill Command (macro /cast [target=pettarget] Kill Command)
5. /petfollow /pettattack - can use Kill Command again

[2019-03-09 19:54] Chugunnik opened #4446 "Pet: Lightning Breath macro stops pet's attack"
Description:

Pet stance: passive
As a BM hunter I use simple macro for attack (1:1 + KK + LB):

#showtooltip Steady Shot
/script CombatLogClearEntries()
/castsequence reset=2/target Steady Shot, !Auto Shot
/cast [target=pettarget] Kill Command
**/cast [target=pettarget] Lightning Breath**
/script UIErrorsFrame:Clear()

Few days ago after restart i've found 1 new bug:
Now when you stay with pet on

[2019-03-09 20:18] Chugunnik commented on #4440
Same bug for hunter's Raptor's Strike. It also stops ability to shoot.

[2019-03-09 21:15] balo-git opened #4447 "[Paladin][Warlock][Pet] Seduction goes through Divine Shield"
Description:
Seduction works against a paladin in divine shield

How it works:
A paladin can be affected by Seduction while under divine shield.

How it should work:
A paladin in divine shield should be immune to Seduction.

Source (you should point out proofs of your report, please give us some source):
https://i.imgur.com/TdeWicE.jpg

[2019-03-10 11:25] flapse32 commented on #4304
Multishot should be 0.5 cast not 2 sec. So yes its a bug.

[2019-03-10 11:50] Lorious commented on #305
https://clips.twitch.tv/InterestingInterestingOrcaHassaanChop

So this fucks things up for hunters that use Passive (all of us I hope).
If I issue an attack command like /petattack and then use a petspell while it's on it's way to his/her/its target they just perform that action and move back to the user. This randomly appears to happen in combat as well, guessing this might be related to swapping

[2019-03-10 12:01] Lorious opened #4448 "Hunter pet not using skills (Ravager)"
Description:
So my Ravager has stopped working all together now, it does not use any of his skills (Growl, Dash, Bite & Gore). The only thing that works is his Autoattacks.

Things have been weird evenr since change https://github.com/SunwellWoW/Sunwell-TBC-Bugtracker/issues/305

Some of our hunters had problems ever since that change was implemented, for me it started yesterday after entering Mec

[2019-03-10 12:14] Lorious commented on #305
To further explain, Macros I've been using since the start of the server.

To send in my pet:
/petattack
/cast Dash
/cast Hunter's Mark

Steady shot rotation (3:2):
/tar Spitfire Totem
/script UIErrorsFrame:Hide()
/cast !Auto Shot
/cast [exists,target=pettarget] Kill Command
/cast Steady shot
/script UIErrorsFrame:Clear() UIErrorsFrame:Show()
/cast [exists,target=pettarget]Bite
/cast [exists,targe

[2019-03-10 12:22] Lorious commented on #4448
Pretty Critical this one!

[2019-03-10 12:29] Lorious commented on #305
Both hunters in our guild with problems first had them after entering a dungeon after this "fix" was applied. Everything worked up untill we zoned in to dungeons. FYI not sure if that was just coincident but this means that My problems started a full day after our otherr hunter started having his. Symptoms are the same though.

[2019-03-10 12:29] Lorious commented on #4448
Both hunters in our guild with problems first had them after entering a dungeon after this "fix" was applied. Everything worked up untill we zoned in to dungeons. FYI not sure if that was just coincident but this means that My problems started a full day after our otherr hunter started having his. Symptoms are the same though.

[2019-03-10 12:46] koostosh commented on #4391
As of pre 2.1 mechanic fishing should be ~27-30 seconds long.
There is 5 seconds time to pick up. (Except when fish hooked 3 seconds before cast ended).
Chances for each possible duration is equal.

[2019-03-10 12:46] #4391 closed, assigned to nobody

[2019-03-10 12:58] koostosh commented on #4337
Works as intended. 25% chance, 400absorb, 90s cooldown.
There is no aura applied when this item is triggered, so it might not be detected by addon. Absorb is visible in combat log.

[2019-03-10 12:58] #4337 closed, assigned to nobody

[2019-03-10 13:03] #4229 closed, assigned to nobody

[2019-03-10 13:04] goldeNjo3 opened #4449 "Trinket: Hook of the Master Angler"
Description:
The trinket Hook of the Master Angler is not working https://www.wowhead.com/item=19979/hook-of-the-master-angler

How it works:
The trinket turns you into a fish while you're swimming and gives you water breathing.

How it should work:
It should turn you into a fish, give you water breathing and in addition it should give +35% swim speed.

Source (you should point out proofs of your

[2019-03-10 13:07] #4449 closed, assigned to nobody

[2019-03-10 15:56] #3696 closed, assigned to nobody

[2019-03-10 15:58] #3377 closed, assigned to nobody

[2019-03-10 22:44] pinkisnotgay opened #4450 "[Raid/Boss] AQ40 The Prophet Skeram"
Description:

His aggro table keeps on wiping itself all the time. It's not only when he is at 75%, 50%, and 25%
When fighting the boss you need to keep on taunting all the time or he's just gonna run around and smack the raid.

How it should work:
Shouldn't wipe his threat all the time.

[2019-03-10 23:17] pinkisnotgay opened #4451 "[Raid/Loot] [Question] Qiraji Resonating Crystal mounts"
According to wowhead and Atlas loot, all Qiraji Resonating Crystal mounts (except for Red) should have around 10% (1% red) drop chance from those AQ40 mobs:

Anubisath Defender (npc=15277)
Anubisath Sentinel (npc=15264)
Anubisath Warder (npc=15311)
Obsidian Eradicator (npc=15262)
Obsidian Nullifier (npc=15312)
Qiraji Brainwasher (npc=15247)
Qiraji Champion (npc=15252)
Qiraji Lasher (npc=15249)
Qir

[2019-03-11 08:07] ghost opened #4452 "Prayer of Mending"
Description: Prayer of Mending heal even person with PoM resist/block/dodge/miss damage

How it works:

When you use Prayer of Mending on target it heals when player with PoM get damage and heal when target block/ressist/miss damage. After first "heal" it jumps to random player within 20y and same next 4 jumps.

How it should work:
Prayer of Mending. Places a spell on the target that heals them fo

[2019-03-11 10:32] #4450 closed, assigned to nobody

[2019-03-11 15:01] jowns commented on #4437
Well you can sheep & fear the MC targets still too right? Ezmode, should be immune to that xD

[2019-03-11 15:46] moiragny commented on #1339
Still not working as it should...please fix this asap!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!

[2019-03-11 15:56] moiragny opened #4453 "Living Root of the Wildheart"
Decription:
This is special druid trinket from SSC.

How it works:
Trinket completly doesn't work in any form. No proc

How it should work:
In each form any attack/spell can proc 1 buff for 15 seconds. no icd

"this, on the other hand, has been confirmed to have no hidden cooldown at all.... it can even proc before the effect has worn off and therefore renew the duration."
"This trinket procs much

[2019-03-11 18:17] Chugunnik commented on #4446
Confirm, resolved

[2019-03-11 18:42] westerngee commented on #3411
as of today, this issue still persists.
![WoWScrnShot_031119_193828](https://user-images.githubusercontent.com/39277340/54149069-b741a980-4435-11e9-91bb-8c31f1cbd3f8.jpg)

[2019-03-11 18:45] alandrarcy opened #4454 "frostguard - lvl 58 sword"
Description:
proc from sword frostguard "chilled" doesn't proc when Thunder Clap is on and doesn't even overwrite it

How it works:
It doesn't proc when thunder clap is on

How it should work:
according to GM, it shouldn't be the same debuff as thunder clap, so it should stack with thunder clap, or at least overwrite thunder clap if its same debuff type

Source (you should point out proofs of your

[2019-03-11 19:49] #3364 closed, assigned to Dootz

[2019-03-11 19:49] #3576 closed, assigned to Dootz

[2019-03-11 20:07] #3409 closed, assigned to Dootz

[2019-03-11 22:44] babno opened #4455 "felhunter has no base resistances"
Description:
![image](https://user-images.githubusercontent.com/244626/54162887-91180b80-442d-11e9-9832-0010c52bdfb7.png)

How it should work: Fel hunter base resistance should be twice the level of the warlock, so 140 at level 70

Source (you should point out proofs of your report, please give us some source):
https://wow.gamepedia.com/Felhunter#Strengths

[2019-03-12 10:10] koostosh commented on #3212
Could not reproduce on live server nor locally, only delay experienced is server lag.

[2019-03-12 10:10] #3212 closed, assigned to nobody

[2019-03-12 10:42] koostosh commented on #4304
I wasn't able to reproduce the problem using exactly 2s speed or any other, I can cast steady without problem. Please provide explanation when this bug happens.

[2019-03-12 11:34] koostosh commented on #4447
Could not reproduce, has it happen more that once?

[2019-03-12 12:10] Devrak commented on #4447
it is a batch issue.... if a paladin casts bubble while seduction is in-flight at him it gets past shield because as it would seem immunity/reflect is checked upon cast success rather than when it actually hits the target.

[2019-03-12 13:14] koostosh commented on #4447
Seduction is not delayed spell, it is never "in-flight", thats why there is no reason to re check immunity on spell hit.

[2019-03-12 13:24] koostosh commented on #2102
You provided no source that it should not lower your hp temporarily.

[2019-03-12 14:14] donaldinoo opened #4456 "Leveled blacksmithing twice now i can't pick specialization"
Description: Dropped blacksmithing then tried to re level it now i cant become a hammersmith again

How it works: I should be able to go to the npc in orgrimar (Krathok moltenhood) and pick weaponsmithing but there is no option for this.

How it should work: I should be able to become a weapon/hammer smith
You can recreate this issue by leveling hammersmith then dropping it then re leveling it(but

[2019-03-12 14:21] koostosh commented on #4430
I see nothing on that clip.
Closing as duplicate

[2019-03-12 14:21] #4430 closed, assigned to nobody

[2019-03-12 14:23] koostosh commented on #4452
I was not able to reproduce any case when person is healed after getting full resist, full block, parry, dodge or miss.
Also I see nothing on clip you provided, please describe what problem you see on it.

[2019-03-12 14:45] balo-git commented on #4447
It's happened to me on 3 occasions, including the one from the screenshot.

I thought I had a video of it happening as well but I believe I may have crashed before ending the recording, as I cannot find it.

In every case I **_believe_** the seduction hit me shortly after using Divine Shield, and I believe the warlock in question has Seduction on auto cast (or was just mercilessly spamming it betw

[2019-03-12 14:47] balo-git commented on #4427
Had this happen again yesterday. Is the fix deployed? I see nothing explicitly referencing this issue in the changelog-tbc channel of the discord.

[2019-03-12 14:49] balo-git commented on #4304
zefurr here, changed accounts.

As far as I can see it's working how I would expect. I am survival for raiding now and have no difficulties including multishot (and arcane shot, stins, etc) in my rotation.

[2019-03-12 15:48] ghost commented on #4452
The problem is that Prayer of Mending heals event target get no damage (on video you can see that tank(Vanhand my target) get PoM and after few sec he get heal for 1790 when he didnt get damage (last damage was 2 sec before and it healed him)

[2019-03-12 15:49] ghost commented on #4452
Whatch 45 second video there is hit then i healed him use PoM and 1second after he get heal from PoM (1790) and that hit was miss you can see that on my target

[2019-03-12 15:51] ghost commented on #4452
Same situation 10sec after

[2019-03-12 15:52] ghost commented on #4452
To See this bug you need to Focus on watching when i use PoM and my target damage tanken

[2019-03-12 15:53] ghost commented on #4452
1:25 min video you can see that i used PoM and tank dodge dmg and he get heal from PoM

[2019-03-12 15:55] ghost commented on #4452
I just watched 3 random clips from video and 3 situations that i describe

[2019-03-12 16:41] Jonsse commented on #4414
Not fixed, should I make another report or continue this?

[2019-03-12 17:18] babno commented on #4442
This is not related to the item but actually tree of life. The aura is set in stone when you shift into tree of life. If you go out and back into tree during the proc the aura will be permanently increased so long as you remain in tree. This is working as intended I believe.

[2019-03-12 18:10] babno commented on #4452
At 45 seconds he had SWP on him. It dealt damage, POM then healed him for more than the damage dealt so he remained at full. Same thing at 1:25

[2019-03-12 20:25] ghost opened #4457 "[Serpentshrine Cavern][Lady Vashj][Shock Blast]"
Description:
Lady Vashj's Shock Blast and Grounding Totem do not interact correctly

How it works:
Shock Blast doesn't get redirected by Grounding Totem

How it should work:
Shock Blast should be redirected and and destroy Grounding Totem

Source (you should point out proofs of your report, please give us some source):
https://web.archive.org/web/20080719234047/http://www.wowwiki.com/Lady_Vashj_(t

[2019-03-12 20:40] Jonsse opened #4458 "Kargath Bladefist Heroic"
Description: Boss: Kargath Bladefist in Shattered Halls Heroic.
The Blade dance hits with a very large aoe and hits multiple times at once resulting in up to 10k burst damage on a single target.

The first Blade Dance seems work as expected. He casts the Blade Dances periodically while running around and the aoe seems the accurate size.
The second Blade Dance and the rest after that do not work as

[2019-03-12 20:44] Jonsse commented on #4458
The Assassins that spawn at the start of the fight have a good chance of aggroing from the mobs that run in during the encounter. We had them join the fight half our attempts without anyone being close to the stairs.

[2019-03-12 23:58] nimeral commented on #4292
It is not fixed. After a couple of openings, the lockboxes still bug out.

[2019-03-13 00:04] nimeral commented on #3386
Bump. You lockpick it once or twice, and then it bugs out for hours.

[2019-03-13 00:37] NeonicSupersonic commented on #4451
Its lower, everything in AQ supposed to drop mounts like crazy. Usually you get 20 to 30 per run if not more.

[2019-03-13 05:15] donaldinoo commented on #4456
https://www.wowhead.com/spell=17040/master-hammersmith

[2019-03-13 05:31] donaldinoo commented on #4456
https://gyazo.com/a3f6de45a8c8004e0baa5f23ba173365

[2019-03-13 05:32] donaldinoo commented on #4456
https://blue.mmo-champion.com/topic/39275-please-help-tailoring-mistake-need-help/

[2019-03-13 06:27] domforge commented on #4434
@akrom23 There is definitely something off on SoB atm. its hitting for 55 extra damage on average when it should be hitting for close to 300-400 without any modifiers from judging crusader. i know someone complained about getting hit for 300 damage off a 1h but thats right, and noone should complain about a prot pally doing 3-400 dps. this is still well below what a bear tank can put out.

   Hord

[2019-03-13 07:48] NeonicSupersonic commented on #4434
SoB was never used for tanking in TBC(or ever), it were wastly inferior to SoR. So as SoC.
SoV (alone) was never used for tanking either, it was used to keep 5 stacks of debuff on boss while filling with as much SoR as possible.
Paladins also were rarely(if at all by a world top 100 guilds wich actually cleared content) used as main tanks.

If you want details
https://web.archive.org/web/200808030

[2019-03-13 10:01] JuhaLintunen commented on #1687
bugged again

[2019-03-13 10:34] koostosh commented on #4415
Does this happen often? I tested it for a while and could not reproduce.

[2019-03-13 10:37] ruineroffun commented on #4457
Do you have any proof of that, since it did work previously just fine?

[2019-03-13 11:17] cibram opened #4459 "Zuluhed the Whacked"
Description:
Mob does not spawn at intented location, nowhere at all.

How it works:
It shows in chat a yelling message, but Zuluhed do not spawn.

How it should work:
Should work like this: https://www.youtube.com/watch?v=Iy45YwUZKfE

Source (you should point out proofs of your report, please give us some source):
![zuluhed](https://user-images.githubusercontent.com/6170518/54275052-bb3b0c00-459a

[2019-03-13 11:44] koostosh commented on #1615
Any source that they should not be removed?

[2019-03-13 11:53] pinkisnotgay commented on #4384
Some of the bugs still persist @Afgann @akrom23

[2019-03-13 11:53] koostosh commented on #4455
Please provide source from 2.4.3 patch. as of 2.1 resistance should be equal to warlock level

//Edit: Found.

[2019-03-13 12:31] koostosh commented on #1781
Why? Each spell effect can be resisted separetely, %resist to movement impairing effects affect only slow/snare/root, not the damage.

I see resisted elemental damage in combat log

[2019-03-13 12:51] Ironjudgment commented on #3842
I think you can fish anywhere but your chances of catching anything will be null. It will dispaly messages like 'Your fish got away!'.

[2019-03-13 12:58] Ironjudgment opened #4460 "[Profession] Fishing"
**Description:**
Fishing skill up chance is bugged (most likely).

How it works:
Currently I am on my 33rd fish and no skill-up.

**How it should work:**
According to https://wowwiki.fandom.com/wiki/Fishing?oldid=1056264 from Dec 2007 the formula for fishing skill up is "(Current Fishing Skill - 75) / 25 = Rough number of successful catches for a skill-up".

(302 - 75) / 25 = 9.08

That means I sh

[2019-03-13 15:31] koostosh commented on #1829
Netherbloom behavior was changed in ~2.1 it should have 25% chance, only positive buffs should be applied and they do not exclude eachother.

[2019-03-13 16:37] Ironjudgment commented on #4460
66th fish until skill up
https://i.imgur.com/i1w4oYp.jpg

[2019-03-13 17:45] Nachopie123 commented on #4315
Clip isn't relevant to the fix seeing as the hunter is still in combat which you can obviously tell by just looking at his player icon.

[2019-03-13 17:51] babno commented on #4415
Happens whenever the warlock is feared pretty consistently for me. I'd say an easy place to test would be arcatraz, enslave one of the screamers and then stand next to the other until it fears you.

[2019-03-13 17:54] babno commented on #4455
I don't see anything about felhunter resistances being lowered in 2.1 https://wowwiki.fandom.com/wiki/Patch_2.1.0

[2019-03-13 18:02] babno commented on #4460
Fishing is all about that rng, and that's how averages work as you discovered. For every person that takes 33 fish to skill 3 will be after 1 fish. And for your 309 skill you were one of those 3 and there's some poor sod that took a few dozen. Is it cancer? Sure. But fishing was always cancer and that's why so few people level it now and then.

[2019-03-13 19:44] pinkisnotgay commented on #4451
@Dootz Thanks bud.

[2019-03-13 23:59] Seratta opened #4461 "Alchemy transmute cooldown incorrect"
Description:   Transmute Earthstorm Diamond

How it works:  Using this alchemy ability puts in on cooldown for 20 hours, along with most other transmutes, then an additional 27 hours after that.

How it should work:   Should be on a 20 hour cooldown.

Source (you should point out proofs of your report, please give us some source):

[2019-03-14 06:22] firngrod commented on #4460
At this point in the game, leveling fishing was decidedly not very randomized, as this Wiki article explains:
https://wow.gamepedia.com/index.php?title=Fishing&oldid=1638162#Increasing_fishing_skill

What's on this server does not in any way match the "slightly different numbers of fish required from character to character".  On this server it appears to be truly random, from what I've seen maxing

[2019-03-14 11:43] Jonsse commented on #4460
There's a particular algorithm for professions on all(or most) private tbc servers. It's probably due to the core they use rather than it being scripted individually, don't know for certain obviously. There's always the same skill point lul after certain amount of casts. The same lul happens in weapon skills as well. Don't know where that algorithm comes from, it's not derived from how skill ups w

[2019-03-14 13:40] koostosh commented on #1988
Hearthstone is castable when sitting and it is not a bug. Not all spells require character to be standing, many positive spells can be cast when sitting including lifeblum and rejuvenation.

[2019-03-14 13:40] #1988 closed

[2019-03-14 13:43] koostosh commented on #2059
Works for me on clean client, possibly error with some addon.

[2019-03-14 13:43] #2059 closed

[2019-03-14 14:42] koostosh commented on #2255
No proofs no fix

[2019-03-14 14:42] #2255 closed, assigned to nobody

[2019-03-14 15:13] koostosh commented on #2297
Could not reproduce.

[2019-03-14 15:13] #2297 closed, assigned to nobody

[2019-03-14 16:18] babno commented on #2255
@koostosh you should ask for proof before closing. This is such a basic feature that is common knowledge OP probably didn't think he needed to supply sources.
https://wowwiki.fandom.com/wiki/Weapon_skill

[2019-03-14 16:19] babno commented on #2255
I'll also note that I googled "weapon skillup formula wow tbc" and that was literally the first link. Feel free to lookup things yourself from time to time

[2019-03-14 18:25] mchayes opened #4462 "Al'ar"
Description: Al'ar melee swings when he's flying between paths in p1.

How it works: When he flies from 1 path to another he is able to melee swing.

How it should work: When al'ar is flying from 1 path to another he is flying and shouldnt be swinging a melee attack.

Source (you should point out proofs of your report, please give us some source):

[2019-03-14 20:49] babno commented on #4455
![image](https://user-images.githubusercontent.com/244626/54390527-0f1c2280-4679-11e9-97a7-1be919e3a7c5.png)
looks good now. I will note that the numbers appear in green as if the resistance is from a buff instead of being white as they should be from a base resistance. I tested to make sure it stacks with other resistance buffs and it does, so I don't think it matters in the end.

[2019-03-14 20:51] #1311 closed

[2019-03-14 20:52] #1829 closed

[2019-03-14 20:53] #1881 closed

[2019-03-14 20:53] #1900 closed

[2019-03-14 20:54] #4222 closed, assigned to nobody

[2019-03-14 20:54] #4421 closed, assigned to nobody

[2019-03-14 20:54] #4432 closed, assigned to Afgann

[2019-03-14 20:54] #4439 closed, assigned to Afgann

[2019-03-14 20:55] #4440 closed, assigned to nobody

[2019-03-14 20:55] #4441 closed, assigned to Afgann

[2019-03-14 20:55] #4443 closed, assigned to Afgann

[2019-03-14 20:55] #4444 closed, assigned to Afgann

[2019-03-14 20:55] #4446 closed, assigned to akrom23

[2019-03-14 20:56] #4447 closed, assigned to nobody

[2019-03-14 20:56] #4448 closed, assigned to akrom23

[2019-03-14 20:56] #4455 closed, assigned to nobody

[2019-03-14 20:57] #4437 closed, assigned to Afgann

[2019-03-14 21:30] babno opened #4463 "[Warlock] Can't cast imps fire shield on raid members outside of group"
If I try to cast fire shield on someone from another group it says invalid target.

[2019-03-14 22:37] babno opened #4464 "[Hunter] pet randomly dismissed when dead"
Description: The pet will dismiss randomly when it is dead

How it works: https://www.twitch.tv/videos/395504375 watch at 40 seconds.

How it should work: Similar to when alive it should only be dismissed if you walk too far away from it or mount up.

[2019-03-14 23:00] Gorebane opened #4465 "Dropchances of (white) items are way too high."
Description:
White items like armor drop way too often, i started to notice it when I was killing mobs in the barrens. I also got way too many small pouches.

I'm not sure if this is only happening with the white items.

Here is an open ticket from months ago saying the same thing.
https://github.com/SunwellWoW/Sunwell-TBC-Bugtracker/issues/689

[2019-03-14 23:06] Gorebane opened #4466 "[NPC] Razormane Hunter and pet"
Description:
Wolf pets are not following the razormane hunters and are not working together with the hunter.

How it works:
Razormane hunter and the wolf walk and attack seperatly.

How it should work:
They should walk together and attack together.

I also noticed that this issue was already included in another issue but was already 'fixed'.
Source:
https://github.com/SunwellWoW/Sunwell-TBC-Bugtra

[2019-03-14 23:07] nimeral commented on #2391
Still bugged as of today.

[2019-03-14 23:13] westerngee opened #4467 "[NPC] Dark Conclave Hawkeye in SMV enrages the player, not itself."
Description: The Dark Conclave Hawkeye mobs in SMV use their self-buff on players, not on themselves

How it works: If you bring them down to under... 20%? they enrage. instead of enraging themselves they enrage the player who has aggro on them.

How it should work: self-buff :)

Source (you should point out proofs of your report, please give us some source):
![WoWScrnShot_031419_233024](https://u

[2019-03-15 00:00] vallsiannodel commented on #4214
Hello There, i had about 2 Months to test the issue, it keeps occuring still. i have a few more informations, but to screen it - not possible, because it occures while bossfights in the worst form (A), while Farming (not provable, there is nothing indicated except global cd, server declining to cast bc gcd) (B). The Third problem occurs provable when you farm at lowlevel mobs: Casting arcane missi

[2019-03-15 00:32] vallsiannodel commented on #4005
Hello There, i had about 2 Months to test the issue, it keeps occuring still. i have a few more informations, but to screen it - not possible, because it occures while bossfights in the worst form (A), while Farming (not provable, there is nothing indicated except global cd, server declining to cast bc gcd) (B). The Third problem occurs provable when you farm at lowlevel mobs: Casting arcane missi

[2019-03-15 00:33] vallsiannodel opened #4468 "Arcane Missiles heavy bugs, randomly occuring. And Downranking permanently occuring"
Hello There, i had about 2 Months to test the issue, it keeps occuring still. i have a few more informations, but to screen it - not possible, because it occures while bossfights in the worst form (A), while Farming (not provable, there is nothing indicated except global cd, server declining to cast bc gcd) (B). The Third problem occurs provable when you farm at lowlevel mobs: Casting arcane missi

[2019-03-15 11:45] RPAncap commented on #4461
You got any proofs of that ?

[2019-03-15 11:47] RPAncap commented on #4436
Unrelated but can any hunters confirm the freezing trap sometimes randomly breaks in PvE ? Or am I just crazy ? :-D

[2019-03-15 12:07] koostosh commented on #2785
Could not reproduce, please reopen if it happens again

[2019-03-15 12:07] #2785 closed, assigned to nobody

[2019-03-15 12:12] neheri commented on #4465
I happens only from mobs near ~10 level. Easiest example of this bug is drop from Razormane in barrens.

[2019-03-15 12:47] Gorebane commented on #4465
It also happens with the Plainstriders around Crossroads (in the Barrens).

[2019-03-15 12:52] flapse32 commented on #4436
Check dpsmate and u can see what breaks the CC ^^

[2019-03-15 13:27] koostosh commented on #1638
Works for me without any problems

[2019-03-15 13:27] #1638 closed

[2019-03-15 13:37] koostosh commented on #1865
Works correctly. You should cast corruption before shadow bolt (or immolate before incinerate) not the other way. It increases effect of dots currently on target.

[2019-03-15 13:37] #1865 closed

[2019-03-15 14:27] koostosh commented on #4463
Works as intended. Casting on raid members was implemented in WoTLK

[2019-03-15 14:27] #4463 closed, assigned to nobody

[2019-03-15 14:43] koostosh commented on #4415
This was caused when demon was feared, not warlock. That's why i could not reproduce it.

[2019-03-15 16:20] nimeral commented on #2486
Can confirm - bugged but completable when alive.

[2019-03-15 20:10] flapse32 opened #4469 "Pet becoming unknown and wont show damage output"
Description: Pet becomes unknown (Dosent show name)

How it works: Pet becomes unknown after logging in and you will have to restart client. any dps addons wont show pets in it. And diamondthreat just plain out wont work.
also this happens when no addons is enabled. (It also dosent show the dmg the pet does visual when its obviously attacking) This is a bug that only you visual will see if, you ha

[2019-03-15 20:42] RPAncap commented on #4464
Can confirm. What is big part of this issue is that when pets get dismissed it loses happines. So for instance your pet dies during boss fight and you are low on mana - so you cant instantly ress him. Your pet is now "content" (yellow happiness).
You are waiting for mana pot cooldown. However your pet dismisses automatically. Now you drink the pot and call the pet again - but because you "dismisse

[2019-03-15 23:41] westerngee opened #4470 "[Object] Gromsblood and Icecap respawn timers are way too low."
Description: Gromsblood (in Blasted Lands at least, haven't tested it in other zones yet) and Icecap spawns are way too low

How it works: In the current build it seems like these 2 specific herbs (which are integral for Flask of the Titans and Flask of Distilled Wisdom) are on a 20-30 minutes respawn timer for a few weeks now (why has no one else reported that yet), while Herbs like Dreamfoil are

[2019-03-16 05:51] NeonicSupersonic commented on #4470
Its Azeroths dreamfoil(and black lotus/mountain silversage, pbbly plaguebloom aswell) spawns which are broken and far more common than they should be(not to mention redicolous 3 cluster spawns).

Common HG core bug.

[2019-03-16 06:32] Jonsse commented on #4459
He spawns on the balcony to the left.

[2019-03-16 06:50] Vasalina opened #4471 "Judgement of wisdom"
Description: Judgement of wisdom do not give mana back to the casting paladin.

How it works: Judgement of wisdom is suppose to have a chance to restore 74 mana on hit / spell, This seems to be working for all but the paladin that put it up.

How it should work: Should work for the paladin casting it. Note this is for the judgement that is on an enemy, The seal is working correct.

Source (you sho

[2019-03-16 08:40] NeonicSupersonic commented on #4471
https://imgur.com/a/X8NnR0f

Works fine for me, perhaps some wierd tier bonuses/talents/enemy immunities interraction?

[2019-03-16 09:12] Vasalina commented on #4471
It might be thats its not showing up in  Floatitng combat text (Where all other instant mana gain does show up) cause i wasnt checking combat log.

Edit: It is indeed working, But it is also not showing up through the defaul Floatitng combat text
Normal seal of wisdom and all other instant mana things ive tried (Arcane torrent / Mana pot / Lay on hands) are all showing up correctly in Floating com

[2019-03-16 11:23] ghost commented on #4457
I do not have proof that it doesn't work, but it's not that hard to replicate isn't it? (It did work last sunday so it must've been broken due to some 'fixes' on monday or tuesday)

[2019-03-16 12:02] flapse32 opened #4472 "Scroll of agility V"
Description: Dosent work

How it works: Dosent work at all.

How it should work: Should work

Source (you should point out proofs of your report, please give us some source):

https://streamable.com/blbmy

[2019-03-16 14:17] laccss opened #4473 "[Quest] Seal of Ascension"
Description:
Second part of UBRS attunement quest to obtain the key.

How it works:
The quest scripting is alright but there is no key to be looted envetho the seal changes its appearance indicating that the interaction from the drake is working.
https://youtu.be/Qe_8sSPG6PI
How it should work:
There should be a lootable forged key inside the cache.

Source (you should point out proofs of your rep

[2019-03-16 16:24] flapse32 commented on #4472
EDIT: Apperently dosent stack with agility elixir. Im pretty sure its supposed to stack.

[2019-03-16 22:33] Dootz commented on #4473
I assume it have something to do with the fact that you did it in group (which is fine), because it was working not that long ago, but I'll check different options. Thank you for report.

[2019-03-17 09:07] Azathothh commented on #3200
This quest is working - if you can't do it, please clear your cache, it should help.

[2019-03-17 09:07] #3200 closed, assigned to Dootz

[2019-03-17 09:28] Alkimor opened #4474 "The Exorcism of Colonel Jules"
Description: Quest don;t work http://db.moonwell.ws/?quest=10935
https://youtu.be/oYHtFerxeWQ

How it works: When accepted the quest, i must speak with NPC Anchorite Barada, but he don;t have quest dialog

How it should work: When accepted the quest, i must speak with Anchorite Barada an he must start Ritual of Exorcism

Source (you should point out proofs of your report, please give us some sourc

[2019-03-17 13:49] DreuxPala opened #4475 "Magic Resistance Potion overrules flasks"
Description:
Magic Resistance Potion overrules flasks

How it works:
When you pop a magic resistance potion it overrules any flask effect which makes it disappear. You can't use Magic Resistance Potions alongside any flasks.

How it should work:
You should be able to use both consumables simultaneously as any other potion effect.

Source (you should point out proofs of your report, please give us

[2019-03-17 17:16] YoshGit opened #4476 "Hunter Pet Abilities Not Affected By Happiness"
Description:
Hunter pet abilities are not affected by their happiness.

How it works:
Happiness currently increases/decreases the damage done by pet auto attacks but not casted abilities.

Currently a pet's casted abilities deal 100% damage regardless of their happiness.

How it should work:
When pets are happy, they should deal 125% damage (auto attacks as well as their casted spells). When conte

[2019-03-17 20:29] NeonicSupersonic opened #4477 "[Boss/Raid] Naxx40 Sapphiron"
Description:
Life Drain curse used on whole raid instead of 7 ppl, making boss alot harder than he should be.
Frots Aura ticks every 0.8-0.9s instead of every 2s, making boss slightly harder than he should be.

How it works:
Life Drain curse used on whole raid instead of 7 ppl.
Frots Aura ticks every 0.7-0.9s instead of every 2s.

How it should work:
Life Drain curse has target limit of 7
Frost Au

[2019-03-17 23:05] iluminatix commented on #4414
even if that is true babno, its not supose to be like this. and no we where not stacking, we tried 6-7 times different ways, and two geared healers couldnt heal through it, glad you got lucky tho, grats

[2019-03-18 05:28] babno commented on #4414
@iluminatix read the first 3 words of my previous reply. I offered a work around for the bug for people who want to do tk rather than piss and moan.

[2019-03-18 07:35] ghost commented on #4457
Totem works again, muchas gracias to the devs <3

[2019-03-18 07:35] #4457 closed, assigned to nobody

[2019-03-18 07:50] dragonburb opened #4478 "warlock imp appears to do significantly less dps than it should"
Description:
Warlock Imp appears to do significantly less DPS than it should be.

How it works:
Primarily from what I could tell the firebolt appears to cast significantly slower than the (when talented) 1.5 seconds it should as well as the base damage being notably lower than it should be (the latter being harder to test lacking perfect duplicates).

Tested mostly by comparing a warlock on warman

[2019-03-18 11:28] RPAncap commented on #4475
You are correct that it should stack with flask. However keep in mind though that Magic resistance potions should NOT stack with other effects such as pally aura/shammy totems.
Which pretty much makes the usefullness of it close to zero.

[2019-03-18 11:29] RPAncap commented on #4470
I would say that the spawns in burning steppes are broken - meaning black lotus, silversage and dreamfoil.
However imho plaguebloom and other stuff in plaguelands spawns normally (i.e. much less commonly.)

[2019-03-18 12:10] Wojtyas commented on #4472
Any proof mate?

[2019-03-18 17:43] #2555 closed, assigned to nobody

[2019-03-18 17:43] #2323 closed, assigned to nobody

[2019-03-18 17:43] #932 closed

[2019-03-18 20:53] Alkimor opened #4479 "Go to the Front(quest Hellfire Peninsula)"
Description: Wing Commander Gryphongar said me - Take a gryphon and fly over to Honor Point.

How it works: NPC Gryphoneer Windbellow not have function - fly to Honor Point.

How it should work: NPC Gryphoneer Windbellow must have function - fly to Honor Point

Source (you should point out proofs of your report, please give us some source):
https://www.youtube.com/watch?v=gAu9GPa1Agg
![WoWScrnShot

[2019-03-18 21:05] NeonicSupersonic commented on #4477
Curses work properly now, but frost aura breaks after initial ticks. Also I think all aura ticks happened at once before aura was broken, not sure tho.

[2019-03-18 21:16] Dootz commented on #4479
![WoWScrnShot_031819_221406](https://user-images.githubusercontent.com/25490436/54564143-56811680-49cb-11e9-9a74-f86ca6ea7818.jpg)

Weird, I just tested it on live and it works correctly. It only works if you have quest https://www.wowhead.com/quest=10382/go-to-the-front taken but not rewarded.

[2019-03-18 21:16] #4479 closed, assigned to Dootz

[2019-03-18 21:16] NeonicSupersonic opened #4480 "[Boss/Raid] Naaxx40 Kel'Thuzad"
Description:
Kt wont spawn after Saph death.

How it works:
Kt wont spawn after Saph death.

How it should work:
Kt should spawn after Saph death with RP yells and all of that, also his throne and portal windows in his room are missing.

Source (you should point out proofs of your report, please give us some source):
https://www.youtube.com/watch?v=XOpxCUuXDH8
https://imgur.com/a/rlct1Ms

[2019-03-18 21:39] #4474 closed, assigned to Dootz

[2019-03-18 21:55] Dootz commented on #4473
I did it solo on Nightbane and it worked without issues. :(

[2019-03-19 13:24] flapse32 commented on #4472
It has been fixed. you can close this report =)

[2019-03-19 13:29] flapse32 commented on #4358
I think it happens when ur pet dies, and then you die afterwards in 1/5 of the times. So its not all the time its happening but sometimes it does.

[2019-03-19 17:46] ado7e commented on #4304
Well problem still occurs, using 1:1,5 rotation still causes sometimes to clog up the rotation.

When bug happens ? Almost everytime, everywhere ;) It's more visible as attack speed is growing. Most notably when @ 3.0 weapon speed as BM hunter, you get hawk's attack speed buff and attack speed approaches ~1.89. It would be much easier to show if I could hit some training dummies ;)

[2019-03-19 18:08] ado7e opened #4481 "[Hunter] [Spell] Hunter's Mark & Improved Hunter's Mark"
Description:
Improved Hunter's Mark as a more powerfull spell should be able to override the non-improved Hunter's Mark

How it works:
Casting non-improved hunter's mark prevents casting improved hunter's mark.

How it should work:
Casting improved hunter's mark should be cast even if non-improved is on the target. It should override normal hunter's mark, and should block the possibility to cast t

[2019-03-19 19:24] pinkisnotgay commented on #4480
Mr @afgann pls

[2019-03-19 21:14] babno opened #4482 "Hunter snake trap not dying to concecrate"
![image](https://user-images.githubusercontent.com/244626/54642217-6ef43e00-4a6a-11e9-89d1-5820f144a6b1.png)

How it should work: Snakes should be damaged by consecrate (and other aoe) and die.

[2019-03-20 02:12] Seratta commented on #4461
What kind of proof would you like?  Would screenshots of the cooldown status before and after a transmute help?

[2019-03-20 12:19] neheri commented on #4384
His Shock Barrier/Pyro sequence still doesn't work. You don't even need the legendary shield to tank him.

[2019-03-20 16:19] Ironjudgment commented on #4481
Support.
Revision as of 17:32, April 4, 2008: Improved Hunter's Mark
https://wowwiki.fandom.com/wiki/Improved_Hunter%27s_Mark?oldid=1295589

[2019-03-20 21:04] Seratta commented on #4461
![image](https://user-images.githubusercontent.com/48536540/54718730-92ce8700-4b31-11e9-8b19-b3834ae0b9d3.png)
SKYFIRE DIAMOND WITH 15 HR CD LEFT
![image](https://user-images.githubusercontent.com/48536540/54718754-a37efd00-4b31-11e9-857d-dbd1a9c5e537.png)
PRIMAL MIGHT WITH 15 HR CD LEFT
![image](https://user-images.githubusercontent.com/48536540/54718696-7a5e6c80-4b31-11e9-8ff1-730d70bfe2e5.png)

[2019-03-20 22:12] Devrak commented on #4461
If i'm not mistaken, cooldowns were shortened in latter patch so cooldowns currently should not match their tooltips and be longer due to content being 2.0.x patch

So this report should be invalid for current patch.

[2019-03-21 00:10] Azmoddan commented on #4246
Happened to me some time ago as well.

[2019-03-21 02:51] babno opened #4483 "Barrier hills graveyard isn't working"
same as issue #3230 just writing this again since it seems like a simple fix yet has been waiting for over 3 months. I wonder how many thousands of gold has been spent and how many hundreds of hours have been wasted with spirit rezzing?

[2019-03-21 02:58] Devrak commented on #4473
the quest text states you have to **use the orb** to controll him once hes bellow 20% also some more range from the planted key the drake cone breath is missleading

[2019-03-21 04:28] babno opened #4484 "al'ar moving randomly and to non platforms [critical]"
How it works: Boss will go to any one of 6 spots for each transition. Unless you have a tank for each then flame buffets are inevitable and you should only need 2 tanks for alar himself.

How it should work: There are 4 valid spots where it should go and each transition he should go clockwise (or do flame quick, at which point he should fly to one of the platforms by the ramp).

Source (you should

[2019-03-21 08:23] NeonicSupersonic commented on #4484
Its pre nerf, he supposed to use 6 platfroms. 3 tanks can controll all of them (1x2 forward 2x2side).

[2019-03-21 08:57] pinkisnotgay commented on #4484
https://youtu.be/0jzsVKPKr6I
Working as intended.
Ez close.

[2019-03-21 12:24] ruineroffun commented on #4484
Love these reports with 0 insight or research done into the encounter. You go buddy!

[2019-03-21 22:36] #4484 closed, assigned to Dootz

[2019-03-21 22:57] #3230 closed, assigned to Dootz

[2019-03-22 11:56] pinkisnotgay commented on #4451
Fixed.

[2019-03-22 11:56] #4451 closed, assigned to Dootz

[2019-03-22 12:39] ado7e commented on #4304
Are any steps planned to at least give us opportunity to investigate the problem properly ? Single training dummy should be enough. We could try to record the materials in controlled conditions :)

Cheers

[2019-03-22 13:04] Azmoddan commented on #4121
https://github.com/SunwellWoW/Sunwell-TBC-Bugtracker/issues/173
https://tbc-twinhead.twinstar.cz/?issue=3032#comments

There is no source saying that Shatter damage should be reduced by armor, only by distance. Also other similar working mechanics damage are not reduced by armor therefore it works as intended.

https://github.com/SunwellWoW/Sunwell-TBC-Bugtracker/issues/173#issuecomment-425982065

[2019-03-22 13:38] flapse32 opened #4485 "Kill command breaking your next action with haste buffs"

[2019-03-22 13:43] #4485 closed, assigned to nobody

[2019-03-22 15:49] #4472 closed, assigned to nobody

[2019-03-22 15:50] #4469 closed, assigned to nobody

[2019-03-22 16:51] NeonicSupersonic opened #4486 "Judgement of justice modifies bosses speed"
Description:
Judgement of justice slows bosses to 100% of default player movement speed making them kiteable.

How it works:
Judgement of justice slows bosses to 100% of default players movement speed making them kiteable.

How it should work:
Bosses shouldnt be slowed by anything. JoJ should apply it debuff but have 0 effect. I think bosses miss immunity masks, since Hyjal bosses (at least Anathe

[2019-03-22 18:55] flapse32 commented on #4476
pictures shows that it is affected, but maybe not the right amount.

[2019-03-23 05:01] Seratta commented on #4461
Ok but as I've demonstrated the cooldown is 48 hours for a transmute.  Is this correct?

[2019-03-23 05:03] Seratta commented on #4461
And it isn't just 48 hours for the gem transmutes, it puts everything on cooldown for 20 hours initially (which is correct), then adds an additional 28 hours.  It does not do this for Primal Transmutes, only for Meta gems.

[2019-03-23 05:04] Seratta commented on #4461
And at this point it, if it is not functioning as intended, it has wasted 15 or so meta gem transmutes since I started tracking it.

[2019-03-23 05:08] Seratta commented on #4461
And

There is no tooltip that indicates how long the cooldown is for transmutes that I can see.  It only indicates the cooldown after the transmute has been performed.

[2019-03-24 10:52] pinkisnotgay commented on #4480
up

[2019-03-24 10:53] Afgann commented on #4480
Busy with hyjal right now @pinkisnotgay.

[2019-03-24 14:13] DmonicDude commented on #4468
casting Arcane Missiles will cancel the Arcane Missiles of an other mage.

[2019-03-24 14:38] DmonicDude opened #4487 "PoM should work on Conjure Mana Gem"
Description:

Presence of Mind should effect conjure mana emeralds.

this is used to insta-cast mana gems during long boss fights.

Source (you should point out proofs of your report, please give us some source):
![Wow 2019-03-24 10-31-50-72](https://user-images.githubusercontent.com/47018709/54880951-344f2480-4e21-11e9-9edc-27a8a80c6fca.jpg)

[2019-03-24 19:18] laccss commented on #4473
It was a group issue like you said I managed to do it by tagging on priest and tanking on warrior. Hard to solo as colthie you know ^^